.col_style tr{
	display: table-cell;
    vertical-align: top;
}
.cell_file{
	background-color:#F3ECDA;
	border:1px solid #DBC68C;
    height: auto !important;
	min-height: 220px;
    margin: 0 0 25px 0;
    width: 500px;
    display: inline-block;
}
.cell_file .rf-tb{
	width:99% !important;
	background:none !important;
	left:0 !important;
	top:0 !important;	
}
.cell_file .rf-tb td{	
	width:30px !important;
	padding:0 !important;	/*deleting padding from icons*/	
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.cell_file .rf-tb td{
		width:0px !important;
	}
}
.cell_file embed{
	border:1px solid #98673C;
}
.desc_gr .cell_file .block-form .mart5{
	display:inline !important;
	width: 300px !important;
}
/*.cell_file .block-form .col-2{
	width:300px !important;
}*/
.cell_file .col-1{
	float: left;
    width: 70% !important;
}
.cell_file .col-2{
	margin:0 !important;
	display: inline;
}
.yes_no .rf-pp-cnt-scrlr{
	padding-bottom: 10px !important;
}
.desc_gr .col_style .block-form .title{
	width:520px;
}

.link_book{
    font-size:12px;
}
span.link_book{
    display:none;
}