/*.calendarTable{display:block !important;}*/
span .openCalendar{
	background: url(../resources/images/calendar.png) no-repeat !important;
	margin-bottom: 4px !important;
}
table.calendarTable {
	border-color: #B20E0E !important;
}
.calendarTable[style="display: table;"]{
	display: inline !important;
    margin-left: -99px;
    margin-top: 30px !important;
}
.calendarTable select{
	width:113px !important;
}
.calendarTable input[type="text"]{
	width:30px !important;
}
.calendarTable .yearDown,
.calendarTable .yearUp{
    height: 7px !important;
    min-width: 12px;
}
.calendarTable .yearDown{
	background: url(../resources/images/triangle.gif) no-repeat !important;
	margin: 0px 3px 3px 5px;
}
.calendarTable .yearUp{
    background: url(../resources/images/triangle180.gif) no-repeat !important;
    margin: 3px 3px 0px 5px;
}
.calendarTable select, 
.calendarTable input[type="text"]{
	margin-top: 0 !important;
}
.calendarTable select {
    height: 23px;
}
.calendarTable .headerDays th{
	border-bottom: 1px solid #DEBF70 !important;
}
.calendarTable .daysTable{
	border: 1px solid #DEBF70 !important;
}
.headerDays{
	background: #F1DCA6 !important;
}
.calendarTable input[type="button"]{
	background: url(../resources/images/bg_buttons.png);
	color:#fff !important;
	height:27px;
	width:90px;
	cursor:pointer;
}
.calendarTable input[type="button"]:hover{
	background: url(../resources/images/bg_buttons_180.png);
}
.calendarTable .currDateColor{
	background-color: #B20E0E !important;
}
.calendarTable .datahighlight{
	background-color: #DEBF70 !important;
}