.complex_tree textarea[disabled]{
    height:auto !important;
    //display:none !important;
}
.lang .col-2 a{
	margin: 7px 0;
	width:22px;
}
.lang .col-2 a[title="Удалить"]{
	margin: -26px 0 0 15px;
}
.lang .col-2 span{
	display:block;
}
#znach_spr .desc_d{
	/*padding:2px 3px;*/
	margin:0;
}
#znach_spr .val_desc .col-2 select,
#znach_spr .val_desc .col-2 input[type="text"]{
	margin-left: -1px;
    margin-top: -7px;
    padding-right: 4px;	
}
#znach_spr .mult{
	padding:3px 0 0;
}
#znach_spr .block-form .col-1 {
    margin-top: 3px;
}
#znach_spr .col-2 .text_d span span span{
	margin-top:0;
}
.doc_complex .col-2 input, .desc_d{
	height:auto;
}
.complex_tree .col-1 label{
	padding-top:0;
}
.complex_tree .checkBox .col-2 input{
	 height: 10px;
}
#seriesForm .col-1{
	width:150px !important;
	display: block;
}
#seriesForm .col-2{
	left: 150px;
    position: relative;
    top: -20px;
}
#chkb_mod{
	 margin-left: -103px;
}
.archive-code .col-2 input[type="text"]{
    width:65px;
}
.close-open_panel .col-1, 
.close-open_panel .col-2{
    vertical-align:top;
}
.close-open_panel .col-2 select{
    margin-top:0;
}
.close-open_panel label{
    padding-top:0;
}
.separator{
    margin:0 3px;
}