embed{
	margin:5px auto;
	display:block;
	height:100%;
}
.img_scrl{
	width:95%;
	/*height:700px;*/
	height:100%;
	margin:5px auto;
	display:block;
	overflow:auto;
}
.img_scrl embed{
	width:100%;
	height:100%;
}
.img_no_scrl{
	/*width:1000px;*/
	height:700px;
	margin: 5px auto;
}
/*@media all and (-webkit-min-device-pixel-ratio:0) {
.img_no_scrl embed{
	width: 95%;
}
}*/
@media all and (-webkit-min-device-pixel-ratio:0) {
.img_scrl embed{
	height: auto;
}
}
.img_no_scrl img{
	height: 100%;
	margin: 0 32%;
}
.all_changes{
	color:#000;
	font: 9pt sans-serif;
	height: 550px;
	overflow-x: hidden;
    overflow-y: auto;
}
.all_changes br{
	height:3px;
	display: block;
}
.all_changes table{
	width:100%;
}
.all_changes tr{
	border-bottom:#B72C36 2px solid;
}
.all_changes u{
	color:#B72C36;
}
.all_changes p{
	padding-left: 45px !important;
}
.all_changes b,
.all_changes p{
	font-weight:bold;
	margin:0 -45px!important;
	padding: 10px 0;
	display: block;
}
.block_changes{
	background-color: #F3ECDA;
    border: 1px solid #DBC68C;
    font-weight: normal;
    margin: 20px 10px;
    padding: 0 10px 15px 65px;
}
.block_changes b,
.block_changes p{
	margin:0 -45px!important;
	padding: 10px 0;
}
.name_img_cls{
	word-wrap: break-word;
	text-align:center;
	width:120px;
	margin:auto;
}
.full_img_mod{
	width:90% !important;
	height: 90% !important;
}
.full_img_mod .rf-pp-shdw{
	height:0;
}
.full_img_mod .rf-pp-hdr{
	width:100% !important;
}
.full_img_mod .rf-pp-cnt-scrlr{
	width: 100% !important;
	height:100% !important;
	text-align: center;
	overflow:hidden;
}
.full_img_mod embed {
    display: inline;
    width:99%;
    height:auto;
}
.navig_img{
	display: inline-block;
	height:25px;
}
.navig_img a,
.navig_img a:hover{
	margin:2px !important;
	font-size: 15px;
}
.img_list{
	margin-bottom:40px;
        text-align:center;
}
.img_scrl2{
	height:700px;
	overflow:auto;
}
