.ver {
	text-align: right;
	font: italic 9pt sans-serif;
}
.adm_inf {
	background:url(../resources/images/adm_n_inf.png) no-repeat;
	height: 540px;
	margin: auto;
	width: 340px;
	position: absolute;
}
.adm_inf label, .adm_inf a, .adm_inf span {
	font-weight: bold;
	padding: 9px;
	display: block;
	font-size: 0.9em;
}
.adm_inf span[disabled="disabled"]{
	opacity:0.6;
}
.adm_inf label{
	font-size: 1.2em;
	background:url(../resources/images/main_triangle.png) no-repeat;
	background-position:bottom center;
	padding-bottom: 13px;
}
.inf_s_pict, .adm {
	height: 100px;
	width: 340px;
}
.inf_s_pict {
	background:url(../resources/images/inf_source.png) no-repeat;
}
.adm {
	background:url(../resources/images/tool.png) no-repeat;
	width: 54px;
	height: 54px;
	margin: 23px auto;
	display: block;
}
.start_page {
	width: 676px;
	margin: auto;
	text-align:center;
	margin-top:10px;	
}
.name_app {
	font-size:1.9em;
	font-weight:bold;
	padding:0 35px 25px;
	border-bottom: 2px solid;
}
.inform_source {
	float:left;
	width:50%;
	text-align:center;
	margin-top:30px;
}
.inform_source p{
	font: bold 1.3em sans-serif;
}
.main_page_pict {
	width:32px;
	height:32px;
	margin: auto;
}
#enter_data{
	background:url(../resources/images/laptop.png) no-repeat;
	margin-top: 15px
}
#manage_access{
	background:url(../resources/images/man_access.png) no-repeat;
}
#settings{
	background:url(../resources/images/settings.png) no-repeat;
}