.main_title{
	margin:auto;
}
.main_menu {
	width:65px;
	border:1px solid;
	margin:15px 15px 0 6px;
	height:34px;
	z-index:20;
}
.main_menu .rf-ddm-sel {
	background:none;
}
.rf-ddm-sel{
	border:none !important;
}
/*title-head*/
.name_user{    
	font-size: 9pt;
    padding-right: 3px;
	position: relative;
    text-align: right;
    top: -18px;
}
.title_page {
    display: block;
    float: left;
    height: 24px;
    width: 89.5%;
    padding: 3px 10px 7px 10px;
    margin: -36px 0 0 70px;
    top:0;
    left: 70px;
	border: 1px solid;
    font: bold 15pt sans-serif;
}
.title_page a {
	width:40px !important;
    padding: 0 0 11px 17px !important;
	font-size: 9pt;
	display:inline;
}
.navig{
	border-bottom:2px solid;
	padding:10px;
	font:bold 12px Arial;
	margin: auto;
	width: 95%;
	text-align: center;
}
.navig .fleft{
	margin-right: 10px;
}
/*пиктограф.меню в подразделах*/
.pict_section_menu{
    background-image:none !important;
    height:auto !important;
    border:none !important;
    margin:0 0 3px 0 !important;
}