/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.10.2015, 14:51:30
    Author     : shapovalova
*/
#perfanno .rf-pp-cntr{
    width:1070px !important;
    height:400px !important;
}
#perfanno .rf-pp-cnt-scrlr{
    height:360px !important;
}
#perfanno .rf-tb{
    width:100% !important;
}
#perfanno .rf-edt-b{
    height:230px !important;
}
#perfanno .rf-edt-ftr{
    height:0;
}
#perfanno a.del_cross{
    display:inline-block;
    width:24px;
    height:24px;
}
#perfanno .rf-edt-c-cnt {
    text-align: center;
    padding:3px !important;
}
#perfanno audio{
    width:150px;
    margin-right:2px;
}
#perfanno .attach{
    width:24px;
    padding:0;
    float:left;
}
#perfanno .jp-audio{
    vertical-align:top;
}