.rf-tb a,
.col-2 a{
    min-width:21px;
}
/*панель навигации*/
a.add_plus, a.save, a.up_arr, a.down_arr, a.del_cross{
    display:inline-block;
    width:24px !important;
    height: 24px !important;
    /*padding: 5px !important;*/
    cursor: pointer;
}
a.attach{
	height:24px !important;
	padding: 5px;
    cursor: pointer;
}
.complex_tree .col-2 span.attach{
	width:0 !important
}
#menu_f_d .attach,
#menu_f .attach{
	height:21px !important;
}
.rf-edt-tbl-hdr input[type="submit"]{
    background-color: transparent;
    border: medium none;
    height: 15px;
    width:15px;
    margin-top: -2px;
    margin-left: 2px;
    opacity: 0.65;
}
/*.rf-edt-tbl-hdr*/ .first{
    background-image: url("../resources/images/back1.png") !important;
}
.first, .prev, .next, .end,
.first:hover, .prev:hover, .next:hover, .end:hover{
    background-repeat:no-repeat !important;
    background-color: transparent !important;
    border: medium none !important;
    height:15px;
    width:15px;
}
/*.rf-edt-tbl-hdr*/ .prev,
span[title="Предыдущее изображение"],
a[title="Предыдущее изображение"]{
    background-image: url("../resources/images/one_back.png") !important;
    background-repeat: no-repeat;
}
/*.rf-edt-tbl-hdr*/ .next,
span[title="Следующее изображение"],
a[title="Следующее изображение"]{
    background-image: url("../resources/images/one_next.png") !important;
    background-repeat: no-repeat;
}
.view_img{
	display:inline-block;
	height:15px;
    width:15px;
    min-width:15px;
    margin: 0 5px;
}
.view_img[disabled="disabled"]{
	opacity:0.5;
}
.end{
    background-image: url("../resources/images/next.png") !important;
}
/**/
.first:hover{
    background-image: url("../resources/images/next.png") !important;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    -o-transform: rotate(180deg)
}
.prev:hover{
    background-image: url("../resources/images/one_next.png") !important;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    -o-transform: rotate(180deg)
}
.next:hover{
    background-image: url("../resources/images/one_back.png") !important;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    -o-transform: rotate(180deg)
}
.end:hover{
    background-image: url("../resources/images/back1.png") !important;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    -o-transform: rotate(180deg)
}
a[title="Добавить"],
a.add_plus{
	background:url(../resources/images/plus_.png) no-repeat !important;
	height: 21px;
}
.col-2 a[title="Добавить"]{
	width: 21px
}
a[title="Редактировать"] {
	background:url(../resources/images/pencil_.png) no-repeat !important;
	height: 21px;
}
a[title="Просмотр"] {
	background:url(../resources/images/view213.png) no-repeat !important;
	height: 21px;
}
a[title="Удалить"],
.del_cross {
	background:url(../resources/images/cross_.png) no-repeat !important;
        background-position: left center !important;
	height: 21px;
}
span.del_cross.disp_in-bl{
    display:none !important;
}
a[title="Вниз"],
a.down_arr {
	background:url(../resources/images/arrow-270_.png) no-repeat !important;
	height: 21px;
}
a[title="Вверх"],
a.up_arr {
	background:url(../resources/images/arrow-09_0.png) no-repeat !important;
	height: 21px;
}
a[title="Сделать актуальным"] {
  	background: url(../resources/images/tick_.png) no-repeat !important;
	height: 21px;
}
a[title="Обновить"], 
input[title="Обновить"], 
input[title="Обновить"]:hover {
	background: url(../resources/images/arrow-circle-315_.png) no-repeat !important;
	height: 21px;
}
input[title="Обновить"], 
input[title="Обновить"]:hover {
	width:21px;
	border:none;
}
/*--*/
.menu_desc_gr .rf-tb .rf-tb-itm a {
	padding: 5px 5px 5px 30px;
	color:#000;
	height: 21px;
}
/*для скрытия ненужных пикторгамм*/
.menu_desc_gr .rf-tb .rf-tb-itm span[disabled="disabled"],
.rf-tb-cntr span[disabled="disabled"]{
	display:none;
}
.desc_gr .menu_desc_gr .rf-tb .rf-tb-itm span,
.desc_gr .rf-tb-cntr span,
.desc_val .menu_desc_gr .rf-tb .rf-tb-itm span,
.desc_val .rf-tb-cntr span,
.user_frm .menu_desc_gr .rf-tb .rf-tb-itm span,
.user_frm .rf-tb-cntr span,
.doc_complex .menu_desc_gr .rf-tb .rf-tb-itm span,
.doc_complex .rf-tb-cntr span,
#menu_f .menu_desc_gr .rf-tb .rf-tb-itm span,
#menu_f .rf-tb-cntr span,
.rf-tb-cntr span span,
.menu_desc_gr .rf-tb .rf-tb-itm span span,
.complex_tree .rf-tb-cntr .rf-tb-itm span{
	display:none;
}
.complex_tree .rf-tb .rf-tb-cntr .rf-tb-itm span.vis_pict,
.complex_tree .rf-tb-cntr .rf-tb-itm span.vis_pict{
	display:block !important;
}
.complex_tree .rf-tb-cntr span a{
    display:block;
}
a[title="Сохранить"],
.save{
	background: url(../resources/images/disk.png) no-repeat !important;
	padding: 5px 5px 5px 30px;
	color:#000;
	height: 21px;
}
.menu_desc_gr .rf-tb .rf-tb-itm a[title="Структура"],
.structure-pict{
	background: url(../resources/images/tree_.png) no-repeat !important;
}
.menu_desc_gr .rf-tb .rf-tb-itm a[title="Просмотр"]{
	background: url(../resources/images/view213.png) no-repeat !important;
        background-position:0 2px !important;
}
.menu_desc_gr .rf-tb .rf-tb-itm a[title="Обновить"] {
	background: url(../resources/images/arrow-circle-315.png) no-repeat !important;
}
.menu_desc_gr .rf-tb .rf-tb-itm a[title="Добавить"] {
	background: url(../resources/images/plus.png) no-repeat !important;
}
.ann-pict{
    background: url(../resources/images/ann-pict.png) no-repeat !important;
    background-position:left center !important;
}
a[title="Вернуться"] {
	background: url(../resources/images/arrow-180.png) no-repeat !important;
	display: inline-block;
	padding: 5px 5px 5px 30px;
	height: 21px;
	width: 50px;
	color:#000;
	font-weight:bold;
}
a[title="Масштаб"]{
	background: url(../resources/images/old-zoom-in_1013.png) no-repeat !important;
	display: inline-block;
	height: 20px;
	margin-left: 15px;
    padding: 2px 0 2px 30px;
    width: 50px;
    color:#000;
    font-weight:bold;
}
.menu_desc_gr .rf-tb .rf-tb-itm a[title="Поиск"] {
	background: url(../resources/images/search.png) no-repeat !important;
}
.menu_desc_gr .rf-tb .rf-tb-itm a[title="Очистить параметры"] {
	background: url(../resources/images/clear.png) no-repeat !important;
}
a[title="Просмотр электронного издания"],
a[title="Просмотр графических образов"]{
	background: url(../resources/images/img.png) no-repeat !important;
}
a[title="Связь"]{
	background: url(../resources/images/link_5643.png) no-repeat !important;
	height:21px;
}
a[title="Карточка"]{
	background: url(../resources/images/view213.png) no-repeat !important;
	height:21px;
}
a[title="Дерево"]{
	background: url("../resources/images/tree_21.png") no-repeat !important;
	height:21px;
}
.add_link .rf-edt-c-cnt a{
    width:21px;
    display:block;
    float:left;
}
/****/
.users .rf-edt-c-cnt a,
.complex_tree .rf-edt-c-cnt a,
.doc_complex .rf-edt-c-cnt a,
.static_page .rf-edt-c-cnt a{
	display: inline-block;
	width:21px;
    margin: -3px 0 0 5px;
}
/****/
/*---------------shift pictograph plus in tHeader on the page complexTree.jsf-------------------
.doc_complex .desc_gr .rf-tb .rf-tb-cntr a{
    position: absolute !important;
    top: 5px !important;
}*/
.doc_complex .desc_gr .rf-edt-c-cnt a{
    margin-top: 3px;
}
/*table*/
.desc_val input[title="Удалить"]{
	margin-left:500px;
	margin-top:-22px;
	display: block;
	background: url(../resources/images/cross_.png) no-repeat !important;
}
.rf-edt-c-cnt input[title="Удалить"]{
	margin-left:0px;
	margin-top:0px;
	width:21px;
	height:21px;
	border:none !important;	
	background: url("../resources/images/cross_.png") no-repeat scroll 0 0 transparent !important;
}
.rf-edt-c a[title="Просмотр"]{
	margin-left:0px;
	margin-top:0px;
	width:21px;
	height:21px;
	border:none !important;	
}
.rf-edt-c a[title="Блокировать"]{
	margin-left:0px;
	margin-top:0px;
	width:21px;
	height:21px;
	border:none !important;	
	background: url("../resources/images/lock_.png") no-repeat scroll 0 0 transparent !important;
}
a.attach,
.width100p .attach{
	background: url("../resources/images/attach.png") no-repeat scroll 0 0 transparent !important;
}
.atr .col-2 span input[title="Добавить"]{
	height: 25px !important;
}
/**/
.mart5 .col-2 input[title="Мультиязычное значение"],
a[title="Локализация"]{
	 background: url(../resources/images/globe.PNG) no-repeat !important;
	 height:21px;
	 width:21px;
	 border: none;
}
.mart5 .col-2 input[title="Мультиязычное значение"]{
	 margin-left:10px;
	 display: block;
	 margin-left: 465px;
	 margin-top: -20px;
}
.mart5 .col-2 input[title="Добавить"] {
 	 background: url(../resources/images/plus_.png) no-repeat !important;
	 height:21px;
	 width:21px;
	 border: none;
}
.mart5 .col-2 input[title="Выбрать"],
a[title="Операции с серией"] {
  	 background: url(../resources/images/book_open_3.png) no-repeat !important;
	 height:21px;
	 width:22px;
	 border: none;
}  
.mart5 .col-2 input[title="Удалить"] {
  	 background: url(../resources/images/cross_.png) no-repeat !important;
	 height:21px;
	 width:21px;
	 border: none;
}
/*.doc_complex a[title="Структура документальных комплексов"]{	
	background: url(../resources/images/tree_.png) no-repeat;
	text-decoration: underline;
	font-weight:bold;
	margin: 5px 0 0 15px;
    padding-left: 30px;
	height:25px;
	display: inline-block;
	padding-top: 5px;
}
.doc_complex a[title="Поиск по документальным комплексам"]{
	background: url(../resources/images/search.png) no-repeat;
	text-decoration: underline;
	font-weight:bold;
	margin: 5px 0 0 15px;
    padding-left: 30px;
	height:25px;
	display: inline-block;
	padding-top: 5px;	
}*/
/*стиль кнопок*/
.mod_but {
    /*paperFile.jsf - указатели нса - кнопка добавить - попап - поехали кнопки*/
    margin: 10px 0;
    float: right;
}
.param .mod_but{
	margin: 6px 0;
}
.mod_but input, .mod_but span,
#left_but a{
	height:27px;
	width:90px;
	float: left;
	cursor:pointer;
	margin-right: 5px;
}
.mod_but span a {
	margin: 0 4px;
    position: relative;
    top: 6px;
    font: normal 8pt sans-serif;
    width: 100px;
}
.DescRel .mod_but{
	margin-left: 280px;
}
#left_but{
	float: left;
	width: 100%;
}
#left_but input,
#left_but a{
	width:110px;
	display: inline;
}
#left_but a{
	font-weight: normal;
    height: 15px;
    padding: 6px 7px;
    width: 90px;
}
/*---*/
.img_content a[title="Удалить"],
a.del-pict{
	background: url(../resources/images/delete_img.png) no-repeat !important;
	margin: -10px 10px 5px;
}
.complex_tree .col-2 a[title="Удалить"],
.complex_tree span a[title="Операции с серией"]{
	left: 450px;
    margin: -24px 0;
    position: absolute;
}
.complex_tree span a[title="Операции с серией"]{
	left: 990px;
	margin: -31px 0;
}
.flag_mar img{
	margin: 0 0 -7px 5px;
}
.hist{
    width: 97%;
    margin-left: 20px;
}
.hist h2{
    color:#000 !important;
    font: bold 12pt arial;
    background: url(../resources/images/all_hist.png) no-repeat;
    border-bottom: 1px solid #BC3737;
    padding: 0 5px 10px 30px;
    cursor: pointer;
}