/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.10.2015, 14:58:27
    Author     : shapovalova
*/
.audio-style {
    display: inline-block;
    vertical-align:top;
    margin-left:10px;
}
.jp-audio{
    width:200px;
}
.jp-audio .jp-audio,
.jp-audio .jp-volume-controls,
.jp-audio .jp-controls-holder,
.jp-audio .jp-controls,
.jp-audio .jp-progress{
    display:inline-block;
    vertical-align: middle;
}
.jp-audio .jp-controls-holder button,
.jp-audio .jp-controls-holder button:hover,
.jp-audio .jp-volume-bar{
    width:21px;
    height:21px;
    display:inline-block;
    border:none;    
    background-position: left center;
}
.jp-audio .jp-play,
.jp-audio .jp-play:hover{
    background: url(../resources/images/play.png) no-repeat;
    background-position:6px center !important;
}
.jp-audio .jp-stop,
.jp-audio .jp-stop:hover{
    background: url(../resources/images/stop.png) no-repeat;
}
.jp-audio .jp-play:hover,
.jp-audio .jp-stop:hover{
    opacity:.7;
    cursor:pointer;
}
.jp-audio .jp-volume-bar{
    background: url(../resources/images/volume.png) no-repeat;
    width:30px;
    padding-left:21px;
    margin-top: 5px;
    text-align: left;
}
.jp-audio .jp-volume-bar-value{
    height:5px;
    background-color:#950E0E;
    vertical-align:middle;
    display:inline-block;
    margin-top: 6px;
}
.jp-audio .jp-progress{
    border:1px solid #DCBB67;
    border-box:3px;
    -moz-border-box:3px;
    -webkit-border-box:3px;
    -o-border-box:3px;
    -ms-border-box:3px;
    display: inline-block;
    height: 5px;
    width: 90px;
    text-align: left;
}
.jp-audio .jp-play-bar{
    background-color:#950E0E;
    height:5px;
    display:inline-block;
}
.jp-audio .progress-time{
    text-align:center
}
.jp-audio .jp-current-time,
.jp-audio .jp-duration{
    font-size:10px;
    font-weight:normal;
    display:inline-block;
    width:48%;
}

.jp-video-270p,
.jp-video-270p .jp-jplayer{
    width:300px !important;
    height:auto !important;
}
.jp-video-270p .jp-jplayer > img,
.jp-video-270p .jp-jplayer > video{
    width:98% !important;
    height:auto !important;
}
.jp-video .jp-controls > button,
.jp-video .jp-controls > button:hover{
    width:40px !important;
    background-position:-30px -40px;
}
.jp-video .jp-controls > button.jp-stop,
.jp-video .jp-controls > button.jp-stop:hover{
    background-position:-30px -80px;
}
.jp-video .jp-controls{
    width:82px;
}
.jp-video .jp-video-play-icon{
    margin-top:0;
}
.jp-video .jp-video-play-icon:hover{
    background-image:url("../resources/image/jplayer.pink.flag.video.play.png");
    background-position:0 -100px;
}
.jp-video .jp-repeat:hover{
    background-image:url("../resources/image/jplayer.pink.flag.jpg");
    background-position:-30px -440px;
}
.jp-video .jp-full-screen:hover{
    background-image:url("../resources/image/jplayer.pink.flag.jpg");
    background-position:-30px -420px;
}
.jp-video .jp-type-single .jp-play:focus{
    background-image:url("../resources/image/jplayer.pink.flag.jpg");
    background-position:-30px -120px;
}

.video-doc.complex_tree .block-form.width97p .rf-edt{
    height:300px !important;
}
.video-doc .rf-edt-b{
    height: 255px !important;
}

.complex_tree.kino-doc .count-char .rf-edt.quantity,
.kino-doc .count-char .quantity .rf-edt-b{
    height:auto !important;
}