/* 
    Created on : 12.09.2015, 22:31:23
    Author     : melnikov
*/
/*playtime*/
span.playtime{
    display:inline-flex;
    height:23px;
}
.playtime input.rf-insp-inp[type="text"]{
    font-size:12px;
}
span.playtime span.rf-insp{
    width:auto !important;
    margin-top:0;
    padding-top:0;
    display:inline-flex;
    border-color:#b20e0e;
}
span.playtime span.rf-insp-btns,
span.playtime span.rf-insp-inc,
span.playtime span.rf-insp-dec{
    margin-top:0;
    padding-top:0;
    width:15px !important;
}
span.playtime span.rf-insp-inc,
span.playtime span.rf-insp-dec{
    height:11px;
}
span.playtime .separator{
    font-weight:bold;
    width:auto !important;
}
span.playtime input[name$="minute"]{
    text-align:right;
    width:27px !important;
}
span.playtime input[name$="second"]{
    text-align:right;
    width:15px !important;
}
span.playtime span.rf-insp-inc,
span.playtime span.rf-insp-dec{
    background-color:#DC4747;
    /*background-image: linear-gradient(center top , #CE4242, #951515);
    background-image: -moz-linear-gradient(center top , #CE4242, #951515);
    background-image: -webkit-linear-gradient(center top , #CE4242, #951515);
    background-image: -o-linear-gradient(center top , #CE4242, #951515);
    background-image: -ms-linear-gradient(center top , #CE4242, #951515);*/
    
}
/*audio*/
.record-style a.ann-pict{
    padding-left: 21px;
    white-space: normal;
    width: 80px !important;
}
.quantity .record-style .rf-edt-c-cnt{
    text-align:left;
}