body {	
    background: url(../resources/images/background.png);
}
.main {
	color:#B20E0E;
}
textarea, input[type="text"], input[type="password"], input[type="checkbox"], select{
	border-color:#B20E0E;
    background-color:#fff;
}
input[type="submit"]{
	background: url(../resources/images/bg_buttons.png);
	color:#fff;
}
input[type="submit"]:hover{
	background: url(../resources/images/bg_buttons_180.png);
}
a, a:visited {
	color:#B20E0E;
}
a:hover {
	color:#D35806;
}
button[disabled], 
input[type="submit"][disabled], 
input[type="button"][disabled],
button[disabled]:hover, 
input[type="submit"][disabled]:hover, 
input[type="button"][disabled]:hover{
	background: #F6F3EA;
	color: #B39F62 !important;
}
.close_group h2, 
.open_group h2,
.close h2,
.open h2{
	color:#B20E0E;
}
.close_group, 
.open_group,
.close,
.open {
	background: url("../resources/images/triangle_270_2.gif") no-repeat scroll 0 0 transparent;
}
.open_group,
.open{
	background: url("../resources/images/triangle2.gif") no-repeat;
}
.rf-edt-hdr-c .ascending,
.rf-edt-hdr-c .descending{
	background:#F1DCBD;
        padding-bottom:9px !important;
}
.start_page {
	color:#B20E0E;
}
.rf-ddm-lst-bg {
	border: 1px solid #B20E0E !important;
	color: #B20E0E !important;
	opacity: 0.9;
	background:#F1E6C8 !important;
}
.rf-ddm-itm-sel{
	background: url("../resources/images/kontext_menu.png") repeat !important;
	background:#F1E6C8;
}
.rf-ddm-emptyIcon{
	color: #B20E0E !important;
}
.rf-edt-r-sel {
	background-color:#F8E5B4  !important;
}
.title_page {
    color:#9A0F0F;
    background: #F1DFB1 url(../resources/images/title.png);
}
.title_page a {
	background:url(../resources/images/exit.png) no-repeat;
}
.main_menu {
	background:url(../resources/images/menu.png);
	background-color:#F1DFB1;
}
.rf-edt-ftr{
	background: url(../resources/images/background.png) !important;
}
.col-2 label{
	color: #000;
}
.block-form .title-bg {
	background:url(../resources/images/menu_descr.png);
}
.rf-trn-sel {
	background-color:#F1DCA6 !important;
}
.rf-edt {
	border-color:#F8ECCE !important;
}
.rf-edt .rf-edt-b .rf-edt-tbl .rf-edt-cnt .rf-edt-tbl tbody tr:nth-child(even){
	background: #FDFAF1;
}

/*.rf-edt-c, .rf-edt-hdr-c, //применение границ к этим классам неверно. вместо этого верно то, что ниже*/
.rf-edt-ftr-c {         
    border-bottom: 1px solid #DEBF70 !important;
    border-collapse: collapse;
    border-right: 1px solid #DEBF70 !important;
}
/*td[class*='rf-edt-td']*/
.rf-edt-tbl .rf-edt-cnt tr td{
    border-bottom: 1px solid #DEBF70 !important;
    border-right: 1px solid #DEBF70 !important;    
}
div.rf-edt-c,
div.rf-edt-hdr-c{
    border:none;
}
.rf-edt-ftr .rf-edt-tbl .rf-edt-cnt tr td{
    border:none !important;
}
/**/
.rf-edt-hdr-c-cnt, 
.rf-edt-tbl-hdr{	
	color: #B20E0E !important;
}
.rf-edt-c-cnt input{
	border: 1px solid #DEBF70;
}
.rf-edt-hdr .rf-edt-tbl .rf-edt-cnt {
	background: #F8ECCE !important;
}
.rf-edt-cnt .rf-edt-tbl tr:hover {
	background-color:#F8E5B4 !important;
}
.qe {
	border: 1px solid #EBCA76;
	background-color: #FDF9F0;
}
.descriptors {
	background-color: #FDF9F0;
}
.descriptors span#form {
	background-color: #FDF9F0;
}
.block-form .title {
    color: #B20E0E;
}
.alld .block-form .title-bg, 
table tbody tr td .descriptors span table, 
.as {
	background:url(../resources/images/menu_descr.png);
}
.descriptors .rf-tr, 
.alld table tbody tr td div.descriptors .block-form {
	background-color: #FDF9F0;
	border:1px solid #EBCA76;
	border-top:none !important;
}
.descriptors .rf-trn-cnt {
	color:#B20E0E !important;
}
.descriptors .mart5 {
	color:#000;
}
.descriptors .mart5 input {
	border-color: #B20E0E;
}
.descriptors .mart5 select {
	border-color: #B20E0E;
	background:#fff;
}
.descriptors .block-form input {
	background: url(../resources/images/bg_buttons.png);
	color:#fff;
}
.search .block-form{
    border-top: 1px solid #EBCA76 !important;
}
.descriptors .search .block-form .col-2 input {
	color:#000;
	background-color:#fff;
}
.descriptors .search .block-form .col-2 a {
	background: url(../resources/images/search_but.png) no-repeat;
}
.desc_gr .block-form .title {
    color:#B20E0E;
}
.desc_gr .rf-tb, 
.desc_val .rf-tb, 
.users .rf-tb, 
.user_frm .rf-tb,
.groups_users .rf-tb,
.complex_tree .rf-tb,
.selVal .rf-tb,
#perfanno .rf-tb{
    background:url(../resources/images/menu_descr.png) repeat-x;
}
.desc_gr .rf-edt, 
.desc_val .rf-edt, 
.selVal .rf-edt, 
.users .rf-edt, 
.user_frm .rf-edt,
.groups_users .rf-edt,
.complex_tree .rf-edt,
.right_groups .rf-edt{
    border: 1px solid #DEBF70 !important;
}
.menu_desc_gr .rf-tb {
    border-bottom: 1px solid #B20E0E;
}
.desc_gr .block-form, 
#groupFrm .block-form, 
.block-form, 
#userFrm .users .block-form,
.groups_users .block-form{
	color: #000000;
}
.desc_gr .block-form .title-bg, 
.desc_val .block-form .title-bg, 
.users .block-form .title-bg, 
.user_frm .block-form .title-bg,
.groups_users .block-form .title-bg,
.complex_tree .block-form .title-bg{
	color: #B20E0E;
}
.desc_gr .rf-pp-cnt-scrlr{
 	background: url(../resources/images/background.png) !important;
}
.rf-pp-cnt-scrlr{
 	background: url(../resources/images/background.png) !important;
}
.desc_val .rf-pp-cnt-scrlr{
 	background: url(../resources/images/background.png) !important;
}
.desc_gr .rf-pp-hdr, 
.desc_gr .rf-pp-hdr-cnt, 
.desc_val .rf-pp-hdr, 
.desc_val .rf-pp-hdr-cnt,
.sel_desc_val .rf-pp-hdr, 
.sel_desc_val .rf-pp-hdr-cnt,
.sel_gr_desc .rf-pp-hdr, 
.sel_gr_desc .rf-pp-hdr-cnt{
 	background: url(../resources/images/background.png) !important;
 	color: #B20E0E !important;
}
.rf-pp-hdr, .rf-pp-hdr-cnt {
 	background: url(../resources/images/background.png) !important;
 	color: #B20E0E !important;
}
#attrFrm span .col-2 input[type="submit"] {
	background: url(../resources/images/book_open_3.png) no-repeat !important;
}
.mart5 .col-2 input[type="submit"], 
.menu_desc_gr .mart5 .col-2 input[type="submit"]{
	 background: url(../resources/images/book_open_3.png) no-repeat;
}
.desc_val .rf-edt-tbl-hdr,
.selVal .rf-edt-tbl-hdr{
	background:url(../resources/images/menu_descr.png) !important;
}
.val_desc {
	border-bottom: 1px solid #B20E0E; 
}
.desc_d{
    border: 1px solid #B20E0E;
}
.atr .mult span span,
.val_desc .mult{
    border: 1px solid #B20E0E;
}
.text_d input[type="text"], 
.act_val .col-2, 
.selVal .fuul_path .col-2,
.user_frm .desc_d .col-2{
	border: 1px solid #B20E0E !important;
}
.block-form .val_desc .col-2, .selVal .col-2{
 	background: url(../resources/images/background.png);
}
.bor_bot{
	border-bottom: 1px solid #DEBF70;
}
#msg{
    color: #1D9D3C;
}
ul,
.red_text{
	color: #f00;
}
/*sorting*/
.rf-edt-hdr-c-cnt a{
	background:url(../resources/images/sort.png) no-repeat;
}
.doc_complex .block-form{
	border: 1px solid #EBCA76;
	background-color: #FDF9F0;
}
fieldset {
	border: 1px solid #B20E0E;
	color: #B20E0E;
}
.doc_complex .rf-edt-tbl-hdr{
	border-color: #DEBF70 !important;
}
.doc_complex .descriptors .rf-tr{
	border-bottom: 1px solid #EBCA76;
}
.ins-popupContainer {
	background:#D6D2CF;
}
.rf-msgs-inf{
	color:#129731 !important;
}
.descriptors .rf-tb{
    background:url(../resources/images/menu_descr.png) !important;
}
.desc_val .block-form .title-bg{
	color: #B20E0E;
}
/*стиль кнопок*/
.mod_but input, .mod_but span,
#left_but a,
.col-2 input[type="submit"].btn{
	background: url(../resources/images/bg_buttons.png);
	color:#fff !important;
}
.mod_but input:hover, .mod_but span:hover,
.mart5 .col-2 input[type="submit"].btn:hover{
	background: url(../resources/images/bg_buttons_180.png);
}
.mod_but span a {
	color:#fff !important;
}
/*---*/