.scrll{
	height: 494px;
	width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
.rf-edt-tbl div.rf-edt-ftr-cnt {
	height:15px;
	width: 768px !important;
}
.block-form.border.width97p .rf-edt-tbl div.rf-edt-ftr-cnt{
    height:0;
}
.block-form.border.width97p .rf-edt-ftr .rf-edt-tbl td {
    height: 0;
}
.doc_complex .rf-edt-tbl div.rf-edt-ftr-cnt{
	width: 1020px !important;
}
.rf-edt-ftr {
	background-color:#fff !important;
}
.rf-edt-ftr, .rf-edt-tbl {
	border: none !important;
}
.rf-edt-tbl .rf-edt-tbl tr {
	width:70%;
}
.no_space_hor_scrl .rf-edt-ftr{
	height:0 !important;
}

/*.desc_val {
	margin-top: 60px;
}*/
