.sel_wrap select{
    display:none;
}
.sel_imul{
    width:300px;
}
.sel_imul .sel_selected{
    background:#fff;
    border:1px solid #B20E0E;
    padding:3px;
    height:15px;
    font: normal 12px Arial, sans-serif;
    cursor:pointer;
    position:relative;
}
/* .sel_imul.act .sel_selected{
    background:#efefef;
} */
.sel_selected .sel_arraw{
    height:100%;
    width:17px;
    background: url("../resources/images/sel_arrow_bg.png") no-repeat 50% 50%;
    border-left: 1px solid #B20E0E;
    position:absolute;
    top:0px;
    right:0px;
}
.sel_imul:hover .sel_selected .sel_arraw{
    /*there should be a styles*/
}
.sel_imul.act .sel_selected .sel_arraw{

}
.sel_imul .sel_options{
    background:#fff;
    border:1px solid #B20E0E;
    border-top:none;
    overflow:auto;
    position:absolute;
    width:298px;
    display:none;
    z-index:10;
}
.sel_options .sel_option{
    padding:3px 4px;
    font-size:12px;
    font-family:Arial, sans-serif;
    border:1px solid #fff;
    border-right:none;
    border-left:none;
}
.sel_options .sel_option:hover{
    border-color:#B20E0E;
    cursor:pointer;
}
.sel_options .sel_option.sel_ed{
    background:#F8ECCE;
    border-color:#F8ECCE;
}

#gr_us_mod .rf-pp-cnt{
    padding-top:15px;
}