.width_auto{
	width:auto !important;
}
.width100per{
	width:100%;
}
.height30{
	height:25px !important;
}
.width30{
	width:30px !important;
}
/*.complex_tree .mart5 .col-2 span input*/.width50{
	width:50px !important;
}
.width65{
	width:65px !important;
}
.width80{
	width:80px !important;
}
.width85{
	width:85px !important;
}
.width100{
	width:100px !important;
}
.width125{
	width:125px !important;
}
.width140{
	width:140px !important;
}
.width150{
	width:150px !important;
}
.width200{
	width:200px !important;
}
.width250{
	width:250px !important;
}
/*.complex_tree .mart5 .col-2 span .nameOpis*/.width300{
	width:300px !important;
}
.width300{
	width:300px !important;
}
.width350{
	width:350px !important;
}
.width345{
	width:345px !important;
}
.width368{
    width:368px !important;
}
.width385{
	width:385px !important;
}
.width400{
	width:400px;
}
.width430{
	width: 430px;
}
.width450{
	width:450px !important;
}
.width443{
	width:443px !important;
}
.width500{
	width: 500px !important;
}
.width540{
	width: 540px !important;
}
.width550{
	width: 550px !important;
}
.width570{
	width: 570px !important;
}
.width750{
	width:750px !important;
}
.width80p{
    width:80% !important;
}
.width97p{
    width:97% !important;
}
.width100p,
.rf-tb.width100p{
    width:100% !important;
}
.margin3{
   margin:3px 0 !important;
}
.margin5{
	margin:5px 0 !important;
}
.minheight50{
    min-height:50px !important;
}
.height75{
	height:75px !important;
}
.height100{
	height:100px !important;
}
.height100p{
    height:100% !important;
}
.sel_desc_val .selVal .rf-edt.height{
    height:180px !important;
}
.offset_f{
	margin:7px 0;
}
.margin_l15{
	margin-left: 15px;
}
.margin_l305{
	margin-left:305px !important;
}
.mart_-40{
    margin-top:-40px !important;
}
.complex_tree .width95p{
	width:95% !important;
    }

.fl_left{
	float:left;
}
.no_float{
	float:none !important;
}
.disp_in-bl{
	display:inline-block !important;
}
.vert_top{
	vertical-align:top;
}
.disp_bl{
	display:block !important;
}
.grid_size{
	width:auto;
	height:100px;
}
.pad0{
    padding:0 !important;
}
.t-width753.block-form div.rf-edt{
    width:753px !important;
}