body {	
	font-family: tahoma,arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
.main {
	width:100%;
	margin: auto;
}
a, a:visited {
	text-decoration:none;
	min-width: 15px;
	display: block;
}
.ohidden a{
	height: auto;
}
.col-1 label{
	padding-top:3px;
	/*color:#B20E0E; red color*/
}
a:hover {
	text-decoration: none;
}
li {
	list-style-type:none;
}
textarea, input[type="text"], input[type="password"], input[type="checkbox"], select {
    padding: 3px;
    font-size: 12px;
}
textarea{
    width: 100%;
    overflow-y:auto !important;
}
.block-form input[type="checkbox"] {
	width: 20px !important;
}
input[type="submit"]{
	cursor:pointer;
	height:27px;
	width:80px;
}
.mart5 .col-2 input[type="submit"][disabled="disabled"], 
.rf-edt-c-cnt input[type="submit"][disabled="disabled"]{
	display:none;
}
select {
	height: 22px;
	width:130px;
    padding: 0;
}
img{
	margin: 0px 0 -5px 5px;
}
.res_tabel img{
    height:26px;
}
.res_tabel .alignCntr .rf-edt-c-cnt{
    padding:2px 0 !important;
}
.wait img{
	height:48px;
	width:48px;
	margin: 0;
}
table {
	border-collapse:collapse;
}
.inline-block{
    display:inline-block !important;
}
.close_group h2, 
.open_group h2,
.close h2,
.open h2{
	cursor: pointer;
    font-size: 13pt !important;
    margin: 10px 0;
    padding-left: 15px !important;
}
.close_group, 
.open_group,
.close,
.open {
    margin-top: 15px;
    font-weight: bold;
    font-family:arial;
}
.indent .body_group .rf-tr {
    padding: 20px 2px;
}
.indent .body_group .rf-tb{
    width: 100% !important;
}
#groupFrm,
.desc_val{
	margin:15px 5px;
}
/*----логин-----*/
#login_page{
	width:350px !important;
	border: 1px solid;
	margin-top: 25%;
    min-height: 100px;
    padding:30px 20px;
}
#login_page .mart5{
	margin:auto !important;
	width:400px;
	color: #000;
}
#login_page .col-2{
	margin-left: 100px;
}
#login_page input[type="text"], #login_page input[type="password"]{
	width:230px !important;
	margin:10px !important;
	display:block !important;
}
#login_page input[type="submit"]{
 	margin-left: 258px;
}
#login_page ul{
	margin-top:0 !important;
	height:30px;
	width:300px;
	border:1px solid;
	background-color:#FFD7D7;
	padding-top:10px;
	padding-bottom:10px;
}
/*из удаленного файла (стили МО)*/
.rf-pp-cntr {
	border: 0px !important;
}
.rf-edt {
	margin-bottom: 20px !important;
}
.rf-pp-hdr-cntrls .close {
	display: block;
	float:left;
	width: 12px;
	cursor: pointer !important;
	margin-top: 8px;
}
.rf-pp-hdr {
	padding: 0px !important;
	height: 33px;
}
.rf-pp-cntr {
	position: relative; 
}
.rf-pp-hdr-cnt {
	margin: 0px;
	font-size:1em !important; 
	line-height:2em !important; 
}
.rf-pp-hdr div {
	height:100%; 
}
/*-**/
.rf-edt{
	background-color: transparent !important;
}
.col-2{
	font-weight:normal;
}
.col-2 label{
	margin:0 5px 0 10px;
	font-weight:bold;
}
.rf-tb-itm{
	padding: 0 4px !important;
}
.block-form {
	position:relative;
	margin:5px;
	width:97%;	
}
.left_content .block-form .col-2, .act_val .col-2{
	width: 550px;
}
.block-form .col-2, 
.act_val .col-2,
.date_doc .col-2{
    margin-left: 220px;
    width: 500px;
}
.block-form .col-1 {
	float: left;
}
.block-form .checkb .col-2 {
	margin-bottom: -18px;	
	margin-left: 216px !important;
}
.checkb .col-2{
	display:block;
}
.col-2 span {
	width:450px;
}
.lang .col-2 span span{
	display:block;
}
.atr .col-2 span {
	display: block;
}
.col-2 span span span{
	margin-top:15px;
	padding-top: 3px;
}
.block-form .title-bg {
	height:30px;
}
.rf-trn-sel {
	width: 100%;
	padding: 2px 0;
}
.rf-tb{
    position:relative;
	height:30px;
	width: 75.2% !important;
}
.rf-edt-b {
	height: 152px !important;
	overflow-x: hidden;
    overflow-y: scroll !important;
}
.right_groups .rf-edt-b,
.desc_gr .rf-edt-b{
	height: 180px !important;
}
.rf-edt .rf-edt-b .rf-edt-tbl .rf-edt-cnt .rf-edt-tbl {
	border-collapse:collapse;
}
.rf-edt-c {
	height:25px !important;
}
.rf-edt-c, .rf-edt-hdr-c{
	height:30px !important;
}
.rf-edt-tbl{
	border-collapse:collapse;	
}
.rf-edt-tbl tr td, table.rf-edt-tbl tr th {
	height:25px;
}
.rf-edt-hdr, 
.rf-edt-tbl-hdr{
	background-image: none !important;
}
.rf-edt-c-cnt, 
.rf-edt-hdr-c-cnt, 
.rf-edt-ftr-c-cnt, 
.rf-edt-tbl-hdr, 
.rf-edt-tbl-ftr {
	padding: 6px 7px !important;
	font-size: 12px !important;
}
.rf-edt-hdr-c-cnt a,
rf-edt-hdr-c-cnt label{
    font-size:12px;
}
.rf-edt-hdr .rf-edt-tbl .rf-edt-cnt {
    border-collapse: collapse;
    border-spacing:0;
}
.rf-pp-cnt {
	font: 1em sans-serif !important;
	padding-top:5px !important;
}
.rf-edt-cnt .rf-edt-tbl tr:hover {
	cursor:pointer;
}
.rf-pp-cntr {
	margin: auto;
	vertical-align: middle;
	position: fixed !important;
	width: 600px !important;
	height: auto !important;
}
/*--------указатели----*/
.qe {
	width: 500px; 
	height: 630px; 
	margin-bottom: -632px;
}
.alld .descriptors .mart5 .col-1 {
	margin-top: 10px;
}
.descriptors {
	position:absolute;
	min-height: 400px;
	width:490px;
}
.descriptors.complex{
    position:relative;
}
.doc_complex .descriptors.complex .rf-tr{
    border:none;
}
.descriptors span {
	z-index:100
}
.descriptors colgroup {
	width:70px;	
}
.descriptors span#form {
	min-hight:600px;
}
.descriptors select {
	margin-top: 0 !important;	
}
.alld {
	width:1000px;
	margin:auto;
}
.alld td {
	width:500px;
}
.descriptors .block-form .col-2 {
	margin-left: 0;
	margin-top: 5px
}
/*----------------*/
.block-form .title {
	display: block;
    overflow: hidden;/*shift right tHeader due to float-block*/
    font-size:10pt;
    font:bold 11pt sans-serif;
    z-index:2;
}
#groups .block-form .title {
	overflow: inherit;
}
.alld .block-form .title{
	width: 170px;
}
.desc_gr .block-form .rf-tb{
    left: 150px;
    top: -42px;
}
.block-form .title .title-bg span {
	padding: 10px;	
	position: relative;
    top: 5px;
}
.alld .block-form .title {
	float: left;
    position: absolute;
}
/*------------*/
.alld .block-form .title-bg, 
table tbody tr td .descriptors span table, 
.as {
	height:30px;
	visibility: visible;
}
table tbody tr td .descriptors span table {
	width: 320px !important;
	border:none !important;
	text-align: right !important;
}
.descriptors .rf-tr {
	height: 500px;
}
tr td:last-child .descriptors .rf-tr {
    width:500px;
    height: auto;
    max-height: 460px;
    min-height: 430px;
    margin-top: -30px;
    padding-bottom: 5px;
    padding-top: 7px;
}
.descriptors .rf-tr, 
.alld table tbody tr td div.descriptors .block-form {
	margin: 0;
}
.alld table tbody tr td div.descriptors .block-form {
	margin-bottom: 30px;
	border-bottom:none;
	width:500px;
}
.descriptors .rf-tr, 
.alld table tbody tr td:first-child div.descriptors .block-form {
	height: 600px;
	overflow: auto;
}
.descriptors .rf-trn {
	font-weight:bold;
}
.descriptors .rf-tr-nd {
	margin-top:3px;
	font-weight:bold;
	max-width: 1000px !important;
	min-width:430px;
	width:auto !important;
}
.descriptors .mart5 {
	font-weight:normal;
	font-size:9pt;
	padding-top: 10px;
	font-weight:600;
}
.descriptors .mart5 input {
	float: left;
	margin-left: 155px;
	margin-right: 5px;
    margin-top: -4px;
}
.descriptors .mart5 select {
	margin-left: 160px;
	float: left;
	margin-right: 10px;
	height:26px;
	padding: 3px;
	font-size: 10pt;
}
.descriptors .mart5 .col-1 {
	margin-left: 10px;
	position: absolute;
}
.descriptors .block-form input {
	height:27px;
	width:80px;
}
.descriptors .block-form .col-2 input {
	background: none;
}
.descriptors .search .block-form .col-2 input {
	width:270px;
	margin-left: 155px;
	margin-right: -15px;
	padding: 0px !important;
	height: 26px !important;	
	font-size: 10pt;
}
.descriptors .search .mart5 {
	padding-top:15px !important;
}
.descriptors .search .block-form .col-2 a {
	width: 40px;
	height: 28px !important;
	display:block !important;
	float: right;
	margin-right: 35px;
	margin-top: -3px;
}
.desc_gr .rf-edt-c-cnt, 
.desc_gr .rf-edt-hdr-c-cnt, 
.desc_gr .rf-edt-ftr-c-cnt, 
.desc_gr .rf-edt-tbl-hdr, 
.desc_gr .rf-edt-tbl-ftr{
	padding:2px 4px !important;
}
/*группа указателей*/
.desc_val input[type="text"]{
	width:450px;
}
.desc_gr .block-form .title {
    position: relative;
    display: block;	
    z-index:1;
    font: bold 1.5em sans-serif;
}
.desc_gr .rf-tb, 
.desc_val .rf-tb, 
.users .rf-tb, 
.user_frm .rf-tb,
.groups_users .rf-tb,
.complex_tree .rf-tb,
.selVal .rf-tb{
    position:relative;  
    height:28px;
}
.desc_val .rf-tb, 
.user_frm .rf-tb,
.groups_users .rf-tb,
.complex_tree .rf-tb,
.selVal .rf-tb{
    width:755px !important;
}
.desc_gr .rf-tb{
	margin-top: 50px;
}
.complex_tree .rf-tb{
	margin-top: 10px;
}
.desc_gr .rf-tb, 
.desc_val .rf-tb{
	float: left;
	margin-left: -170px;
}
.desc_val .rf-tb {
	margin-left:0;
}
.desc_gr .rf-edt, 
.desc_val .rf-edt, 
.selVal .rf-edt, 
.users .rf-edt, 
.user_frm .rf-edt,
.groups_users .rf-edt,
.complex_tree .rf-edt,
.right_groups .rf-edt{
    top: 78px;
    display: block;
    width: 853px;
    height:212px !important;
}
.desc_gr .rf-edt, 
.desc_val .rf-edt, 
.selVal .rf-edt{
	position: absolute;
}
.menu_desc_gr {
	margin: 5px;
	display: block;
    height: 40px !important;
    position: relative;
    top: 0;
    width: 96%;
}
.menu_desc_gr .rf-tb {
    height: 35px;
    margin: 0;
    background: none !important;
    border: none;
    width:100% !important;
}
.desc_gr .block-form, 
#groupFrm .block-form, 
.block-form, 
#userFrm .users .block-form,
.groups_users .block-form{
    font: bold 9pt sans-serif;
    padding-bottom: 3px;
    margin-left: 15px;
}
#groupFrm .block-form .checkb label,
.gr_attributs .block-form .checkb label,
.selVal .block-form .checkb label{
	margin-left: 240px;
	display: block;
}
.checkb label {
	margin-left: 250px !important;
    margin-top: -15px;
}
.desc_gr {
	margin: auto;
	width:99%;
}
.desc_gr .block-form .mart5,
#gr_us_mod .block-form .mart5 {
	margin: 5px 0;
}
.desc_gr .mart5{
	margin: 5px;
}
.desc_gr .block-form .title-bg, 
.desc_val .block-form .title-bg, 
.users .block-form .title-bg, 
.user_frm .block-form .title-bg,
.groups_users .block-form .title-bg,
.complex_tree .block-form .title-bg{
	background: none;
	border-bottom: 2px solid;
	width:98%;
    padding-bottom: 10px;
    font-size: 14pt !important;
}
.desc_gr .block-form .col-2,
.complex_tree .block-form .col-2{
	min-height:18px;
}
/*модальные окна*/
.desc_gr .rf-pp-cnt-scrlr{
	height: auto !important;
	padding-bottom:20px;
	border: 1px solid !important;
 	overflow: hidden;
}
.rf-pp-cnt-scrlr{
	width: 100% !important;
	height: 270px !important;
	border: 1px solid !important;
 	overflow: hidden;
}
.desc_val .rf-pp-cnt-scrlr{
	min-height: 420px !important;
	border: 1px solid !important;
 	overflow: hidden;
}
.desc_val .rf-pp-cntr, 
.desc_val .rf-pp-cnt-scrlr {
	min-height: 220px !important;
	height: auto !important;
}
.desc_gr .rf-pp-shdw, 
.desc_gr .rf-pp-hdr, 
.desc_val .rf-pp-shdw, 
.desc_val .rf-pp-hdr {
 	width: 600px !important;
 	position: absolute;
 	height:auto;
 	border: 1px solid !important;
 	border-bottom: none !important;
} 
.desc_gr .rf-pp-shdw, 
.desc_val .rf-pp-shdw {
	height:270px;
}
.desc_gr .rf-pp-hdr-cntrls, 
.desc_val .rf-pp-hdr-cntrls {
 	margin-left: 560px !important;
 	width: 20px !important;
 	position: relative;
 	text-align: right;
 	padding: 10px;
 	z-index:100;
} 
.desc_gr .rf-pp-hdr, 
.desc_gr .rf-pp-hdr-cnt, 
.desc_val .rf-pp-hdr, 
.desc_val .rf-pp-hdr-cnt,
.sel_desc_val .rf-pp-hdr, 
.sel_desc_val .rf-pp-hdr-cnt,
.sel_gr_desc .rf-pp-hdr, 
.sel_gr_desc .rf-pp-hdr-cnt{
 	border-bottom: 1px solid;
 	margin: auto;
    width: 95%;
    border-left: none;
    border-right: none;
    font-size: 1.1em;
}
.desc_val .rf-pp-cntr .rf-pp-cnt .selVal .rf-edt,
.sel_desc_val .rf-pp-cntr .rf-pp-cnt .selVal .rf-edt{
	margin-top: 30px !important;
}
/***********/
.rf-pp-hdr-cntrls, .rf-pp-hdr-cntrls {
 	position: relative;
 	text-align: right;
 	padding: 10px;
}
.rf-pp-hdr, .rf-pp-hdr-cnt {
 	margin: auto;
    width: 95%;
    border-left: none;
    border-right: none;
 	border-bottom: 1px solid;
    font-size: 1.1em;
}
.rf-pp-cntr, .rf-pp-cnt-scrlr,
#gr_us_mod .rf-pp-cntr, #gr_us_mod .rf-pp-cnt-scrlr {
	height:auto !important;
	min-height: 150px !important;
}
.rf-pp-shdw, 
.rf-pp-hdr {
 	width: 100% !important;
 	position: absolute;
 	height:auto;
 	border: 1px solid !important;
 	border-bottom: none !important;
 } 
/***************/
 #attrFrm .col-2 select, #attrFrm .col-2 input {
 	margin-left:-90px;
 	display:block;
}
.col-2 select, .col-2 input[type="text"] {
 	margin-top:-3px;
 }
.selVal .col-2 select{
	margin-top:0;
} 
 #attrFrm .block-form .checkb label {
 	margin-left: 160px !important;
}
.desc_gr  #attrFrm .col-2 span{
	margin-left: -45px;
}
#attrFrm span .col-2 input[type="submit"] {
	height:21px;
	width:22px;
	border:none;
	cursor: pointer;
	margin-left: 65px;
	position:relative;
}
.mod_ukaz {
	float:left;
}
.mod_ukaz .col-2 {
	margin-left:130px !important;
	width: 200px !important;
}
.bor_bot .desc_d{
	padding:3px
}
.mod_ukaz .desc_d,
.bor_bot .desc_d,
.DescRel .desc_d{
	width: 250px !important;
	position: relative;
	height: auto;
    min-height: 18px;
}
.mod_ukaz .desc_d{
	width: 170px !important;
	position: relative;
}
.mod_ukaz .desc_d input{
	margin-left: -20px !important;
}
.mod_ukaz .desc_d input{
	left: 200px !important;
}
.mod_ukaz .col-2 input {
	height:20px;
	display:block;
	float: left;
}
.mod_ukaz input[type="hidden"] {
	width: 0 !important;	
}
#attrFrm .checkb {
	float:left;
}
/*/////////*/
.sel_gr_desc .rf-pp-cnt-scrlr{
	min-height:100px !important;
	max-height: 500px !important;
}
.sel_gr_desc select,
#gr_us_mod select{
	width:330px;
}
/*--------------значения указателей--------------------*/
.act_val {
	margin-top: -10px;
    padding-bottom: 20px;
	
}
#valueFrm, #userFrm,
.users {
	color:#000;
}
#valueFrm .block-form .mart5 {
  	margin-top: 5px;
}
#valueFrm .rf-tb {
   	position: absolute;
   	width:75.2%;
}
.mart5 .col-2 input[type="submit"], 
 .menu_desc_gr .mart5 .col-2 input[type="submit"]{
	 height:21px;
	 width:21px;
	 border: none;
}
.desc_val .rf-pp-cntr .rf-pp-cnt-scrlr .rf-pp-cnt .col-1 {
	position: relative !important;
}
.desc_val .rf-edt {
	margin-top: 60px;
	margin-bottom: 5px !important;
}
.val_desc {
	padding-bottom: 20px;
	width: 98%;
}
.desc_d input{
	left: 686px !important;
    position: absolute;
}
.desc_d{
    width: 450px !important;
    height: 18px;
    padding: 0px 3px;
    margin: 5px 0;
    display:block;
}
.none_border .desc_d{
	border: none !important;
}
.desc_val .sel_desc_val .desc_d {
	border:none !important;
}
.atr .mult span span,
.val_desc .mult{
    margin-top: 5px;
    width: 456px;
    min-height: 18px;
    display:block;
}
.text_d input[type="text"], 
.act_val .col-2, 
.selVal .fuul_path .col-2,
.user_frm .desc_d .col-2{
    margin-top: 5px;
    padding: 3px 3px 0 2px !important;
    width: 450px;
}
.block-form .act_val .col-1{
	margin-top: 9px;
}
.atr .desc_d span {
	padding-left: 5px;
}
.user_frm .desc_d .col-2 {
	padding: 3px 3px 3px 6px !important;
	height: 15px;
}
.atr input[type="text"]{
	margin-top:10px;
}
.atr input[type="checkbox"]{
	margin-left: 0 !important;
}
.desc_d span {
    width: 450px;
    display: block;
    height: 21px;
}
.text_d span span span{
	padding: 3px 0;
	display: block;
}
.atr .col-2 {
    padding: 0 !important;
}
.desc_val .block-form .title-bg{
    font: bold 1.5em sans-serif;
}
.block-form .act_val .mart5 {
	padding-top: 22px;
}
.desc_val .rf-edt-c-cnt {
	padding-top: 2px !important;
}
.desc_val .rf-edt-cnt{
	width: 761px !important;
}
/*---------выбор значение указателя (МО)----*/
.sel_desc_val .rf-pp-cntr,
.rf-pp-cnt-scrlr{
	height: auto !important;
    border-top: none !important;
}
.selVal {
	font: bold 0.75em sans-serif;
}
/*----выравнивание col-1 и col-2-----*/
.atr .col-1 label{
	display: inline-block;
    max-height: 50px;
    width: 200px;
}
.atr .col-2 span:first-child input{
	margin-top: 3px;
}
.desc_val .selVal .block-form .change_val .col-1{
	margin-top: 3px;
}
.desc_val .selVal .block-form .col-1{
	margin-top: 4px;
}
.desc_val .selVal .fuul_path .col-1{
	margin-top: 8px;
}
.desc_val .selVal .bor_bot .block-form .col-1{
	margin-top: 1px;
}
.user_frm .block-form .col-2 textarea, 
.user_frm .block-form .col-2 input[type="text"], 
.user_frm .block-form .col-2 input[type="password"], 
.user_frm .block-form .col-2 input[type="checkbox"], 
.user_frm .block-form .col-2 select{
	margin-top: -4px;
}
.user_frm .block-form .col-1{
	margin-top: 1px;
}
.user_frm .block-form .col-1{
	margin-top: 0px;
}
/*--------------*/
.selVal .rf-edt {
	position:relative !important;
	top:0 !important;
	width: 560px;
}
.selVal .rf-edt-tbl-hdr, 
.users .rf-edt-tbl-hdr, 
.user_frm .rf-edt-tbl-hdr{
	height: 15px;
	font-size:10pt;
}
.selVal .col-2 input[type="text"]{
	width:425px;
}
.selVal .open_group .col-2 input[type="text"]{
	margin-left: 120px;
}
.selVal .block-form .col-2 {
	width:325px !important;
	height:20px;
}
.selVal .open_group .col-1 label{
	padding: 0 !important;
}
.fuul_path{
	margin-top: 20px;
}
.selVal .fuul_path .col-2 {
	margin-left: 120px;
    width: 425px !important;
    min-height: 20px;
    margin-top: -20px;
}
.selVal .mart5 {
	padding: 10px 0;
}
.selVal .change_val .mart5 div{
	padding: 0px;
}
.bor_bot{
	padding: 5px 0;
}
.act_val .col-2{
	height: 20px;
}
/*----мультиязычные значения-----*/
.selVal .block-form .title-bg {
	width:560px;
}
.change_val {
	padding: 5px 0 0 5px;
}
.change_val .mod_but{
	margin-left: 129px;
	margin-top: 7px;
}
.change_val .mod_but input {
	width: 130px;
}
.change_val .col-2 select {
	padding: 2px;
}
.selVal .change_val .col-2 input[type="text"] {
    width: 285px !important;
    margin-top: -15px;
}
.selVal .change_val .mart5 {
    margin-top: 5px;
}
#mult.selVal .block-form {
	margin: -25px 5px 25px;
}

#mult.selVal .col-1{
    width: 100px;
}
#mult.selVal .block-form .col-2 {
    margin-top: 5px;
}
/*-----сообщение об ошибке------*/
.err_mes {
	color: #00FF00 !important;
    height: 50px;
    width: 500px;
}
#msg{
	display: block;
    font-weight: bold;
    margin: 10px 25px;
    text-align: center    
}
ul,
.red_text{
	font-weight: bold;
    margin: 10px 25px;
    text-align: center;
    padding: 0 10px 10px 10px;
}
.red_text{
	display: block;
}
.search ul{
	float: left;
	margin-left: 145px !important;
}
/*----yesNoPanel----*/
.yes_no .rf-pp-cnt-scrlr, .yes_no .rf-pp-cntr  {
	height:auto !important;
}
.yes_no .rf-pp-cnt-scrlr input{
	margin: 0 -370px 0 380px;
}
.yes_no .rf-pp-cntr,
.yes_no .rf-pp-cnt-scrlr{
	border-top:1px solid !important;
	min-height: 100px !important;
}
/*----users-------*/
.users .block-form .col-2 select {
	width:355px;
}
.user_frm .block-form .col-2 select{
	width:230px;
}
/*-----*/
.account_data {
    display: inline;
    margin: 0 10px 0 -30px;
}
.account_data .col-2{
    width: 450px !important;
    height: 18px;
    margin: 5px 0 5px 220px !important;
    padding: 2px 3px;
}
.checkb .col-2,
.atr .col-2{;
    min-height: 18px;
}
/*sorting*/
.rf-edt-hdr-c-cnt a{
	background-position: right;
}
/*---users gorups--*/
.groups_users .rf-tb{
	margin-top:0 !important;
}
.groups_users .block-form{
	padding-bottom:0px !important;
}
.groups_users .block-form .title-bg{
	margin-top: -10px;
}
.left_groups{
	width:500px;
	margin-top: -155px;
	margin-left: -25px;
}
.right_groups{
	margin-left: -515px;
    margin-top: 70px;
}
.account_data .left_groups{
	width:500px;
	margin-top: -50px;
	margin-left: 0;
}
.account_data .right_groups{
	width: 501px !important;
	margin-left: -50px;
    margin-top: 0px;
}
.account_data .right_groups .rf-edt{
	width: 499px !important;
}
.desc_gr_field{
	margin-left: 500px;
    margin-top: -25px;
}
.desc_gr_field textarea {
    height: 17px;
    margin-left: -70px;
    width: 340px;
}
.account_data .right_groups .rf-tb{
	width:100% !important;
}
.groups_users .rf-edt-c-cnt, .right_groups .rf-edt-c-cnt {
	padding: 3px 7px !important;
}
.left_groups .mod_but {
	margin-left:220px !important;
	margin-right: -505px;
}
.groups_users .rf-edt-cnt{
	width:752px;
}
/*описание документальны комплексов*/
.doc_complex .block-form{
	width: 94.5%;
}
.doc_complex .block-form .title-bg span{
    position: relative;
    top: 5px;
}
.doc_complex .menu_desc_gr .rf-tb{
	margin:0 10px;
}
#addComplex .block-form .col-2{
	width:200px;
}
#addComplex .rf-pp-cnt-scrlr{
	border-top:none !important;
	padding-bottom: 10px;
}
/**фонд**/
fieldset {
	min-width:440px;
	max-width: 720px;
	width:auto;
	margin: 15px 0 !important;
}
fieldset .col-2{
	width: auto !important;
	margin-top: 3px;
}
.block-form fieldset .col-1 {
    float: none;
}
.complex_tree select{
	width: 230px;
}
.sel_desc_val .mart5 .col-2 input,
.DescRel .mart5 .col-2 input{
	left: 267px !important;
}
.doc_complex #srch_compl .rf-tb{
	width:98% !important;
	margin-left:3px;
}
.doc_complex table tbody tr td{
	vertical-align:top;
}
.desc_gr .close h2{
    margin-bottom:0;
}
.doc_complex .desc_gr{
    margin-bottom:10px;
}
.doc_complex .desc_gr .block-form{
    background-color: transparent;
    border: medium none;
    /*min-height: 203px;*/
}
.doc_complex .desc_gr .rf-tb{
	width:500px !important;
	height: 120px !important;
}
.doc_complex .desc_gr .rf-edt{
	height: 89px !important;
	width:498px !important;
}
.doc_complex .desc_gr .rf-edt-b {
    height: 58px !important;
}
.doc_complex .desc_gr .col-2 input[type="text"]{
	width:65px;
}
.doc_complex .desc_gr select{
	width: 230px;
}
.doc_complex .desc_d{
	width: 500px !important;
}
.doc_complex .desc_d input {
    left: 430px !important;
}
.date_doc .col-2{
	margin-left: 195px;
	margin-left: -5px !important;
        font-size:12px;
}
.doc_complex .rf-edt{
	border: 1px solid #DEBF70 !important;
}
.search_res{
    margin-left: 5px;
    position: absolute;
}
.search_res .rf-edt-b{
    height:304px !important;
}
.complex_tree .desc_d{
	width:430px !important;
}
/*для отображения неотображаемых таблиц*/
/*.stupid_table div.rf-edt{
	display:block !important;
}*/
.stupid_table div.rf-edt-cnt{
	display:block !important;
}
/**/
.doc_complex .descriptors{
	min-height:528px;
	max-height:528px;
	width:100%;
	overflow:auto;
}
.doc_complex .descriptors .rf-tr{
	height:527px;
	border:none !important;
}
.doc_complex .rf-tr-nd{
	width: 455px;
}
.big_tree {
	display: inline-block;
    height: 169px;
    overflow: auto;
    width: 570px;
    margin-top: 25px;
    margin-bottom: 10px;
}
/* -------- popupMessage ----------- */
.ins-popupInnerBorder {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 15px;
}
.ins-popupContainer {
	position: fixed;
	display: none;
	z-index: 1000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ins-popupMessage {	
	font-weight: bold;
}
.ins-popupMessage .rf-msgs-wrn {
	font-weight: normal;
}
.ins-popupContainer td{
	text-align:left !important;
}
/*--*/
.sel_desc_val .selVal .rf-edt{
	height: 155px !important;
}
.sel_desc_val .selVal .rf-edt-b{
	height: 120px !important;
}
.t_toolBar td.rf-tb-itm{
    padding-top: 3px !important;
}
.title-bg>span{
    text-shadow:1px 1px 2px #CFB7B3;
}
/*temp*/
.t_toolBar{
    left: 170px !important;
    top: -48px !important;
}
.col-1, .col-2{
	display:inline-block;
	width:200px;
}
.col-2{
	margin-left:20px !important;
}
.col-1 label{
	min-height:18px;
	display: block;
	font: bold 9pt arial;
	color:#000;
}
.col-2 input, .desc_d{
	display:inline-block;
	min-height:18px;
}
.checkb .col-2 input{
	min-height: 0;
}
.block-form .mart5{
/*	display:inline-block;*/
	display:table;
}
.act_zn .block-form .col-2{
	width: 180px !important;
	height: 15px;
}
.complex_tree .block-form .col-2{
	width:600px;
}
.gr_attributs .block-form .col-2,
#gr_us_mod .block-form .col-2{
	width:200px !important;
}
.gr_attributs .checkb label,
.selVal .checkb label,
.complex_tree .checkb label{
	margin-top: 0 !important;
}
.complex_tree .checkb label{
	margin-left: -467px !important;
}
.complex_tree .col-2 input{
	min-height: 10px !important;
}
.gr_attributs .mod_ukaz .desc_d{
	left: -200px;
}
.selVal .open_group .col-1, 
.selVal .open_group .col-2,
.selVal .open_group .col-1 label{
	width:100px !important;
}
.selVal .open_group .col-2 input{
	margin-left: 0px !important;
}
.selVal .col-2{
	width:auto;
}
.selVal .col-1{
	width:100px;
}
.selVal .desc_d{
	margin:0 !important;
}
.users .mart5,
.user_frm .mart5{
	margin-top: 10px;
}
.left_groups .col-1,
.left_groups .col-2{
	display:block;
	margin-top: 0 !important;
	margin-left: 20px;
}
#login_page .mart5,
#login_page .col-1,
#login_page .col-2{
	display: block;
}
#login_page .col-1{
	width:100px !important;
}
fieldset .col-1,
fieldset .col-2{
	width: auto !important;
}
fieldset .col-1 label{
    width:110px;
}
fieldset .col-2 span{
    width:50px;
}
#val.descriptors .block-form .col-2{
	width: 200px;
}
#val.descriptors .block-form .col-2 input{
	margin-bottom: -8px;
}
#val.descriptors .search .block-form .col-2 input{
	margin-left: 100px;
}
#val.descriptors .search .block-form .col-2{
	width: 445px;
}
.search .block-form{
    padding:20px 0;
    margin-bottom:0 !important;
    border-bottom:none !important;
}
/* -------- popupMessage ----------- */
.ins-popupInnerBorder {
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	 border-radius: 4px;
	 padding: 15px;
}
.ins-popupContainer {
	position: fixed;
	display: none;
	z-index: 1000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-height:80px !important;
	width: 320px !important;
}
.ins-popupInnerBorder{
	min-height:50px !important;
}
.ins-popupMessage {    
	font-weight: bold;
	font-size:10pt !important;
	padding:2px;
}
.ins-popupMessage .rf-msgs-wrn {
	font-weight: normal;
}
/*---*/
.t_dates{
    width:367px;
}
.t_dates>.rf-edt,
.t_dates .rf-tb{
    width: 99.5% !important;
}
.t_dates .rf-tb[style="width: 100%;"]{
    width: 100% !important;
}
.t_dates .rf-edt{
	height: 130px !important;
}
.t_dates .rf-edt-b{
	height: 70px !important;
}
.checkBox .col-2{
    width: auto !important;
    margin-left: 10px !important;
}
.checkBox .col-1{
    float: none;
}
.checkBox label{
    color: #000000;
    font: bold 9pt sans-serif;
}
/*----*/
.descriptors .rf-tb-cntr{
	display: block;
    margin-left: 200px;
    margin-top:3px;
}
.descriptors .rf-tb{
    position:relative;
	height:30px;
	width:490px !important;
	border:none;
}
.nav{
	text-align: center;
	margin-top: -30px;
}
.usr_tbl{
	margin-left:15px;
}
.sel_gr_desc .block-form{
	margin-left:5px;
}
.bord_bot{
	border-bottom:1px solid #BC3737;
}
.all_changes .bord_bot{
	margin-top:0 !important;
	margin-bottom:0 !important;
}
.rf-fu-inp{
	cursor:pointer;
}
.alignCntr{
    text-align:center;
}
/*подраздел ссылки в документах*/
.links_style a{
    font-size:12px;
    text-decoration:underline;
    max-width:850px;
}
.links_style .del_cross{
    margin-left:15px;
    padding:0 !important;
}
/*МО Добавление ссылки*/
.add_link .rf-pp-hdr-cnt{
    border-bottom-width:2px;
}
.add_link .block-form{
    margin:0 5px;
}
.add_link .block-form .title-bg{
    font:bold 16px Arial, sans-serif;
    background-image:none !important;
    border:none !important;
    border-bottom:1px solid #B20E0E !important;
}
.add_link .col-1,
.add_link .col-2{
    margin:3px 0;
}
.add_link .col-1{
    width:150px;
}
.add_link .col-2{
    width:300px;
}
.add_link .col-2 input.btn[type="submit"] {
    font-weight: bold;
    margin-left: -170px;
    width: auto;
}
.link-param h2{
    margin-bottom:0;
}
.link-param .close{
    margin-top:5px;
}
.add_link .calendarTable{
    position:fixed !important;
}
.close-open_panel{
    margin-left:15px;
    display:inline-block;
}
