table.width100p.rf-tb{
    width:100% !important;
}
table.width99-2p.rf-tb{
    width:99.2% !important;
}
.block-form .tab_height{
	height: 150px !important;
}
.tab_height .rf-edt-b{
	height: 100px !important;
}
.res_tabel{
	margin-left:15px;
	width: 1000px !important;
    
 }
 /*увеличение строк в таблице (см.#7941)*/
 .h490_table .rf-edt{
     height:490px !important;
 }
 .h490_table .rf-edt .rf-edt-b{
     height:431px !important;
 }
 .appl_doc .rf-edt{
     height:100% !important;
 }
 .appl_doc .rf-edt-b{
     height: 155px !important;
 }
 .appl_doc .rf-edt-c-cnt input{
     width:98%;
 }
 .add_link .rf-edt{
     border-color:#DEBF70;
 }
 .add_link .rf-edt-hdr-c{
     height:40px !important;
     overflow:hidden;
 }
 .appl_doc .rf-edt-ftr,
 .add_link .rf-edt-ftr,
  .desc_gr .rf-edt-ftr,
 .desc_gr .rf-edt-ftr .rf-edt-tbl{
     height:0;
     display:none;
 }
 /*изменение высоты строк таблиц в зависимости от объема текста*/
 .rf-edt-c-cnt span{
     white-space:normal;
 }
 .rf-edt-tbl .rf-edt-c{
     height:auto !important;
 }
 .add_link .rf-pp-cntr td:last-of-type .rf-edt-c-cnt span{
     word-wrap:break-word;
 }
 
.stupid_table.no_space_hor_scrl{
    margin-left:17px;
    display: block;
    position: relative;
    clear:both;
 }
 .desc_gr .rf-edt{
     margin-bottom:0 !important;
 }
 .width100p-table{
     width:100%;
 }
 .rf-tb{
     box-sizing: padding-box;
     -moz-box-sizing: padding-box;
     -webkit-box-sizing: padding-box;
     -o-box-sizing: padding-box;
     -ms-box-sizing: padding-box;
 }
.quantity .rf-edt-tbl td input[type="text"], 
.quantity .rf-edt-tbl td select,
#perfanno .rf-edt-tbl td input[type="text"], 
#perfanno .rf-edt-tbl td select,
#perfanno .rf-edt-tbl td textarea{
    width: 95%;
}
.quantity a.attach {
    background-position: left center !important;
    margin-left: 0 !important;
    width: 24px !important;
    padding:0;
}
.rf-edt.quantity .rf-edt-c-cnt {
    text-align: center;
}
.complex_tree .block-form.width97p .rf-edt{
    height: 199px !important;
}
.complex_tree .block-form .rf-edt,
.close-open_panel .body table.rf-tb{
    margin: 0;
    float:none;
    width:99%!important;
}
.close-open_panel .body table.rf-tb{
    height: 29px !important;
}
.close-open_panel .body .rf-edt {
    top:0;
    position: relative !important;
    width:99%!important;
}
.doc_complex .close-open_panel .body tr td{
    vertical-align:middle;
}
#perfanno .rf-edt-tbl td td:nth-child(1) .rf-edt-hdr-c-cnt,
#perfanno .rf-edt-tbl td td:nth-child(3) .rf-edt-hdr-c-cnt,
#perfanno .rf-edt-tbl td td:nth-child(7) .rf-edt-hdr-c-cnt{
    padding:0 !important;
}
.groups_users div.rf-edt{
    width:754px;
}

.desc_gr .rf-tb,
.users .rf-tb{
    width:854px !important;
}
