/*.descriptors*/ .rf-trn-cnt .rf-trn-ico-exp, 
/*.descriptors*/ .rf-trn-cnt .rf-trn-ico-colps/*, .descriptors .rf-trn-ico-lf */{
	background:url(../resources/images/application_.png);
	width:17px;
	height:17px;
	margin-right:5px;
}
.selVal .rf-trn-ico{
	background:url(../resources/images/book_open_3.png);
	width:22px !important;
	height:21px !important;
}

.rf-trn-ico-lf{
	margin-left: 7px !important;
}
.descriptors .rf-trn-cnt .rf-trn-ico-exp, 
.descriptors .rf-trn-cnt .rf-trn-ico-colps,
.descriptors .rf-trn-cnt img/*, .descriptors .rf-trn-ico-lf */{
	width:17px !important;
	height:17px !important;
	margin-right:5px;
}

/*.descriptors*/ .rf-trn-hnd-colps {
	background:url(../resources/images/triangle.gif) no-repeat !important;
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	margin-left: 7px !important;
	margin-top: -7px !important;
}	
/*.descriptors */.rf-trn-hnd-exp {
	background:url(../resources/images/triangle.gif) no-repeat !important;
	margin:0 3px !important;
}

.rf-tr-nd-lf .rf-trn-lbl {
	/*font-weight: normal !important;*/
	margin-left: 5px;
}
.rf-trn-lbl{
	margin-left: 5px;
}



/*.descriptors .rf-trn-ico-lf {
	background:url(../resources/images/book.png) no-repeat;
	margin-right: 5px;
	margin-left: 10px;
}*/
/*
.rich-tree-node-icon{
	background:url(../resources/images/application_.png);
	width:21px;
	height:21px;
	margin-right:5px;
}

.rich-tree-node-icon-leaf{
	background:url(../resources/images/book.png) no-repeat;
	margin-right: 5px;
	margin-left: 10px;
}*/


/*группа указателей*/
#val .rf-trn-cnt .rf-trn-ico-exp, 
#val .rf-trn-cnt .rf-trn-ico-colps, /*#val */
#val .rf-trn-cnt .rf-trn-ico-lf{
	/*background: url("../resources/images/book_open_3.png") no-repeat !important;*/
	height: 21px !important;
    width: 22px !important;
}
/*документальные комплексы*/

.doc_complex .descriptors .rf-trn-cnt .rf-trn-ico-exp, 
.doc_complex .descriptors .rf-trn-cnt .rf-trn-ico-colps,
.doc_complex .descriptors .rf-trn-cnt .rf-trn-ico-lf,
.doc_complex .descriptors .rf-trn-ico-lf,
.complex_tree .rf-trn-ico-lf,
.complex_tree .rf-trn-cnt .rf-trn-ico-exp{
	background: none !important;
    height: 21px;
    width: 21px;
}
.complex_tree .col-2 span{
	width:17px !important;
}
.complex_tree .rf-trn-sel {
	background:none !important;
	padding:0 !important;
}
.complex_tree .block-form{
	margin: 5px 15px; 
}
.complex_tree .mart5,
#addComplex .mart5{
	margin: 10px;
}
/*#arcive_{} 
.arcive_ .rf-trn-cnt .rf-trn-ico-exp, 
.arcive_ .rf-trn-cnt .rf-trn-ico-colps{
	background: url(../resources/images/arch_tree.png) no-repeat;
}*/

.rf-trn-ico-lf {
	background: url("../resources/images/book.png") no-repeat !important;
	height:21px !important;
	width:21px !important;
}

.descriptors .rf-trn-sel .rf-trn-ico-lf {
	background: url("../resources/images/book_open_3.png") no-repeat !important;
	height:17px;
	width:17px;
}
.descriptors .rf-trn-cnt img,
.descriptors .rf-trn-sel img,
#val .rf-trn-cnt img,
.sel_gr_desc .rf-trn-cnt img{
	background:none !important;
	height:17px !important;
	width:17px !important;
	clip: rect(17px, 17px, 17px, 17px) !important;
}