.page_links{
	width:96%;
	border-bottom:1px solid;
	margin:5px 7px;	
	height: 30px;
}
.page_links a{
	float:left;
	padding:5px 10px;
	font-weight:bold;
	font-size: 11pt;
}
.page_links .selectedItem{
	border-bottom: 3px solid #F6F3EA !important;
	border:1px solid;
	border-radius:10px 10px 0 0;
}
.page_links .nonSelectedItem{
	color:#000;
	border-color:#B20E0E;
	margin-top: 2px;
}
.static_page{
	position:relative;
	top:20px;
	left:30px;
}
.static_page a,
.name_pages{
	padding:5px;
}
.name_pages{
	left: 30px;
    margin-top: -35px;
    position: absolute;
    color:#000;
    font: bold 10pt arial;
}
.static_page .desc_val .rf-edt{
	top:inherit;
	margin-top: 27px;
}
.static_page .desc_val a,
.static_page .users a{
	padding: 0;
}
.static_page .desc_val .rf-edt-c-cnt{
	padding-top: 7px !important;
}
.title_cnt{
	text-align:center;
	font:bold 15pt arial;
	display: block; 
}
.cke_skin_richfaces{
	/*width:98% !important;*/
	margin: 15px 0;
	min-width: 810px !important;
}
.left_content{
	height:480px;
}
.left_content td{
	vertical-align:top;
}
.available_img .title .title-bg{
	display: block;
    width: 300px;
}
.img_content {
	display: table;
	margin: 20px 0;
}
.img_content img{
	border: 1px solid;
}
.img_content img,
.img_content a{
	float:left;
}
.all_img{
	overflow:auto;
	max-height:480px;
}

.rf-fu{
	margin-top: 30px;
	border-color:#DEBF70 !important;
	width:100% !important;
}
.rf-fu-hdr,
.rf-fu-inp{
	background: url("../resources/images/menu_descr.png") repeat-x !important;
}
.rf-fu-itm{
	border-color:#DEBF70 !important;
}
.rf-fu-btn-add, .rf-fu-btn-upl, .rf-fu-btn-clr{
	background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    cursor:pointer !important;
}
.rf-fu-itm-lnk{
	color:#B20E0E !important;
}
.head_pan .rf-pp-cnt-scrlr{
	border:1px solid #B20E0E !important;
}
.cke_skin_richfaces .cke_wrapper{
	background-color: #F8ECCE !important;
	height: 460px;
}
.cke_contents{
	height:350px !important;
}
#newsModal .col-1 label{
	width: 200px;
}
#newsModal .col-2{
	margin-left:50px !important;
}
#newsModal .selVal .mart5 .col-2 input[type="text"]{
	width:400px;
}
.static_page .users .block-form{
	margin-left: 0;
}