<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Справочник" />
		
		<ui:define name="main_body">
		<div class="desc_gr" id="groups">
			<h:form id="groupFrm">
			<div class="menu_desc_gr">
				<rich:toolbar>
					<h:link value="Редактировать" title="Редактировать"
						outcome="/adm/descriptors/descGroup.jsf"
						disabled="#{empty descGroupCard.model.descriptorGroupId 
							or not access.hasAccess('DESC_GROUP_EDIT')}">
						<f:param name="ss" value="#{param.ss}" />
						<f:param name="ord" value="#{param.ord}" />
						<f:param name="groupId" value="#{param.groupId}" />
						<f:param name="mode" value="edit" />
					</h:link>
					<a:commandLink value="Сохранить" title="Сохранить"
						action="#{descGroupCard.saveGroup()}"
						disabled="#{not descGroupCard.editing}">
						<a:param name="mode" value="#{param.mode}" />
					</a:commandLink>
					<h:link value="Обновить" title="Обновить"
						outcome="/adm/descriptors/descGroup.jsf">
						<f:param name="ss" value="#{param.ss}" />
						<f:param name="ord" value="#{param.ord}" />
						<f:param name="groupId" value="#{param.groupId}" />
						<f:param name="mode" value="#{empty param.groupId ? 'add' : null}" />
					</h:link>
					<h:link value="Добавить" title="Добавить"
						outcome="/adm/descriptors/descGroup.jsf"
						disabled="#{not access.hasAccess('DESC_GROUP_ADD')}">
						<f:param name="ss"
							value="#{not empty param.ss ? param.ss : descGroupCard.model.subsystemNumber}" />
						<f:param name="ord"
							value="#{not empty param.ord ? param.ord : descGroupCard.model.sortOrder + 1}" />
						<f:param name="mode" value="add" />
					</h:link>
					<h:link value="Вернуться" title="Вернуться"
						outcome="/adm/descriptors/descriptors.jsf">
						<f:param name="ss" value="#{param.ss}" />
						<f:param name="ord"	value="#{param.ord}" />
						<f:param name="groupId" value="#{param.groupId}" />
					</h:link>
				</rich:toolbar>
				</div>
				<m:panel>
					<h:inputHidden value="#{descGroupCard.model.subsystemNumber}" />
					<a:outputPanel id="ordPanel">
						<h:inputHidden value="#{descGroupCard.model.sortOrder}" />
					</a:outputPanel>
					<h:inputHidden value="#{descGroupCard.model.descriptorGroupId}" />
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Подсистема" />
						</f:facet>
						<m:mode edit="#{param.mode eq 'add'}" value="#{descGroupCard.immModel.subsystemName}">
							<h:selectOneMenu value="#{descGroupCard.model.subsystemNumber}" style="width:300px;" >
								<a:ajax event="change" render="ordPanel" />
								<f:selectItems value="#{systemSelectItem.subsystems}"/> 
							</h:selectOneMenu>
						</m:mode>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Наименование" />
						</f:facet>
						<m:mode edit="#{descGroupCard.editing}"
							value="#{descGroupCard.immModel.groupName}">
							<h:inputText value="#{descGroupCard.model.groupName}"
								maxlength="300" size="80"/>
						</m:mode>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Код" />
						</f:facet>
						<m:mode edit="#{descGroupCard.editing}"
							value="#{descGroupCard.immModel.groupCode}">
							<h:inputText value="#{descGroupCard.model.groupCode}"
								maxlength="30" />
						</m:mode>
					</m:field>
					<div class="checkb">
						<m:field>
							<f:facet name="footer">
								<h:outputLabel value="Системный" />
							</f:facet>
							<h:selectBooleanCheckbox disabled="#{param.mode ne 'add'}"
								value="#{descGroupCard.model.system}" />
							<h:inputHidden rendered="#{param.mode ne 'add'}"
								value="#{descGroupCard.model.system}" />
						</m:field>
						<m:field>
							<f:facet name="footer">
								<h:outputLabel value="Иерархический" />
							</f:facet>
							<h:selectBooleanCheckbox disabled="#{not descGroupCard.editing}"
								value="#{descGroupCard.model.hierarchical}" />
						</m:field>
						<m:field>
							<f:facet name="footer">
								<h:outputLabel value="Сокращённые значения" />
							</f:facet>
							<h:selectBooleanCheckbox disabled="#{not descGroupCard.editing}"
								value="#{descGroupCard.model.shortValueSupported}" />
						</m:field>
						<m:field>
							<f:facet name="footer">
								<h:outputLabel value="Ведение истории переименований" />
							</f:facet>
							<h:selectBooleanCheckbox disabled="#{not descGroupCard.editing}"
								value="#{descGroupCard.model.historySupported}" />
						</m:field>
						<m:field>
							<f:facet name="footer">
								<h:outputLabel value="Сортировка по алфавиту" />
							</f:facet>
							<h:selectBooleanCheckbox disabled="#{not descGroupCard.editing}"
								value="#{descGroupCard.model.alphabeticSort}" />
						</m:field>
					</div>
				</m:panel>
				<m:panel id="attrs">
					<f:facet name="header">Атрибуты</f:facet>
					<a:jsFunction name="renderButtons" render="tbButtons" 
						execute="@form">
						<a:param name="mode" value="#{param.mode}" />
					</a:jsFunction>
					<rich:toolbar id="tbButtons">
						<a:commandLink value="" render="attrFrm:attrData" title="Добавить" 
							onclick="#{rich:component('attrFrm:panel')}.show()"
							disabled="#{empty descGroupCard.model.descriptorGroupId or not descGroupCard.editing}">
							<a:param name="attr_mode" value="add" />
							<a:param name="mode" value="edit" />
							<a:param name="groupId" value="#{descGroupCard.model.descriptorGroupId}" />
						</a:commandLink>
						<a:commandLink value="" render="attrFrm:attrData"
							onclick="#{rich:component('attrFrm:panel')}.show()" title="Редактировать"
							disabled="#{empty descAttrEmbdl.rowIndex or not descGroupCard.editing}">
							<a:param name="attr_mode" value="edit" />
							<a:param name="mode" value="edit" />
							<a:param name="groupId" value="#{descGroupCard.model.descriptorGroupId}" />
						</a:commandLink>
						<a:commandLink value="" action="#{descAttrEmbdl.attrMoveUp()}" title="Вверх" 
							disabled="#{param.attr_mode ne 'move' and (empty descAttrEmbdl.rowIndex or not descGroupCard.editing)}">
							<a:param name="groupId" value="#{descGroupCard.model.descriptorGroupId}" />
							<a:param name="attr_mode" value="move" />
						</a:commandLink>
						<a:commandLink value="" action="#{descAttrEmbdl.attrMoveDown()}" title="Вниз" 
							disabled="#{param.attr_mode ne 'move' and (empty descAttrEmbdl.rowIndex or not descGroupCard.editing)}">
							<a:param name="groupId" value="#{descGroupCard.model.descriptorGroupId}" />
							<a:param name="attr_mode" value="move" />
						</a:commandLink>
					</rich:toolbar>
					<rich:extendedDataTable id="tbAttrs" value="#{descAttrEmbdl.wrappedData}"
						var="row" style="height:150px;" onselectionchange="passIndex()" rowKeyVar="ind">
						<f:facet name="footer">
							<m:indexer id="idxAttrs" datalist="#{descAttrEmbdl}" uiTable="tbAttrs" />
						</f:facet>
						<rich:column width="250px">
							<f:facet name="header">
								<h:outputText value="Наименование" />
							</f:facet>
							<h:outputText value="#{row.attrName}" title="#{row.attrName}" />
						</rich:column>
						<rich:column width="50px">
							<f:facet name="header">
								<h:outputText value="Код" />
							</f:facet>
							<h:outputText value="#{row.attrCode}" title="#{row.attrCode}" />
						</rich:column>
						<rich:column width="171px">
							<f:facet name="header">
								<h:outputText value="Тип данных" />
							</f:facet>
							<h:outputText value="#{row.datatype}" title="#{row.datatype}" />
						</rich:column>
						<rich:column width="110px">
							<f:facet name="header">
								<h:outputText value="Обязательность" />
							</f:facet>
							<h:selectBooleanCheckbox value="#{row.required}" onclick="return false" />
						</rich:column>
						<rich:column width="120px">
							<f:facet name="header">
								<h:outputText value="Множественность" />
							</f:facet>
							<h:selectBooleanCheckbox value="#{row.collection}" onclick="return false" />
						</rich:column>
						<rich:column width="30px">
							<a:commandButton value=" " title="Удалить" render="attrs,yn:ynForm:container"
								action="#{descAttrEmbdl.removeAttr(row.descriptorGroupAttrId)}"
								disabled="#{not descGroupCard.editing}" limitRender="true"
								oncomplete="if (#{yesNoBean.showWarning}) 
									#{rich:component('yn:ynForm:panel')}.show()">
								<a:param name="groupId" value="#{descGroupCard.model.descriptorGroupId}" />
								<a:param name="renderParam" value="groupFrm:attrs:tbAttrs" />
								<a:param name="yesMethod" value="forceRemoveAttr" />
								<a:param name="argument" value="#{row.descriptorGroupAttrId}" />
								<a:param name="selectedAttr" value="#{ind}" />
								<a:param name="mode" value="edit" />
							</a:commandButton>
						</rich:column>
					</rich:extendedDataTable>
					<script type="text/javascript">
						jQuery(document).ready(function() {
							if (#{not empty param.selectedAttr and param.selectedAttr &lt; descAttrEmbdl.rowCount})
								#{rich:component('tbAttrs')}.setSelectedRowOnTop(#{param.selectedAttr});
							renderButtons();
						});
					</script>
				</m:panel>
			</h:form>
			
			<h:form id="attrFrm" styleClass="gr_attributs">
				<rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="150px" height="1" >
					<f:facet name="header">
						<h:outputText value="Атрибут" />
					</f:facet>
					<f:facet name="controls">
						<a:region>
							<div class="ohidden">
								<a:commandLink id="close" value="X"
									onclick="#{rich:component('attrFrm:panel')}.hide()" />		
							</div>
						</a:region>
					</f:facet>
					<a:outputPanel id="attrData">
						<m:panel id="container">
							<h:inputHidden value="#{descAttrCard.model.descriptorGroupAttrId}" />
							<h:inputHidden value="#{descAttrCard.model.descGroupId}" />
							<h:inputHidden value="#{descAttrCard.model.sortOrder}" />
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Наименование" />
								</f:facet>
								<m:mode edit="#{descGroupCard.editing}"
									value="#{descAttrCard.immModel.attrName}">
									<h:inputText value="#{descAttrCard.model.attrName}"
										maxlength="300" size="75" styleClass="width350"/>
								</m:mode>
							</m:field>
							<a:jsFunction name="changeDatatype" render="attrFrm:container"
								action="#{descAttrCard.emptyRefGroup()}" execute="@form">
								<a:param name="attr_mode" value="descr" />
								<a:param name="mode" value="#{param.mode}" />
							</a:jsFunction>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Тип данных" />
								</f:facet>
								<m:mode edit="#{descGroupCard.editing and not descAttrCard.immModel.hasValues}"
									value="#{descAttrCard.immModel.datatype}" size="100">
									<h:selectOneMenu value="#{descAttrCard.model.datatype}"
										onchange="changeDatatype()">
										<f:selectItems value="#{systemSelectItem.datatypes}" />
									</h:selectOneMenu>
								</m:mode>
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Код" />
								</f:facet>
								<m:mode edit="#{descGroupCard.editing}"
									value="#{descAttrCard.immModel.attrCode}" size="21">
									<h:inputText value="#{descAttrCard.model.attrCode}"
										maxlength="30" size="19"/>
								</m:mode>
							</m:field>
						<div class="mod_ukaz">
							<a:outputPanel id="refDescField"
								rendered="#{descGroupCard.editing and descAttrCard.model.datatype eq 'DESCRIPTOR'
									and not descAttrCard.immModel.hasValues}">
						
						
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Справочник" />
									</f:facet>
									<c:selector panelId="groupSelectPanel" value="#{descAttrCard.model.refDescGroupId}" 
										dispValue="#{systemEntity.getDescGroup(descAttrCard.model.refDescGroupId).groupName}"
										render="attrFrm:container:refDescField" selectMethod="selectRefGroup" />
								</m:field>
							
							</a:outputPanel>
							</div>
							<div class="checkb">
							<m:field>
								<f:facet name="footer">
									<h:outputLabel value="Обязательный" />
								</f:facet>
								<h:selectBooleanCheckbox value="#{descAttrCard.model.required}"
									disabled="#{not descGroupCard.editing}" />
							</m:field>
							<m:field>
								<f:facet name="footer">
									<h:outputLabel value="Множественный" />
								</f:facet>
								<h:selectBooleanCheckbox value="#{descAttrCard.model.collection}"
									disabled="#{not descGroupCard.editing}" />
							</m:field>
						</div>
						<div class="mod_but">
							<a:commandButton value="Сохранить" action="#{descAttrCard.saveAttr()}">
								<a:param name="attr_mode" value="descr" />
								<a:param name="mode" value="#{param.mode}" />
							</a:commandButton>
							<a:commandButton value="Выйти" execute="@none"
								onclick="#{rich:component('attrFrm:panel')}.hide()" />
						</div>
						</m:panel>						
					</a:outputPanel>
				</rich:popupPanel>
			</h:form>
			
			<c:descGroupSelectorPanel id="groupSelectPanel" selectBean="#{descAttrCard}">
				<a:param name="attr_mode" value="descr" />
				<a:param name="mode" value="edit" />
			</c:descGroupSelectorPanel>		
			<div class="yes_no">
				<m:yesNoPanel id="yn" yesBean="#{descAttrEmbdl}">
					<a:param name="groupId" value="#{descGroupCard.model.descriptorGroupId}" />
					<a:param name="mode" value="edit" />
				</m:yesNoPanel>
			</div>
			</div>
		</ui:define>
	</ui:composition>
</html>