<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Значение справочника" />
		
		<ui:define name="main_body">
		<div class="desc_val" id="znach_spr">
			<h:form id="valueFrm">
			<div class="menu_desc_gr">
				<rich:toolbar id="mainButtons">
					<h:link value="Редактировать" title="Редактировать"
						outcome="/adm/descriptors/descValue.jsf"
						disabled="#{empty descValueCard.model.descriptorValueId
							or not access.hasAccess('DESC_VALUE_EDIT')}">
						<f:param name="valueId" value="#{param.valueId}" />
						<f:param name="mode" value="edit" />
					</h:link>
					<a:commandLink value="Сохранить" title="Сохранить"
						action="#{descValueCard.saveValue()}"
						disabled="#{not descValueCard.editing}">
						<a:param name="groupId" value="#{param.groupId}" />
						<a:param name="valueId" value="#{param.valueId}" />
						<a:param name="mode" value="#{param.mode}" />
					</a:commandLink>
					<h:link value="Обновить" title="Обновить"
						outcome="/adm/descriptors/descValue.jsf">
						<f:param name="groupId" value="#{param.groupId}" />
						<f:param name="parentId" value="#{param.parentId}" />
						<f:param name="ord" value="#{param.ord}" />
						<f:param name="valueId" value="#{param.valueId}" />
						<f:param name="mode" value="#{empty param.valueId ? 'add' : null}" />
					</h:link>
					<h:link value="Добавить" title="Добавить"
						outcome="/adm/descriptors/descValue.jsf"
						disabled="#{not access.hasAccess('DESC_VALUE_ADD')}">
						<f:param name="groupId" 
							value="#{not empty param.groupId ? param.groupId : descValueCard.model.descriptorGroupId}" />
						<f:param name="parentId"
							value="#{not empty param.parentId ? param.parentId : descValueCard.model.parentValueId}" />
						<f:param name="ord"
							value="#{not empty param.ord ? param.ord : (not empty descValueCard.model.parentValueId ? 
								systemEntity.getImmDescValue(descValueCard.model.parentValueId).childrenCnt + 1 :
								descValueCard.valueGroup.valueCnt + 1)}" />
						<f:param name="mode" value="add" />
					</h:link>
					<h:link value="Вернуться" title="Вернуться"
						outcome="/adm/descriptors/descriptors.jsf">
						<f:param name="groupId" value="#{descValueCard.model.descriptorGroupId}" />
						<f:param name="valueId"
							value="#{not empty param.valueId ? param.valueId : param.parentId}" />
						<f:param name="actual"
							value="#{descValueCard.immModel.actual ? null : 'false'}" />
					</h:link>
				</rich:toolbar>
			</div>
				<m:panel id="main">
					<h:inputHidden value="#{descValueCard.model.descriptorGroupId}" />
					<h:inputHidden value="#{descValueCard.model.descriptorValueId}" />
                                        <ui:param name="valueSelectPanel" 
                                                  value="#{descValueCard.valueGroup.groupCode eq 'UNIV_CLASSIFIER' ? 'univClssSelect' : 'valueSelect'}" />
					<div class="val_desc">
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Справочник" />
							</f:facet>
							<h:outputText value="#{descValueCard.immModel.groupName}" />
						</m:field>
						
							<a:outputPanel id="parentPanel">
								<h:inputHidden value="#{descValueCard.model.sortOrder}" />
								<!--<div class="desc_d">-->
									<a:outputPanel rendered="#{param.mode eq 'valueSelect' or descValueCard.valueGroup.hierarchical}">
										<m:field>
											<f:facet name="header">
												<h:outputLabel value="Вышестоящее значение" />
											</f:facet>
											<c:selector panelId="#{valueSelectPanel}" edit="#{descValueCard.editing}"
												dispValue="#{systemEntity.getImmDescValue(descValueCard.model.parentValueId).fullValue}"
												value="#{descValueCard.model.parentValueId}" render="valueFrm:main:parentPanel"
												selectMethod="selectParent">
												<a:param name="p_groupId" value="#{descValueCard.model.descriptorGroupId}" />
                                                                                                <a:param name="groupId" value="#{descValueCard.model.descriptorGroupId}" />
												<a:param name="mode" value="valueSelect" />
											</c:selector>
										</m:field>
									</a:outputPanel>
								
						</a:outputPanel>
					<!--<div class="desc_d">-->
					
						<m:field id="fullValue">
							<f:facet name="header">
								<h:outputLabel value="Значение" />
							</f:facet>
							<div class="mult">
							<a:outputPanel id="fullValuePanel">
								<m:mode edit="#{descValueCard.editing}"
									value="#{descValueCard.immModel.fullValue}">
									<h:inputText value="#{descValueCard.model.fullValue}"
										maxlength="4000" size="93" />
								</m:mode>
							</a:outputPanel>
							</div>
							<c:descMultilingualButton panelId="multilingual" multiType="TYPE_FULL"
								rootId="#{descValueCard.model.descriptorValueId}"
								render="valueFrm:main:fullValue:fullValuePanel">
								<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
								<a:param name="mode" value="#{param.mode}" />
								<a:param name="edit" value="#{descValueCard.editing}" />
							</c:descMultilingualButton>
						</m:field>
						
						<a:outputPanel rendered="#{descValueCard.valueGroup.shortValueSupported}">
							<m:field id="shortValue">
								<f:facet name="header">
									<h:outputLabel value="Сокращённое значение" />
								</f:facet>
								<div class="mult">
								<a:outputPanel id="shortValuePanel">
									<m:mode edit="#{descValueCard.editing}"
										value="#{descValueCard.immModel.shortValue}">
										<h:inputText value="#{descValueCard.model.shortValue}"
											maxlength="250" size="93" />
									</m:mode>
								</a:outputPanel>
								</div>
								<c:descMultilingualButton panelId="multilingual" multiType="TYPE_SHORT"
									rootId="#{descValueCard.model.descriptorValueId}"
									render="valueFrm:main:shortValue:shortValuePanel">
									<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
									<a:param name="mode" value="#{param.mode}" />
									<a:param name="edit" value="#{descValueCard.editing}" />
								</c:descMultilingualButton>
							</m:field>
						</a:outputPanel>
						<a:outputPanel rendered="#{descValueCard.valueGroup.system}">
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Код" />
								</f:facet>
								<m:mode edit="#{descValueCard.editing}"
									value="#{descValueCard.immModel.valueCode}">
									<h:inputText value="#{descValueCard.model.valueCode}"
										maxlength="4000" class="width100 margin3" />
								</m:mode>
							</m:field>
						</a:outputPanel>
					</div>
				</m:panel>
				
				<m:panel id="attrPanel">
				<div class="atr">
					<a:repeat id="attrLoop" value="#{descValueCard.valueGroup.attrList}" var="attr"
						rowKeyVar="num">
						
						<m:field id="field">
							<f:facet name="header">
								<h:outputLabel value="#{attr.attrName}" />
							</f:facet>
							<a:outputPanel rendered="#{attr.collection and not empty param.valueId}">
								<a:commandButton value=" " title="Добавить" render="valueFrm:attrPanel:attrLoop:#{num}:field"
									disabled="#{not descValueCard.editing}"
									action="#{descValueCard.addAttrValueToCollection(attr.descriptorGroupAttrId)}">
									<a:param name="valueId" value="#{param.valueId}" />
									<a:param name="mode" value="edit" />
								</a:commandButton>
							</a:outputPanel>
							<a:repeat id="attrvalLoop" var="attrValue" 
								value="#{descValueCard.getAttrValuesByAttrId(attr.descriptorGroupAttrId)}">
								<div class='text_d'>
									<a:outputPanel rendered="#{attr.datatypeCode eq 'TEXT'}">
										<m:mode edit="#{descValueCard.editing}"
											value="#{attrValue.attrValue}">
											<h:inputText value="#{attrValue.attrValue}"
												maxlength="4000" size="93" />
										</m:mode>
									</a:outputPanel>
								</div>
								<!--<div class="desc_d">-->
									<a:outputPanel rendered="#{attr.datatypeCode eq 'DESCRIPTOR'}">
										<c:selector panelId="#{valueSelectPanel}" edit="#{descValueCard.editing}"
											dispValue="#{systemEntity.getImmDescValue(attrValue.refDescriptorValueId).fullValue}"
											value="#{attrValue.refDescriptorValueId}" render="valueFrm:attrPanel:attrLoop:#{num}:field"
											selectMethod="selectAttrValue"
											argument="#{empty attrValue.descriptorValueAttrId ? 'attr' : 'val'
												}#{empty attrValue.descriptorValueAttrId ? attr.descriptorGroupAttrId : attrValue.descriptorValueAttrId}">
											
											<a:param name="p_groupId" value="#{attr.refDescriptorGroupId}" />
											<a:param name="groupId" value="#{descValueCard.model.descriptorGroupId}" />
											<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
											<a:param name="mode" value="#{param.mode}" />
										</c:selector>
									</a:outputPanel>
								
								<a:outputPanel rendered="#{attr.datatypeCode eq 'MULTILINGUAL'}" >
								<div class="mult">
									<m:mode edit="#{descValueCard.editing}" value="#{attrValue.attrValue}">
										<h:inputText value="#{attrValue.attrValue}" maxlength="4000" size="93" />
									</m:mode>
								</div>
									<c:descMultilingualButton panelId="multilingual" multiType="TYPE_ATTR"
										rootId="#{attrValue.descriptorValueAttrId}"	render="valueFrm:attrPanel:attrLoop:#{num}:field">
										<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
										<a:param name="mode" value="#{param.mode}" />
										<a:param name="edit" value="#{descValueCard.editing}" />
									</c:descMultilingualButton>
								
								</a:outputPanel>
								
								<div class="checkb">
									<a:outputPanel rendered="#{attr.datatypeCode eq 'BOOLEAN'}">
										<h:selectBooleanCheckbox disabled="#{not descValueCard.editing}"
											value="#{attrValue.attrValue}" />
									</a:outputPanel>
								</div>
								<a:outputPanel rendered="#{attr.collection and not empty param.valueId}">
									<a:commandButton value=" " title="Удалить" render="valueFrm:attrPanel:attrLoop:#{num}:field"
										disabled="#{not descValueCard.editing}"
										action="#{descValueCard.removeAttrValueFromCollection(attr,attrValue)}">
										<a:param name="valueId" value="#{param.valueId}" />
										<a:param name="mode" value="edit" />
									</a:commandButton>
								</a:outputPanel>
							</a:repeat>
						</m:field>
						
					</a:repeat>
					</div>
				</m:panel>
				<a:outputPanel rendered="#{descValueCard.valueGroup.historySupported}">
					<m:panel id="historyPanel">
						<f:facet name="header">История переименований</f:facet>
						<div class="act_val">
						<m:field id="actualValue">
							<f:facet name="header">
								<h:outputLabel value="Актуальное значение" />
							</f:facet>
							<h:outputText value="#{descHistEmbdl.actualValue}" />
						</m:field>
						</div>
						<rich:toolbar id="historyButtons">
							<a:commandLink value=" " title="Добавить"
								disabled="#{not descValueCard.editing or empty descValueCard.model.descriptorValueId
									or not access.hasAccess('DESC_VALUE_HISTORY')}"
								oncomplete="#{rich:component(valueSelectPanel.concat(':form:panel'))}.show()"
								render="#{valueSelectPanel}:form:container">
								<a:param name="renderParam" value="valueFrm:historyPanel" />
								<a:param name="selectMethod" value="selectOldValue" />
								<a:param name="p_groupId" value="#{descValueCard.model.descriptorGroupId}" />
								<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
								<a:param name="mode" value="edit" />
							</a:commandLink>
							<a:commandLink value=" " title="Вверх"
								disabled="#{param.mode ne 'historyWork' and (not descValueCard.editing or empty descHistEmbdl.rowIndex
									or not access.hasAccess('DESC_VALUE_HISTORY'))}"
								render="historyPanel" action="#{descHistEmbdl.moveUp()}">
								<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
								<a:param name="mode" value="historyWork" />
								<a:param name="index" value="#{descHistEmbdl.rowIndex > 0 ? descHistEmbdl.rowIndex - 1 : 0}" />
							</a:commandLink>
							<a:commandLink value=" " title="Вниз"
								disabled="#{param.mode ne 'historyWork' and (not descValueCard.editing or empty descHistEmbdl.rowIndex
									or not access.hasAccess('DESC_VALUE_HISTORY'))}"
								render="historyPanel" action="#{descHistEmbdl.moveDown()}">
								<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
								<a:param name="mode" value="historyWork" />
								<a:param name="index" 
									value="#{descHistEmbdl.rowIndex &lt; descHistEmbdl.rowCount - 1 ? descHistEmbdl.rowIndex + 1 : descHistEmbdl.rowCount - 1}" />
							</a:commandLink>
							<a:commandLink value=" " title="Сделать актуальным"
								disabled="#{param.mode ne 'historyWork' and (not descValueCard.editing or empty descHistEmbdl.rowIndex
									or not access.hasAccess('DESC_VALUE_HISTORY'))}"
								render="actualValue,mainButtons" action="#{descHistEmbdl.setValueActual()}">
								<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
								<a:param name="mode" value="historyWork" />
							</a:commandLink>
						</rich:toolbar>
						<rich:extendedDataTable id="tbHistory" value="#{descHistEmbdl.wrappedData}"
							var="row" style="display:block; height:200px;" onselectionchange="passIndex()">
							<f:facet name="footer">
								<m:indexer id="idxHistory" datalist="#{descHistEmbdl}" uiTable="tbHistory"
									render="historyButtons">
									<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
									<a:param name="mode" value="#{param.mode}" />
								</m:indexer> 
							</f:facet>
							<rich:column width="553px">
								<f:facet name="header">
									<h:outputLabel value="Значение" />
								</f:facet>
								<h:outputText value="#{row.fullValue}" title="#{row.fullValue}" />
							</rich:column>
							<rich:column width="150px">
								<f:facet name="header">
									<h:outputLabel value="Дата переименования" />
								</f:facet>
								<m:mode edit="#{descValueCard.editing and access.hasAccess('DESC_VALUE_HISTORY')}"
									value="#{row.changeDate}">
									<h:inputText value="#{row.changeDate}" maxlength="50" styleClass="width125"/>
								</m:mode>
							</rich:column>
							<rich:column width="50px">
								<a:commandButton value=" " title="Удалить" render="actualValue,tbHistory"
									action="#{descHistEmbdl.removeOldValue(row)}"
									disabled="#{not descValueCard.editing or not access.hasAccess('DESC_VALUE_HISTORY')}">
									<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
									<a:param name="mode" value="edit" />
								</a:commandButton> 
							</rich:column>
						</rich:extendedDataTable>
						<script type="text/javascript">
							if (#{param.mode eq 'valueSelect'})
								#{rich:component('tbHistory')}.last();
							if (#{param.mode eq 'historyWork' and not empty param.index})
								#{rich:component('tbHistory')}.setSelectedRowOnTop(#{param.index});
						</script>
						
					</m:panel>
				</a:outputPanel>
				
			</h:form>
			
			<c:descValueSelectorPanel id="valueSelect" selectBean="#{descValueCard}">
				<a:param name="mode" value="valueSelect" />
				<a:param name="groupId" value="#{descValueCard.model.descriptorGroupId}" />
				<a:param name="parentId" value="#{descValueCard.model.parentValueId}" />
				<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
			</c:descValueSelectorPanel>
			<c:descMultilingualPanel id="multilingual">
				<a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
				<a:param name="mode" value="#{param.mode}" />
			</c:descMultilingualPanel>
                        <c:univClssSelectorPanel id="univClssSelect" selectBean="#{descValueCard}">
                            <a:param name="mode" value="valueSelect" />
                            <a:param name="groupId" value="#{descValueCard.model.descriptorGroupId}" />
                            <a:param name="parentId" value="#{descValueCard.model.parentValueId}" />
                            <a:param name="valueId" value="#{descValueCard.model.descriptorValueId}" />
                        </c:univClssSelectorPanel>
			</div>
		</ui:define>
	</ui:composition>
</html>