<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Справочники и классификаторы" />
	
		<ui:define name="main_body">
			<h:form id="form">
			<div class="alld">
				
				<h:panelGrid columns="2">
					<m:panel id="groupPanel">
						<f:facet name="header">Справочники</f:facet>
						<div class="descriptors">
							<rich:toolbar id="groupIconPanel">
								<h:link value="" title="Добавить"
									outcome="/adm/descriptors/descGroup.jsf?#{groupTree.currentNode.addParamString}" 
									disabled="#{empty groupTree.currentNode or groupTree.currentNode.type eq 'descGroup'
										or not access.hasAccess('DESC_GROUP_ADD')}" />
								<h:link value="" title="Просмотр"
									outcome="/adm/descriptors/descGroup.jsf?#{groupTree.currentNode.editParamString}" 
									disabled="#{empty groupTree.currentNode or groupTree.currentNode.type ne 'descGroup'
										or not access.hasAccess('DESC_GROUP_VIEW')}" />
								<a:commandLink value="" title="Удалить" render="yn:ynForm:container, valuePanel"
									disabled="#{empty param.groupId and (empty groupTree.currentNode or groupTree.currentNode.type ne 'descGroup'
										or not access.hasAccess('DESC_GROUP_DEL'))}" limitRender="true"
									action="#{yesNoBean.setMessage('Вы действительно хотите удалить справочник со всеми его значениями?')}"
									oncomplete="#{rich:component('yn:ynForm:panel')}.show()">
									<a:param name="groupId" value="#{groupTree.currentNode.id}" />
									<a:param name="renderParam" value="form:groupPanel:groupTree" />
									<a:param name="yesMethod" value="removeGroup" />
									<a:param name="argument" value="#{groupTree.currentNode.id}" />
								</a:commandLink>
								<a:commandLink value="" title="Вверх" action="#{groupTree.groupMoveUp()}"
									disabled="#{empty param.groupId and (empty groupTree.currentNode or groupTree.currentNode.type ne 'descGroup')}"
									render="groupTree" oncomplete="Insoft.RichFaces.treeNodeScroll('form:groupPanel:groupTree')">
									<a:param name="groupId" value="#{groupTree.currentNode.id}" />
								</a:commandLink>
								<a:commandLink value="" title="Вниз" action="#{groupTree.groupMoveDown()}"
									disabled="#{empty param.groupId and (empty groupTree.currentNode or groupTree.currentNode.type ne 'descGroup')}"
									render="groupTree" oncomplete="Insoft.RichFaces.treeNodeScroll('form:groupPanel:groupTree')">
									<a:param name="groupId" value="#{groupTree.currentNode.id}" />
								</a:commandLink>
							</rich:toolbar>
							<a:jsFunction name="selectGroupNode" action="#{groupTree.selectNode()}"
								render="groupIconPanel,valuePanel" />
						<rich:tree id="groupTree" switchType="client" binding="#{groupTree.tree}"
							var="item" nodeType="#{item.type}" selectionType="client"
							selection="#{groupTree.selectionKeys}" onselectionchange="selectGroupNode()">
							<rich:treeModelRecursiveAdaptor id="group" roots="#{groupTree.rootNodes}"
								nodes="#{item.getChildren(systemEntity)}" leaf="#{item.leaf}" >
								<rich:treeNode type="userDesc" expanded="#{item.expanded}" 
									iconCollapsed="../../resources/images/book_b.png.jsf.png" 
									iconExpanded="../../resources/images/book_b.png.jsf.png" >
									<h:outputText value="#{item.label}" />
								</rich:treeNode>
								<rich:treeNode type="systemDesc" expanded="#{item.expanded}" 
									iconCollapsed="../../resources/images/sys_desc.png" 
									iconExpanded="../../resources/images/sys_desc.png" >
									<h:outputText value="#{item.label}" />
								</rich:treeNode>
								<rich:treeNode type="subsystem" expanded="#{item.expanded}" 
									iconLeaf="../../resources/images/application_.png" >
									<h:outputText value="#{item.label}" />
								</rich:treeNode>
								<rich:treeNode type="descGroup" ><!-- iconLeaf="../../resources/images/book.png" -->
									<h:outputText value="#{item.label}" />
								</rich:treeNode>
							</rich:treeModelRecursiveAdaptor>
						</rich:tree>	
						</div>
					</m:panel>
					<m:panel id="valuePanel">
						<f:facet name="header">Значения</f:facet>
						<div class="descriptors" id="val">
						<div class="qe"><div class="as"></div></div>
						
						<rich:toolbar id="valueIconPanel" style="width:20px" rendered="#{not empty valueSearchParam.groupId}">
							<a:commandButton value=" " title="Обновить" onclick="refreshPanel()" execute="@none" />
							<h:link value="" title="Добавить"
								outcome="/adm/descriptors/descValue.jsf" 
								disabled="#{not access.hasAccess('DESC_VALUE_ADD')}">
								<f:param name="groupId" value="#{valueSearchParam.groupId}" />
								<f:param name="ord"	value="#{valueTree.valCount + 1}" />
								<f:param name="parentId"
									value="#{valueTree.hierarchical ? valueTree.currentNode.id : null}" />
								<f:param name="mode" value="add" />
							</h:link>
							<h:link value="" title="Просмотр"
								outcome="/adm/descriptors/descValue.jsf"
								disabled="#{empty valueTree.currentNode or not access.hasAccess('DESC_VALUE_VIEW')}">
								<f:param name="valueId" value="#{valueTree.currentNode.id}" />
							</h:link>
							<a:commandLink value="" title="Удалить" render="valueTree,valueIconPanel"
								disabled="#{param.mode ne 'valueDelete' and (empty valueTree.currentNode
									or not access.hasAccess('DESC_VALUE_DEL'))}"
								action="#{valueTree.deleteValue()}" oncomplete="Insoft.RichFaces.treeNodeScroll('form:valuePanel:valueTree')">
								<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
								<a:param name="valueId" 
									value="#{empty valueTree.currentNode.id ? param.valueId : valueTree.currentNode.id}" />
								<a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
								<a:param name="actual" value="#{valueSearchParam.actual}" />
								<a:param name="mode" value="valueDelete" />
							</a:commandLink>
							<a:commandLink value="" title="Вверх" render="valueTree"
								disabled="#{param.mode ne 'valueMove' and (empty valueTree.currentNode or valueSearchParam.group.alphabeticSort)}"
								action="#{valueTree.valueMoveUp()}" oncomplete="Insoft.RichFaces.treeNodeScroll('form:valuePanel:valueTree')">
								<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
								<a:param name="valueId" value="#{valueTree.currentNode.id}" />
								<a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
								<a:param name="actual" value="false" />
								<a:param name="mode" value="valueMove" />
							</a:commandLink>
							<a:commandLink value="" title="Вниз" render="valueTree"
								disabled="#{param.mode ne 'valueMove' and (empty valueTree.currentNode or valueSearchParam.group.alphabeticSort)}"
								action="#{valueTree.valueMoveDown()}" oncomplete="Insoft.RichFaces.treeNodeScroll('form:valuePanel:valueTree')">
								<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
								<a:param name="valueId" value="#{valueTree.currentNode.id}" />
								<a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
								<a:param name="actual" value="false" />
								<a:param name="mode" value="valueMove" />
							</a:commandLink>	
						</rich:toolbar>
						<a:outputPanel rendered="#{not empty valueSearchParam.groupId}">
							<a:region>
								<a:jsFunction name="refreshPanel" render="valuePanel" execute="@region">
									<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
								</a:jsFunction>
								<m:panel>
									<h:inputHidden value="#{valueSearchParam.groupId}" />
									<a:outputPanel rendered="#{valueSearchParam.group.historySupported}">
										<m:field>
											<f:facet name="footer">
												<h:outputText value="Только актуальные значения" />
											</f:facet>
											<h:selectBooleanCheckbox value="#{valueSearchParam.actual}" />
										</m:field>
									</a:outputPanel>
									<a:outputPanel rendered="#{valueSearchParam.group.shortValueSupported}">
										<m:field>
											<f:facet name="header">
												<h:outputText value="Способ отображения" />
											</f:facet>
											<h:selectOneMenu value="#{valueSearchParam.displayedType}">
												<f:selectItems value="#{constant.valueDisplayTypes}" />
											</h:selectOneMenu>
										</m:field>
									</a:outputPanel>
								</m:panel>
							</a:region>
							<a:jsFunction name="selectValueNode" action="#{valueTree.selectNode()}"
								render="valueIconPanel,searchNext,searchMsg">
								<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
								<a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
								<a:param name="actual" value="#{valueSearchParam.actual}" />
								<a:param name="mode" value="selectNode" />
							</a:jsFunction>
							<a:region>
								<rich:tree id="valueTree" switchType="client" binding="#{valueTree.tree}"
									var="item" nodeType="#{item.type}" selectionType="client"
									selection="#{valueTree.selectionKeys}" onselectionchange="selectValueNode()"
									ondblclick="#{rich:component('valueTree')}.__handleSelectionChange(new RichFaces.ui.TreeNodeSet)"
									onbeforeselectionchange="if (event.rf.data.newSelection.length &amp;&amp;
										event.rf.data.newSelection[0].id.id.substr(-4) == 'fake') return false">
									<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
									<a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
									<a:param name="actual" value="#{valueSearchParam.actual}" />
									<rich:treeModelRecursiveAdaptor id="value" roots="#{valueTree.rootNodes}"
										nodes="#{item.getChildren(valueSearchParam)}" leaf="#{item.leaf}" >
										<rich:treeNode type="value" expanded="#{item.expanded}" 
											iconCollapsed="../../resources/images/book_open_3.png" 
											iconExpanded="../../resources/images/book_open_3.png" 
											iconLeaf="../../resources/images/doc_tree.png">
											<h:outputText value="#{item.label}" />
										</rich:treeNode>
										<rich:treeNode id="fake" type="fake">
											<a:commandLink value="Ещё элементы..."
												onclick="fetchMore(event.target.id, #{item.id}); return false" />
										</rich:treeNode>
									</rich:treeModelRecursiveAdaptor>
								</rich:tree>
							</a:region>
							<div class="search">
								<m:panel>
									<m:field>
										<f:facet name="header">
											<h:outputText value="Найти" />
										</f:facet>
										<h:inputText value="#{valueSearchParam.searchString}" />
										<a:outputPanel id="searchNext">
											<a:commandLink value=" " title="Найти" action="#{valueTree.searchNext()}"
												render="valueIconPanel,valueTree,searchNext,searchMsg"
												oncomplete="Insoft.RichFaces.treeNodeScroll('form:valuePanel:valueTree')">
												<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
												<a:param name="lastPath" value="#{valueSearchParam.lastPath}" />
												<a:param name="lastNumber" value="#{valueSearchParam.lastNumber}" />
											</a:commandLink>
										</a:outputPanel>
									</m:field>
									<a:outputPanel id="searchMsg">
										<h:messages />
									</a:outputPanel>
								</m:panel>
							</div>
						</a:outputPanel>				
						</div>
						<a:jsFunction name="fetchMore" action="#{valueTree.clearForNewFetch()}" render="valueTree"
							oncomplete="Insoft.RichFaces.selectNewFetch(
								'form:valuePanel:valueTree','value','#{param.fetchLinkId}',#{param.childrenFetched})">
							<a:param name="fetchLinkId" />
							<a:param name="childrenFetched" />
							<a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
							<a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
							<a:param name="actual" value="#{valueSearchParam.actual}" />
						</a:jsFunction>
					</m:panel>
				</h:panelGrid>
				</div>
				
				<a:jsFunction name="selectGroupTree" action="#{groupTree.selectNodes()}"
					render="groupTree,groupIconPanel,valuePanel"
					oncomplete="Insoft.RichFaces.treeNodeScroll('form:groupPanel:groupTree');
						Insoft.RichFaces.treeNodeScroll('form:valuePanel:valueTree')">
					<a:param name="ss" value="#{param.ss}" />
					<a:param name="ord" value="#{param.ord}" />
					<a:param name="groupId" value="#{param.groupId}" />
					<a:param name="valueId" value="#{param.valueId}" />
					<a:param name="actual" value="#{param.actual}" />
				</a:jsFunction>
				<script type="text/javascript">jQuery(document).ready(function() {
					if (#{not empty param.groupId or not empty param.ord}) selectGroupTree(); });</script>
			</h:form>
			<div class="yes_no">
				<m:yesNoPanel id="yn" yesBean="#{groupTree}" />
			</div>
		</ui:define>
	</ui:composition>
</html>