<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cc="http://java.sun.com/jsf/composite">
        
    <cc:interface>
        <cc:attribute name="filePath" required="true" type="ru.insoft.sovdoc.model.showfile.ImagePath" />
    </cc:interface>
    <cc:implementation>
        <h:outputScript name="jquery.jplayer.min.js" library="js" target="head" />
        <h:outputScript name="audioPlayer.js" library="js" target="head" />
        <a:outputPanel rendered="#{not empty cc.attrs.filePath}">
            <!--<audio controls="true">
                <source src="#{attachedFiles.getFileURL(cc.attrs.filePath)}"
                        type="#{cc.attrs.filePath.descriptorValueId.valueCode}"/>
            </audio>-->
            <div id="#{cc.clientId}:jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="#{cc.clientId}:jp_container_1" class="jp-audio" role="application" aria-label="media player">
                <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                        <div class="jp-controls-holder">
                            <div class="jp-controls">
                                <button class="jp-play" role="button" tabindex="0"></button>
                                <button class="jp-stop" role="button" tabindex="0"></button>
                            </div>
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                </div>
                                <div class="progress-time">
                                    <div class="jp-current-time" role="timer" aria-label="time"> </div>
                                    <div class="jp-duration" role="timer" aria-label="duration"> </div>
                                </div>
                            </div>
                            <!--<div class="jp-toggles">
                                <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                            </div>-->
                            <div class="jp-volume-controls">
                                <!--<button class="jp-mute" role="button" tabindex="0">mute</button>
                                <button class="jp-volume-max" role="button" tabindex="0">max volume</button>-->
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jp-details">
                        <div class="jp-title" aria-label="title"> </div>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                Insoft.audioplayer.initPlayer('#{cc.clientId}', '#{attachedFiles.getFileURL(cc.attrs.filePath)}',
                    '#{cc.attrs.filePath.descriptorValueId.valueCode}');
            </script>
        </a:outputPanel>
    </cc:implementation>
</html>
