<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">
	<body>
		<cc:interface />
		<cc:implementation>
			<h:form id="form">
				<rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="100px">
				<div class="selVal" id="mult">
					<f:facet name="header">
						<h:outputLabel value="Мультиязычное значение" />
					</f:facet>
					<f:facet name="controls">
						<a:outputPanel id="exitPanel">
							<a:commandLink id="close" value="X" execute="@none"
								onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()"
								render="#{param.renderParam}">
								<a:param name="renderParam" value="#{param.renderParam}" />
								<cc:insertChildren />
							</a:commandLink>
						</a:outputPanel>	
					</f:facet>
					<a:outputPanel id="container">
						<a:outputPanel id="msg">
							<h:messages />
						</a:outputPanel>
						<a:jsFunction name="selectLanguage" render="langLabel" execute="@form"
							action="#{multiAdaptor.setValue(null)}">
							<a:param name="multiType" value="#{param.multiType}" />
							<a:param name="edit" value="#{param.edit}" />
						</a:jsFunction>
						<a:jsFunction name="setCurrentValue" render="currentValue"
							action="#{multiAdaptor.setCurrentValue()}" execute="@form">
							<a:param name="multiType" value="#{param.multiType}" />
							<a:param name="rootId" value="#{param.rootId}" />
							<a:param name="edit" value="#{param.edit}" />
						</a:jsFunction>
						<m:panel id="tablePanel">
							<rich:extendedDataTable id="tbMulti" value="#{multiAdaptor.datalist.wrappedData}"
								var="row" style="display:block; height:200px;" 
								onselectionchange="passIndexML();setCurrentValue();">
								<f:facet name="header">
									<m:indexer id="ind" datalist="#{multiAdaptor.datalist}" uiTable="tbMulti"
										fnName="passIndexML">
										<a:param name="multiType" value="#{param.multiType}" />
									</m:indexer>
								</f:facet>
								<rich:column width="400px">
									<f:facet name="header">
										<h:outputLabel value="Значение" />
									</f:facet>
									<h:outputText value="#{row.value}" />
								</rich:column>
								<rich:column width="105px">
									<f:facet name="header">
										<h:outputLabel value="Язык" />
									</f:facet>
									<h:outputText value="#{row.languageName}" />
								</rich:column>
								<rich:column width="35px">
									<a:commandButton value=" " title="Удалить" render="tablePanel,msg"
										action="#{multiAdaptor.removeValue(row.languageCode)}"
										disabled="#{not param.edit}">
										<a:param name="multiType" value="#{param.multiType}" />
										<a:param name="rootId" value="#{param.rootId}" />
										<a:param name="edit" value="#{param.edit}" />
									</a:commandButton>
								</rich:column>
							</rich:extendedDataTable> 
						</m:panel>
						
						<m:panel id="currentValue">
							<f:facet name="header">Изменение значения</f:facet>
							<div class="change_val">
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Язык" /> 
									</f:facet>
									<m:mode edit="#{param.edit}" 
										value="#{systemEntity.getLanguage(multiAdaptor.language).languageName}">
										<h:selectOneMenu value="#{multiAdaptor.language}"
											onchange="selectLanguage()">
											<f:selectItems value="#{systemSelectItem.languages}" />
										</h:selectOneMenu>
									</m:mode>
								</m:field>
								<m:field id="langLabel">
									<f:facet name="header">
										<h:outputLabel value="Значение" />
									</f:facet>
									<m:mode edit="#{param.edit}" value="#{multiAdaptor.value}">
										<h:inputText value="#{multiAdaptor.value}" maxlength="4000" />
									</m:mode>
									<!--<h:outputLabel value="#{multiAdaptor.language}" />-->
									<h:graphicImage value="../../resources/images/#{multiAdaptor.language}.png"/>
									
								</m:field>
								<div class="mod_but">
									<a:commandButton value="Сохранить изменения" title="Сохранить"
										action="#{multiAdaptor.saveValue()}" render="tablePanel,msg"
										oncomplete="#{rich:component('tbMulti')}.setSelectedRowOnTop(#{multiAdaptor.modifValueIndex})" 
										disabled="#{not param.edit}">
										<a:param name="multiType" value="#{param.multiType}" />
										<a:param name="rootId" value="#{param.rootId}" />
										<a:param name="edit" value="#{param.edit}" />
									</a:commandButton>
								</div>
							</div>
						</m:panel>
						<script type="text/javascript">
							jQuery(document).ready(function() {
								if (#{not empty param.multiType})
								{
									passIndexML(); 
									setCurrentValue();
								}
							});
						</script>
					</a:outputPanel>
					</div>
				</rich:popupPanel>
			</h:form>
		</cc:implementation>
	</body>
</html>