<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">

  <body>

    <cc:interface>
      <cc:attribute name="selectBean" type="java.lang.Object" />
    </cc:interface>

    <cc:implementation>
      <h:form id="form" styleClass="add_link">
        <rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="30px">

          <f:facet name="header">Добавление ссылки</f:facet>
          <f:facet name="controls">
            <a:commandLink id="close" value="X" execute="@none"
                           onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />		
          </f:facet>

           <input type="hidden" id="cardLinkDescLevel" name="cardLinkDescLevel" value="#{param.descLevelForCarldLink}" />
          <m:panel id="params">
            <a:region>
              <div class="menu_desc_gr width97p" id="srch_compl">
                <rich:toolbar>
                  <a:commandLink value="Поиск" title="Поиск" render="tbComplex,showResult" 
                                 action="#{complexDLForCardLinks.search()}" >
                  </a:commandLink>
                  <a:commandLink value="Очистить параметры" title="Очистить параметры"
                                 render="params,tbComplex,showResult" execute="@none" > 
                  </a:commandLink>
                </rich:toolbar>
              </div>
              <div class="link-param">
                <m:panel>
                  <f:facet name="header">Параметры поиска</f:facet>

                  <m:field>
                    <f:facet name="header">
                      <h:outputLabel value="Уровень описания" />
                    </f:facet>
                    <h:selectOneMenu value="#{complexSearchForCardLinks.criteria.descriptionLevelId}" styleClass="width200">
                      <f:selectItems value="#{cc.attrs.selectBean.getDescLevelsForCardLink()}" />
                    </h:selectOneMenu>
                  </m:field>
                  <m:field>
                    <f:facet name="header">
                      <h:outputLabel value="Название/Заголовок" />
                    </f:facet>
                    <h:inputText value="#{complexSearchForCardLinks.criteria.unitName}" styleClass="width368" />
                  </m:field>
                  <m:field styleClass="date_doc">
                    <f:facet name="header">
                      <h:outputLabel value="Даты документов" />
                    </f:facet>
                    <h:outputLabel value="с" />
                    <m:date value="#{complexSearchForCardLinks.criteria.beginDate}" fieldName="Начальная дата" 
                            defaultDate="01/01/1940" />
                    <h:outputLabel value="по" />
                    <m:date value="#{complexSearchForCardLinks.criteria.endDate}" fieldName="Конечная дата" 
                            defaultDate="01/01/1940" />
                  </m:field>
                  <m:panelLight id="archNo" open="false">
                    <f:facet name="header">Архивный шифр</f:facet>
                    <m:field id="archiveField">
                      <f:facet name="header">
                        <h:outputLabel value="Архив" />
                      </f:facet>
                      <h:selectOneMenu value="#{complexSearchForCardLinks.criteria.archiveId}" styleClass="width368">
                        <f:selectItems value="#{systemSelectItem.archives}" />
                      </h:selectOneMenu>
                    </m:field>
                    <m:field>
                      <f:facet name="header">
                        <h:outputLabel value="Фонд" />
                      </f:facet>
                      <h:outputLabel value="Префикс" />
                      <h:inputText value="#{complexSearchForCardLinks.criteria.fundPrefix}" styleClass="width30" />
                      <m:numericInput value="#{complexSearchForCardLinks.criteria.fundNum}"
                                      fieldName="Номер фонда" maxlength="8" styleClass="width65" />
                      <h:outputLabel value="Литера" />
                      <h:inputText value="#{complexSearchForCardLinks.criteria.fundLetter}" styleClass="width30" />
                    </m:field>
                    <m:field>
                      <f:facet name="header">
                        <h:outputLabel value="Опись" />
                      </f:facet>
                      <m:numericInput value="#{complexSearchForCardLinks.criteria.seriesNum}"
                                      fieldName="Номер описи" maxlength="8" styleClass="width65" />
                      <h:outputLabel value="Литера" />
                      <h:inputText value="#{complexSearchForCardLinks.criteria.seriesLetter}" styleClass="width30" />
                    </m:field>
                    <m:field>
                      <f:facet name="header">
                        <h:outputLabel value="Дело" styleClass="width65" />
                      </f:facet>
                      <m:numericInput value="#{complexSearchForCardLinks.criteria.unitNum}"
                                      fieldName="Номер дела" maxlength="8" styleClass="width65" />
                      <h:outputLabel value="Литера" />
                      <h:inputText value="#{complexSearchForCardLinks.criteria.unitLetter}" styleClass="width30" />
                    </m:field>
                  </m:panelLight>

                </m:panel>
              </div>
            </a:region>
          </m:panel>



          <a:outputPanel id="showResult">
            <a:param name="unitId" value="#{param.unitId}" />
            <h:inputHidden value="#{complexDLForCardLinks.showResult}" />
          </a:outputPanel>
          <a:jsFunction name="addCardLink" action="#{cc.attrs.selectBean.addCardLink()}"

                        render="form:cardLink, form:cardLinks">
            <a:param name="row_id" > </a:param>
            <a:param name="row_archNumber"  > </a:param>
            <a:param name="row_unitName"  > </a:param>
            <a:param name="row_unitTypeCode"  > </a:param>
          </a:jsFunction>

          <rich:extendedDataTable id="tbComplex" value="#{complexDLForCardLinks.wrappedData}" var="row" rowKeyVar="ind" 
                                  style="#{complexDLForCardLinks.showResult ? 'display:block;' : 'display:none;'}" onrowdblclick="addCardLink(#{row.univDataUnitId}, '#{row.archNumber}', '#{row.unitName}' , '#{row.unitTypeCode}')">

            <f:facet  name="header">
              <h:outputText value="В результате найдено: #{complexDLForCardLinks.rowCount}" />
              <m:paginator id="pg" datalist="#{complexDLForCardLinks}" pageSize="250" uiTable="tbComplex"
                           paginatorBean="#{nav}" >        
              </m:paginator>   
              <m:sortingRememberer sortingCriteria="#{complexDLForCardLinks.sortingCriteria}" />
              <ui:param name="firstRec" value="#{(nav.pageNum - 1)*nav.pageSize + 1}" />
            </f:facet>
            <rich:column width="40px" >
              <h:link value=" " title="Карточка" target="_blank" 
                      outcome="#{addComplex.getPageName(row.unitTypeCode)}">
                <f:param name="unitId" value="#{row.univDataUnitId}" />
              </h:link>
            </rich:column>
            <rich:column width="35px">
              <f:facet name="header">
                <h:outputLabel value="№ п/п" />
              </f:facet>
              <h:outputText value="#{ind + firstRec}" />
            </rich:column>

            <rich:column headerClass="#{complexDLForCardLinks.sortingCriteria.sortingMap['archiveNameShort']}"
                         width="65px">
              <f:facet name="header">
                <m:sortingHeader dataList="#{complexDLForCardLinks}" tableId="tbComplex"
                                 columnTitle="Архив" columnName="archiveNameShort" />
              </f:facet>
              <h:outputText value="#{row.archiveNameShort}" title="#{row.archiveNameShort}" />
            </rich:column>
            <rich:column headerClass="#{complexDLForCardLinks.sortingCriteria.sortingMap['archNumberCode']}"
                         width="90px">
              <f:facet name="header">
                <m:sortingHeader dataList="#{complexDLForCardLinks}" tableId="tbComplex"
                                 columnTitle="Архивный шифр" columnName="archNumberCode" />
              </f:facet>
              <h:outputText value="#{row.archNumber}" title="#{row.archNumber}" />
            </rich:column>
            <rich:column headerClass="#{complexDLForCardLinks.sortingCriteria.sortingMap['unitName']}"
                         width="247px">
              <f:facet name="header">
                <m:sortingHeader dataList="#{complexDLForCardLinks}" tableId="tbComplex"
                                 columnTitle="Наименование" columnName="unitName" />
              </f:facet>
              <h:outputText value="#{row.unitName}" title="#{row.unitName}" />
            </rich:column>
            <rich:column width="80px">
              <f:facet name="header">
                <h:outputLabel value="Даты материалов" />
              </f:facet>
              <h:outputText value="#{row.dateIntervals}" title="#{row.dateIntervals}" />
            </rich:column>
          </rich:extendedDataTable>


        </rich:popupPanel>
      </h:form>

    </cc:implementation>

  </body>
</html>