<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">
  <body>
    <cc:interface>
      <cc:attribute name="selectBean" type="java.lang.Object" />
    </cc:interface>
    <cc:implementation>
      <div class="sel_desc_val">
        <h:form id="form">
          <rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="30px">
            <div class="selVal">
              <f:facet name="header">
                <h:outputLabel value="Выбор значения справочника  " />
              </f:facet>
              <f:facet name="controls">
                <a:commandLink id="close" value="X" execute="@none"
                               onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />		
              </f:facet>
              <a:outputPanel id="container">
                <div class="bor_bot">
                  <m:panel id="groupTitle">
                    <m:field>
                      <f:facet name="header">
                        <h:outputLabel value="Справочник" />
                      </f:facet>
                      <a:region>
                        <m:mode edit="#{empty param.p_groupId}" value="#{valueSearchParam.group.groupName}">
                          <h:selectOneMenu value="#{valueSearchParam.groupId}" onchange="populateGroup()"
                                           styleClass="width250" >
                            <f:selectItems value="#{systemSelectItem.userDescGroups}" />
                          </h:selectOneMenu>
                        </m:mode>
                        <a:jsFunction name="populateGroup" render="valueSelectPanel"
                                      execute="@region" action="#{valueSearchParam.selectGroup()}">
                            <a:param name="treeClientId" value="#{cc.clientId}:form:params:valueTree" />
                        </a:jsFunction>
                      </a:region>
                    </m:field>
                  </m:panel>
                </div>
                <a:outputPanel id="valueSelectPanel">
                  <m:panel id="params" styleClass="param">
                    <a:outputPanel rendered="#{not empty valueSearchParam.group}">
                      <a:region>
                        <a:outputPanel rendered="#{valueSearchParam.group.historySupported}">
                          <div class="checkb" id="chkb_mod">
                            <m:field>
                              <f:facet name="footer">
                                <h:outputLabel value="Только актуальные значения" />
                              </f:facet>
                              <h:selectBooleanCheckbox value="#{valueSearchParam.actual}" />
                            </m:field>
                          </div>
                        </a:outputPanel>
                        <a:outputPanel rendered="#{valueSearchParam.group.shortValueSupported}">
                          <m:field>
                            <f:facet name="header">
                              <h:outputLabel value="Способ отображения" />
                            </f:facet>
                            <h:selectOneMenu value="#{valueSearchParam.displayedType}">
                              <f:selectItems value="#{constant.valueDisplayTypes}" />
                            </h:selectOneMenu>
                          </m:field>
                        </a:outputPanel>
                        <m:field styleClass="disp_in-bl">
                          <f:facet name="header">
                            <h:outputLabel value="Поиск значения" />
                          </f:facet>
                          <h:inputText value="#{valueSearchParam.searchString}" styleClass="width345"/>
                        </m:field>
                        <a:outputPanel id="showResult" >
                          <h:inputHidden value="#{descValueSelectDL.showResult}" />
                        </a:outputPanel>
                        <div class="mod_but">
                          <a:commandButton value="Поиск" title="Поиск" action="#{descValueSelectDL.search()}" render="descData,showResult">
                            <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                            <a:param name="activeUi" value="table" />
                          </a:commandButton>
                        </div>
                          <a:jsFunction name="refreshTree" render="descData" execute="@region"
                                        action="#{descValueSelectDL.setShowResult(false)}">
                              <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                              <a:param name="treeClientId" value="#{cc.clientId}:form:params:valueTree" />
                          </a:jsFunction>
                      </a:region>
                      <a:outputPanel id="descData">
                        <a:outputPanel rendered="#{param.activeUi ne 'table' and not descValueSelectDL.showResult}">
                          <div class="big_tree">
                            <a:jsFunction name="selectValueNode" action="#{valueTree.selectNode()}"
                                          render="iconPanel,selectedId">
                              <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                              <a:param name="mode" value="selectNode" />
                              <a:param name="treeClientId" value="#{cc.clientId}:form:params:valueTree" />
                            </a:jsFunction>
                            <rich:tree id="valueTree" var="item" nodeType="#{item.type}" selectionType="client"
                                       selection="#{valueTree.selectionKeys}" onselectionchange="selectValueNode()"
                                       onbeforeselectionchange="if (event.rf.data.newSelection.length &amp;&amp;
                                       event.rf.data.newSelection[0].id.id.substr(-4) == 'fake') return false">
                              <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                              <a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
                              <a:param name="actual" value="#{valueSearchParam.actual}" />
                              <a:param name="treeClientId" value="#{cc.clientId}:form:params:valueTree" />
                              <rich:treeModelRecursiveAdaptor id="value" roots="#{valueTree.rootNodes}"
                                                              nodes="#{item.getChildren(valueSearchParam)}" leaf="#{item.leaf}">
                                <rich:treeNode type="value" expanded="#{item.expanded}"> 
                                  <!--iconLeaf="../../resources/images/book.png"> 
                                   iconCollapsed="../../resources/images/application_.png" 
                                  iconExpanded="../../resources/images/application_.png"-->

                                  <h:outputText value="#{item.label}" />
                                </rich:treeNode>
                                <rich:treeNode id="fake" type="fake">
                                  <a:commandLink value="Ещё элементы..."
                                                 onclick="fetchMore(event.target.id, #{item.id});
                                                     return false" />
                                </rich:treeNode>
                              </rich:treeModelRecursiveAdaptor>
                            </rich:tree>
                          </div>
                          <a:jsFunction name="fetchMore" action="#{valueTree.clearForNewFetch}" render="valueTree"
                                        oncomplete="Insoft.RichFaces.selectNewFetch(
                                        '#{cc.clientId}'+'form:params:valueTree','value','#{param.fetchLinkId}',#{param.childrenFetched})">
                            <a:param name="fetchLinkId" />
                            <a:param name="childrenFetched" />
                            <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                            <a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
                            <a:param name="actual" value="#{valueSearchParam.actual}" />
                            <a:param name="treeClientId" value="#{cc.clientId}:form:params:valueTree" />
                          </a:jsFunction>
                        </a:outputPanel>
                        <rich:extendedDataTable id="tbValues" value="#{descValueSelectDL.model}"
                                                var="row" rendered="#{descValueSelectDL.showResult or param.activeUi eq 'table'}"
                                                onselectionchange="passIndexSV()" styleClass="stupid_table">
                          <f:facet name="header">
                            <h:outputText value="В результате найдено: #{descValueSelectDL.rowCount}" />		
                            <m:paginator id="pg" datalist="#{descValueSelectDL}" pageSize="250"
                                         uiTable="descData" paginatorBean="#{nav}">
                              <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                              <a:param name="activeUi" value="table" />
                            </m:paginator>
                            <m:indexer id="ind" datalist="#{descValueSelectDL}"
                                       uiTable="tbValues" paginator="#{nav}" render="selectedId"
                                       fnName="passIndexSV">
                              <a:param name="displayType" value="#{valueSearchParam.displayedType.id}" />
                              <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                              <a:param name="activeUi" value="table" />
                            </m:indexer>
                          </f:facet>
                          <rich:column width="560px">
                            <h:outputText title="#{row.fullValue}" 
                                          value="#{valueSearchParam.displayedType.id eq 'SHORT' ? row.shortValue : row.fullValue}" />
                          </rich:column>
                        </rich:extendedDataTable>
                      </a:outputPanel>
                      <div class="mod_but" id="left_but">
                        <a:commandButton value="Обновить список" title="Обновить список" 
                                         onclick="refreshTree(); return false" />
                        <h:link value="Добавить новое" title="Добавить новое"
                                outcome="/adm/descriptors/descValue.jsf" target="_blank">
                          <f:param name="groupId" value="#{valueSearchParam.groupId}" />
                          <f:param name="ord" value="#{valueSearchParam.group.valueCnt + 1}" />
                          <f:param name="mode" value="add" />
                        </h:link>
                      </div>
                    </a:outputPanel>
                  </m:panel>
                </a:outputPanel>

                <a:region>
                    <a:outputPanel id="selectedId">
                      <h:inputHidden value="#{descValueSelectDL.rowId}" />
                      <m:field>
                        <f:facet name="header">
                          <h:outputLabel value="Выбрано:" styleClass="margin_l15"/>
                        </f:facet>
                        <a:outputPanel rendered="#{valueSearchParam.displayedType.id eq 'SHORT'}">
                          <h:outputText value="#{systemEntity.getValuePath(descValueSelectDL.rowId).shortPath}" />
                        </a:outputPanel>
                        <a:outputPanel rendered="#{valueSearchParam.displayedType.id eq 'FULL'}">
                          <h:outputText value="#{systemEntity.getValuePath(descValueSelectDL.rowId).fullPath}" />
                        </a:outputPanel>
                      </m:field>
                    </a:outputPanel>
                    <div class="mod_but">
                      <a:commandButton value="Выбрать" title="Выбрать" 
                                       render="form:descPanel, form:fieldPanel"
                                       action="#{cc.attrs.selectBean[param.selectMethod]}">
                        <a:ajax event="click" render="#{param.renderParam}"
                                oncomplete="#{param.function};
                                if (#{descValueSelectDL.valueSelected})
                                #{rich:component(cc.clientId.concat(':form:panel'))}.hide();" />
                        <a:param name="selectMethod" value="#{param.selectMethod}" />
                        <a:param name="renderParam" value="#{param.renderParam}" />
                        <a:param name="function" value="#{param.function}" />
                        <a:param name="argument" value="#{param.argument}" />
                        <cc:insertChildren />
                      </a:commandButton>
                      <a:commandButton value="Выйти" title="Выйти" execute="@none"
                                       onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />
                    </div>
                </a:region>
              </a:outputPanel>
            </div>
          </rich:popupPanel>
        </h:form>
      </div>
      <ui:remove>
        <c:descGroupSelectorPanel id="groupSelectPanel"	selectBean="#{valueSearchParam}" />
      </ui:remove>
    </cc:implementation>
  </body>
</html>