<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">
	<body>
		<cc:interface>
			<cc:attribute name="selectBean" type="java.lang.Object" />
		</cc:interface>
		<cc:implementation>
			<h:form id="form">
				<div class="sel_gr_desc">
					<rich:popupPanel id="panel" domElementAttachment="parent" left="364px" top="93px">
						<f:facet name="header">
							<h:outputLabel value="Выбор группы указателей" />
						</f:facet>
						<f:facet name="controls">
							<a:commandLink id="close" value="X" execute="@none"
								onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />
						</f:facet>
						<m:panel id="container">	
						<div class="big_tree">
							<a:jsFunction name="selectGroupNode" action="#{groupTree.selectNode()}"
								render="idPanel" />						
							<rich:tree id="groupTree" binding="#{groupTree.tree}" 
								var="item" nodeType="#{item.type}" selectionType="client"
								selection="#{groupTree.selectionKeys}" onselectionchange="selectGroupNode()">
								<rich:treeModelRecursiveAdaptor id="group" roots="#{groupTree.rootNodes}"
									nodes="#{item.getChildren(systemEntity)}" leaf="#{item.leaf}">
									<rich:treeNode type="userDesc" expanded="#{item.expanded}" 
										iconCollapsed="../../resources/images/book_b.png.jsf.png" 
										iconExpanded="../../resources/images/book_b.png.jsf.png" >
										<h:outputText value="#{item.label}" />
									</rich:treeNode>
									<rich:treeNode type="systemDesc" expanded="#{item.expanded}" 
										iconCollapsed="../../resources/images/sys_desc.png" 
										iconExpanded="../../resources/images/sys_desc.png" >
										<h:outputText value="#{item.label}" />
									</rich:treeNode>
									<rich:treeNode type="subsystem" expanded="#{item.expanded}" 
										iconLeaf="../../resources/images/application_.png" >
										<h:outputText value="#{item.label}" />
									</rich:treeNode>
									<rich:treeNode type="descGroup" 
										iconLeaf="../../resources/images/book.png">
										<h:outputText value="#{item.label}" />
									</rich:treeNode>
								</rich:treeModelRecursiveAdaptor>
							</rich:tree>
							</div>
							<a:outputPanel id="idPanel">
								<h:inputHidden value="#{valueSearchParam.groupId}" />
							</a:outputPanel>
							
							<div class="mod_but">
								<a:commandButton value="Выбрать" render="#{param.renderParam}"
									oncomplete="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()"
									action="#{cc.attrs.selectBean[param.selectMethod]}">
									<a:param name="selectMethod" value="#{param.selectMethod}" />
									<a:param name="renderParam" value="#{param.renderParam}" />		
									<cc:insertChildren />
								</a:commandButton>
								<a:commandButton value="Выйти"
									onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />
							</div>
						</m:panel>
					</rich:popupPanel>
				</div>
			</h:form>
		</cc:implementation>
	</body>
</html>