<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
	<body>
		<cc:interface>
			<cc:attribute name="panelId" required="true" />
			<cc:attribute name="multiType" required="true" />
			<cc:attribute name="rootId" required="true" />
			<cc:attribute name="edit" type="boolean" default="true" />
			<cc:attribute name="render" />
		</cc:interface>
		<cc:implementation>
		
			<a:outputPanel rendered="#{empty cc.attrs.rootId or not cc.attrs.edit}">
				<!--<h:outputText value="#{systemEntity.getSystemParameterValue('LANGUAGE')}" />-->
				<!--<h:graphicImage value="../../resources/images/#{systemEntity.getSystemParameterValue('LANGUAGE')}.png"/>-->
			</a:outputPanel>
			<a:outputPanel rendered="#{not empty cc.attrs.rootId and cc.attrs.edit}">
				<a:commandButton value=" " title="Мультиязычное значение" execute="@none"
					onclick="#{rich:component(cc.attrs.panelId.concat(':form:panel'))}.show()"
					render="#{cc.attrs.panelId.concat(':form:container')},#{cc.attrs.panelId.concat(':form:exitPanel')}">
					<a:param name="rootId" value="#{cc.attrs.rootId}" />
					<a:param name="multiType" value="#{cc.attrs.multiType}" />
					<a:param name="renderParam" value="#{cc.attrs.render}" />
					<cc:insertChildren />
				</a:commandButton>
			</a:outputPanel>
			
		</cc:implementation>
	</body>
</html>