<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j">
<cc:interface>
    <cc:attribute name="card" type="ru.insoft.sovdoc.card.NavigableCard" />
    <cc:attribute name="render" />
</cc:interface>
<cc:implementation>
    <div class="navig">
        <h:outputText value="#{cc.attrs.card.pageLabel}" styleClass="fleft marl10"/>
        <h:inputHidden value="#{cc.attrs.card.serializedIds}" />

        <h:button id="first" class="first">
            <f:param name="page" value="#{cc.attrs.card.ids}"/>
            <f:param name="index" value="#{cc.attrs.card.firstIndex()}"/>
            <f:param name="pageNum" value="#{cc.attrs.card.pageNum}"/>
            <f:param name="totalPages" value="#{cc.attrs.card.totalPages}"/>
        </h:button>
        <h:button id="prev" class="prev">
            <f:param name="page" value="#{cc.attrs.card.ids}"/>
            <f:param name="index" value="#{cc.attrs.card.prevIndex()}"/>
            <f:param name="pageNum" value="#{cc.attrs.card.pageNum}"/>
            <f:param name="totalPages" value="#{cc.attrs.card.totalPages}"/>
        </h:button>

        <a:outputPanel id="recInfo" styleClass="marl10">
            <h:inputHidden value="#{cc.attrs.card.cardIndex}" />
            <h:outputText value="Запись #{cc.attrs.card.cardIndex + 1} из #{cc.attrs.card.idsCount}"/>
        </a:outputPanel>

        <h:button id="next" class="next">
            <f:param name="page" value="#{cc.attrs.card.ids}"/>
            <f:param name="index" value="#{cc.attrs.card.nextIndex()}"/>
            <f:param name="pageNum" value="#{cc.attrs.card.pageNum}"/>
            <f:param name="totalPages" value="#{cc.attrs.card.totalPages}"/>
        </h:button>
        <h:button id="last" class="end">
            <f:param name="page" value="#{cc.attrs.card.ids}"/>
            <f:param name="index" value="#{cc.attrs.card.lastIndex()}"/>
            <f:param name="pageNum" value="#{cc.attrs.card.pageNum}"/>
            <f:param name="totalPages" value="#{cc.attrs.card.totalPages}"/>
        </h:button>

    </div>
</cc:implementation>
</html>