<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich">
	<body>
		<cc:interface>

		</cc:interface>
		<cc:implementation>
          <rich:dropDownMenu mode="client" showEvent="click">
				<f:facet name="label">
					<h:outputLabel value="&nbsp;" />
				</f:facet>
				<rich:menuItem label="Главная" onclick="#{rmUtils.goToPage('MAIN_PAGE')}" />
				<rich:menuGroup label="Информационный ресурс">
					<ui:remove>
						<rich:menuItem label="Загрузка информационного ресурса" />
					</ui:remove>
					<rich:menuGroup label="Ввод и просмотр данных">
						<rich:menuItem label="Описание документальных комплексов" 
							onclick="#{rmUtils.goToPage('COMPLEX_TREE')}"
							disabled="#{not access.hasAccess('COMPLEX_MODE')}" />
						<rich:menuItem label="Электронная библиотека" 
							onclick="#{rmUtils.goToPage('LIBRARY_SEARCH')}"
							disabled="#{not access.hasAccess('EBOOK_MODE')}" />
					</rich:menuGroup>
					<ui:remove>
						<rich:menuItem label="Поиск по информационному ресурсу" />
					</ui:remove>
					<rich:menuItem label="Журнал регистрации изменений" 
						disabled="#{not access.hasAccess('CORRECT_JOURNAL_MODE')}"
                        onclick="#{rmUtils.goToPage('JOURNAL')}"/>
				</rich:menuGroup>
				<rich:menuGroup label="Администрирование">
					<rich:menuItem label="Справочники и классификаторы" onclick="#{rmUtils.goToPage('DESCRIPTORS')}" 
						disabled="#{not access.hasAccess('DESC_MODE')}" />
					<rich:menuGroup label="Управление доступом">
						<rich:menuItem label="Пользователи" onclick="#{rmUtils.goToPage('USERLIST')}"
							disabled="#{not access.hasAccess('ADM_USER_MODE')}" />
						<rich:menuItem label="Группы" onclick="#{rmUtils.goToPage('GROUPS')}"
							disabled="#{not access.hasAccess('ADM_GROUP_MODE')}" />
					</rich:menuGroup>
					<ui:remove>
						<rich:menuItem label="Журнал действий пользователя" />
					</ui:remove>
					<rich:menuGroup label="Настройки">
						<rich:menuItem label="Настройки портала" onclick="#{rmUtils.goToPage('STATIC_WEB_PAGES')}" 
							disabled="#{not access.hasAccess('WEB_SETTINGS_MODE')}" />
						<ui:remove>
							<rich:menuItem label="Системные настройки" />
						</ui:remove>
					</rich:menuGroup>
				</rich:menuGroup>
			</rich:dropDownMenu>
		</cc:implementation>
	</body>
</html>