<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:cc="http://java.sun.com/jsf/composite">
    
    <cc:interface>
        <cc:editableValueHolder name="value" targets="valueInput" />
        <cc:attribute name="onchange" />
    </cc:interface>
    
    <cc:implementation>
        <h:outputStylesheet name="playtime.css" library="css"  />
        <h:outputScript name="playtime.js" library="js" target="head" />
        
        <span id="#{cc.clientId}" class="playtime">
            <h:inputHidden id="valueInput" value="#{cc.attrs.value}" />
            <rich:inputNumberSpinner id="minute" maxValue="9999" />
            <h:outputText value=":" class="separator" />
            <rich:inputNumberSpinner id="second" maxValue="59" />
        </span>
        <script type="text/javascript">
            Insoft.playtime.initComponent('#{cc.clientId}' 
                    #{empty cc.attrs.onchange ? '' : ','.concat(cc.attrs.onchange)});
        </script>
    </cc:implementation>            
</html>
