<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
	<body>
	
		<cc:interface>
			<cc:attribute name="value" required="true" />
			<cc:attribute name="dispValue" required="true" />
			<cc:attribute name="panelId" required="true" />
			<cc:attribute name="edit" type="boolean" default="true" />
			<cc:attribute name="render" />
			<cc:attribute name="selectMethod" />
			<cc:attribute name="argument" />
			<cc:attribute name="styleClass" />
		</cc:interface>
		
		<cc:implementation>
			<div class="desc_d">
				<h:inputHidden value="#{cc.attrs.value}" />
				<h:outputText value="#{cc.attrs.dispValue}" />
				<a:commandButton value=" " rendered="#{cc.attrs.edit}"
					oncomplete="#{rich:component(cc.attrs.panelId.concat(':form:panel'))}.show()"
					render="#{cc.attrs.panelId.concat(':form:container')}" 
					styleClass="#{cc.attrs.styleClass}">
					<a:param name="renderParam" value="#{cc.attrs.render}" />
					<a:param name="selectMethod" value="#{cc.attrs.selectMethod}" />
					<a:param name="argument" value="#{cc.attrs.argument}" />
					<cc:insertChildren />
				</a:commandButton>
			</div>
		</cc:implementation>
	</body>
</html>