<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
  <body>
    <cc:interface>
      <cc:attribute name="valueSelectPanelId" required="true" />
      <cc:attribute name="selectBean" type="java.lang.Object" />
    </cc:interface>
    <cc:implementation>
      <h:form id="form" class="DescRel">
        <rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="30px">
          <div class="selVal">
            <f:facet name="header">
              <h:outputLabel value="Связи указателей НСА" />
            </f:facet>
            <f:facet name="controls">
              <a:commandLink id="close" value="X" execute="@none"
								onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" /> 
            </f:facet>
            <a:outputPanel id="container">
              <a:outputPanel id="msg">
                <h:messages />
              </a:outputPanel>
              <m:panel id="fieldPanel">
                <m:field>
                  <f:facet name="header">
                    <h:outputLabel value="Значение" />
                  </f:facet>
                  <h:outputText value="#{systemEntity.getDescValue(descriptorRelationEdit.model.descriptorValueId1).fullValue}" />
                </m:field>
                <m:field>
                  <f:facet name="header">
                    <h:outputLabel value="Тип связи" />
                  </f:facet>
                  <h:selectOneMenu value="#{descriptorRelationEdit.model.descriptorRelationId}" >
                    <f:selectItems value="#{systemSelectItem.descRelationTypes}"/>                
                  </h:selectOneMenu>
                </m:field>
                <m:field id="descField">
                  <f:facet name="header">
                    <h:outputLabel value="Связанное значение" />
                  </f:facet>
                  <c:selector panelId="#{cc.attrs.valueSelectPanelId}" selectMethod="selectRelatedValue"
                              dispValue="#{systemEntity.getDescValue(descriptorRelationEdit.model.descriptorValueId2).fullValue}"
                              value="#{descriptorRelationEdit.model.descriptorValueId2}" 
                              render="#{cc.clientId.concat(':form:fieldPanel:descField')}">
                    <a:param name="univDescId" value="#{param.univDescId}" />

                  </c:selector>
                </m:field>
              </m:panel>
              <div class="mod_but">
                <a:commandButton value="Сохранить" title="Сохранить"  
                                 onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()"
                                 render="form:descPanel"
                                 action="#{cc.attrs.selectBean.saveDescRelation()}">
                  <a:ajax event="click" render="msg"
                          oncomplete="if (#{descriptorRelationEdit.saved}) renderCaller()" />
                  <a:param name="univDescId" value="#{param.univDescId}" />
                  <a:param name="descriptor1" value="#{param.descriptor1}"/>

                </a:commandButton>
                <a:commandButton value="Удалить связь" title="Удалить связь" 
                                 action="#{cc.attrs.selectBean.clearDescRelation()}"	oncomplete="renderCaller()">
                  <a:param name="univDescId" value="#{param.univDescId}" />
                  <a:param name="descriptor1" value="#{param.descriptor1}"/>
                </a:commandButton>
                <a:jsFunction name="renderCaller" render="#{param.renderParam}"
                              oncomplete="#{rich:component(cc.clientId.concat(':form:panel'))}.hide();">

                  <a:param name="renderParam" value="#{param.renderParam}" />
                  <cc:insertChildren />
                </a:jsFunction>
                <a:commandButton value="Выйти" title="Выйти" execute="@none"
                                 onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />
              </div>
            </a:outputPanel>
          </div>
        </rich:popupPanel>
      </h:form>
    </cc:implementation>
  </body>
</html>