<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">
          
    <cc:interface>
        <cc:attribute name="selectBean" type="java.lang.Object" />
    </cc:interface>
    <cc:implementation>
        <div class="sel_desc_val">
            <h:form id="form">
                <rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="30px">
                    <div class="selVal">
                        <f:facet name="header">
                            <h:outputLabel value="Выбор значения тематического классификатора" />
                        </f:facet>
                        <f:facet name="controls">
                            <a:commandLink id="close" value="X" execute="@none"
                                           onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />
                        </f:facet>
                        <a:outputPanel id="container">
                            <m:panel id="params" styleClass="param">
                                <a:outputPanel rendered="#{not empty valueSearchParam.group}">
                                    <a:region>
                                        <a:outputPanel rendered="#{valueSearchParam.group.historySupported}">
                                            <div class="checkb">
                                                <m:field>
                                                    <f:facet name="footer">
                                                        <h:outputLabel value="Только актуальные значения" />
                                                    </f:facet>
                                                    <h:selectBooleanCheckbox value="#{univClssSearch.criteria.actual}" />
                                                </m:field>
                                            </div>
                                        </a:outputPanel>
                                        <a:outputPanel rendered="#{valueSearchParam.group.shortValueSupported}">
                                            <m:field>
                                                <f:facet name="header">
                                                    <h:outputLabel value="Способ отображения" />
                                                </f:facet>
                                                <h:selectOneMenu value="#{univClssSearch.criteria.displayType}">
                                                    <f:selectItems value="#{constant.valueDisplayTypes}" />
                                                </h:selectOneMenu>
                                            </m:field>
                                        </a:outputPanel>
                                        <m:field>
                                            <f:facet name="header">
                                                <h:outputLabel value="Индекс" />
                                            </f:facet>
                                            <h:inputText value="#{univClssSearch.criteria.index}" styleClass="width125" />
                                        </m:field>
                                        <m:field styleClass="disp_in-bl">
                                            <f:facet name="header">
                                                <h:outputLabel value="Значение" />
                                            </f:facet>
                                            <h:inputText value="#{univClssSearch.criteria.value}" styleClass="width345" />
                                        </m:field>
                                        <a:outputPanel id="showResult">
                                            <h:inputHidden value="#{univClssDL.showResult}" />
                                        </a:outputPanel>
                                        <div class="mod_but">
                                            <a:commandButton value="Поиск" title="Поиск" render="descData,showResult"
                                                             action="#{univClssDL.search()}">
                                                <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                                                <a:param name="activeUi" value="table" />
                                            </a:commandButton>
                                        </div>
                                        <a:jsFunction name="ucRefreshTree" render="descData" execute="@region"
                                                      action="#{univClssDL.setShowResult(false)}">
                                            <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                                            <a:param name="treeClientId" value="#{cc.clientId}:form:params:ucValueTree" />
                                        </a:jsFunction>
                                    </a:region>
                                    <a:outputPanel id="descData">
                                        <a:outputPanel rendered="#{param.activeUi ne 'table' and not univClssDL.showResult}">
                                            <div class="big_tree">
                                                <a:jsFunction name="ucSelectNode" action="#{valueTree.selectNode()}"
                                                              render="selectedId">
                                                    <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                                                    <a:param name="mode" value="selectNode" />
                                                    <a:param name="treeClientId" value="#{cc.clientId}:form:params:ucValueTree" />
                                                </a:jsFunction>
                                                <rich:tree id="ucValueTree" var="item"
                                                           nodeType="#{item.type}" selectionType="client"
                                                           selection="#{valueTree.selectionKeys}" onselectionchange="ucSelectNode()"
                                                           onbeforeselectionchange="
                                                               if (event.rf.data.newSelection.length &amp;&amp;
                                                                   event.rf.data.newSelection[0].id.id.substr(-4) == 'fake')
                                                                   return false">
                                                    <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                                                    <a:param name="displayType" value="#{univClssSearch.criteria.displayType.id}" />
                                                    <a:param name="actual" value="#{univClssSearch.criteria.actual}" />
                                                    <a:param name="treeClientId" value="#{cc.clientId}:form:params:ucValueTree" />
                                                    <rich:treeModelRecursiveAdaptor id="value" roots="#{valueTree.rootNodes}"
                                                                                    nodes="#{item.getChildren(valueSearchParam)}"
                                                                                    leaf="#{item.leaf}">
                                                        <rich:treeNode type="value" expanded="#{item.expanded}">
                                                            <h:outputText value="#{item.label}" />
                                                        </rich:treeNode>
                                                        <rich:treeNode id="fake" type="fake">
                                                            <a:commandLink value="Ещё элементы..."
                                                                           onclick="ucFetchMore(event.target.id, #{item.id}); 
                                                                               return false" />
                                                        </rich:treeNode>
                                                    </rich:treeModelRecursiveAdaptor>
                                                </rich:tree>
                                            </div>
                                            <a:jsFunction name="ucFetchMore" action="#{valueTree.clearForNewFetch()}" render="valueTree"
                                                          oncomplete="Insoft.Richfaces.selectNewFetch(
                                                                '#{cc.clientId}'+'form:params:valueTree','value',
                                                                '#{param.fetchLinkId}',#{param.childrenFetched})">
                                                <a:param name="fetchLinkId" />
                                                <a:param name="childrenFetched" />
                                                <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                                                <a:param name="displayType" value="#{univClssSearch.criteria.displayType.id}" />
                                                <a:param name="actual" value="#{univClssSearch.criteria.actual}" />
                                                <a:param name="treeClientId" value="#{cc.clientId}:form:params:ucValueTree" />
                                            </a:jsFunction>
                                        </a:outputPanel>
                                        <rich:extendedDataTable id="tbValues" value="#{univClssDL.model}" var="row"
                                                                rendered="#{param.activeUi eq 'table' or univClssDL.showResult}"
                                                                onselectionchange="passIndexUC()" styleClass="stupid_table height180">
                                            <f:facet name="header">
                                                <h:outputText value="В результате найдено: #{univClssDL.rowCount}" />
                                                <m:paginator id="pg" datalist="#{univClssDL}" pageSize="250"
                                                             uiTable="descData" paginatorBean="#{nav}">
                                                    <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                                                    <a:param name="activeUi" value="table" />
                                                </m:paginator>
                                                <m:indexer id="ind" datalist="#{univClssDL}" uiTable="tbValues"
                                                           paginator="#{nav}" render="selectedId" fnName="passIndexUC">
                                                    <a:param name="displayType" value="#{univClssSearch.criteria.displayType.id}" />
                                                    <a:param name="p_groupId" value="#{valueSearchParam.groupId}" />
                                                    <a:param name="activeUi" value="table" />
                                                </m:indexer>
                                            </f:facet>
                                            <rich:column width="120px">
                                                <f:facet name="header">
                                                    <h:outputLabel value="Индекс" />
                                                </f:facet>
                                                <h:outputText value="#{row.valueIndex}" title="#{row.valueIndex}" />
                                            </rich:column>
                                            <rich:column width="421px">
                                                <f:facet name="header">
                                                    <h:outputLabel value="Значение" />
                                                </f:facet>
                                                <h:outputText value="#{univClssSearch.criteria.displayType.id eq 'SHORT' ? row.shortValue : row.fullValue}"
                                                              title="#{row.fullValue}" />
                                            </rich:column>
                                        </rich:extendedDataTable>
                                    </a:outputPanel>
                                    <div id="left_but" class="mod_but">
                                        <a:commandButton value="Обновить список" title="Обновить список"
                                                         onclick="ucRefreshTree(); return false" />
                                    </div>
                                </a:outputPanel>
                            </m:panel>
                            <a:region>
                                <a:outputPanel id="selectedId">
                                    <h:inputHidden value="#{univClssDL.rowId}" />
                                    <m:field>
                                        <f:facet name="header">
                                            <h:outputLabel value="Выбрано:" styleClass="margin_l15" />
                                        </f:facet>
                                        <h:outputText value="#{systemEntity.getUnivClssValue(univClssDL.rowId).valueIndex}" />
                                        <a:outputPanel rendered="#{univClssSearch.criteria.displayType.id eq 'SHORT'}">
                                            <h:outputText value="#{systemEntity.getUnivClssValue(univClssDL.rowId).shortValue}" />
                                        </a:outputPanel>
                                        <a:outputPanel rendered="#{univClssSearch.criteria.displayType.id eq 'FULL'}">
                                            <h:outputText value="#{systemEntity.getUnivClssValue(univClssDL.rowId).fullValue}" />
                                        </a:outputPanel>
                                    </m:field>
                                </a:outputPanel>
                                <div class="mod_but">
                                    <a:commandButton value="Выбрать" title="Выбрать"
                                                     action="#{cc.attrs.selectBean[param.selectMethod]}">
                                        <a:ajax event="click" render="#{param.renderParam}"
                                                oncomplete="if (#{univClssDL.valueSelected})
                                                                #{rich:component(cc.clientId.concat(':form:panel'))}.hide();" />
                                        <a:param name="selectMethod" value="#{param.selectMethod}" />
                                        <a:param name="renderParam" value="#{param.renderParam}" />
                                        <a:param name="argument" value="#{param.argument}" />
                                        <cc:insertChildren />
                                    </a:commandButton>
                                    <a:commandButton value="Выйти" title="Выйти" execute="@none"
                                                     onclick="#{rich:component(cc.clientId.concat(':form:panel'))}.hide()" />
                                </div>
                            </a:region>
                        </a:outputPanel>
                    </div>
                </rich:popupPanel>
            </h:form>
        </div>
    </cc:implementation>
</html>
