<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"> 

	<h:head>
		<title>АИС "Документы советской эпохи"</title>
		<ui:insert name="additional_styles" />
		<c:styles />
	</h:head> 
	<h:body> 
		<div class="main">
			<div class="main_title">
				<div class="main_menu">
					<c:menu />
				</div>
				
				<div class="title_page">
					<h:outputText value="#{_title}" />
					<h:form rendered="#{identity.loggedIn}">
						<div class="name_user">
							<h:outputText value="#{currentUser.displayedName} &#160; &#160;| &#160; " />
							
						<h:commandLink value="Выход" title="Выход" action="#{security.logout()}" />
						</div>
					</h:form>
				</div>
				
				<script type="text/javascript">
					if (#{not identity.loggedIn})
						#{rmUtils.goToPage('LOGIN_PAGE')};
				</script>
				<m:popupMessage id="_globalMessage" width="300px" globalOnly="false" />
			</div>
			
			<ui:insert name="main_body" />
			<div class="wait"><m:status /></div>
			
            <h:form>
			<a:jsFunction name="showSavedMessage" 
				action="#{messageUtils.InfoMessage('Карточка сохранена')}"
				oncomplete="insoft.richfaces.message.showMessage('_globalMessage')" />
            </h:form>
			<script type="text/javascript">
				jQuery(document).ready(function() {
					if (#{not empty param.saved and param.saved})
                        			showSavedMessage();                    
				});
			</script>
			<h:outputScript name="autoresize.jquery.js" library="js" target="head"/>
        	<h:outputScript name="textarea.resize.js" library="js" target="head"/>
        	<h:outputScript name="insoft.commons.js" library="js" target="head" />
			<h:outputScript name="insoft.richfaces.js" library="js" target="head"/>
		</div>
	</h:body>
</html>
