<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Прикрепление файлов" />
		
		<ui:define name="main_body">
			<h:outputScript name="attachedFiles.js" library="js" />
			<h:form id="form" class="desc_gr">
				<div class="menu_desc_gr">
					<rich:toolbar>
						<h:link value="Вернуться" title="Вернуться"
							outcome="#{addComplex.getPageName(param.unitType)}">
							<f:param name="unitId" value="#{param.unitId}" />
						</h:link>
					</rich:toolbar>
				</div>
				<h:panelGrid columns="2" styleClass="col_style width100per">
					<m:panel id="FULL_SIZE">
						<ui:param name="fullsizeCount" value="#{attachedFiles.getFilesCount('FULL_SIZE')}" />
						<f:facet name="header">
							Полноразмерные файлы (#{fullsizeCount})
						</f:facet>
						<div class="menu_desc_gr height30">
							<a:commandLink id="add" title="Добавить" onclick="return false" styleClass="add_plus"/>
						</div>
						<div class="scrll">
						<a:repeat id="files" value="#{attachedFiles.getFiles('FULL_SIZE')}" var="ip" rowKeyVar="ind">
							<div class="cell_file">
								<m:panel id="cell">
									<a:region>
										<div class="menu_desc_gr">
											<rich:toolbar>
                                              <a:commandLink render="form:FULL_SIZE:files:#{ind}:cell" title="Сохранить" styleClass="save" 
                                                             action="#{attachedFiles.changeFilesName(ip.caption, 'FULL_SIZE')}">
                                                <f:param name="fileCaptionOld" value="#{ip.caption}"/>
                                                <f:param name="unitId" value="#{param.unitId}" />
                                              </a:commandLink>
												<a:commandLink disabled="#{ind eq 0}" title="Вверх" styleClass="up_arr"
													action="#{attachedFiles.fileMoveUp(ip.sortOrder,'FULL_SIZE')}"
													render="form:FULL_SIZE:files:#{ind}:cell, form:FULL_SIZE:files:#{ind-1}:cell">
													<f:param name="unitId" value="#{param.unitId}" />
												</a:commandLink>
												<a:commandLink disabled="#{ind eq fullsizeCount - 1}" title="Вниз" styleClass="down_arr"
													action="#{attachedFiles.fileMoveDown(ip.sortOrder, 'FULL_SIZE')}"
													render="form:FULL_SIZE:files:#{ind}:cell, form:FULL_SIZE:files:#{ind+1}:cell">
													<f:param name="unitId" value="#{param.unitId}" />
												</a:commandLink>
												<a:commandLink title="Удалить" styleClass="del_cross"
													onclick="insoft.showConfirmDialog(
															'Вы действительно хотите удалить &quot;#{ip.caption}&quot;?',
															insoft.attachedFiles.removeFileFS, #{ip.imagePathId}													
														)">
												</a:commandLink>
											</rich:toolbar>
										</div>
										<a href="#{attachedFiles.getFileURL(ip)}" target="_blank" class="width140 fl_left">
											<embed src="#{attachedFiles.getFileURL(ip)}" width="100"/>
										</a>
										<m:field>
											<f:facet name="header">
												<h:outputLabel value="Подпись" />
											</f:facet>
											<h:inputTextarea value="#{ip.caption}" styleClass="width300"/>
										</m:field>
									</a:region>
								</m:panel>
							</div>
						</a:repeat>
						<script type="text/javascript">insoft.attachedFiles.reloadButtons('FULL_SIZE')</script>
						</div>
					</m:panel>
					<a:jsFunction name="insoft.attachedFiles.renderFullsizePanel" action="#{attachedFilesUpload.finishUploading}"
						render="form:FULL_SIZE" oncomplete="insoft.attachedFiles.scrollDown('FULL_SIZE')">
						<f:param name="unitId" value="#{param.unitId}" />
					</a:jsFunction>                 
					<a:jsFunction name="insoft.attachedFiles.removeFileFS" action="#{attachedFiles.removeFile('FULL_SIZE')}"
						render="form:FULL_SIZE">
						<f:param name="fileId" />
						<f:param name="unitId" value="#{param.unitId}" />
					</a:jsFunction>
					
					<m:panel id="PREVIEW">
						<ui:param name="previewCount" value="#{attachedFiles.getFilesCount('PREVIEW')}" />
						<f:facet name="header">
							Сжатые файлы (#{previewCount})
						</f:facet>
						<div class="menu_desc_gr height30">
							<a:commandLink id="add" title="Добавить" onclick="return false" styleClass="add_plus" />
						</div>
						<div class="scrll">
						<a:repeat id="files" value="#{attachedFiles.getFiles('PREVIEW')}" var="ip" rowKeyVar="ind">
							<div class="cell_file">
								<m:panel id="cell">
									<a:region>
										<div class="menu_desc_gr">
											<rich:toolbar>
												<a:commandLink title="Сохранить" styleClass="save" render="form:PREVIEW:files:#{ind}:cell"
                                                               action="#{attachedFiles.changeFilesName(ip.caption, 'PREVIEW')}">
												  <f:param name="fileCaptionOld" value="#{ip.caption}"/>	
                                                  <f:param name="unitId" value="#{param.unitId}" />
												</a:commandLink>
												<a:commandLink title="Вверх" styleClass="up_arr" disabled="#{ind eq 0}"
													action="#{attachedFiles.fileMoveUp(ip.sortOrder,'PREVIEW')}"
													render="form:PREVIEW:files:#{ind}:cell, form:PREVIEW:files:#{ind-1}:cell">
													<f:param name="unitId" value="#{param.unitId}" />
												</a:commandLink>
												<a:commandLink title="Вниз" styleClass="down_arr" disabled="#{ind eq previewCount - 1}"
													action="#{attachedFiles.fileMoveDown(ip.sortOrder, 'PREVIEW')}"
													render="form:PREVIEW:files:#{ind}:cell, form:PREVIEW:files:#{ind+1}:cell">
													<f:param name="unitId" value="#{param.unitId}" />
												</a:commandLink>
												<a:commandLink title="Удалить" styleClass="del_cross"
													onclick="insoft.showConfirmDialog(
															'Вы действительно хотите удалить &quot;#{ip.caption}&quot;?',
															insoft.attachedFiles.removeFilePreview, #{ip.imagePathId}													
														)">
												</a:commandLink>
											</rich:toolbar>
										</div>
										<a href="#{attachedFiles.getFileURL(ip)}" target="_blank" class="width140 fl_left">
											<embed src="#{attachedFiles.getFileURL(ip)}" width="100"/>
										</a>
										<m:field>
											<f:facet name="header">
												<h:outputLabel value="Подпись" />
											</f:facet>
											<h:inputTextarea value="#{ip.caption}" styleClass="width300" />
										</m:field>
									</a:region>
								</m:panel>
							</div>
						</a:repeat>
						<script type="text/javascript">insoft.attachedFiles.reloadButtons('PREVIEW')</script>
						</div>
					</m:panel>
					<a:jsFunction name="insoft.attachedFiles.renderPreviewPanel" action="#{attachedFilesUpload.finishUploading}"
						render="form:PREVIEW" oncomplete="insoft.attachedFiles.scrollDown('PREVIEW')">
						<f:param name="unitId" value="#{param.unitId}" />
					</a:jsFunction>
					<a:jsFunction name="insoft.attachedFiles.removeFilePreview" action="#{attachedFiles.removeFile('PREVIEW')}"
						render="form:PREVIEW">
						<f:param name="fileId" />
						<f:param name="unitId" value="#{param.unitId}" />
					</a:jsFunction>
				</h:panelGrid>
			</h:form>
			<m:uploadPanel id="uploadPanel" listenerBean="#{attachedFilesUpload}"
				immediateUpload="#{false}" render="form:FULL_SIZE" />
			<a:jsFunction name="insoft.attachedFiles.startUpload" action="#{attachedFilesUpload.startUploading()}"
				oncomplete="insoft.attachedFiles.__startUpload()">
				<f:param name="category" value="#{param.category}" />
				<f:param name="unitId" value="#{param.unitId}" />
			</a:jsFunction>	
			<div class="yes_no">		
				<m:yesNoPanelJs/>
			</div>
		</ui:define>		
	</ui:composition>
</html>
