<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Описание документальных комплексов" />

    <ui:define name="main_body">
      <h:form id="form" class="doc_complex">
        <div class="page_links">
          <m:modeLinkMenu activeItem="search" menuClass="#{complexTabMenu}" />
        </div>
        <a:outputPanel id="searchPanel">
          <a:region>
            <div class="menu_desc_gr" id="srch_compl">
              <rich:toolbar>
                <a:commandLink value="Поиск" title="Поиск" render="tbComplex,showResult"
                               action="#{complexDL.search()}" />
                <a:commandLink value="Очистить параметры" title="Очистить параметры"
                               render="searchPanel,tbComplex,showResult" execute="@none" />
              </rich:toolbar>
            </div>
            <div class="desc_gr">
              <m:panel id="params">
                <f:facet name="header">Параметры поиска</f:facet>
                <m:field>
                  <f:facet name="header">
                    <h:outputLabel value="Уровень описания" />
                  </f:facet>
                  <h:selectOneMenu value="#{complexSearch.criteria.descriptionLevelId}">
                    <f:selectItems value="#{systemSelectItem.descLevels}" />
                  </h:selectOneMenu>
                </m:field>
                <m:field>
                  <f:facet name="header">
                    <h:outputLabel value="Название/Заголовок" />
                  </f:facet>
                  <h:inputText value="#{complexSearch.criteria.unitName}" class="width500" />
                </m:field>
                <a:region>
					<m:field>
					  <f:facet name="header">
						<h:outputLabel value="Тип документа" />
					  </f:facet>
					  <h:selectOneMenu value="#{complexSearch.criteria.unitTypeId}" styleClass="unitTypes">
						<f:selectItems value="#{systemSelectItem.unitTypes}" />
					  </h:selectOneMenu>
					</m:field>
                </a:region>
                <m:field styleClass="date_doc">
                  <f:facet name="header">
                    <h:outputLabel value="Даты документов" />
                  </f:facet>
                  <h:outputLabel value="с" />
                  <m:date value="#{complexSearch.criteria.beginDate}" fieldName="Начальная дата" 
                          defaultDate="01/01/1940" />
                  <h:outputLabel value="по" />
                  <m:date value="#{complexSearch.criteria.endDate}" fieldName="Конечная дата" 
                          defaultDate="01/01/1940" />
                </m:field>
                <m:panelLight id="archNo" open="false">
                  <f:facet name="header">Архивный шифр</f:facet>
                  <m:field id="archiveField">
                    <f:facet name="header">
                      <h:outputLabel value="Архив" />
                    </f:facet>
                    <h:selectOneMenu value="#{complexSearch.criteria.archiveId}" class="width750">
                      <f:selectItems value="#{systemSelectItem.archives}" />
                    </h:selectOneMenu>
                  </m:field>
                  <m:field>
                    <f:facet name="header">
                      <h:outputLabel value="Фонд" />
                    </f:facet>
                    <h:outputLabel value="Префикс" />
                    <h:inputText value="#{complexSearch.criteria.fundPrefix}" class="width30"/>
                    <h:outputLabel value="№"/>
                    <m:numericInput value="#{complexSearch.criteria.fundNum}"
                                    fieldName="Номер фонда" maxlength="8" />
                    <h:outputLabel value="Литера" />
                    <h:inputText value="#{complexSearch.criteria.fundLetter}" />
                  </m:field>
                  <m:field>
                    <f:facet name="header">
                      <h:outputLabel value="Опись" />
                    </f:facet>
                    <h:outputLabel value="№" style="margin-left:116px"/>
                    <m:numericInput value="#{complexSearch.criteria.seriesNum}"
                                    fieldName="Номер описи" maxlength="8" />
                    <h:outputLabel value="Литера" />
                    <h:inputText value="#{complexSearch.criteria.seriesLetter}" />
                  </m:field>
                  <m:field>
                    <f:facet name="header">
                      <h:outputLabel value="Дело / единица учёта" />
                    </f:facet>
                    <h:outputLabel value="№" style="margin-left:116px"/>
                    <m:numericInput value="#{complexSearch.criteria.unitNum}"
                                    fieldName="Номер дела" maxlength="8" />
                    <h:outputLabel value="Литера" />
                    <h:inputText value="#{complexSearch.criteria.unitLetter}" />
                  </m:field>
                </m:panelLight>
              </m:panel>
            </div>
            <div class="desc_gr t-width753">
              <m:panel id="descriptors">
                <f:facet name="header">Ключевые слова</f:facet>
                <h:inputHidden value="#{complexSearch.descIds}" />
                <rich:toolbar styleClass="t_toolBar">
                  <div class="stupid_table"><a:commandLink value=" " title="Добавить"
                                                           oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
                                                           render="valueSelect:form:container">
                      <a:param name="renderParam" value="form:descriptors" />
                      <a:param name="selectMethod" value="addDescriptor" />
                      <a:param name="descIds" value="#{complexSearch.descIds}" />
                    </a:commandLink></div>
                </rich:toolbar>
                <div class="stupid_table">
                  <rich:extendedDataTable id="tbDescriptors" value="#{complexSearch.selectedDescriptors}"
                                          var="row" style="display:block;">
                    <rich:column width="210px">
                      <f:facet name="header">
                        <h:outputLabel value="Указатель" />
                      </f:facet>
                      <h:outputText value="#{row.groupName}" title="#{row.groupName}" />
                    </rich:column>
                    <rich:column width="230px">
                      <f:facet name="header">
                        <h:outputLabel value="Значение" />
                      </f:facet>
                      <h:outputText value="#{row.fullValue}" title="#{row.fullValue}" />
                    </rich:column>
                    <rich:column width="40px">
                      <a:commandLink value=" " title="Удалить" render="descriptors"
                                     action="#{complexSearch.removeDescriptor(row)}">
                        <a:param name="descIds" value="#{complexSearch.descIds}" />
                      </a:commandLink>
                    </rich:column>
                  </rich:extendedDataTable>
                </div>
              </m:panel>
            </div>
            <m:panelLight id="univClss" open="false" styleClass="close-open_panel desc_gr mart_-40">
                <f:facet name="header">Тематический классификатор</f:facet>
                <a:outputPanel id="container">
                    <h:inputHidden value="#{complexSearch.criteria.univClssValueIds}" />
                    <rich:toolbar>
                        <a:commandLink value="" title="Добавить"
                                       oncomplete="#{rich:component('univClssSelect:form:panel')}.show()"
                                       render="univClssSelect:form:container">
                            <a:param name="p_groupId"
                                     value="#{systemEntity.getDescGroupByCode('UNIV_CLASSIFIER').descriptorGroupId}" />
                            <a:param name="renderParam" value="form:univClss:container" />
                            <a:param name="selectMethod" value="addUnivClssValue" />
                            <a:param name="univClssValueIds" value="#{complexSearch.criteria.univClssValueIds}" />
                        </a:commandLink>
                    </rich:toolbar>
                    <rich:extendedDataTable id="tbUnivClss" value="#{complexSearch.criteria.univClssValues}"
                                            var="row">
                        <rich:column>
                            <f:facet name="header">
                                <h:outputLabel value="Индекс" />
                            </f:facet>
                            <h:outputText value="#{row.valueIndex}" title="#{row.valueIndex}" />
                        </rich:column>
                        <rich:column width='1078px' >
                            <f:facet name="header">
                                <h:outputLabel value="Тема" />
                            </f:facet>
                            <h:outputText value="#{row.fullValue}" title="#{row.fullValue}" />
                        </rich:column>
                        <rich:column width="40px">
                            <a:commandLink value="" title="Удалить" render="form:univClss:container"
                                           action="#{complexSearch.removeUnivClssValue(row)}">
                                <a:param name="univClssValueIds" value="#{complexSearch.criteria.univClssValueIds}" />
                            </a:commandLink>
                        </rich:column>                    
                    </rich:extendedDataTable>
                </a:outputPanel>
            </m:panelLight>

						<m:panelLight open="false" styleClass="close-open_panel desc_gr phonodoc">
							<f:facet name="header">Атрибуты поиска фонодокумента</f:facet>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Вид документа" />
								</f:facet>
								<h:selectOneMenu value="#{complexSearch.criteria.docTypeId}" class="width300">
									<f:selectItems value="#{systemSelectItem.phonodocTypes}" />
								</h:selectOneMenu>
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Вид записанного материала" />
								</f:facet>
								<h:selectOneMenu value="#{complexSearch.criteria.recordTypeId}" class="width300">
									<f:selectItems value="#{systemSelectItem.recordTypesForSearch}" />
								</h:selectOneMenu>
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Аннотация" />
								</f:facet>
								<h:inputTextarea value="#{complexSearch.criteria.annotation}" class="width500 minheight50" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Место события" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.eventPlace}" class="width300" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Автор" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.author}" class="width300" />
							</m:field>
							<m:field styleClass="date_doc">
								<f:facet name="header">
									<h:outputLabel value="Дата записи" />
								</f:facet>
								<h:outputLabel value="с" />
								<m:date value="#{complexSearch.criteria.recordDateFrom}" 
										fieldName="Начальная дата записи" defaultDate="01/01/1940" />
								<h:outputLabel value="по" />
								<m:date value="#{complexSearch.criteria.recordDateTo}"
										fieldName="Конечная дата записи" defaultDate="01/01/1940" />
							</m:field>
						</m:panelLight>

						<m:panelLight open="false" styleClass="close-open_panel desc_gr videodoc">
							<f:facet name="header">Атрибуты поиска видеодокумента</f:facet>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Вид документа" />
								</f:facet>
								<h:selectOneMenu value="#{complexSearch.criteria.vdocTypeId}" class="width300">
									<f:selectItems value="#{systemSelectItem.videodocTypes}" />
								</h:selectOneMenu>
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Аннотация" />
								</f:facet>
								<h:inputTextarea value="#{complexSearch.criteria.vannotation}" class="width500 minheight50" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Место события" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.veventPlace}" class="width300" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Киностудия" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.vfilmStudio}" class="width300" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Режиссер" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.vdirector}" class="width300" />
							</m:field>
						</m:panelLight>

						<m:panelLight open="false" styleClass="close-open_panel desc_gr kinodoc">
							<f:facet name="header">Атрибуты поиска кинодокумента</f:facet>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Вид документа" />
								</f:facet>
								<h:selectOneMenu value="#{complexSearch.criteria.kdocTypeId}" class="width300">
									<f:selectItems value="#{systemSelectItem.kinodocTypes}" />
								</h:selectOneMenu>
							</m:field>

							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Аннотация" />
								</f:facet>
								<h:inputTextarea value="#{complexSearch.criteria.kannotation}" class="width500 minheight50" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Место события" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.keventPlace}" class="width300" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Киностудия" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.kfilmStudio}" class="width300" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Режиссер" />
								</f:facet>
								<h:inputText value="#{complexSearch.criteria.kdirector}" class="width300" />
							</m:field>
						</m:panelLight>
          </a:region>
				<script>
					$('.unitTypes').change(function(it) {
						var value = $(this).val();
						if (value == '420465') {
								$('.phonodoc').show();
								$('.videodoc').hide();
								$('.kinodoc').hide();
						} else if (value == '420607' || value == '420548') {
								$('.phonodoc').hide();
								$('.videodoc').show();
								$('.kinodoc').hide();
						} else if (value == '420606' || value == '420547') {
								$('.phonodoc').hide();
								$('.videodoc').hide();
								$('.kinodoc').show();
						} else {
								$('.phonodoc').hide();
								$('.videodoc').hide();
								$('.kinodoc').hide();
						}
					});
					$('.phonodoc').hide();
					$('.videodoc').hide();
					$('.kinodoc').hide();
				</script>
        </a:outputPanel>

        <a:outputPanel id="showResult">
          <h:inputHidden value="#{complexDL.showResult}" />
        </a:outputPanel>
        <div class="stupid_table no_space_hor_scrl">
          <rich:extendedDataTable id="tbComplex" value="#{complexDL.wrappedData}" var="row" rowKeyVar="ind"
                                  style="#{complexDL.showResult ? 'display:block;' : 'display:none;'}"
                                  styleClass="search_res">
            <f:facet name="header">
              <h:outputText value="В результате найдено: #{complexDL.rowCount}" />
              <m:paginator id="pg" datalist="#{complexDL}" pageSize="250" uiTable="tbComplex"
                           paginatorBean="#{nav}" />
              <m:sortingRememberer sortingCriteria="#{complexDL.sortingCriteria}" />
              <ui:param name="firstRec" value="#{(nav.pageNum - 1)*nav.pageSize + 1}" />
            </f:facet>
            <rich:column width="70px">
              <h:link value=" " title="Карточка" target="_blank" 
                      outcome="#{addComplex.getPageName(row.unitTypeCode)}">
                <f:param name="unitId" value="#{row.univDataUnitId}" />
              </h:link>
              <h:link value=" " title="Дерево" outcome="/data/complex/complexTree.jsf">
                <f:param name="unitId" value="#{row.univDataUnitId}" />
              </h:link>
            </rich:column>
            <rich:column width="50px">
              <f:facet name="header">
                <h:outputLabel value="№ п/п" />
              </f:facet>
              <h:outputText value="#{ind + firstRec}" />
            </rich:column>
            <rich:column headerClass="#{complexDL.sortingCriteria.sortingMap['unitType']}" 
                         width="105px">
              <f:facet name="header">
                <m:sortingHeader dataList="#{complexDL}" tableId="tbComplex"
                                 columnTitle="Тип элемента" columnName="unitType" />
              </f:facet>
              <h:outputText value="#{row.unitType}" title="#{row.unitType}" />
            </rich:column>
            <rich:column headerClass="#{complexDL.sortingCriteria.sortingMap['archiveNameShort']}"
                         width="130px">
              <f:facet name="header">
                <m:sortingHeader dataList="#{complexDL}" tableId="tbComplex"
                                 columnTitle="Архив" columnName="archiveNameShort" />
              </f:facet>
              <h:outputText value="#{row.archiveNameShort}" title="#{row.archiveNameShort}" />
            </rich:column>
            <rich:column headerClass="#{complexDL.sortingCriteria.sortingMap['archNumberSort']}"
                         width="125px">
              <f:facet name="header">
                <m:sortingHeader dataList="#{complexDL}" tableId="tbComplex"
                                 columnTitle="Архивный шифр" columnName="archNumberSort" />
              </f:facet>
              <h:outputText value="#{row.archNumber}" title="#{row.archNumber}" />
            </rich:column>
            <rich:column headerClass="#{complexDL.sortingCriteria.sortingMap['unitName']}"
                         width="500px">
              <f:facet name="header">
                <m:sortingHeader dataList="#{complexDL}" tableId="tbComplex"
                                 columnTitle="Наименование" columnName="unitName" />
              </f:facet>
              <h:outputText value="#{row.unitName}" title="#{row.unitName}" />
            </rich:column>
            <rich:column width="180px">
              <f:facet name="header">
                <h:outputLabel value="Даты материалов" />
              </f:facet>
              <h:outputText value="#{row.dateIntervals}" title="#{row.dateIntervals}" />
            </rich:column>
          </rich:extendedDataTable>
        </div>
      </h:form>
      <c:descValueSelectorPanel id="valueSelect" selectBean="#{complexSearch}">
        <a:param name="action" value="#{param.action}" />
        <a:param name="descIds" value="#{param.descIds}" />
      </c:descValueSelectorPanel>
      <c:univClssSelectorPanel id="univClssSelect" selectBean="#{complexSearch}">
          <a:param name="univClssValueIds" value="#{param.univClssValueIds}" />
      </c:univClssSelectorPanel>
    </ui:define>
  </ui:composition>
</html>