<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Описание документальных комплексов" />

    <ui:define name="main_body">

      <h:form id="form" class="doc_complex">
        <m:modeLinkMenu id="pageLinks" activeItem="tree" menuClass="#{complexTabMenu}" 
                        styleClass="page_links" />
        <m:panel id="treePanel" style="">
          <!--<f:facet name="header">Структура документальных комплексов</f:facet>-->
          <div class="menu_desc_gr">
            <rich:toolbar id="treeIconPanel">
              <a:commandLink value="Добавить" title="Добавить" render="addComplex:container"
                             onclick="#{rich:component('addComplex:panel')}.show()"

                             disabled="#{(empty complexTree.currentNode  or not complexTree.checkAccessRule())
                                         and param.action ne 'addComplex'}">
                <a:param name="parentId" value="#{complexTree.currentNode.id}" />
                <a:param name="parentType" value="#{complexTree.currentNode.type}" />
                <a:param name="action" value="addComplex" />
              </a:commandLink>
              <h:link value="Просмотр" title="Просмотр" 
                      outcome="#{complexTree.redirectViewCard()}"
                      disabled="#{(empty complexTree.currentNode or complexTree.currentNode.type eq 'archive')
                                  and param.action ne 'viewComplex'}">
                <f:param name="unitId" value="#{complexTree.currentNode.id}" />
                <f:param name="action" value="viewComplex" />
              </h:link>
              <a:commandLink value="Удалить" title="Удалить" render="yn:ynForm:container"
                             disabled="#{(empty complexTree.currentNode or complexTree.currentNode.type eq 'archive'
                                         or not complexTree.checkAccessRule()) and param.action ne 'removeComplex'}" 
                             limitRender="true"
                             action="#{yesNoBean.setMessages(complexTree.confirmRemove())}"
                             oncomplete="#{rich:component('yn:ynForm:panel')}.show()">
                <a:param name="action" value="removeComplex" />
                <a:param name="renderParam" value="form:treePanel" />
                <a:param name="yesMethod" value="removeDataUnit" />
                <a:param name="argument" value="#{complexTree.currentNode.id}" />
              </a:commandLink>
            </rich:toolbar>
          </div>
          <div class="descriptors complex">
            <a:jsFunction name="selectNode" action="#{complexTree.selectNode()}"

                          render="treeIconPanel,pageLinks">
            </a:jsFunction>

            <rich:tree id="complexTree" binding="#{complexTree.tree}" var="item"
                       nodeType="#{item.type}" selectionType="client" selection="#{complexTree.selectionKeys}"
                       onbeforeselectionchange="if (event.rf.data.newSelection.length &amp;&amp; 
                       event.rf.data.newSelection[0].id.id.substr(-4) == 'fake') return false"

                       onselectionchange="selectNode()">
              <rich:treeModelRecursiveAdaptor id="complex" roots="#{complexTree.rootNodes}"
                                              nodes="#{item.getChildren()}" leaf="#{item.leaf}">
                <rich:treeNode type="archive" expanded="#{item.expanded}"       
                               iconExpanded="../../resources/images/arch_tree.png" 
                               iconCollapsed="../../resources/images/arch_tree.png"
                                iconLeaf="../../resources/images/arch_tree.png">
                  <h:outputText value="#{item.label}" title="#{item.label}" />
                </rich:treeNode>
                <rich:treeNode type="topic_section" expanded="#{item.expanded}"
                               iconExpanded="../../resources/images/bank.png" 
                               iconCollapsed="../../resources/images/bank.png"
                               iconLeaf="../../resources/images/bank.png">
                  <h:outputText value="#{item.label}" title="#{item.label}" />
                </rich:treeNode>
                <rich:treeNode type="fund" expanded="#{item.expanded}"
                               iconExpanded="../../resources/images/fund.png"
                               iconCollapsed="../../resources/images/fund.png"
                               iconLeaf="../../resources/images/fund.png">
                  <h:outputText value="#{item.label}" title="#{item.label}" />
                </rich:treeNode>
                <rich:treeNode type="series" expanded="#{item.expanded}"
                               iconExpanded="../../resources/images/series.png"
                               iconCollapsed="../../resources/images/series.png"
                               iconLeaf="../../resources/images/series.png">
                  <h:outputText value="#{item.label}" title="#{item.label}" />
                </rich:treeNode>
                <rich:treeNode type="series_structure_level" expanded="#{item.expanded}"
                               iconExpanded="../../resources/images/archive_folders.png" 
                               iconCollapsed="../../resources/images/archive_folders.png"
                               iconLeaf="../../resources/images/archive_folders.png">
                  <h:outputText value="#{item.label}" />
                </rich:treeNode>
                <rich:treeNode type="storage_unit" expanded="#{item.expanded}"
                               iconExpanded="../../resources/images/unit.png"
                               iconCollapsed="../../resources/images/unit.png"
                               iconLeaf="../../resources/images/unit.png">
                  <h:outputText value="#{item.label}" />
                </rich:treeNode>
                <rich:treeNode type="document" expanded="#{item.expanded}"
                               iconLeaf="../../resources/images/doc_tree.png">
                  <h:outputText value="#{item.label}" title="#{item.label}" />
                </rich:treeNode>
                <rich:treeNode type="semantic_unit" expanded="#{item.expanded}"
                               iconLeaf="../../resources/images/phonoDoc.png">
                    <h:outputText value="#{item.label}" title="#{item.label}" />
                </rich:treeNode>                               
                <rich:treeNode id="fake" type="fake">
                  <a:commandLink value="Ещё элементы..." 
                                 onclick="fetchMore(event.target.id, #{item.id});
                                     return false" />
                </rich:treeNode>
              </rich:treeModelRecursiveAdaptor>							
            </rich:tree>
          </div>
        </m:panel>
        <a:jsFunction name="fetchMore" action="#{complexTree.clearChildrenForNewFetch()}" 
                      render="form:treePanel:complexTree"
                      oncomplete="Insoft.RichFaces.selectNewFetch(
                      'form:treePanel:complexTree','complex','#{param.fetchLinkId}',#{param.childrenFetched})">
          <a:param name="fetchLinkId" />
          <a:param name="childrenFetched" />
        </a:jsFunction>
        <a:jsFunction name="selectComplex" action="#{complexTree.selectNodes()}"
                      render="complexTree,treeIconPanel" oncomplete="Insoft.RichFaces.treeNodeScroll('form:treePanel:complexTree')">
          <a:param name="unitId" value="#{param.unitId}" />
          <a:param name="owner" value="#{param.owner}" />
        </a:jsFunction>
        <script type="text/javascript">jQuery(document).ready(function () {
              if (#{not empty param.unitId})
                selectComplex();
            });</script>
      </h:form>

      <h:form id="addComplex">
        <rich:popupPanel id="panel" domElementAttachment="parent"  left="250px" top="100px">

          <f:facet name="header">
            <h:outputText value="Создание документального комплекса" />
          </f:facet>
          <f:facet name="controls">
            <a:commandLink id="close" value="X" execute="@none"
                           onclick="#{rich:component('addComplex:panel')}.hide()" />
          </f:facet>
          <m:panel id="container">
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Архив" />
              </f:facet>
              <h:outputText value="#{addComplex.archName}" />
            </m:field>
            <a:repeat value="#{systemEntity.getLinearValuesByCode('DESC_LEVEL')}" var="level">
              <a:outputPanel rendered="#{addComplex.hasDescriptionLevel(level.valueCode)}">
                <m:field>
                  <f:facet name="header">
                    <h:outputLabel value="#{systemEntity.getDescValueByCodes('DESC_LEVEL', level.valueCode).fullValue}" />
                  </f:facet>
                  <h:outputText value="#{addComplex.getUnitNamesByLevel(level.valueCode)}" />
                </m:field>
              </a:outputPanel>
            </a:repeat>
            <h:inputHidden value="#{addComplex.parentId}" />
            <a:region>
              <a:jsFunction name="changeDescLevel" render="unitTypeField,addButton" execute="@region">
                <a:param name="parentId" value="#{param.parentId}" />
                <a:param name="parentType" value="#{param.parentType}" />
              </a:jsFunction>
              <m:field>
                <f:facet name="header">
                  <h:outputLabel value="Уровень описания" />
                </f:facet>
                <h:selectOneMenu value="#{addComplex.descLevelId}" onchange="changeDescLevel()" style="width:200px">
                  <f:selectItems value="#{addComplex.descLevelsSI}" />
                </h:selectOneMenu>
              </m:field>
            </a:region>
            <m:field id="unitTypeField">
              <f:facet name="header">
                <h:outputLabel value="Тип элемента" />
              </f:facet>
              <h:selectOneMenu value="#{addComplex.unitType}" >
                <f:selectItems value="#{addComplex.unitTypesSI}" />
              </h:selectOneMenu>
            </m:field>
            <div class="mod_but">
              <a:outputPanel id="addButton">
                <a:commandButton value="Создать" title="Создать" action="#{addComplex.redirectNewCard()}">
                  <a:param name="parentId" value="#{param.parentId}" />
                  <a:param name="parentType" value="#{param.parentType}" />
                  <a:param name="descLevel" value="#{addComplex.descLevelId}" />
                </a:commandButton>
              </a:outputPanel>
              <a:commandButton value="Выйти" title="Выйти" execute="@none"
                               onclick="#{rich:component('addComplex:panel')}.hide()" />
            </div>
          </m:panel>					
        </rich:popupPanel>
      </h:form>
      <div class="yes_no">
        <m:yesNoPanel id="yn" yesBean="#{complexTree}" />
      </div>
    </ui:define>
  </ui:composition>
</html>