<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Описание документальных комплексов: фонд" />

    <ui:define name="main_body">
      <h:form id="form" class="complex_tree">
        <div class="menu_desc_gr">
          <rich:toolbar>
            <h:link value="Редактировать" title="Редактировать" outcome="/data/complex/fund.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="edit" />
            </h:link>
            <a:outputPanel id="savePanel"  styleClass="vis_pict">
              <a:commandLink value="Сохранить" title="Сохранить" render="tbNames"
                             action="#{fundCard.save()}" disabled="#{not fundCard.editing}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="nameCount" value="#{fundCard.fundNameEmbDL.rowCount}" />
                <a:param name="yearCount" value="#{fundCard.yearIntervalEmbDL.rowCount}" />
                <a:param name="action" value="save" />
              </a:commandLink>
            </a:outputPanel>
            <h:link value="Обновить" title="Обновить" outcome="/data/complex/fund.jsf">
              <a:param name="owner" value="#{param.owner}" />
              <a:param name="descLevel" value="#{param.descLevel}" />
              <a:param name="parentId" value="#{param.parentId}" />
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="#{empty param.unitId ? 'add' : null}" />
            </h:link>
            <h:link value="Добавить" title="Добавить" outcome="/data/complex/fund.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="owner" 
                       value="#{empty param.owner ? fundCard.model.resOwnerId : param.owner}" />
              <a:param name="descLevel"
                       value="#{empty param.descLevel ? fundCard.model.descriptionLevelId : param.descLevel}" />
              <a:param name="parentId"
                       value="#{empty param.parentId ? fundCard.model.parentUnitId : param.parentId}" />
              <a:param name="mode" value="add" />
            </h:link>
            <h:link value="Структура" title="Структура"	outcome="/data/complex/complexTree.jsf">
              <a:param name="unitId" 
                       value="#{empty param.unitId ? param.parentId : param.unitId}" />
              <a:param name="owner" value="#{param.owner}" />
            </h:link>
          </rich:toolbar>
        </div>
        <h:inputHidden value="#{fundCard.model.resOwnerId}" />
        <h:inputHidden value="#{fundCard.model.descriptionLevelId}" />
        <h:inputHidden value="#{fundCard.model.parentUnitId}" />
        <m:panel>
          <f:facet name="header">Идентификация</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Архив" />
            </f:facet>
            <h:outputText value="#{fundCard.immModel.archiveName}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Уровень описания" />
            </f:facet>
            <h:outputText value="#{fundCard.immModel.descriptionLevel}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Положение в структуре архива" />
            </f:facet>
            <rich:tree id="hierarchy" binding="#{hierarchyTree.tree}" var="item" 
                       toggleType="client"	selectionType="client" nodeType="#{item.type}"
                       value="#{hierarchyTree.rootNodes}">
              <rich:treeNode type="unit" expanded="#{true}"
                             iconExpanded="../../resources/images/bank.png"
                             iconCollapsed="../../resources/images/bank.png"
                             iconLeaf="../../resources/images/fund.png">
                <h:outputText value="#{item.label}" />
              </rich:treeNode>
            </rich:tree>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Тематический раздел портала" />
            </f:facet>
            <m:mode value="#{fundCard.immModel.portalSection}" edit="#{fundCard.editing}" >
              <h:selectOneMenu value="#{fundCard.model.portalSectionId}" class="width450">
                <f:selectItems value="#{systemSelectItem.portalSections}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
          <fieldset>
            <legend>Архивный шифр</legend>
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Фонд" class="width30" />
              </f:facet>
              <h:outputLabel value="Префикс" rendered="#{fundCard.editing}"/>
              <m:mode edit="#{fundCard.editing}" value="#{fundCard.immModel.fundPrefix}">
                <h:inputText value="#{fundCard.model.numberPrefix}" maxlength="2" class="width30">
                   <f:converter converterId="trimTextConverter"/>
                </h:inputText>
              </m:mode>
              <m:mode edit="#{fundCard.editing}" rendered="#{not empty fundCard.model.numberPrefix and not fundCard.editing}" value="-">
              </m:mode>

              <h:outputLabel value="№"  rendered="#{fundCard.editing}"/>
              <m:mode edit="#{fundCard.editing}" value="#{fundCard.immModel.fundNum}">
                <m:numericInput value="#{fundCard.model.numberNumber}"
                                fieldName="Номер фонда" maxlength="8" styleClass="width50"/>
              </m:mode>
              <h:outputLabel value="Литера"  rendered="#{fundCard.editing}"/>
              <m:mode edit="#{fundCard.editing}" value="#{fundCard.immModel.fundLetter}">
                <h:inputText value="#{fundCard.model.numberText}" maxlength="250" class="width50">
                   <f:converter converterId="trimTextConverter"/>
                </h:inputText>
              </m:mode>
            </m:field>
          </fieldset>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Вид фонда" />
            </f:facet>
            <m:mode edit="#{fundCard.editing}" value="#{fundCard.fundImmModel.fundType}">
              <h:selectOneMenu value="#{fundCard.fundModel.fundTypeId}">
                <f:selectItems value="#{systemSelectItem.fundTypes}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel id="namesPanel">
          <f:facet name="header">Заголовки</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Актуальное название фонда" />
            </f:facet>
            <h:outputText value="#{fundCard.fundNameEmbDL.actualName.fundName}" />
          </m:field>
          <m:panelLight open="#{empty fundCard.fundNameEmbDL.actualName.fundName or
                                param.action eq 'namesWork'}">
            <f:facet name="header">Все переименования</f:facet>
            <h:inputHidden value="#{fundCard.fundNameEmbDL.rowCount}" />
            <rich:toolbar id="nameButtons">
              <a:commandLink value=" " title="Добавить"
                             render="savePanel,namesPanel" disabled="#{not fundCard.editing}"
                             action="#{fundCard.fundNameEmbDL.increaseNameCount()}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="nameCount" value="#{fundCard.fundNameEmbDL.rowCount}" />
              </a:commandLink>
              <a:commandLink value=" " title="Вверх" render="namesPanel"
                             action="#{fundCard.fundNameEmbDL.moveUp()}" 
                             disabled="#{not fundCard.editing or fundCard.fundNameEmbDL.rowIndex eq 0}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="nameCount" value="#{fundCard.fundNameEmbDL.rowCount}" />
                <a:param name="action" value="namesWork" />
                <a:param name="index" value="#{fundCard.fundNameEmbDL.rowIndex - 1}" />
              </a:commandLink>
              <a:commandLink value=" " title="Вниз" render="namesPanel"
                             action="#{fundCard.fundNameEmbDL.moveDown()}" 
                             disabled="#{not fundCard.editing or fundCard.fundNameEmbDL.rowIndex eq fundCard.fundNameEmbDL.rowCount - 1}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="nameCount" value="#{fundCard.fundNameEmbDL.rowCount}" />
                <a:param name="action" value="namesWork" />
                <a:param name="index" value="#{fundCard.fundNameEmbDL.rowIndex + 1}" />
              </a:commandLink>
            </rich:toolbar>
            <rich:extendedDataTable id="tbNames" value="#{fundCard.fundNameEmbDL.wrappedData}"
                                    var="row" onselectionchange="passNameIndex()">
              <f:facet name="footer">
                <m:indexer id="ind" datalist="#{fundCard.fundNameEmbDL}" uiTable="tbNames"
                           render="nameButtons" fnName="passNameIndex">
                  <a:param name="unitId" value="#{param.unitId}" />
                  <a:param name="mode" value="#{param.mode}" />
                  <a:param name="nameCount" value="#{fundCard.fundNameEmbDL.rowCount}" />
                </m:indexer>
              </f:facet>
              <rich:column width="550px">
                <f:facet name="header">
                  <h:outputLabel value="Название фонда" height="10px"/>
                </f:facet>
                <m:mode edit="#{fundCard.editing}" value="#{row.fundName}" >
                  <h:inputText value="#{row.fundName}" maxlength="4000" style="width:520px">
                      <f:converter converterId="trimTextConverter"/>
                  </h:inputText>
                </m:mode>
              </rich:column>
              <rich:column width="150px">
                <f:facet name="header">
                  <h:outputLabel value="Кр. даты названия" />
                </f:facet>
                <m:mode edit="#{fundCard.editing}" value="#{row.textDate}">
                  <h:inputText value="#{row.textDate}" maxlength="50" >
                    <f:converter converterId="trimTextConverter"/>
                  </h:inputText> 
                </m:mode>
              </rich:column>
              <rich:column width="50px">
                <h:inputHidden value="#{row.sortOrder}" />
                <a:commandLink value=" " title="Удалить" render="savePanel,namesPanel"
                               action="#{fundCard.fundNameEmbDL.remove(row)}" disabled="#{not fundCard.editing}">
                  <a:param name="mode" value="#{param.mode}" />
                  <a:param name="unitId" value="#{param.unitId}" />
                  <a:param name="nameCount" value="#{fundCard.fundNameEmbDL.rowCount}" />
                  <a:param name="action" value="namesWork" />
                </a:commandLink>
              </rich:column>
            </rich:extendedDataTable>
            <script type="text/javascript">
              if (#{not empty param.index})
              #{rich:component('tbNames')}.setSelectedRowOnTop(#{param.index});
            </script>
          </m:panelLight>
        </m:panel>
        <m:panel>
          <f:facet name="header">Количественные характеристики</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Количество описей" />
            </f:facet>
            <m:mode edit="#{fundCard.editing}" value="#{fundCard.fundImmModel.seriesCount}">
              <m:numericInput value="#{fundCard.fundModel.seriesCount}"
                              fieldName="Количество описей" maxlength="5" styleClass="width65"/>
            </m:mode>
            <h:outputLabel value="из них занесено в БД" />
            <h:outputText value="#{fundCard.fundImmModel.realSeriesCount}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Количество ед.хр." />
            </f:facet>
            <m:mode edit="#{fundCard.editing}" value="#{fundCard.fundImmModel.storageUnitCount}">
              <m:numericInput value="#{fundCard.fundModel.storageUnitCount}"
                              fieldName="Количество единиц хранения" maxlength="8" styleClass="width65"/>
            </m:mode>
            <h:outputLabel value="из них занесено в БД" />
            <h:outputText value="#{fundCard.fundImmModel.realStorageUnitCount}" />
          </m:field>
        </m:panel>
        <m:panel id="datesPanel">
          <f:facet name="header">Даты</f:facet>
          <h:inputHidden value="#{fundCard.yearIntervalEmbDL.rowCount}" />

          <div class="t_dates"><rich:toolbar>
              <a:commandLink value=" " title="Добавить" render="savePanel,datesPanel"
                             disabled="#{not fundCard.editing}"
                             action="#{fundCard.yearIntervalEmbDL.addInterval()}">
                <a:param name="mode" value="#{param.mode}"/>
                <a:param name="unitId" value="#{param.unitId}"/>
                <a:param name="yearCount" value="#{fundCard.yearIntervalEmbDL.rowCount}"/>
                <a:param name="action" value="intervalAdd"/>
              </a:commandLink>
            </rich:toolbar>
            <rich:extendedDataTable id="tbYears" value="#{fundCard.yearIntervalEmbDL.wrappedData}"
                                    var="row" style="display:block;">
              <f:facet name="header">
                <h:outputLabel value="Крайние даты"/>
              </f:facet>
              <rich:column width="150px">
                <f:facet name="header">
                  <h:outputLabel value="Начальный"/>
                </f:facet>
                <m:mode edit="#{fundCard.editing}" value="#{row.beginYear}">
                  <m:yearsOfMaterials value="#{row.beginYear}" fieldName="Годы материалов"
                                  maxlength="4"/>
                </m:mode>
              </rich:column>
              <rich:column width="150px">
                <f:facet name="header">
                  <h:outputLabel value="Конечный"/>
                </f:facet>
                <m:mode edit="#{fundCard.editing}" value="#{row.endYear}">
                  <m:yearsOfMaterials value="#{row.endYear}" fieldName="Годы материалов"
                                  maxlength="4"/>
                </m:mode>
              </rich:column>
              <rich:column width="45px">
                <a:commandLink value=" " title="Удалить" render="savePanel,datesPanel"
                               action="#{fundCard.yearIntervalEmbDL.remove(row)}"
                               disabled="#{not fundCard.editing}">
                  <a:param name="mode" value="#{param.mode}"/>
                  <a:param name="unitId" value="#{param.unitId}"/>
                  <a:param name="yearCount" value="#{fundCard.yearIntervalEmbDL.rowCount}"/>
                </a:commandLink>
              </rich:column>
            </rich:extendedDataTable>
            <script type="text/javascript">
              if (#{param.action eq 'intervalAdd'})
              #{rich:component('tbYears')}.
                        last();
            </script>
          </div>
        </m:panel>
        <m:panel>
          <f:facet name="header">Дополнительные сведения</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Аннотация" />
            </f:facet>
            <m:mode edit="#{fundCard.editing}" value="#{fundCard.model.annotation}" >
              <h:inputTextarea value="#{fundCard.model.annotation}" styleClass="height75">
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Примечание" />
            </f:facet>
            <m:mode edit="#{fundCard.editing}" value="#{fundCard.fundModel.notes}">
              <h:inputTextarea value="#{fundCard.fundModel.notes}" maxlength="4000" styleClass="height75" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Историческая справка" />
            </f:facet>
            <m:mode edit="#{fundCard.editing}" value="#{fundCard.fundModel.historicalNote}">
              <h:inputTextarea value="#{fundCard.fundModel.historicalNote}" styleClass="height75" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel id="descPanel" styleClass="block-form t-width753">
          <f:facet name="header">Ключевые слова</f:facet>
          <rich:toolbar>
            <a:commandLink value=" " title="Добавить"
                           disabled="#{not fundCard.editing or empty fundCard.model.univDataUnitId}"
                           oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
                           render="valueSelect:form:container">
              <a:param name="renderParam" value="form:descPanel" />
              <a:param name="selectMethod" value="selectDescriptor" />
              <a:param name="unitId" value="#{fundCard.model.univDataUnitId}" />
              <a:param name="mode" value="edit" />
              <a:param name="index" value="#{fundCard.descriptorEmbDL.rowCount}" />
            </a:commandLink>
          </rich:toolbar>
          <rich:extendedDataTable id="tbDescriptors" value="#{fundCard.descriptorEmbDL.wrappedData}"
                                  var="row" style="display:block;" rowKeyVar="idx">
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor1}" title="#{row.descriptor1}" />
            </rich:column>
            <rich:column width="210px">
              <f:facet name="header">
                <h:outputLabel value="Тип связи" />
              </f:facet>
              <h:outputText value="#{row.descRelation}" title="#{row.descRelation}" />
            </rich:column>
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Связанное значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor2}" title="#{row.descriptor2}" />
            </rich:column>
            <rich:column width="80px">
              <a:commandLink value=" " title="Связь"
                             oncomplete="#{rich:component('descRelationEdit:form:panel')}.show()"
                             render="descRelationEdit:form:container"
                             disabled="#{not fundCard.editing}">
                <a:param name="univDescId" value="#{row.univDescriptorId}" />
                <a:param name="unitId" value="#{fundCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
                <a:param name="renderParam" value="form:descPanel" />
                <a:param name="index" value="#{idx}" />
                <a:param name="descriptor1" value="#{row.descriptor1}"/>
              </a:commandLink>
              <a:commandLink value=" " title="Удалить" render="tbDescriptors"
                             action="#{fundCard.descriptorEmbDL.remove(row)}"
                             disabled="#{not fundCard.editing}">
                <a:param name="unitId" value="#{fundCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
              </a:commandLink>
            </rich:column>
          </rich:extendedDataTable>
             <script type="text/javascript">
            if (#{not empty param.index} &amp;&amp;
                    #{rich:component('tbDescriptors')}.rowCount &gt; Number('#{param.index}'))
                #{rich:component('tbDescriptors')}.setSelectedRowOnTop(#{param.index});
             </script>
        </m:panel>
      </h:form>
      <c:univDescRelEdit id="descRelationEdit" selectBean="#{fundCard}" valueSelectPanelId="valueSelect">
        <a:param name="mode" value="edit" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="index" value="#{param.index}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="descriptor1" value="#{param.descriptor1}" />
      </c:univDescRelEdit>
      <c:descValueSelectorPanel id="valueSelect" selectBean="#{fundCard}">
        <a:param name="mode" value="edit" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="index" value="#{param.index}" />
      </c:descValueSelectorPanel>
    </ui:define>
  </ui:composition>
</html>