<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/WEB-INF/templates/layout.xhtml">
        <ui:param name="_title" value="Описание документальных комплексов: кинодокумент" />

        <ui:define name="main_body">
            <h:outputScript name="phonodoc.js" library="js" />
            <h:form id="form" class="complex_tree kino-doc">
                <a:jsFunction name="preUpload" render="postUploadFn"
                              action="#{attachedFilesUpload.startUploading()}">
                    <a:param name="category" />
                    <a:param name="subId" />
                    <a:param name="index" />
                    <a:param name="unitId" value="#{param.unitId}" />
                </a:jsFunction>
                <a:outputPanel id="postUploadFn">
                    <ui:param name="renderParam"
                              value="#{param.category eq 'KINO_UNIT' ? 'countables' :
                                       (param.category eq 'KINO_STORY_DESCRIPTION' ? 'perfanno:container' : '')}" />
                    <a:commandLink id="postUpload" style="display:none"
                                   action="#{kinodocCard.postFileUpload()}"
                                   execute="@all" render="#{renderParam}">
                        <a:param name="category" value="#{param.category}" />
                        <a:param name="index" value="#{param.index}" />
                    </a:commandLink>
                </a:outputPanel>
                <div class="menu_desc_gr" id="menu_f">
                    <rich:toolbar>
                        <h:link value="Редактировать" title="Редактировать" outcome="/data/complex/kinodoc.jsf"
                                disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
                            <a:param name="unitId" value="#{param.unitId}" />
                            <a:param name="mode" value="edit" />
                        </h:link>
                        <a:commandLink value="Сохранить" title="Сохранить" action="#{kinodocCard.save()}"
                                       disabled="#{not kinodocCard.editing}" />
                        <h:link value="Обновить" title="Обновить" outcome="/data/complex/kinodoc.jsf">
                            <a:param name="owner" value="#{param.owner}" />
                            <a:param name="descLevel" value="#{param.descLevel}" />
                            <a:param name="parentId" value="#{param.parentId}" />
                            <a:param name="unitId" value="#{param.unitId}" />
                            <a:param name="mode" value="#{empty param.unitId ? 'add' : null}" />
                        </h:link>
                        <h:link value="Добавить" title="Добавить" outcome="/data/complex/kinodoc.jsf"
                                disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
                            <a:param name="owner" value="#{kinodocCard.model.resOwnerId}" />
                            <a:param name="descLevel" value="#{kinodocCard.model.descriptionLevelId}" />
                            <a:param name="parentId" value="#{kinodocCard.model.parentUnitId}" />
                            <a:param name="mode" value="add" />
                        </h:link>
                        <h:link value="Структура" title="Структура" outcome="/data/complex/complexTree.jsf" styleClass="structure-pict">
                            <a:param name="unitId" value="#{empty param.unitId ? param.parentId : param.unitId}" />
                            <a:param name="owner" value="#{param.owner}" />
                        </h:link>
                        <a:commandLink value="Описание сюжета" title="Описание сюжета"
                                       id="perform_anno" style="display: #{kinodocCard.kinodocImmModel.storageUnitCount gt 0 ? '': 'none'}"
                                       action="#{kinodocCard.storageUnitEmbDL.refreshCbValues()}"
                                       render="perfanno:container,perfanno:closeButton"
                                       oncomplete="#{rich:component('perfanno:panel')}.show()"
                                       styleClass="ann-pict"/>
                    </rich:toolbar>
                </div>
                <m:panel>
                    <f:facet name="header">Идентификация</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Архив" />
                        </f:facet>
                        <h:outputText value="#{kinodocCard.immModel.archiveName}" />
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Положение в структуре" />
                        </f:facet>
                        <rich:tree binding="#{hierarchyTree.tree}" var="item" toggleType="client"
                                   selectionType="client" nodeType="#{item.type}"
                                   value="#{hierarchyTree.rootNodes}">
                            <rich:treeNode type="unit" expanded="#{true}"
                                           iconExpanded="../../resources/images/series.png"
                                           iconCollapsed="../../resources/images/series.png"
                                           iconLeaf="../../resources/images/archive_folders.png">
                                <h:outputText value="#{item.label}" />
                            </rich:treeNode>
                        </rich:tree>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Тематический раздел портала" />
                        </f:facet>
                        <m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.immModel.portalSection}">
                            <h:selectOneMenu value="#{kinodocCard.model.portalSectionId}" class="width450">
                                <f:selectItems value="#{systemSelectItem.portalSections}" />
                            </h:selectOneMenu>
                        </m:mode>
                    </m:field>
                    <fieldset class="archive-code">
                        <legend>Архивный шифр</legend>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Фонд" />
                            </f:facet>
                            <m:mode edit="#{kinodocCard.editing and empty kinodocCard.fundModel}"
									value="#{kinodocCard.immModel.fundPrefix}#{empty kinodocCard.immModel.fundPrefix ? '':'-'}#{kinodocCard.immModel.fundNum}#{kinodocCard.immModel.fundLetter}">
                                <h:outputLabel value="Префикс" />
                                <h:inputText value="#{kinodocCard.immModel.fundPrefix}" maxlength="2" class="width30">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                                <h:outputLabel value="№"/>
                                <m:numericInput value="#{kinodocCard.immModel.fundNum}"
                                                fieldName="Номер фонда" maxlength="8" />
                                <h:outputLabel value="Литера" />
                                <h:inputText value="#{kinodocCard.immModel.fundLetter}" maxlength="250">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                            </m:mode>
                        </m:field>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Опись" />
                            </f:facet>
                            <m:mode edit="#{kinodocCard.editing and empty kinodocCard.seriesModel}"
                                    value="#{kinodocCard.immModel.seriesNum}#{kinodocCard.immModel.seriesLetter}">
                                <h:outputLabel value="№" style="margin-left:116px"/>
                                <m:numericInput value="#{kinodocCard.immModel.seriesNum}"
                                                fieldName="Номер описи" maxlength="8" />
                                <h:outputLabel value="Литера" />
                                <h:inputText value="#{kinodocCard.immModel.seriesLetter}" maxlength="250">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                            </m:mode>
                        </m:field>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Ед. учёта" />
                            </f:facet>
                            <m:mode edit="#{kinodocCard.editing}"
                                    value="#{kinodocCard.immModel.unitNum}#{kinodocCard.immModel.unitLetter}">
                                <h:outputLabel value="№" style="margin-left:116px"/>
                                <m:numericInput value="#{kinodocCard.model.numberNumber}"
                                                fieldName="Номер ед. учёта" maxlength="6" />
                                <h:outputLabel value="Литера" />
                                <h:inputText value="#{kinodocCard.model.numberText}" maxlength="250">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                            </m:mode>
                        </m:field>
                    </fieldset>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Вид кинодокумента" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" 
								value="#{kinodocCard.kinodocImmModel.kinodocType}">
							<h:selectOneMenu value="#{kinodocCard.kinodocModel.kinodocTypeId}" class="width450">
								<f:selectItems value="#{systemSelectItem.kinodocTypes}" />
							</h:selectOneMenu>
						</m:mode>
					</m:field>
                </m:panel>
				<m:panel>
					<f:facet name="header">Заголовки</f:facet>
					<m:field>
						<f:facet name="header">
							<a:outputPanel>
								<h:outputLabel value="Название документа" />
							</a:outputPanel>
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.kinodocName}">
							<h:inputText value="#{kinodocCard.kinodocModel.kinodocName}" maxlength="2500"
										 class="width450">
								<f:converter converterId="trimTextConverter" />
							</h:inputText>
						</m:mode>
					</m:field>

					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Место события" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.eventPlace}">
							<h:inputText value="#{kinodocCard.kinodocModel.eventPlace}" maxlength="250" class="width450">
								<f:converter converterId="trimTextConverter" />
							</h:inputText>
						</m:mode>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Киностудия" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.filmStudio}">
							<h:inputText value="#{kinodocCard.kinodocModel.filmStudio}" maxlength="250" class="width450">
								<f:converter converterId="trimTextConverter" />
							</h:inputText>
						</m:mode>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Режиссер" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.director}">
							<h:inputText value="#{kinodocCard.kinodocModel.director}" maxlength="250" class="width450">
								<f:converter converterId="trimTextConverter" />
							</h:inputText>
						</m:mode>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Оператор(ы)" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.operators}">
							<h:inputText value="#{kinodocCard.kinodocModel.operators}" maxlength="250" class="width450">
								<f:converter converterId="trimTextConverter" />
							</h:inputText>
						</m:mode>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Другие создатели" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.others}">
							<h:inputText value="#{kinodocCard.kinodocModel.otherCreators}" maxlength="250" class="width450">
								<f:converter converterId="trimTextConverter" />
							</h:inputText>
						</m:mode>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Страна создатель" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" 
								value="#{kinodocCard.kinodocImmModel.country}">
							<h:selectOneMenu value="#{kinodocCard.kinodocModel.countryId}" class="width450">
								<f:selectItems value="#{systemSelectItem.productionCountries}" />
							</h:selectOneMenu>
						</m:mode>
					</m:field>
				</m:panel>

                <m:panel id="countables" styleClass="width97p count-char">
                    <f:facet name="header">Количественные характеристики</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Количество ед. хранения" />
                        </f:facet>
                        <h:outputText value="#{kinodocCard.kinodocImmModel.storageUnitCount}" />
                    </m:field>
                    <rich:toolbar styleClass="width99-2p">
                        <a:commandLink value="" title="Добавить" render="countables perform_anno"
                                       action="#{kinodocCard.storageUnitEmbDL.addStorageUnit()}"
                                       disabled="#{not kinodocCard.editing}" >
                            <a:param name="storageUnitIdx" value="#{kinodocCard.storageUnitEmbDL.rowCount}" />
                        </a:commandLink>
                    </rich:toolbar>                    
                    <a:region>
                        <a:jsFunction name="confirmRemoveStorageUnit"
                                      data="#{kinodocCard.storageUnitEmbDL.confirmRemoveText}"
                                      oncomplete="insoft.showConfirmDialog(event.data, removeStorageUnit)">
                            <a:param name="index" assignTo="#{kinodocCard.storageUnitEmbDL.removedItemIdx}" />
                        </a:jsFunction>
                        <a:jsFunction name="removeStorageUnit" action="#{kinodocCard.storageUnitEmbDL.removeStorageUnit()}"
                                      render="countables perform_anno" execute="@region"
                                      oncomplete="Insoft.phonodoc.countTotalPlaytime()" />
                        <rich:extendedDataTable id="tbStorageUnits" var="row" rowKeyVar="idx" styleClass="width100p quantity "
                                                value="#{kinodocCard.editing ? kinodocCard.storageUnitEmbDL.wrappedData :
                                                         kinodocCard.kinodocImmModel.storageUnits}">
                            <rich:column width="110px">
                                <f:facet name="header">
                                    <h:outputLabel value="№ ед. хранения" />
                                </f:facet>
                                <m:mode edit="#{kinodocCard.editing}" value="#{row.numberNumber}">
                                    <m:numericInput value="#{row.numberNumber}" fieldName="№ ед. хранения"
                                                    maxlength="6" />
                                </m:mode>
                            </rich:column>
                            <rich:column width="100px">
                                <f:facet name="header">
                                    <h:outputLabel value="Литера" />
                                </f:facet>
                                <m:mode edit="#{kinodocCard.editing}" value="#{row.numberText}">
                                    <h:inputText value="#{row.numberText}" maxlength="4">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputText>
                                </m:mode>
                            </rich:column>
                            <rich:column width="110px">
                                <f:facet name="header">
                                    <h:outputLabel value="Время" />
                                </f:facet>
                                <m:mode edit="#{kinodocCard.editing}" 
                                        value="#{empty row.playtime ? '' : kinodocCard.getPlaytimeStr(row.playtime)}">
                                    <c:playtime id="suPlaytime" value="#{row.playtime}" 
                                                onchange="Insoft.phonodoc.countTotalPlaytime" />
                                </m:mode>
                            </rich:column>
                            <rich:column width="100px">
                                <f:facet name="header">
                                    <h:outputLabel value="Звук" />
                                </f:facet>
                                <m:mode edit="#{kinodocCard.editing}" value="#{row.sound}">
                                    <h:selectOneMenu value="#{row.soundId}">
                                        <f:selectItems value="#{systemSelectItem.sounds}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="90px">
                                <f:facet name="header">
                                    <h:outputLabel value="Цветность" />
                                </f:facet>
                                <m:mode edit="#{kinodocCard.editing}" value="#{row.color}">
                                    <h:selectOneMenu value="#{row.colorId}">
                                        <f:selectItems value="#{systemSelectItem.colors}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="140px">
                                <f:facet name="header">
                                    <h:outputLabel value="Система записи" />
                                </f:facet>
                                <m:mode edit="#{kinodocCard.editing}" value="#{row.systemRecord}">
                                    <h:selectOneMenu value="#{row.systemRecordId}">
                                        <f:selectItems value="#{systemSelectItem.recordSystems}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="140px">
                                <f:facet name="header">
                                    <h:outputLabel value="Качество" />
                                </f:facet>
                                <m:mode edit="#{kinodocCard.editing}" value="#{row.quality}">
                                    <h:selectOneMenu value="#{row.qualityId}">
                                        <f:selectItems value="#{systemSelectItem.soundQualities}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="335px" styleClass="record-style">
                                <div>
                                    <a:commandLink value="" title="Прикрепить файл"
                                                   onclick="preUpload('KINO_UNIT', #{row.kinoStorageUnitId}, #{idx});
                                                                                                               $(#{rich:element('upload')}).find('.rf-fu-inp').click();
                                                                                                               return false;"
                                                   disabled="#{not kinodocCard.editing or empty row.kinoStorageUnitId}"
                                                   styleClass="attach" />
                                    <a:commandLink value="Описание сюжета" title="Описание сюжета"
                                                   rendered="#{not kinodocCard.kinoStoryDescEmbDL.getFilteredImmutableData(idx).isEmpty()}"
                                                   action="#{kinodocCard.storageUnitEmbDL.refreshCbValues()}"
                                                   render="perfanno:container,perfanno:closeButton"
                                                   oncomplete="#{rich:component('perfanno:panel')}.show()"
                                                   styleClass="ann-pict" >
                                        <a:param name="storageUnitIdx" value="#{idx}" />
                                    </a:commandLink>
                                </div>
                                <div class="audio-style">
                                    <c:videoPlayer filePath="#{row.filePathData}" />
                                </div>                                
                            </rich:column>
                            <rich:column width="40px" >
                                <a:commandLink value="" title="Удалить"
                                               onclick="confirmRemoveStorageUnit(#{idx});
													   return false"
                                               disabled="#{not kinodocCard.editing}"
                                               styleClass="del_cross" />
                            </rich:column>
                        </rich:extendedDataTable>
                    </a:region>
                    <script type="text/javascript">
						if (#{not empty param.storageUnitIdx} &amp;&amp;
							#{rich:component('tbStorageUnits')}.rowCount &gt; Number('#{param.storageUnitIdx}'))
						#{rich:component('tbStorageUnits')}.setSelectedRowOnTop(#{param.storageUnitIdx});
                    </script>
                </m:panel>
                <m:panel>
                    <f:facet name="header">Даты</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Дата события" />
                        </f:facet>
                        <m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.eventDate}">
                            <m:date value="#{kinodocCard.intervalModel.beginDate}"
                                    fieldName="Дата события" defaultDate="01/01/1940" />
                        </m:mode>
                    </m:field>                       
                </m:panel>
                <m:panel>
                    <f:facet name="header">Дополнительные сведения</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Дата выпуска" />
                        </f:facet>
                        <m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.issueDate}">
                            <m:date value="#{kinodocCard.kinodocModel.issueDate}"
                                    fieldName="Дата выпуска" defaultDate="01/01/1940" />
                        </m:mode>
                    </m:field>
                    <m:field id="totalPlaytime">
                        <f:facet name="header">
                            <h:outputLabel value="Время (продолжительность)"/>
                        </f:facet>
                        <h:outputText value="#{kinodocCard.totalPlaytimeStr}"/>
                    </m:field>
                    <m:field>
						<f:facet name="header">
							<h:outputLabel value="Язык" />
						</f:facet>
						<m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.language}">
							<h:selectOneMenu value="#{kinodocCard.kinodocModel.languageId}">
								<f:selectItems value="#{systemSelectItem.docLanguages}" />
							</h:selectOneMenu>
						</m:mode>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Аннотация (реферат)" />
                        </f:facet>
                        <m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.model.annotation}">
                            <h:inputTextarea value="#{kinodocCard.model.annotation}">
                                <f:converter converterId="trimTextConverter" />
                            </h:inputTextarea>
                        </m:mode>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Примечание" />
                        </f:facet>
                        <m:mode edit="#{kinodocCard.editing}" value="#{kinodocCard.kinodocImmModel.notes}">
                            <h:inputTextarea value="#{kinodocCard.kinodocModel.notes}">
                                <f:converter converterId="trimTextConverter" />
                            </h:inputTextarea>
                        </m:mode>
                    </m:field>
                </m:panel>
                <m:panel id="univClssPanel" styleClass="t-width753">
                    <f:facet name="header">Тематический классификатор</f:facet>
                    <rich:toolbar>
                        <a:commandLink value="" title="Добавить"
                                       disabled="#{not kinodocCard.editing}"
                                       oncomplete="#{rich:component('univClssSelect:form:panel')}.show()"
                                       render="univClssSelect:form:container">
                            <a:param name="p_groupId" 
                                     value="#{systemEntity.getDescGroupByCode('UNIV_CLASSIFIER').descriptorGroupId}" />
                            <a:param name="renderParam" value="univClssPanel" />
                            <a:param name="selectMethod" value="selectUnivClssValue" />
                            <a:param name="index" value="#{kinodocCard.univClssEmbDL.rowCount}" />
                        </a:commandLink>
                    </rich:toolbar>
                    <rich:extendedDataTable id="tbClassifier" var="row"
                                            value="#{kinodocCard.univClssEmbDL.wrappedData}">
                        <rich:column width="150px">
                            <f:facet name="header">
                                <h:outputLabel value="Индекс" />
                            </f:facet>
                            <h:outputText value="#{row.valueIndex}" title="#{row.valueIndex}" />
                        </rich:column>
                        <rich:column width="540px">
                            <f:facet name="header">
                                <h:outputLabel value="Тема" />
                            </f:facet>
                            <h:outputText value="#{row.fullValue}" title="#{row.fullValue}" />
                        </rich:column>
                        <rich:column width="60px">
                            <a:commandLink value="" title="Удалить" render="univClssPanel"
                                           action="#{kinodocCard.univClssEmbDL.removeClassifierValue(row)}"
                                           disabled="#{not kinodocCard.editing}" />
                        </rich:column>
                    </rich:extendedDataTable>
                    <script type="text/javascript">
						if (#{not empty param.index} &amp;&amp; #{rich:component('tbClassifier')}.rowCount &gt; Number('#{param.index}'))
							#{rich:component('tbClassifier')}.setSelectedRowOnTop(#{param.index});
                    </script>
                </m:panel>
                <m:panel id="descPanel" styleClass="t-width753">
                    <f:facet name="header">Ключевые слова</f:facet>
                    <rich:toolbar>
                        <a:commandLink value="" title="Добавить"
                                       disabled="#{not kinodocCard.editing or empty kinodocCard.model.univDataUnitId}"
                                       oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
                                       render="valueSelect:form:container">
                            <a:param name="renderParam" value="descPanel" />
                            <a:param name="selectMethod" value="selectDescriptor" />
                            <a:param name="index" value="#{kinodocCard.descriptorEmbDL.rowCount}" />
                        </a:commandLink>
                    </rich:toolbar>
                    <rich:extendedDataTable id="tbDescriptors" value="#{kinodocCard.descriptorEmbDL.wrappedData}"
                                            var="row" rowKeyVar="idx">
                        <rich:column width="230px">
                            <f:facet name="header">
                                <h:outputLabel value="Значение" />
                            </f:facet>
                            <h:outputText value="#{row.descriptor1}" title="#{row.descriptor1}" />
                        </rich:column>
                        <rich:column width="210px">
                            <f:facet name="header">
                                <h:outputLabel value="Тип связи" />
                            </f:facet>
                            <h:outputText value="#{row.descRelation}" title="#{row.descRelation}" />
                        </rich:column>
                        <rich:column width="230px">
                            <f:facet name="header">
                                <h:outputLabel value="Связанное значение" />
                            </f:facet>
                            <h:outputText value="#{row.descriptor2}" title="#{row.descriptor2}" />
                        </rich:column>
                        <rich:column>
                            <a:commandLink value="" title="Связь"
                                           oncomplete="#{rich:component('descRelationEdit:form:panel')}.show()"
                                           render="descRelationEdit:form:container"
                                           disabled="#{not documentCard.editing}">
                                <a:param name="univDescId" value="#{row.univDescriptorId}" />
                                <a:param name="descriptor1" value="#{row.descriptor1}" />
                                <a:param name="index" value="#{idx}" />
                                <a:param name="renderParam" value="descPanel" />
                            </a:commandLink>
                            <a:commandLink value="" title="Удалить" render="descPanel"
                                           action="#{kinodocCard.descriptorEmbDL.remove(row)}"
                                           disabled="#{not kinodocCard.editing}" />
                        </rich:column>
                    </rich:extendedDataTable>
                    <script type="text/javascript">
						if (#{not empty param.index} &amp;&amp; #{rich:component('tbDescriptors')}.rowCount &gt; Number('#{param.index}'))
							#{rich:component('tbDescriptors')}.setSelectedRowOnTop(#{param.index});
                    </script>
                </m:panel>
            </h:form>            

            <h:form id="perfanno">
                <rich:popupPanel id="panel" domElementAttachment="parent">
                    <f:facet name="header">
                        <h:outputText value="Описание сюжета" />
                    </f:facet>
                    <f:facet name="controls">
                        <a:outputPanel id="closeButton">
                            <a:commandLink id="close" value="X"
                                           action="#{kinodocCard.kinoStoryDescEmbDL.closeWindow()}"
                                           render="form:countables"
                                           oncomplete="if (#{kinodocCard.kinoStoryDescEmbDL.canClose}) #{rich:component('perfanno:panel')}.hide()">
                                <a:param name="storageUnitIdx" value="#{param.storageUnitIdx}" />
                            </a:commandLink>
                        </a:outputPanel>
                    </f:facet>
                    <m:panel id="container">
                        <ui:param name="editAnno" 
                                  value="#{kinodocCard.editing and empty param.storageUnitIdx}" />
                        <rich:toolbar id="annoButtons">
                            <a:commandLink value="" title="Добавить" disabled="#{not editAnno}"
                                           action="#{kinodocCard.kinoStoryDescEmbDL.addStoryDescription()}"
                                           render="perfanno:container"
                                           styleClass="add_plus">
                                <a:param name="index" value="#{kinodocCard.kinoStoryDescEmbDL.rowCount}" />
                            </a:commandLink>
                            <a:commandLink value="" title="Вверх" render="perfanno:container"
                                           action="#{kinodocCard.perfAnnoEmbDL.moveUp()}"
                                           disabled="#{not editAnno or empty kinodocCard.kinoStoryDescEmbDL.rowIndex or
                                                       kinodocCard.kinoStoryDescEmbDL.rowIndex le 0}"
                                           styleClass="up_arr">
                                <a:param name="index" value="#{kinodocCard.kinoStoryDescEmbDL.rowIndex - 1}" />
                            </a:commandLink>
                            <a:commandLink value="" title="Вниз" render="perfanno:container"
                                           action="#{kinodocCard.kinoStoryDescEmbDL.moveDown()}"
                                           disabled="#{not editAnno or empty kinodocCard.kinoStoryDescEmbDL.rowIndex or
                                                       kinodocCard.kinoStoryDescEmbDL.rowIndex ge kinodocCard.kinoStoryDescEmbDL.rowCount - 1}"
                                           styleClass="down_arr">
                                <a:param name="index" value="#{kinodocCard.kinoStoryDescEmbDL.rowIndex + 1}" />
                            </a:commandLink>
                            <a:commandLink value="" title="Сохранить" render="perfanno:container"
                                           action="#{kinodocCard.kinoStoryDescEmbDL.saveStoryDescriptions()}"
                                           disabled="#{not editAnno or empty kinodocCard.kinoStoryDescEmbDL.rowIndex}"
                                           rendered="#{editAnno}"
                                           styleClass="save" style="padding: 0px">
                            </a:commandLink>
                        </rich:toolbar>
                        <a:jsFunction name="removeAnnotation" render="perfanno:container"
                                      action="#{kinodocCard.kinoStoryDescEmbDL.removeStoryDescription()}"
                                      execute="@form">
                            <a:param name="index" />
                        </a:jsFunction>
                        <rich:extendedDataTable id="tbAnnotations" var="row" rowKeyVar="idx"
                                                onselectionchange="#{editAnno ? 'passIndex()' : ''}"
                                                value="#{editAnno ? kinodocCard.kinoStoryDescEmbDL.wrappedData :
                                                         kinodocCard.kinoStoryDescEmbDL.filteredImmutableData}">
                            <f:facet name="header">
                                <a:outputPanel rendered="#{editAnno}">
                                    <m:indexer id="ind" datalist="#{kinodocCard.kinoStoryDescEmbDL}" 
                                               uiTable="tbAnnotations" render="annoButtons" />
                                </a:outputPanel>                                    
                            </f:facet>
                            <rich:column width="80px">
                                <f:facet name="header" style="padding:0 !important;">
                                    <h:outputLabel value="№ сюжета" />
                                </f:facet>
                                <h:outputText value="#{idx + 1}" />
                            </rich:column>
                            <rich:column width="70px">
                                <f:facet name="header">
                                    <h:outputLabel value="№ ед. хр." />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.storageUnitNumber}">
                                    <h:selectOneMenu value="#{row.storageUnit}" converter="#{kinoStorageUnitConverter}">
                                        <f:selectItems value="#{kinodocCard.storageUnitEmbDL.cbValues}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="65px">
                                <f:facet name="header">
                                    <h:outputLabel value="Часть" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.part}">
                                    <h:inputText value="#{row.part}" maxlength="2" styleClass="width50">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputText>                                                 
                                </m:mode>
                            </rich:column>
                            <rich:column width="200px">
                                <f:facet name="header">
                                    <h:outputLabel value="Аннотация" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.annotation}">
                                    <h:inputTextarea value="#{row.annotation}">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputTextarea>
                                </m:mode>
                            </rich:column>
                            <rich:column width="100px">
                                <f:facet name="header">
                                    <h:outputLabel value="Язык" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.language}">
                                    <h:selectOneMenu value="#{row.languageId}">
                                        <f:selectItems value="#{systemSelectItem.docLanguages}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="90px">
                                <f:facet name="header">
                                    <h:outputLabel value="Время" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" 
                                        value="#{empty row.playtime ? '' : kinodocCard.getPlaytimeStr(row.playtime)}">
                                    <c:playtime value="#{row.playtime}" />
                                </m:mode>
                            </rich:column>
                            <rich:column width="340px">
                                <a:commandLink value="" title="Прикрепить файл"
                                               onclick="preUpload('KINO_STORY_DESCRIPTION', #{row.storyDescId}, #{idx});
													   $(#{rich:element('upload')}).find('.rf-fu-inp').click();
													   return false;"
                                               disabled="#{not editAnno or empty row.storyDescId}"
                                               styleClass="attach" />
                                <div class="inline-block"><c:videoPlayer filePath="#{row.filePathData}" /></div>
                            </rich:column>
                            <rich:column width="40px">
                                <a:commandLink value="" title="Удалить"
                                               onclick="insoft.showConfirmDialog(
															   '#{kinodocCard.kinoStoryDescEmbDL.getConfirmRemoveText(idx)}',
															   removeAnnotation, #{idx});
													   return false"
                                               disabled="#{not editAnno}"
                                               styleClass="del_cross"/>
                            </rich:column>
                        </rich:extendedDataTable>
                        <script type="text/javascript">
							if (#{not empty param.index} &amp;&amp; #{rich:component('tbAnnotations')}.rowCount &gt; Number('#{param.index}'))
								#{rich:component('tbAnnotations')}.setSelectedRowOnTop(#{param.index});
                        </script>
                    </m:panel>
                </rich:popupPanel>
            </h:form>

            <c:univDescRelEdit id="descRelationEdit" selectBean="#{kinodocCard}" valueSelectPanelId="valueSelect">
                <a:param name="index" value="#{param.index}" />
            </c:univDescRelEdit>
            <c:descValueSelectorPanel id="valueSelect" selectBean="#{kinodocCard}">
                <a:param name="index" value="#{param.index}" />
            </c:descValueSelectorPanel>            
            <c:univClssSelectorPanel id="univClssSelect" selectBean="#{kinodocCard}">
                <a:param name="index" value="#{param.index}" />
            </c:univClssSelectorPanel>
            <m:uploadPanel id="uploadPanel" listenerBean="#{attachedFilesUpload}"
                           listenerMethod="fileUploadListener" acceptedTypes="mp4" />
            <div class="yes_no">
                <m:yesNoPanelJs id="yesNo" />
            </div>
        </ui:define>
    </ui:composition>
</html>
