<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Описание документальных комплексов: единица хранения" />

    <ui:define name="main_body">
      <h:form id="form" class="complex_tree">
        <div class="menu_desc_gr" id="menu_f_d">
          <rich:toolbar>
            <h:link value="Редактировать" title="Редактировать" outcome="/data/complex/paperFile.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="edit" />
            </h:link>
            <a:outputPanel id="savePanel" styleClass="vis_pict">
              <a:commandLink value="Сохранить" title="Сохранить"
                             action="#{storageUnitCard.save()}" disabled="#{not storageUnitCard.editing}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="langCount" value="#{storageUnitCard.langCollection.itemCount}" />
                <a:param name="action" value="save" />
              </a:commandLink>
            </a:outputPanel>
            <h:link value="Обновить" title="Обновить" outcome="/data/complex/paperFile.jsf">
              <a:param name="owner" value="#{param.owner}" />
              <a:param name="descLevel" value="#{param.descLevel}" />
              <a:param name="parentId" value="#{param.parentId}" />
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="#{empty param.unitId ? 'add' : null}" />
            </h:link>
            <h:link value="Добавить" title="Добавить" outcome="/data/complex/paperFile.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="owner" 
                       value="#{empty param.owner ? storageUnitCard.model.resOwnerId : param.owner}" />
              <a:param name="descLevel"
                       value="#{empty param.descLevel ? storageUnitCard.model.descriptionLevelId : param.descLevel}" />
              <a:param name="parentId"
                       value="#{empty param.parentId ? storageUnitCard.model.parentUnitId : param.parentId}" />
              <a:param name="mode" value="add" />
            </h:link>
            <h:link value="Структура" title="Структура"	outcome="/data/complex/complexTree.jsf">
              <a:param name="unitId" 
                       value="#{empty param.unitId ? param.parentId : param.unitId}" />
              <a:param name="owner" value="#{param.owner}" />
            </h:link>
            <h:link value="Прикрепление файлов" title="Прикрепление файлов"
                    outcome="/data/complex/attachedFiles.jsf" styleClass="attach"
                    disabled="#{empty param.unitId or not access.hasAccess('COMPLEX_ATTACH_FILES')}" >
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="unitType" value="#{storageUnitCard.immModel.unitTypeCode}" />
            </h:link>
            <h:link value="Просмотр графических образов" title="Просмотр графических образов"
                    outcome="/data/complex/showImageGrid.jsf" 
                    disabled="#{empty param.unitId or storageUnitCard.immModel.imageCount eq 0}">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="unitType" value="#{storageUnitCard.immModel.unitTypeCode}" />
            </h:link>
          </rich:toolbar>
        </div>
        <h:inputHidden value="#{storageUnitCard.model.resOwnerId}" />
        <h:inputHidden value="#{storageUnitCard.model.descriptionLevelId}" />
        <h:inputHidden value="#{storageUnitCard.model.parentUnitId}" />
        <m:panel id="identity">
          <f:facet name="header">Идентификация</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Архив" />
            </f:facet>
            <h:outputText value="#{storageUnitCard.immModel.archiveName}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Уровень описания" />
            </f:facet>
            <h:outputText value="#{storageUnitCard.immModel.descriptionLevel}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Тип" />
            </f:facet>
            <h:outputText value="#{storageUnitCard.immModel.unitType}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Положение в структуре архива" />
            </f:facet>
            <rich:tree id="hierarchy" binding="#{hierarchyTree.tree}" var="item" 
                       toggleType="client"	selectionType="client" nodeType="#{item.type}"
                       value="#{hierarchyTree.rootNodes}">
              <rich:treeNode type="unit" expanded="#{true}"
                             iconExpanded="../../resources/images/series.png"
                             iconCollapsed="../../resources/images/series.png"
                             iconLeaf="../../resources/images/doc_tree.png">
                <h:outputText value="#{item.label}" />
              </rich:treeNode>
            </rich:tree>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Тематический раздел портала" />
            </f:facet>
            <m:mode value="#{storageUnitCard.immModel.portalSection}" edit="#{storageUnitCard.editing}">
              <h:selectOneMenu value="#{storageUnitCard.model.portalSectionId}" class="width450">
                <f:selectItems value="#{systemSelectItem.portalSections}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
          <fieldset>
            <legend>Архивный шифр</legend>
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Фонд" />
              </f:facet>
              <h:inputHidden value="#{storageUnitCard.immModel.fundPrefix}" />
              <h:inputHidden value="#{storageUnitCard.immModel.fundNum}" />
              <h:inputHidden value="#{storageUnitCard.immModel.fundLetter}" />
              <m:mode edit="#{storageUnitCard.editing and empty storageUnitCard.fundModel}"
                      value="#{storageUnitCard.immModel.fundPrefix}#{empty storageUnitCard.immModel.fundPrefix ? '':'-'}#{storageUnitCard.immModel.fundNum}#{documentCard.immModel.fundLetter}">
                <h:outputLabel value="Префикс" />
                <h:inputText value="#{storageUnitCard.immModel.fundPrefix}" maxlength="2" >
                  <f:converter converterId="trimTextConverter"/>
                </h:inputText>
                <m:numericInput value="#{storageUnitCard.immModel.fundNum}"
                                fieldName="Номер фонда" maxlength="8" />
                <h:outputLabel value="Литера" />
                <h:inputText value="#{storageUnitCard.immModel.fundLetter}" maxlength="250" >
                  <f:converter converterId="trimTextConverter"/>
                </h:inputText>
              </m:mode>
            </m:field>
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Опись" />
              </f:facet>
              <h:inputHidden value="#{storageUnitCard.immModel.seriesNum}" />
              <h:inputHidden value="#{storageUnitCard.immModel.seriesLetter}" />
              <m:mode edit="#{storageUnitCard.editing and empty storageUnitCard.seriesModel}"
                      value="#{storageUnitCard.immModel.seriesNum}#{storageUnitCard.immModel.seriesLetter}">
                <m:numericInput value="#{storageUnitCard.immModel.seriesNum}"
                                fieldName="Номер описи" maxlength="8" />
                <h:outputLabel value="Литера" />
                <h:inputText value="#{storageUnitCard.immModel.seriesLetter}" maxlength="250" >
                  <f:converter converterId="trimTextConverter"/>
                </h:inputText>
              </m:mode>
            </m:field>
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Дело" />
              </f:facet>
              <m:mode edit="#{storageUnitCard.editing}" value="#{storageUnitCard.immModel.unitInfo}">
                <m:numericInput value="#{storageUnitCard.model.numberNumber}"
                                fieldName="Номер дела" maxlength="8" styleClass="width50" />
                <h:outputLabel value="Литера" />
                <h:inputText value="#{storageUnitCard.model.numberText}" maxlength="250" class="width50" > 
                  <f:converter converterId="trimTextConverter"/>
                </h:inputText>
                <h:outputLabel value="Том" />
                <m:numericInput value="#{storageUnitCard.storageUnitModel.volumeNum}"
                                fieldName="Том" maxlength="5" styleClass="width50" />
                <h:outputLabel value="Часть" />
                <m:numericInput value="#{storageUnitCard.storageUnitModel.partNum}"
                                fieldName="Часть" maxlength="5" styleClass="width50"/>
              </m:mode>
            </m:field>
          </fieldset>
          <a:outputPanel id="rubricsPanel">
            <a:outputPanel rendered="#{storageUnitCard.rubrics.size() > 0}">
              <m:field>
                <f:facet name="header">
                  <h:outputLabel value="Рубрики" />
                </f:facet>
                <a:repeat value="#{storageUnitCard.rubrics}" var="rubric">
                  <h:outputText value="#{rubric.descriptorCode}" />
                  <h:outputText value="#{rubric.descriptor1}" />
                </a:repeat>
              </m:field>
            </a:outputPanel>
          </a:outputPanel>
        </m:panel>
        <m:panel>
          <f:facet name="header">Заголовки</f:facet>
          <a:repeat value="#{storageUnitCard.seriesStructures}" var="structure" rowKeyVar="num">
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Раздел #{num + 1}" />
              </f:facet>
              <h:outputText value="#{structure.parentUnitName}" />
            </m:field>
          </a:repeat>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Заголовок дела" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}" 
                    value="#{storageUnitCard.storageUnitImmModel.fileCaption}">
              <h:inputTextarea value="#{storageUnitCard.storageUnitModel.fileCaption}" maxlength="2500" 
                               class="width500 height75" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Количественные характеристики</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Количество листов" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}"
                    value="#{storageUnitCard.storageUnitImmModel.pageCount}">
              <m:numericInput value="#{storageUnitCard.storageUnitModel.pageCount}" 
                              fieldName="Количество листов" maxlength="5" styleClass="width50"/>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Количество документов" />
            </f:facet>
            <h:outputText value="#{storageUnitCard.storageUnitImmModel.realDocumentCount}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Количество графических образов" />
            </f:facet>
            <h:outputText value="#{storageUnitCard.immModel.imageCount}" />
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Даты</f:facet>
          <!--<h:outputLabel value="Крайние даты документов:" />-->
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Начальная дата" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}" 
                    value="#{storageUnitCard.storageUnitImmModel.beginDateStr}">
              <m:date value="#{storageUnitCard.intervalModel.beginDate}"
                      fieldName="Начальная дата" defaultDate="01/01/1940" />
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Конечная дата" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}"
                    value="#{storageUnitCard.storageUnitImmModel.endDateStr}">
              <m:date value="#{storageUnitCard.intervalModel.endDate}"
                      fieldName="Конечная дата" defaultDate="01/01/1940" />
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Дата в своб.формате" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}"
                    value="#{storageUnitCard.storageUnitImmModel.datesNote}">
              <h:inputText value="#{storageUnitCard.storageUnitModel.datesNote}" styleClass="width300">
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Дополнительные сведения</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Аннотация" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}"
                    value="#{storageUnitCard.model.annotation}">
              <h:inputTextarea value="#{storageUnitCard.model.annotation}" styleClass="height75">
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field id="langField" styleClass="lang">
            <f:facet name="header">
              <h:outputLabel value="Язык документов" />
            </f:facet>
            <h:inputHidden value="#{storageUnitCard.langCollection.itemCount}" />
            <a:commandLink value=" " title="Добавить"
                           action="#{storageUnitCard.langCollection.addSingleItem()}"
                           render="savePanel,langField" disabled="#{not storageUnitCard.editing}">
              <a:param name="mode" value="#{param.mode}" />
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="langCount" value="#{storageUnitCard.langCollection.itemCount}" />
            </a:commandLink>
            <a:repeat value="#{storageUnitCard.langCollection.items}" var="item">
              <m:mode edit="#{storageUnitCard.editing}"
                      value="#{systemEntity.getDescValue(item.docLanguageId).fullValue}" >
                <h:selectOneMenu value="#{item.docLanguageId}" styleClass="margin5">
                  <f:selectItems value="#{systemSelectItem.docLanguages}" />
                </h:selectOneMenu>
              </m:mode>
              <a:commandLink value=" " title="Удалить" render="savePanel,langField"
                             action="#{storageUnitCard.langCollection.removeItem(item)}"
                             disabled="#{not storageUnitCard.editing}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="langCount" value="#{storageUnitCard.langCollection.itemCount}" />
              </a:commandLink>
            </a:repeat>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Делопроизводственный индекс" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}"
                    value="#{storageUnitCard.storageUnitImmModel.workIndex}">
              <h:inputText value="#{storageUnitCard.storageUnitModel.workIndex}" maxlength="250" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Примечание" />
            </f:facet>
            <m:mode edit="#{storageUnitCard.editing}"
                    value="#{storageUnitCard.storageUnitImmModel.notes}">
              <h:inputTextarea value="#{storageUnitCard.storageUnitModel.notes}" maxlength="4000" styleClass="height75" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
        </m:panel>
        <div class="checkBox">
          <m:field>
            <f:facet name="footer">
              <h:outputLabel value="Имеются ограничения к использованию" />
            </f:facet>
            <h:selectBooleanCheckbox value="#{storageUnitCard.model.accessLimited}"
                                     disabled="#{not storageUnitCard.editing}" />
          </m:field>
        </div>

        <m:panel id="cardLink">
          <f:facet name="header">Ссылки</f:facet>
          <rich:toolbar styleClass="pict_section_menu">
            <a:commandLink value="" title="Добавить"
                           oncomplete="#{rich:component('cardLinks:form:panel')}.show()"
                           disabled="#{not storageUnitCard.editing}"
                           render="cardLinks:form" execute="@form">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="#{param.mode}" />
              <a:param name="descLevelForCarldLink" value="#{seriesCard.model.descriptionLevelId}"/>
              <a:param name="selectMethod" value="" />
              <a:param name="descIds" value="#{complexSearch.descIds}" />
              <a:param name="renderParam" value="" />

            </a:commandLink>
          </rich:toolbar>
          <h:dataTable id="cardLinks" value="#{storageUnitCard.cardLinks}" var="row1"
                       styleClass="links_style"> 
            <h:column>
              <h:link value=" #{row1.unitFullName}"  target="_blank"
                      outcome="#{addComplex.getPageName(row1.unitTypeCode)}">
                <f:param name="unitId" value="#{row1.unitIdLinked}" />
              </h:link>            
            </h:column>

            <h:column>
              <a:commandLink  value="" title="Удалить" 
                              action="#{storageUnitCard.deleteCardLink(row1)}" render="cardLink" execute="@form"
                              disabled="#{not storageUnitCard.editing}" styleClass="del_cross">
                <a:param name="unitId" value="#{param.unitId}" />
                <f:param name="mode" value="#{param.mode}" />

              </a:commandLink>
            </h:column>

          </h:dataTable>

        </m:panel>


        <m:panel id="descPanel" styleClass="block-form t-width753">
          <f:facet name="header">Ключевые слова</f:facet>
          <rich:toolbar>
            <a:commandLink value=" " title="Добавить"
                           disabled="#{not storageUnitCard.editing or empty storageUnitCard.model.univDataUnitId}"
                           oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
                           render="valueSelect:form:container">
              <a:param name="renderParam" value="form:descPanel,form:identity:rubricsPanel" />
              <a:param name="selectMethod" value="selectDescriptor" />
              <a:param name="unitId" value="#{storageUnitCard.model.univDataUnitId}" />
              <a:param name="mode" value="edit" />
              <a:param name="index" value="#{storageUnitCard.descriptorEmbDL.rowCount}" />
            </a:commandLink>
          </rich:toolbar>
          <rich:extendedDataTable id="tbDescriptors" value="#{storageUnitCard.descriptorEmbDL.wrappedData}"
                                  var="row" style="display:block;" rowKeyVar="idx">
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor1}" title="#{row.descriptor1}" />
            </rich:column>
            <rich:column width="210px">
              <f:facet name="header">
                <h:outputLabel value="Тип связи" />
              </f:facet>
              <h:outputText value="#{row.descRelation}" title="#{row.descRelation}" />
            </rich:column>
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Связанное значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor2}" title="#{row.descriptor2}" />
            </rich:column>
            <rich:column width="80px">
              <a:commandLink value=" " title="Связь"
                             oncomplete="#{rich:component('descRelationEdit:form:panel')}.show()"
                             render="descRelationEdit:form:container"
                             disabled="#{not storageUnitCard.editing}">
                <a:param name="univDescId" value="#{row.univDescriptorId}" />
                <a:param name="unitId" value="#{storageUnitCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
                <a:param name="renderParam" value="form:descPanel" />
                <a:param name="index" value="#{idx}" />
                <a:param name="descriptor1" value="#{row.descriptor1}"/>
              </a:commandLink>
              <a:commandLink value=" " title="Удалить" render="tbDescriptors,rubricsPanel"
                             action="#{storageUnitCard.descriptorEmbDL.remove(row)}"
                             disabled="#{not storageUnitCard.editing}">
                <a:param name="unitId" value="#{storageUnitCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
              </a:commandLink>
            </rich:column>
          </rich:extendedDataTable>
          <script type="text/javascript">
            if (#{not empty param.index} &amp;&amp;
                    #{rich:component('tbDescriptors')}.rowCount &gt; Number('#{param.index}'))
                #{rich:component('tbDescriptors')}.setSelectedRowOnTop(#{param.index});
          </script>
        </m:panel>
      </h:form>
      <c:univDescRelEdit id="descRelationEdit" selectBean="#{storageUnitCard}" valueSelectPanelId="valueSelect">
        <a:param name="mode" value="edit" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="index" value="#{param.index}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="descriptor1" value="#{param.descriptor1}" />
      </c:univDescRelEdit>
      <c:descValueSelectorPanel id="valueSelect" selectBean="#{storageUnitCard}">
        <a:param name="mode" value="edit" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="index" value="#{param.index}" />
      </c:descValueSelectorPanel>

      <c:descCardLinksAdding id="cardLinks" selectBean="#{storageUnitCard}">
        <a:param name="action" value="#{param.action}" />
        <a:param name="descIds" value="#{param.descIds}" />
        <a:param name="descLevelForCarldLink" value="#{param.descLevelForCarldLink}"/>
        <a:param name="unitId" value="#{param.unitId}" />

      </c:descCardLinksAdding>
    </ui:define>
  </ui:composition>
</html>