<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:composition template="/WEB-INF/templates/layout.xhtml">
        <ui:param name="_title" value="Описание документальных комплексов: фонодокумент" />
        
        <ui:define name="main_body">
            <h:outputScript name="phonodoc.js" library="js" />
            <h:form id="form" class="complex_tree">
                <a:jsFunction name="preUpload" render="postUploadFn"
                              action="#{attachedFilesUpload.startUploading()}">
                    <a:param name="category" />
                    <a:param name="subId" />
                    <a:param name="index" />
                    <a:param name="unitId" value="#{param.unitId}" />
                </a:jsFunction>
                <a:outputPanel id="postUploadFn">
                    <ui:param name="renderParam"
                              value="#{param.category eq 'AUDIO_UNIT' ? 'countables' :
                                       (param.category eq 'AUDIO_ANNOTATION' ? 'perfanno:container' : '')}" />
                    <a:commandLink id="postUpload" style="display:none"
                                   action="#{phonodocCard.postFileUpload()}"
                                   execute="@all" render="#{renderParam}">
                        <a:param name="category" value="#{param.category}" />
                        <a:param name="index" value="#{param.index}" />
                    </a:commandLink>
                </a:outputPanel>
                <div class="menu_desc_gr" id="menu_f">
                    <rich:toolbar>
                        <h:link value="Редактировать" title="Редактировать" outcome="/data/complex/phonodoc.jsf"
                                disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
                            <a:param name="unitId" value="#{param.unitId}" />
                            <a:param name="mode" value="edit" />
                        </h:link>
                        <a:commandLink value="Сохранить" title="Сохранить" action="#{phonodocCard.save()}"
                                       disabled="#{not phonodocCard.editing}" />
                        <h:link value="Обновить" title="Обновить" outcome="/data/complex/phonodoc.jsf">
                            <a:param name="owner" value="#{param.owner}" />
                            <a:param name="descLevel" value="#{param.descLevel}" />
                            <a:param name="parentId" value="#{param.parentId}" />
                            <a:param name="unitId" value="#{param.unitId}" />
                            <a:param name="mode" value="#{empty param.unitId ? 'add' : null}" />
                        </h:link>
                        <h:link value="Добавить" title="Добавить" outcome="/data/complex/phonodoc.jsf"
                                disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
                            <a:param name="owner" value="#{phonodocCard.model.resOwnerId}" />
                            <a:param name="descLevel" value="#{phonodocCard.model.descriptionLevelId}" />
                            <a:param name="parentId" value="#{phonodocCard.model.parentUnitId}" />
                            <a:param name="mode" value="add" />
                        </h:link>
                        <h:link value="Структура" title="Структура" outcome="/data/complex/complexTree.jsf" styleClass="structure-pict">
                            <a:param name="unitId" value="#{empty param.unitId ? param.parentId : param.unitId}" />
                            <a:param name="owner" value="#{param.owner}" />
                        </h:link>
                        <a:commandLink value="Аннотации выступлений" title="Аннотации выступлений"
                                       id="perform_anno" style="display: #{phonodocCard.phonodocImmModel.storageUnitCount gt 0 ? '': 'none'}"
                                       action="#{phonodocCard.storageUnitEmbDL.refreshCbValues()}"
                                       render="perfanno:container,perfanno:closeButton"
                                       oncomplete="#{rich:component('perfanno:panel')}.show()"
                                       styleClass="ann-pict"/>
                    </rich:toolbar>
                </div>
                <m:panel>
                    <f:facet name="header">Идентификация</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Архив" />
                        </f:facet>
                        <h:outputText value="#{phonodocCard.immModel.archiveName}" />
                    </m:field>
                    <a:region>
                        <a:jsFunction name="changeRecordType" render="headers" execute="@region"
                                      action="#{phonodocCard.changeRecordType()}" />
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Вид записанного материала" />
                            </f:facet>
                            <m:mode edit="#{phonodocCard.editing}" 
                                    value="#{phonodocCard.phonodocImmModel.recordType}">
                                <h:selectOneMenu value="#{phonodocCard.phonodocModel.recordTypeId}"
                                                 onchange="changeRecordType()" class="width450">
                                    <f:selectItems value="#{systemSelectItem.recordTypes}" />
                                </h:selectOneMenu>                                
                            </m:mode>
                        </m:field>
                    </a:region>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Положение в структуре" />
                        </f:facet>
                        <rich:tree binding="#{hierarchyTree.tree}" var="item" toggleType="client"
                                   selectionType="client" nodeType="#{item.type}"
                                   value="#{hierarchyTree.rootNodes}">
                            <rich:treeNode type="unit" expanded="#{true}"
                                           iconExpanded="../../resources/images/series.png"
                                           iconCollapsed="../../resources/images/series.png"
                                           iconLeaf="../../resources/images/archive_folders.png">
                                <h:outputText value="#{item.label}" />
                            </rich:treeNode>
                        </rich:tree>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Тематический раздел портала" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.immModel.portalSection}">
                            <h:selectOneMenu value="#{phonodocCard.model.portalSectionId}" class="width450">
                                <f:selectItems value="#{systemSelectItem.portalSections}" />
                            </h:selectOneMenu>
                        </m:mode>
                    </m:field>
                    <fieldset class="archive-code">
                        <legend>Архивный шифр</legend>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Фонд" />
                            </f:facet>
                            <m:mode edit="#{phonodocCard.editing and empty phonodocCard.fundModel}"
                                  value="#{phonodocCard.immModel.fundPrefix}#{empty phonodocCard.immModel.fundPrefix ? '':'-'}#{phonodocCard.immModel.fundNum}#{phonodocCard.immModel.fundLetter}">
                                <h:outputLabel value="Префикс" />
                                <h:inputText value="#{phonodocCard.immModel.fundPrefix}" maxlength="2" class="width30">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                                <h:outputLabel value="№"/>
                                <m:numericInput value="#{phonodocCard.immModel.fundNum}"
                                                fieldName="Номер фонда" maxlength="8" />
                                <h:outputLabel value="Литера" />
                                <h:inputText value="#{phonodocCard.immModel.fundLetter}" maxlength="250">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                            </m:mode>
                        </m:field>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Опись" />
                            </f:facet>
                            <m:mode edit="#{phonodocCard.editing and empty phonodocCard.seriesModel}"
                                    value="#{phonodocCard.immModel.seriesNum}#{phonodocCard.immModel.seriesLetter}">
                                <h:outputLabel value="№" style="margin-left:116px"/>
                                <m:numericInput value="#{phonodocCard.immModel.seriesNum}"
                                                fieldName="Номер описи" maxlength="8" />
                                <h:outputLabel value="Литера" />
                                <h:inputText value="#{phonodocCard.immModel.seriesLetter}" maxlength="250">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                            </m:mode>
                        </m:field>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Ед. учёта" />
                            </f:facet>
                            <m:mode edit="#{phonodocCard.editing}"
                                    value="#{phonodocCard.immModel.unitNum}#{phonodocCard.immModel.unitLetter}">
                                <h:outputLabel value="№" style="margin-left:116px"/>
                                <m:numericInput value="#{phonodocCard.model.numberNumber}"
                                                fieldName="Номер ед. учёта" maxlength="6" />
                                <h:outputLabel value="Литера" />
                                <h:inputText value="#{phonodocCard.model.numberText}" maxlength="250">
                                    <f:converter converterId="trimTextConverter" />
                                </h:inputText>
                            </m:mode>
                        </m:field>
                    </fieldset>
                    <a:region>
                        <a:jsFunction name="changePhonodocType" render="tbStorageUnits"
                                      execute="@region" action="#{phonodocCard.changePhonodocType()}" />
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Вид фонодокумента" />
                            </f:facet>
                            <m:mode edit="#{phonodocCard.editing}" 
                                    value="#{phonodocCard.phonodocImmModel.phonodocType}">
                                <h:selectOneMenu value="#{phonodocCard.phonodocModel.phonodocTypeId}"
                                                 onchange="changePhonodocType()" class="width450">
                                    <f:selectItems value="#{systemSelectItem.phonodocTypes}" />
                                </h:selectOneMenu>
                            </m:mode>
                        </m:field>
                    </a:region>
                </m:panel>
                <a:outputPanel id="headers"> 
                    <a:outputPanel rendered="#{not empty phonodocCard.phonodocImmModel.recordTypeCode}">
                        <m:panel>
                            <f:facet name="header">Заголовки</f:facet>
                            <m:field>
                                <f:facet name="header">
                                    <a:outputPanel rendered="#{phonodocCard.phonodocImmModel.recordTypeCode eq 'DOCUMENTARY'}">
                                        <h:outputLabel value="Название документа" />
                                    </a:outputPanel>
                                    <a:outputPanel rendered="#{phonodocCard.phonodocImmModel.recordTypeCode eq 'ARTISTIC'}">
                                        <h:outputLabel value="Название произведения" />
                                    </a:outputPanel>
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.phonodocName}">
                                    <h:inputText value="#{phonodocCard.phonodocModel.phonodocName}" maxlength="2500"
                                                 class="width450">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputText>
                                </m:mode>
                            </m:field>
                            <a:outputPanel rendered="#{phonodocCard.phonodocImmModel.recordTypeCode eq 'DOCUMENTARY'}">
                                <m:field>
                                    <f:facet name="header">
                                        <h:outputLabel value="Автор" />
                                    </f:facet>
                                    <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.authors}">
                                        <h:inputText value="#{phonodocCard.phonodocModel.authors}" maxlength="250" class="width450">
                                            <f:converter converterId="trimTextConverter" />
                                        </h:inputText>
                                    </m:mode>
                                </m:field>
                                <m:field>
                                    <f:facet name="header">
                                        <h:outputLabel value="Место события" />
                                    </f:facet>
                                    <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.eventPlace}">
                                        <h:inputText value="#{phonodocCard.phonodocModel.eventPlace}" maxlength="250" class="width450">
                                            <f:converter converterId="trimTextConverter" />
                                        </h:inputText>
                                    </m:mode>
                                </m:field>
                            </a:outputPanel>
                            <a:outputPanel rendered="#{phonodocCard.phonodocImmModel.recordTypeCode eq 'ARTISTIC'}">
                                <m:field>
                                    <f:facet name="header">
                                        <h:outputLabel value="Исполнитель (оркестр)" />
                                    </f:facet>
                                    <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.performerOrchestra}">
                                        <h:inputText value="#{phonodocCard.phonodocModel.performerOrchestra}" maxlength="250" class="width450">
                                            <f:converter converterId="trimTextConverter" />
                                        </h:inputText>
                                    </m:mode>
                                </m:field>
                                <m:field>
                                    <f:facet name="header">
                                        <h:outputLabel value="Исполнитель (хор)" />
                                    </f:facet>
                                    <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.performerChoir}">
                                        <h:inputText value="#{phonodocCard.phonodocModel.performerChoir}" maxlength="250" class="width450">
                                            <f:converter converterId="trimTextConverter" />
                                        </h:inputText>
                                    </m:mode>
                                </m:field>
                                <m:field>
                                    <f:facet name="header">
                                        <h:outputLabel value="Исполнители" />
                                    </f:facet>
                                    <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.performers}">
                                        <h:inputText value="#{phonodocCard.phonodocModel.performers}" maxlength="250" class="width450">
                                            <f:converter converterId="trimTextConverter" />
                                        </h:inputText>
                                    </m:mode>
                                </m:field>
                                <m:field>
                                    <f:facet name="header">
                                        <h:outputLabel value="Авторы" />
                                    </f:facet>
                                    <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.authors}">
                                        <h:inputText value="#{phonodocCard.phonodocModel.authors}" maxlength="250" class="width450">
                                            <f:converter converterId="trimTextConverter" />
                                        </h:inputText>
                                    </m:mode>
                                </m:field>
                                <m:field>
                                    <f:facet name="header">
                                        <h:outputLabel value="Рубрика" />
                                    </f:facet>
                                    <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.rubrics}">
                                        <h:inputText value="#{phonodocCard.phonodocModel.rubrics}" maxlength="250" class="width450">
                                            <f:converter converterId="trimTextConverter" />
                                        </h:inputText>
                                    </m:mode>
                                </m:field>
                            </a:outputPanel>
                        </m:panel>
                    </a:outputPanel>
                </a:outputPanel>
                <m:panel id="countables" styleClass="width97p">
                    <f:facet name="header">Количественные характеристики</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Количество ед. хранения" />
                        </f:facet>
                        <h:outputText value="#{phonodocCard.phonodocImmModel.storageUnitCount}" />
                    </m:field>
                    <rich:toolbar styleClass="width99-2p">
                        <a:commandLink value="" title="Добавить" render="countables perform_anno"
                                       action="#{phonodocCard.storageUnitEmbDL.addStorageUnit()}"
                                       disabled="#{not phonodocCard.editing}" >
                            <a:param name="storageUnitIdx" value="#{phonodocCard.storageUnitEmbDL.rowCount}" />
                        </a:commandLink>
                    </rich:toolbar>                    
                    <a:region>
                        <a:jsFunction name="confirmRemoveStorageUnit"
                                      data="#{phonodocCard.storageUnitEmbDL.confirmRemoveText}"
                                      oncomplete="insoft.showConfirmDialog(event.data, removeStorageUnit)">
                            <a:param name="index" assignTo="#{phonodocCard.storageUnitEmbDL.removedItemIdx}" />
                        </a:jsFunction>
                        <a:jsFunction name="removeStorageUnit" action="#{phonodocCard.storageUnitEmbDL.removeStorageUnit()}"
                                      render="countables perform_anno" execute="@region"
                                      oncomplete="Insoft.phonodoc.countTotalPlaytime()" />
                        <rich:extendedDataTable id="tbStorageUnits" var="row" rowKeyVar="idx" styleClass="width100p quantity"
                                                value="#{phonodocCard.editing ? phonodocCard.storageUnitEmbDL.wrappedData :
                                                         phonodocCard.phonodocImmModel.storageUnits}">
                            <rich:column width="110px">
                                <f:facet name="header">
                                    <h:outputLabel value="№ ед. хранения" />
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" value="#{row.numberNumber}">
                                    <m:numericInput value="#{row.numberNumber}" fieldName="№ ед. хранения"
                                                    maxlength="6" />
                                </m:mode>
                            </rich:column>
                            <rich:column width="100px">
                                <f:facet name="header">
                                    <h:outputLabel value="Литера" />
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" value="#{row.numberText}">
                                    <h:inputText value="#{row.numberText}" maxlength="4">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputText>
                                </m:mode>
                            </rich:column>
                            <rich:column width="110px">
                                <f:facet name="header">
                                    <h:outputLabel value="Время звучания" />
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" 
                                        value="#{empty row.playtime ? '' : phonodocCard.getPlaytimeStr(row.playtime)}">
                                    <c:playtime id="suPlaytime" value="#{row.playtime}" 
                                                onchange="Insoft.phonodoc.countTotalPlaytime" />
                                </m:mode>
                            </rich:column>
                            <rich:column width="140px">
                                <f:facet name="header">
                                    <h:outputLabel value="Тип носителя" />
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" value="#{row.storageType}">
                                    <h:selectOneMenu value="#{row.storageTypeId}">
                                        <f:selectItems value="#{systemSelectItem.getStorageTypes(phonodocCard.phonodocModel.phonodocTypeId)}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="100px">
                                <f:facet name="header">
                                    <h:outputLabel value="Моно / стерео" />
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" value="#{row.channelCount}">
                                    <h:selectOneMenu value="#{row.channelCountId}">
                                        <f:selectItems value="#{systemSelectItem.channelCounts}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="90px">
                                <f:facet name="header">
                                    <h:outputLabel value="Скорость" />
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" value="#{row.speed}">
                                    <m:numericInput value="#{row.speed}" fieldName="Скорость"
                                                    maxlength="6" />
                                </m:mode>
                            </rich:column>
                            <rich:column width="140px">
                                <f:facet name="header">
                                    <h:outputLabel value="Качество звучания" />
                                </f:facet>
                                <m:mode edit="#{phonodocCard.editing}" value="#{row.soundQuality}">
                                    <h:selectOneMenu value="#{row.soundQualityId}">
                                        <f:selectItems value="#{systemSelectItem.soundQualities}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="355px" styleClass="record-style">
                                <a:commandLink value="" title="Прикрепить файл"
                                               onclick="preUpload('AUDIO_UNIT', #{row.phonoStorageUnitId}, #{idx}); 
                                                        $(#{rich:element('upload')}).find('.rf-fu-inp').click();
                                                        return false;"
                                               disabled="#{not phonodocCard.editing or empty row.phonoStorageUnitId}"
                                               styleClass="attach" />
                                <div class="audio-style">
                                    <c:audioPlayer filePath="#{row.filePathData}" />
                                </div>
                                <a:commandLink value="Аннотация выступлений" title="Аннотация выступлений"
                                               rendered="#{not phonodocCard.perfAnnoEmbDL.getFilteredImmutableData(idx).isEmpty()}"
                                               action="#{phonodocCard.storageUnitEmbDL.refreshCbValues()}"
                                               render="perfanno:container,perfanno:closeButton"
                                               oncomplete="#{rich:component('perfanno:panel')}.show()"
                                               styleClass="ann-pict" >
                                    <a:param name="storageUnitIdx" value="#{idx}" />
                                </a:commandLink>
                            </rich:column>
                            <rich:column width="40px" >
                                <a:commandLink value="" title="Удалить"
                                               onclick="confirmRemoveStorageUnit(#{idx}); return false"
                                               disabled="#{not phonodocCard.editing}"
                                               styleClass="del_cross" />
                            </rich:column>
                        </rich:extendedDataTable>
                    </a:region>
                    <script type="text/javascript">
                        if (#{not empty param.storageUnitIdx} &amp;&amp; 
                                #{rich:component('tbStorageUnits')}.rowCount &gt; Number('#{param.storageUnitIdx}'))
                            #{rich:component('tbStorageUnits')}.setSelectedRowOnTop(#{param.storageUnitIdx});
                    </script>
                </m:panel>
                <m:panel>
                    <f:facet name="header">Даты</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Дата события" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.eventDateStr}">
                            <m:date value="#{phonodocCard.intervalModel.beginDate}"
                                    fieldName="Дата события" defaultDate="01/01/1940" />
                        </m:mode>
                    </m:field>                       
                </m:panel>
                <m:panel>
                    <f:facet name="header">Дополнительные сведения</f:facet>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Дата записи" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.recordDateStr}">
                            <m:date value="#{phonodocCard.phonodocModel.recordDate}"
                                    fieldName="Дата записи" defaultDate="01/01/1940" />
                        </m:mode>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Дата перезаписи" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.rewriteDateStr}">
                            <m:date value="#{phonodocCard.phonodocModel.rewriteDate}"
                                    fieldName="Дата перезаписи" defaultDate="01/01/1940" />
                        </m:mode>
                    </m:field>
                    <m:field id="totalPlaytime">
                        <f:facet name="header">
                            <h:outputLabel value="Время звучания" />
                        </f:facet>
                        <h:outputText value="#{phonodocCard.totalPlaytimeStr}" />
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Состав комплекта" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.kitInfo}">
                            <h:inputText value="#{phonodocCard.phonodocModel.kitInfo}" maxlength="250" class="width450">
                                <f:converter converterId="trimTextConverter" />
                            </h:inputText>
                        </m:mode>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Наименование изготовителя" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.manufacturerName}">
                            <h:inputText value="#{phonodocCard.phonodocModel.manufacturerName}" maxlength="250" class="width450">
                                <f:converter converterId="trimTextConverter" />
                            </h:inputText>
                        </m:mode>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Аннотация (реферат)" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.model.annotation}">
                            <h:inputTextarea value="#{phonodocCard.model.annotation}">
                                <f:converter converterId="trimTextConverter" />
                            </h:inputTextarea>
                        </m:mode>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Примечание" />
                        </f:facet>
                        <m:mode edit="#{phonodocCard.editing}" value="#{phonodocCard.phonodocImmModel.notes}">
                            <h:inputTextarea value="#{phonodocCard.phonodocModel.notes}">
                                <f:converter converterId="trimTextConverter" />
                            </h:inputTextarea>
                        </m:mode>
                    </m:field>
                </m:panel>
                <m:panel id="univClssPanel" styleClass="t-width753">
                    <f:facet name="header">Тематический классификатор</f:facet>
                    <rich:toolbar>
                        <a:commandLink value="" title="Добавить"
                                       disabled="#{not phonodocCard.editing}"
                                       oncomplete="#{rich:component('univClssSelect:form:panel')}.show()"
                                       render="univClssSelect:form:container">
                            <a:param name="p_groupId" 
                                     value="#{systemEntity.getDescGroupByCode('UNIV_CLASSIFIER').descriptorGroupId}" />
                            <a:param name="renderParam" value="univClssPanel" />
                            <a:param name="selectMethod" value="selectUnivClssValue" />
                            <a:param name="index" value="#{phonodocCard.univClssEmbDL.rowCount}" />
                        </a:commandLink>
                    </rich:toolbar>
                    <rich:extendedDataTable id="tbClassifier" var="row"
                                            value="#{phonodocCard.univClssEmbDL.wrappedData}">
                        <rich:column width="150px">
                            <f:facet name="header">
                                <h:outputLabel value="Индекс" />
                            </f:facet>
                            <h:outputText value="#{row.valueIndex}" title="#{row.valueIndex}" />
                        </rich:column>
                        <rich:column width="540px">
                            <f:facet name="header">
                                <h:outputLabel value="Тема" />
                            </f:facet>
                            <h:outputText value="#{row.fullValue}" title="#{row.fullValue}" />
                        </rich:column>
                        <rich:column width="60px">
                            <a:commandLink value="" title="Удалить" render="univClssPanel"
                                           action="#{phonodocCard.univClssEmbDL.removeClassifierValue(row)}"
                                           disabled="#{not phonodocCard.editing}" />
                        </rich:column>
                    </rich:extendedDataTable>
                    <script type="text/javascript">
                        if (#{not empty param.index} &amp;&amp;
                              #{rich:component('tbClassifier')}.rowCount &gt; Number('#{param.index}'))
                            #{rich:component('tbClassifier')}.setSelectedRowOnTop(#{param.index});
                    </script>
                </m:panel>
                <m:panel id="descPanel" styleClass="t-width753">
                    <f:facet name="header">Ключевые слова</f:facet>
                    <rich:toolbar>
                        <a:commandLink value="" title="Добавить"
                                       disabled="#{not phonodocCard.editing or empty phonodocCard.model.univDataUnitId}"
                                       oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
                                       render="valueSelect:form:container">
                            <a:param name="renderParam" value="descPanel" />
                            <a:param name="selectMethod" value="selectDescriptor" />
                            <a:param name="index" value="#{phonodocCard.descriptorEmbDL.rowCount}" />
                        </a:commandLink>
                    </rich:toolbar>
                    <rich:extendedDataTable id="tbDescriptors" value="#{phonodocCard.descriptorEmbDL.wrappedData}"
                                            var="row" rowKeyVar="idx">
                        <rich:column width="230px">
                            <f:facet name="header">
                                <h:outputLabel value="Значение" />
                            </f:facet>
                            <h:outputText value="#{row.descriptor1}" title="#{row.descriptor1}" />
                        </rich:column>
                        <rich:column width="210px">
                            <f:facet name="header">
                                <h:outputLabel value="Тип связи" />
                            </f:facet>
                            <h:outputText value="#{row.descRelation}" title="#{row.descRelation}" />
                        </rich:column>
                        <rich:column width="230px">
                            <f:facet name="header">
                                <h:outputLabel value="Связанное значение" />
                            </f:facet>
                            <h:outputText value="#{row.descriptor2}" title="#{row.descriptor2}" />
                        </rich:column>
                        <rich:column>
                            <a:commandLink value="" title="Связь"
                                           oncomplete="#{rich:component('descRelationEdit:form:panel')}.show()"
                                           render="descRelationEdit:form:container"
                                           disabled="#{not documentCard.editing}">
                                <a:param name="univDescId" value="#{row.univDescriptorId}" />
                                <a:param name="descriptor1" value="#{row.descriptor1}" />
                                <a:param name="index" value="#{idx}" />
                                <a:param name="renderParam" value="descPanel" />
                            </a:commandLink>
                            <a:commandLink value="" title="Удалить" render="descPanel"
                                           action="#{phonodocCard.descriptorEmbDL.remove(row)}"
                                           disabled="#{not phonodocCard.editing}" />
                        </rich:column>
                    </rich:extendedDataTable>
                    <script type="text/javascript">
                        if (#{not empty param.index} &amp;&amp; 
                                #{rich:component('tbDescriptors')}.rowCount &gt; Number('#{param.index}'))
                            #{rich:component('tbDescriptors')}.setSelectedRowOnTop(#{param.index});
                    </script>
                </m:panel>
            </h:form>            
                        
            <h:form id="perfanno">
                <rich:popupPanel id="panel" domElementAttachment="parent">
                    <f:facet name="header">
                        <h:outputText value="Аннотация выступлений" />
                    </f:facet>
                    <f:facet name="controls">
                        <a:outputPanel id="closeButton">
                            <a:commandLink id="close" value="X"
                                           action="#{phonodocCard.perfAnnoEmbDL.closeWindow()}"
                                           render="form:countables"
                                           oncomplete="if (#{phonodocCard.perfAnnoEmbDL.canClose}) #{rich:component('perfanno:panel')}.hide()">
                                <a:param name="storageUnitIdx" value="#{param.storageUnitIdx}" />
                            </a:commandLink>
                        </a:outputPanel>
                    </f:facet>
                    <m:panel id="container">
                        <ui:param name="editAnno" 
                                  value="#{phonodocCard.editing and empty param.storageUnitIdx}" />
                        <rich:toolbar id="annoButtons">
                            <a:commandLink value="" title="Добавить" disabled="#{not editAnno}"
                                           action="#{phonodocCard.perfAnnoEmbDL.addPerformanceAnnotation()}"
                                           render="perfanno:container"
                                           styleClass="add_plus">
                                <a:param name="index" value="#{phonodocCard.perfAnnoEmbDL.rowCount}" />
                            </a:commandLink>
                            <a:commandLink value="" title="Вверх" render="perfanno:container"
                                           action="#{phonodocCard.perfAnnoEmbDL.moveUp()}"
                                           disabled="#{not editAnno or empty phonodocCard.perfAnnoEmbDL.rowIndex or
                                                       phonodocCard.perfAnnoEmbDL.rowIndex le 0}"
                                           styleClass="up_arr">
                                <a:param name="index" value="#{phonodocCard.perfAnnoEmbDL.rowIndex - 1}" />
                            </a:commandLink>
                            <a:commandLink value="" title="Вниз" render="perfanno:container"
                                           action="#{phonodocCard.perfAnnoEmbDL.moveDown()}"
                                           disabled="#{not editAnno or empty phonodocCard.perfAnnoEmbDL.rowIndex or
                                                       phonodocCard.perfAnnoEmbDL.rowIndex ge phonodocCard.perfAnnoEmbDL.rowCount - 1}"
                                           styleClass="down_arr">
                                <a:param name="index" value="#{phonodocCard.perfAnnoEmbDL.rowIndex + 1}" />
                            </a:commandLink>
                            <a:commandLink value="" title="Сохранить" render="perfanno:container"
                                           action="#{phonodocCard.perfAnnoEmbDL.saveAnnotations()}"
                                           disabled="#{not editAnno or empty phonodocCard.perfAnnoEmbDL.rowIndex}"
                                           rendered="#{editAnno}"
                                           styleClass="save" style="padding: 0px">
                            </a:commandLink>
                        </rich:toolbar>
                        <a:jsFunction name="removeAnnotation" render="perfanno:container"
                                      action="#{phonodocCard.perfAnnoEmbDL.removeAnnotation()}"
                                      execute="@form">
                            <a:param name="index" />
                        </a:jsFunction>
                        <rich:extendedDataTable id="tbAnnotations" var="row" rowKeyVar="idx"
                                                onselectionchange="#{editAnno ? 'passIndex()' : ''}"
                                                value="#{editAnno ? phonodocCard.perfAnnoEmbDL.wrappedData :
                                                         phonodocCard.perfAnnoEmbDL.filteredImmutableData}">
                            <f:facet name="header">
                                <a:outputPanel rendered="#{editAnno}">
                                    <m:indexer id="ind" datalist="#{phonodocCard.perfAnnoEmbDL}" 
                                               uiTable="tbAnnotations" render="annoButtons" />
                                </a:outputPanel>                                    
                            </f:facet>
                            <rich:column width="57px">
                                <f:facet name="header" style="padding:0 !important;">
                                    <h:outputLabel value="№ выступл." />
                                </f:facet>
                                <h:outputText value="#{idx + 1}" />
                            </rich:column>
                            <rich:column width="70px">
                                <f:facet name="header">
                                    <h:outputLabel value="№ ед. хр." />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.storageUnitNumber}">
                                    <h:selectOneMenu value="#{row.storageUnit}" converter="#{phonoStorageUnitConverter}">
                                        <f:selectItems value="#{phonodocCard.storageUnitEmbDL.cbValues}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="65px">
                                <f:facet name="header">
                                    <h:outputLabel value="Сторона, трек" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.sideOrTrack}">
                                    <h:inputText value="#{row.sideOrTrack}" maxlength="2" styleClass="width50">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputText>                                                 
                                </m:mode>
                            </rich:column>
                            <rich:column width="200px">
                                <f:facet name="header">
                                    <h:outputLabel value="Аннотация выступления" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.annotation}">
                                    <h:inputTextarea value="#{row.annotation}">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputTextarea>
                                </m:mode>
                            </rich:column>
                            <rich:column width="130px">
                                <f:facet name="header">
                                    <h:outputLabel value="Докладчик" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.spokesperson}">
                                    <h:inputText value="#{row.spokesperson}" maxlength="250">
                                        <f:converter converterId="trimTextConverter" />
                                    </h:inputText>
                                </m:mode>
                            </rich:column>
                            <rich:column width="100px">
                                <f:facet name="header">
                                    <h:outputLabel value="Язык" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" value="#{row.recordLanguage}">
                                    <h:selectOneMenu value="#{row.languageId}">
                                        <f:selectItems value="#{systemSelectItem.docLanguages}" />
                                    </h:selectOneMenu>
                                </m:mode>
                            </rich:column>
                            <rich:column width="90px">
                                <f:facet name="header">
                                    <h:outputLabel value="Время звучания" />
                                </f:facet>
                                <m:mode edit="#{editAnno}" 
                                        value="#{empty row.playtime ? '' : phonodocCard.getPlaytimeStr(row.playtime)}">
                                    <c:playtime value="#{row.playtime}" />
                                </m:mode>
                            </rich:column>
                            <rich:column width="240px">
                                <a:commandLink value="" title="Прикрепить файл"
                                               onclick="preUpload('AUDIO_ANNOTATION', #{row.annotationId}, #{idx});
                                                        $(#{rich:element('upload')}).find('.rf-fu-inp').click();
                                                        return false;"
                                               disabled="#{not editAnno or empty row.annotationId}"
                                               styleClass="attach" />
                                <c:audioPlayer filePath="#{row.filePathData}" />
                            </rich:column>
                            <rich:column width="40px">
                                <a:commandLink value="" title="Удалить"
                                               onclick="insoft.showConfirmDialog(
                                                    '#{phonodocCard.perfAnnoEmbDL.getConfirmRemoveText(idx)}',
                                                    removeAnnotation, #{idx}); return false"
                                               disabled="#{not editAnno}"
                                               styleClass="del_cross"/>
                            </rich:column>
                        </rich:extendedDataTable>
                        <script type="text/javascript">
                            if (#{not empty param.index} &amp;&amp;
                                    #{rich:component('tbAnnotations')}.rowCount &gt; Number('#{param.index}'))
                                #{rich:component('tbAnnotations')}.setSelectedRowOnTop(#{param.index});
                        </script>
                    </m:panel>
                </rich:popupPanel>
            </h:form>
            
            <c:univDescRelEdit id="descRelationEdit" selectBean="#{phonodocCard}" valueSelectPanelId="valueSelect">
                <a:param name="index" value="#{param.index}" />
            </c:univDescRelEdit>
            <c:descValueSelectorPanel id="valueSelect" selectBean="#{phonodocCard}">
                <a:param name="index" value="#{param.index}" />
            </c:descValueSelectorPanel>            
            <c:univClssSelectorPanel id="univClssSelect" selectBean="#{phonodocCard}">
                <a:param name="index" value="#{param.index}" />
            </c:univClssSelectorPanel>
            <m:uploadPanel id="uploadPanel" listenerBean="#{attachedFilesUpload}"
                           listenerMethod="fileUploadListener" acceptedTypes="mp3" />
            <div class="yes_no">
                <m:yesNoPanelJs id="yesNo" />
            </div>
        </ui:define>
    </ui:composition>
</html>
