<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Описание документальных комплексов: раздел" />

    <ui:define name="main_body">
      <h:form id="form" class="complex_tree">
        <div class="menu_desc_gr" id="menu_f">
          <rich:toolbar>
            <h:link value="Редактировать" title="Редактировать" outcome="/data/complex/section.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="edit" />
            </h:link>
            <a:commandLink value="Сохранить" title="Сохранить"
                           action="#{sectionCard.save()}" disabled="#{not sectionCard.editing}">
              <a:param name="mode" value="#{param.mode}" />
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="action" value="save" />
            </a:commandLink>
            <h:link value="Обновить" title="Обновить" outcome="/data/complex/section.jsf">
              <a:param name="owner" value="#{param.owner}" />
              <a:param name="descLevel" value="#{param.descLevel}" />
              <a:param name="parentId" value="#{param.parentId}" />
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="#{empty param.unitId ? 'add' : null}" />
            </h:link>
            <h:link value="Добавить" title="Добавить" outcome="/data/complex/section.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="owner" 
                       value="#{empty param.owner ? sectionCard.model.resOwnerId : param.owner}" />
              <a:param name="descLevel"
                       value="#{empty param.descLevel ? sectionCard.model.descriptionLevelId : param.descLevel}" />
              <a:param name="parentId"
                       value="#{empty param.parentId ? sectionCard.model.parentUnitId : param.parentId}" />
              <a:param name="mode" value="add" />
            </h:link>
            <h:link value="Структура" title="Структура"	outcome="/data/complex/complexTree.jsf">
              <a:param name="unitId" 
                       value="#{empty param.unitId ? param.parentId : param.unitId}" />
              <a:param name="owner" value="#{param.owner}" />
            </h:link>
          </rich:toolbar>
        </div>
        <h:inputHidden value="#{sectionCard.model.resOwnerId}" />
        <h:inputHidden value="#{sectionCard.model.descriptionLevelId}" />
        <h:inputHidden value="#{sectionCard.model.parentUnitId}" />
        <m:panel>
          <f:facet name="header">Идентификация</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Архив" />
            </f:facet>
            <h:outputText value="#{sectionCard.immModel.archiveName}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Уровень описания" />
            </f:facet>
            <h:outputText value="#{sectionCard.immModel.descriptionLevel}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Положение в структуре архива" />
            </f:facet>
            <rich:tree id="hierarchy" binding="#{hierarchyTree.tree}" var="item" 
                       toggleType="client"	selectionType="client" nodeType="#{item.type}"
                       value="#{hierarchyTree.rootNodes}">
              <rich:treeNode type="unit" expanded="#{true}"
                             iconExpanded="../../resources/images/series.png"
                             iconCollapsed="../../resources/images/series.png"
                             iconLeaf="../../resources/images/archive_folders.png">
                <h:outputText value="#{item.label}" />
              </rich:treeNode>
            </rich:tree>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Тематический раздел портала" />
            </f:facet>
            <m:mode value="#{sectionCard.immModel.portalSection}" edit="#{sectionCard.editing}">
              <h:selectOneMenu value="#{sectionCard.model.portalSectionId}" class="width450">
                <f:selectItems value="#{systemSelectItem.portalSections}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Заголовки</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Наименование раздела" />
            </f:facet>
            <m:mode value="#{sectionCard.immModel.unitName}" edit="#{sectionCard.editing}" >
              <h:inputTextarea value="#{sectionCard.model.unitName}" maxlength="4000" style="width:500px !important;" styleClass="height75" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
        </m:panel>
      </h:form>
    </ui:define>
  </ui:composition>
</html>