<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Описание документальных комплексов: опись" />

    <ui:define name="main_body">
      <h:form id="form" class="complex_tree">
        <div class="menu_desc_gr">
          <rich:toolbar>
            <h:link value="Редактировать" title="Редактировать" outcome="/data/complex/series.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="edit" />
            </h:link>
            <a:outputPanel id="savePanel" styleClass="vis_pict">
              <a:commandLink value="Сохранить" title="Сохранить"
                             action="#{seriesCard.save()}" disabled="#{not seriesCard.editing}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="yearCount" value="#{seriesCard.yearIntervalEmbDL.rowCount}" />
                <a:param name="action" value="save" />
              </a:commandLink>
            </a:outputPanel>
            <h:link value="Обновить" title="Обновить" outcome="/data/complex/series.jsf">
              <a:param name="owner" value="#{param.owner}" />
              <a:param name="descLevel" value="#{param.descLevel}" />
              <a:param name="parentId" value="#{param.parentId}" />
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="#{empty param.unitId ? 'add' : null}" />
            </h:link>
            <h:link value="Добавить" title="Добавить" outcome="/data/complex/series.jsf"
                    disabled="#{empty param.unitId or not complexTree.checkAccessRule()}">
              <a:param name="owner" 
                       value="#{empty param.owner ? seriesCard.model.resOwnerId : param.owner}" />
              <a:param name="descLevel"
                       value="#{empty param.descLevel ? seriesCard.model.descriptionLevelId : param.descLevel}" />
              <a:param name="parentId"
                       value="#{empty param.parentId ? seriesCard.model.parentUnitId : param.parentId}" />
              <a:param name="mode" value="add" />
            </h:link>
            <h:link value="Структура" title="Структура"	outcome="/data/complex/complexTree.jsf">
              <a:param name="unitId" 
                       value="#{empty param.unitId ? param.parentId : param.unitId}" />
              <a:param name="owner" value="#{param.owner}" />
            </h:link>
          </rich:toolbar>
        </div>
        <h:inputHidden value="#{seriesCard.model.resOwnerId}" />
        <h:inputHidden value="#{seriesCard.model.descriptionLevelId}" />
        <h:inputHidden value="#{seriesCard.model.parentUnitId}" />
        <m:panel>
          <f:facet name="header">Идентификация</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Архив" />
            </f:facet>
            <h:outputText value="#{seriesCard.immModel.archiveName}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Уровень описания" />
            </f:facet>
            <h:outputText value="#{seriesCard.immModel.descriptionLevel}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Положение в структуре архива" />
            </f:facet>
            <rich:tree id="hierarchy" binding="#{hierarchyTree.tree}" var="item" 
                       toggleType="client"	selectionType="client" nodeType="#{item.type}"
                       value="#{hierarchyTree.rootNodes}">
              <rich:treeNode type="unit" expanded="#{true}"
                             iconExpanded="../../resources/images/fund.png"
                             iconCollapsed="../../resources/images/fund.png"
                             iconLeaf="../../resources/images/series.png">
                <h:outputText value="#{item.label}" />
              </rich:treeNode>
            </rich:tree>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Тематический раздел портала" />
            </f:facet>
            <m:mode value="#{seriesCard.immModel.portalSection}" edit="#{seriesCard.editing}">
              <h:selectOneMenu value="#{seriesCard.model.portalSectionId}" class="width450">
                <f:selectItems value="#{systemSelectItem.portalSections}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
          <fieldset>
            <legend>Архивный шифр</legend>
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Фонд" />
              </f:facet>
              <h:inputHidden value="#{seriesCard.immModel.fundPrefix}" />
              <h:inputHidden value="#{seriesCard.immModel.fundNum}" />
              <h:inputHidden value="#{seriesCard.immModel.fundLetter}" />
              <m:mode edit="#{seriesCard.editing and empty seriesCard.fundModel}"
                      value="#{seriesCard.immModel.fundPrefix}#{empty seriesCard.immModel.fundPrefix ? '':'-'}#{seriesCard.immModel.fundNum}#{seriesCard.immModel.fundLetter}">
                <h:outputLabel value="Префикс" />
                <h:inputText value="#{seriesCard.immModel.fundPrefix}" maxlength="2" class="width40">
                  <f:converter converterId="trimTextConverter"/>
                </h:inputText>
                <m:numericInput value="#{seriesCard.immModel.fundNum}"
                                fieldName="Номер фонда" maxlength="8" styleClass="width50"/>
                <h:outputLabel value="Литера" />
                <h:inputText value="#{seriesCard.immModel.fundLetter}" maxlength="250" class="width50">
                  <f:converter converterId="trimTextConverter"/>
                </h:inputText>
              </m:mode>
            </m:field>
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Опись" />
              </f:facet>
              <m:mode edit="#{seriesCard.editing}"
                      value="#{seriesCard.immModel.seriesNum}#{seriesCard.immModel.seriesLetter}">
                <m:numericInput value="#{seriesCard.model.numberNumber}" 
                                fieldName="Номер описи" maxlength="8" styleClass="width50"/>
                <h:outputLabel value="Литера" />
                <h:inputText value="#{seriesCard.model.numberText}" maxlength="250" styleClass="width50">
                  <f:converter converterId="trimTextConverter"/>
                </h:inputText>
              </m:mode>
            </m:field>
          </fieldset>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Вид документов" />
            </f:facet>
            <m:mode edit="#{seriesCard.editing}" value="#{seriesCard.seriesImmModel.documentKind}">
              <h:selectOneMenu value="#{seriesCard.seriesModel.documentKindId}">
                <f:selectItems value="#{systemSelectItem.documentKinds}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Заголовки</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Название описи" />
            </f:facet>
            <m:mode edit="#{seriesCard.editing}" value="#{seriesCard.seriesImmModel.seriesName}">
              <h:inputTextarea value="#{seriesCard.seriesModel.seriesName}" class="width500 height75">
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Количественные характеристики</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Количество ед.хр." />
            </f:facet>
            <m:mode edit="#{seriesCard.editing}" value="#{seriesCard.seriesImmModel.storageUnitCount}">
              <m:numericInput value="#{seriesCard.seriesModel.storageUnitCount}"
                              fieldName="Количество единиц хранения" maxlength="8" styleClass="width65"/>
            </m:mode>
            <h:outputLabel value="из них занесено в БД" />
            <h:outputText value="#{seriesCard.seriesImmModel.realStorageUnitCount}" />
          </m:field>
        </m:panel>
        <m:panel id="datesPanel">
          <f:facet name="header">Даты</f:facet>
          <h:inputHidden value="#{seriesCard.yearIntervalEmbDL.rowCount}" />

          <div class="t_dates"><rich:toolbar>
              <a:commandLink value=" " title="Добавить" render="savePanel,datesPanel"
                             disabled="#{not seriesCard.editing}"
                             action="#{seriesCard.yearIntervalEmbDL.addInterval()}">
                <a:param name="mode" value="#{param.mode}"/>
                <a:param name="unitId" value="#{param.unitId}"/>
                <a:param name="yearCount" value="#{seriesCard.yearIntervalEmbDL.rowCount}"/>
                <a:param name="action" value="intervalAdd"/>
              </a:commandLink>
            </rich:toolbar>
            <rich:extendedDataTable id="tbYears" value="#{seriesCard.yearIntervalEmbDL.wrappedData}"
                                    var="row" style="display:block;">
              <f:facet name="header">
                <h:outputLabel value="Крайние даты"/>
              </f:facet>
              <rich:column width="150px">
                <f:facet name="header">
                  <h:outputLabel value="Начальный"/>
                </f:facet>
                <m:mode edit="#{seriesCard.editing}" value="#{row.beginYear}">
                  <m:yearsOfMaterials value="#{row.beginYear}" fieldName="Годы материалов"
                                      maxlength="4"/>
                </m:mode>
              </rich:column>
              <rich:column width="150px">
                <f:facet name="header">
                  <h:outputLabel value="Конечный"/>
                </f:facet>
                <m:mode edit="#{seriesCard.editing}" value="#{row.endYear}">
                  <m:yearsOfMaterials value="#{row.endYear}" fieldName="Годы материалов"
                                      maxlength="4"/>
                </m:mode>
              </rich:column>
              <rich:column width="45px">
                <a:commandLink value=" " title="Удалить" render="savePanel,datesPanel"
                               action="#{seriesCard.yearIntervalEmbDL.remove(row)}"
                               disabled="#{not seriesCard.editing}">
                  <a:param name="mode" value="#{param.mode}"/>
                  <a:param name="unitId" value="#{param.unitId}"/>
                  <a:param name="yearCount" value="#{seriesCard.yearIntervalEmbDL.rowCount}"/>
                </a:commandLink>
              </rich:column>
            </rich:extendedDataTable>
            <script type="text/javascript">
              if (#{param.action eq 'intervalAdd'})
              #{rich:component('tbYears')}.
                        last();
            </script>
          </div>
        </m:panel>
        <m:panel>
          <f:facet name="header">Дополнительные сведения</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Аннотация" />
            </f:facet>
            <m:mode edit="#{seriesCard.editing}" value="#{seriesCard.model.annotation}">
              <h:inputTextarea value="#{seriesCard.model.annotation}" maxlength="4000" styleClass="" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Способ воспроизведения" />
            </f:facet>
            <m:mode edit="#{seriesCard.editing}" value="#{seriesCard.seriesImmModel.reproductionType}">
              <h:selectOneMenu value="#{seriesCard.seriesModel.reproductionTypeId}">
                <f:selectItems value="#{systemSelectItem.reproductionTypes}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Примечание" />
            </f:facet>
            <m:mode edit="#{seriesCard.editing}" value="#{seriesCard.seriesImmModel.notes}">
              <h:inputTextarea value="#{seriesCard.seriesModel.notes}" maxlength="4000" styleClass="height100p" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
        </m:panel>

        <m:panel id="cardLink">
          <f:facet name="header">Ссылки</f:facet>
          <rich:toolbar styleClass="pict_section_menu">
            <a:commandLink value="" title="Добавить"
                           oncomplete="#{rich:component('cardLinks:form:panel')}.show()"
                           disabled="#{not seriesCard.editing}"
                           render="cardLinks:form" execute="@form">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="descLevelForCarldLink" value="#{seriesCard.model.descriptionLevelId}"/>
              <a:param name="mode" value="#{param.mode}" />
              <a:param name="selectMethod" value="" />
              <a:param name="descIds" value="#{complexSearch.descIds}" />
              <a:param name="renderParam" value="" />

            </a:commandLink>
          </rich:toolbar>
          <h:dataTable id="cardLinks" value="#{seriesCard.cardLinks}" var="row1" styleClass="links_style"> 
            <h:column>
              <h:link value=" #{row1.unitFullName}"  target="_blank"
                      outcome="#{addComplex.getPageName(row1.unitTypeCode)}">
                <f:param name="unitId" value="#{row1.unitIdLinked}" />
              </h:link>            
            </h:column>

            <h:column>
              <a:commandLink  value="" title="Удалить" 
                              action="#{seriesCard.deleteCardLink(row1)}" render="cardLink" execute="@form"
                              disabled="#{not seriesCard.editing}" styleClass="del_cross">
                <a:param name="unitId" value="#{param.unitId}" />
                <f:param name="mode" value="#{param.mode}" />

              </a:commandLink>
            </h:column>

          </h:dataTable>

        </m:panel>


        <m:panel id="descPanel" styleClass="block-form t-width753">
          <f:facet name="header">Ключевые слова</f:facet>
          <rich:toolbar>
            <a:commandLink value=" " title="Добавить"
                           disabled="#{not seriesCard.editing or empty seriesCard.model.univDataUnitId}"
                           oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
                           render="valueSelect:form:container">
              <a:param name="renderParam" value="form:descPanel" />
              <a:param name="selectMethod" value="selectDescriptor" />
              <a:param name="unitId" value="#{seriesCard.model.univDataUnitId}" />
              <a:param name="mode" value="edit" />
              <a:param name="index" value="#{seriesCard.descriptorEmbDL.rowCount}" />
            </a:commandLink>
          </rich:toolbar>
          <rich:extendedDataTable id="tbDescriptors" value="#{seriesCard.descriptorEmbDL.wrappedData}"
                                  var="row" style="display:block;" rowKeyVar="idx">
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor1}" title="#{row.descriptor1}" />
            </rich:column>
            <rich:column width="210px">
              <f:facet name="header">
                <h:outputLabel value="Тип связи" />
              </f:facet>
              <h:outputText value="#{row.descRelation}" title="#{row.descRelation}" />
            </rich:column>
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Связанное значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor2}" title="#{row.descriptor2}" />
            </rich:column>
            <rich:column width="80px">
              <a:commandLink value=" " title="Связь"
                             oncomplete="#{rich:component('descRelationEdit:form:panel')}.show()"
                             render="descRelationEdit:form:container"
                             disabled="#{not seriesCard.editing}">
                <a:param name="univDescId" value="#{row.univDescriptorId}" />
                <a:param name="unitId" value="#{seriesCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
                <a:param name="renderParam" value="form:descPanel" />
                <a:param name="index" value="#{idx}" />
                <a:param name="descriptor1" value="#{row.descriptor1}"/>
              </a:commandLink>
              <a:commandLink value=" " title="Удалить" render="tbDescriptors"
                             action="#{seriesCard.descriptorEmbDL.remove(row)}"
                             disabled="#{not seriesCard.editing}">
                <a:param name="unitId" value="#{seriesCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
              </a:commandLink>
            </rich:column>
          </rich:extendedDataTable>
          <script type="text/javascript">
            if (#{not empty param.index} &amp;&amp;
                    #{rich:component('tbDescriptors')}.rowCount &gt; Number('#{param.index}'))
                #{rich:component('tbDescriptors')}.setSelectedRowOnTop(#{param.index});
          </script>
        </m:panel>
      </h:form>
      <c:univDescRelEdit id="descRelationEdit" selectBean="#{seriesCard}" valueSelectPanelId="valueSelect">
        <a:param name="mode" value="edit" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="index" value="#{param.index}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="descriptor1" value="#{param.descriptor1}" />
      </c:univDescRelEdit>
      <c:descValueSelectorPanel id="valueSelect" selectBean="#{seriesCard}">
        <a:param name="mode" value="edit" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="index" value="#{param.index}" />
      </c:descValueSelectorPanel>

      <c:descCardLinksAdding id="cardLinks" selectBean="#{seriesCard}">
        <a:param name="action" value="#{param.action}" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="descIds" value="#{param.descIds}" />
        <a:param name="descLevelForCarldLink" value="#{param.descLevelForCarldLink}"/>
      </c:descCardLinksAdding>

    </ui:define>
  </ui:composition>
</html>