<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Просмотр графических образов" />

		<ui:define name="main_body">
			<h:outputScript name="imageGrid.js" library="js" />
			<h:form id="form">
				<div class="menu_desc_gr">
					<rich:toolbar>
						<h:link value="Вернуться" title="Вернуться"
								outcome="#{addComplex.getPageName(param.unitType)}">
							<f:param name="unitId" value="#{param.unitId}" />
						</h:link>
					</rich:toolbar>
				</div>
				<ui:repeat id="grid" value="#{attachedFiles.getFiles('FULL_SIZE')}" var="ip">
					<m:panel id="cell" styleClass="height100 disp_in-bl width_auto vert_top img_list">
						<object data="#{attachedFiles.getFileURL(ip)}" x-map-id="#{attachedFiles.getMapId(ip)}" 
								class="grid_size" height="100" width="100" >
							<embed src="#{attachedFiles.getFileURL(ip)}" height="100" width="100" />
						</object>
						<div class="name_img_cls">
							<h:outputText value="#{ip.caption}" />
						</div>
					</m:panel>
				</ui:repeat>
			</h:form>

			<h:form id="modal">
				<rich:popupPanel id="panel" domElementAttachment="parent" styleClass="full_img_mod"
								 left="65px" top="20px">
					<f:facet name="header">
						<h:outputText value="Просмотр изображений" />
					</f:facet>
					<f:facet name="controls">
						<a:commandLink id="close" value="X" execute="@none"
									   onclick="#{rich:component('modal:panel')}.hide()" />
					</f:facet>
					<div class="navig_img">
						<a:commandLink id="first" value=" " onclick="return false" styleClass="first fl_left"/>
						<a:commandLink id="prev" value=" " onclick="return false" styleClass="prev fl_left"/>
						<h:outputText id="info" value="Изображение" styleClass="fl_left "/>
						<a:commandLink id="next" value=" " onclick="return false" styleClass="next fl_left"/>
						<a:commandLink id="last" value=" " onclick="return false" styleClass="end fl_left" />
					</div>
					<div class="img_scrl2">
						<object id="myBigImage" width="99%">
							<embed/>
						</object>                                        
						<ui:repeat value="#{attachedFiles.maps}" var="map" varStatus="myMaps">
							<object id="myBigMap_#{myMaps.index}" data="#{attachedFiles.getMapURL(map)}" width="99%" height="100%">
								<embed src="#{attachedFiles.getMapURL(map)}" />
							</object>                                        
						</ui:repeat>
					</div>
				</rich:popupPanel>
			</h:form>
		</ui:define>
	</ui:composition>
</html>
