<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Просмотр графических образов" />

		<ui:define name="main_body">
			<h:form>
				<h:link value="Вернуться" title="Вернуться"
						outcome="#{addComplex.getPageName(showImage.model.unitTypeCode)}" style="margin:5px 0 0 10px;">
					<f:param name="unitId" value="#{showImage.model.univDataUnitId}" />
				</h:link>
				<h:link value="Масштаб" title="Масштаб"	outcome="/data/complex/showImage.jsf">
					<f:param name="unitId" value="#{param.unitId}" />
					<f:param name="fileNum" value="#{param.fileNum}" />
					<f:param name="scale" value="#{param.scale eq 'fit' ? 'original' : 'fit'}" />
				</h:link>
				<div class="nav">
					<h:link value=" " title="Предыдущее изображение"
							disabled="#{param.fileNum eq 1}" outcome="/data/complex/showImage.jsf" class="view_img">
						<f:param name="unitId" value="#{param.unitId}" />
						<f:param name="fileNum" value="#{param.fileNum - 1}" />
						<f:param name="scale" value="#{param.scale}" />
					</h:link>
					<h:outputText value=" Изображение #{param.fileNum} из #{showImage.model.imageCount} " />
					<h:link value=" " title="Следующее изображение"
							disabled="#{param.fileNum eq showImage.model.imageCount}"
							outcome="/data/complex/showImage.jsf" class="view_img">
						<f:param name="unitId" value="#{param.unitId}" />
						<f:param name="fileNum" value="#{param.fileNum + 1}" />
						<f:param name="scale" value="#{param.scale}" />
					</h:link>
				</div>
				<div class="#{param.scale eq 'fit' ? 'img_no_scrl' : 'img_scrl'}">
					<object data="#{showImage.imageURL}" width="99%">
						<embed src="#{showImage.imageURL}" />
					</object>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</html>