<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">
	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Выгрузка" />

		<ui:define name="main_body">
			<h:form id="userFrm" class="user_frm">
				<m:panel id="downloades">
					<f:facet name="header" styleCSS="">Параметры выгрузки</f:facet>
					<m:field id="archiveField">
						<f:facet name="header">
							<h:outputLabel value="Архив" />
						</f:facet>
						<h:selectOneMenu value="#{downloader.archiveId}" class="width750">
							<f:selectItems value="#{systemSelectItem.archives}" />
						</h:selectOneMenu>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Фонд" />
						</f:facet>
						<h:outputLabel value="Префикс" />
						<h:inputText value="#{downloader.fundPrefix}" class="width30"/>
						<h:outputLabel value="№"/>
						<m:numericInput value="#{downloader.fundNumber}"
										fieldName="Номер фонда" maxlength="8"/>
						<h:outputLabel value="Литера" />
						<h:inputText value="#{downloader.fundLitera}" class="width30"/>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Опись" />
						</f:facet>
						<h:outputLabel value="№" style="margin-left:116px"/>
						<m:numericInput value="#{downloader.seriesNumber}"
										fieldName="Номер описи" maxlength="8"/>
						<h:outputLabel value="Литера" />
						<h:inputText value="#{downloader.seriesLitera}" class="width30"/>
					</m:field>

					<div class="width350 mod_but">
						<a:commandButton value="Выгрузить" title="Выгрузить" action="#{downloader.exec()}">
							<f:ajax execute="@form" render="@form"/>
						</a:commandButton>
						<h:outputScript rendered="#{downloader.isValid()}">window.open('#{downloader.url}')</h:outputScript>
					</div>
				</m:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</html>