<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Наполнение сайта" />
		
		<ui:define name="main_body">
			<h:form id="form">
				<div class="page_links">
					<m:modeLinkMenu activeItem="news" menuClass="#{webSettingsTabMenu}" />
				</div>				
				<div class="static_page">
					<div class="users">	
					<a:jsFunction name="selectNews" render="tbNews" execute="@form"
						action="#{newsDL.setRowIndexByParamKey()}"
						oncomplete="if (#{not empty newsDL.relativeRowIndex})
							#{rich:component('tbNews')}.setSelectedRowOnTop(#{newsDL.relativeRowIndex});">
						<a:param name="selectedKey" value="#{param.newsId}" />
					</a:jsFunction>
					<a:jsFunction name="editNews" render="newsModal:container"
						oncomplete="#{rich:component('newsModal:panel')}.show()">
						<a:param name="newsId" />
					</a:jsFunction>
					<a:jsFunction name="removeNews" render="yn:ynForm:container"
						action="#{yesNoBean.setMessage('Вы действительно хотите удалить эту новость?')}"
						limitRender="true" oncomplete="#{rich:component('yn:ynForm:panel')}.show()">
						<a:param name="argument" />
						<a:param name="renderParam" value="form:tbNews" />
						<a:param name="yesMethod" value="removeNews" />
					</a:jsFunction>
					<rich:toolbar>
						<a:commandLink value=" " title="Добавить"
							execute="@none" onclick="editNews()" />
					</rich:toolbar>
					<rich:extendedDataTable id="tbNews" value="#{newsDL.model}" var="row">
						<f:facet name="header">
							<h:outputText value="Найдено новостей: #{newsDL.rowCount}" />
							<m:paginator id="pg" datalist="#{newsDL}" uiTable="tbNews" pageSize="250"
								paginatorBean="#{nav}" />
						</f:facet>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Дата новости" />
							</f:facet>
							<h:outputText value="#{row.dateStr}" title="#{row.dateStr}" />
						</rich:column>
						<rich:column width="550px">
							<f:facet name="header">
								<h:outputLabel value="Наименование новости" />
							</f:facet>
							<h:outputText value="#{row.name}" title="#{row.name}" />
						</rich:column>
						<rich:column>
							<a:commandLink value=" " title="Удалить"
								execute="@none" onclick="removeNews(#{row.newsId})" />
							<a:commandLink value=" " title="Редактировать"
								execute="@none" onclick="editNews(#{row.newsId})" />
							<h:link value=" " title="Локализация"
								outcome="/adm/settings/web/pageContent.jsf">
								<f:param name="newsId" value="#{row.newsId}" />
							</h:link>
						</rich:column>
					</rich:extendedDataTable>
					<m:panel>
						<f:facet name="header">Фильтр</f:facet>
						<a:region>
							<div class="menu_desc_gr">
								<rich:toolbar>
									<a:commandLink value="Поиск" title="Поиск" render="tbNews"
										action="#{newsDL.search()}" />
									<h:link value="Очистить параметры" title="Очистить параметры"
										outcome="/adm/settings/web/newsList.jsf" />
								</rich:toolbar>
							</div>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Дата новости" />
								</f:facet>
								<h:outputLabel value="с" />
								<m:date value="#{newsSearch.criteria.dateFrom}" fieldName="Дата новости" />
								<h:outputLabel value="по" />
								<m:date value="#{newsSearch.criteria.dateTo}" fieldName="Дата новости" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Наименование новости" />
								</f:facet>
								<h:inputText value="#{newsSearch.criteria.newsName}" style="margin-left:25px; width:500px"  />
							</m:field>
						</a:region>
					</m:panel>
					</div>
				</div>
			</h:form>
			<h:form id="newsModal">
				<rich:popupPanel id="panel" domElementAttachment="parent"
					left="250px" top="100px">
					<div class="selVal">
						<f:facet name="header">
							<h:outputLabel value="Описание новости" />
						</f:facet>
						<f:facet name="controls">
							<a:commandLink value="X" execute="@none"
								onclick="#{rich:component('newsModal:panel')}.hide()" />
						</f:facet>
						<a:outputPanel id="container">
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Наименование новости" />
								</f:facet>
								<h:inputText value="#{newsCard.model.name}" maxlength="300" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Дата новости" />
								</f:facet>
								<m:date value="#{newsCard.model.newsDate}" fieldName="Дата новости" />
							</m:field>
							<div class="mod_but">
								<a:commandButton value="Сохранить" title="Сохранить"
									action="#{newsCard.save()}">
									<a:param name="newsId" value="#{param.newsId}" />
									<a:ajax event="click" render="form:tbNews:pg:pgCountFld" oncomplete="
										if (#{newsCard.validCard})
										{
											#{rich:component('newsModal:panel')}.hide();
											selectNews(#{newsCard.newsId});
										}" />
								</a:commandButton>
								<a:commandButton value="Выйти" title="Выйти" execute="@none"
									onclick="#{rich:component('newsModal:panel')}.hide()" />
							</div>
						</a:outputPanel>
					</div>
				</rich:popupPanel>
			</h:form>
			<m:yesNoPanel id="yn" yesBean="#{newsDL}" />
			
			<script type="text/javascript">
				jQuery(document).ready(function() {
					if (#{not empty param.newsId})
						selectNews();
				});
			</script>
		</ui:define>
	</ui:composition>
</html>