<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Наполнение сайта" />
		
		<ui:define name="main_body">
		<div class="desc_gr">
			<h:form id="form">
			<div class="menu_desc_gr">
				<rich:toolbar>
					<h:link value="Вернуться" title="Вернуться"
						outcome="#{contentEdit.backRef}" />
				</rich:toolbar>
			</div>
				<h:outputText value="#{contentEdit.pageTitle}" class="title_cnt"/>
				<a:region>
					<a:jsFunction name="renderLocale" render="flag,contentPanel" 
						execute="@region" action="#{contentEdit.initContent()}">
						<a:param name="pageId" value="#{param.pageId}" />
						<a:param name="newsId" value="#{param.newsId}" />
						<a:param name="type" value="#{param.type}" />
					</a:jsFunction>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Язык локализации" />
						</f:facet>
						<h:selectOneMenu value="#{contentEdit.languageCode}" onchange="renderLocale()">
							<f:selectItems value="#{systemSelectItem.languages}" />
						</h:selectOneMenu>
						<a:outputPanel id="flag" styleClass="flag_mar">
							<h:graphicImage value="/resources/images/#{contentEdit.languageCode}.png" />
						</a:outputPanel>
					</m:field>
					<m:field>
						<f:facet name="header">
							<h:outputLabel value="Тип содержимого" />
						</f:facet>
						<h:selectOneMenu value="#{contentEdit.contentTypeId}" onchange="renderLocale()">
							<f:selectItems value="#{contentEdit.contentTypes}" />
						</h:selectOneMenu>
					</m:field>
				</a:region>
				<h:panelGrid columns="2" styleClass="left_content">
					<m:panel>
						<f:facet name="header">Содержимое</f:facet>
						<a:outputPanel id="contentPanel">
							<a:outputPanel rendered="#{contentEdit.showName}">
								<m:field styleClass="disp_in-bl">
									<f:facet name="header">
										<h:outputLabel value="Наименование" />
									</f:facet>
									<h:inputText value="#{contentEdit.contentName}" maxlength="300" styleClass="width540"/>
								</m:field>
							</a:outputPanel>
							<h:outputLabel value="Содержание" />
							<div class="stupid_table">
							<rich:editor value="#{contentEdit.fullContent}">
								<f:facet name="config">
									toolbar: 'custom',
									toolbar_custom:
				                        [
				                            { name: 'document', items : [ 'Source','-','NewPage','Preview' ] },
				                            { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
				                            { name: 'editing', items : [ 'Find','Replace','-','SelectAll','-','Scayt' ] },
				                            { name: 'insert', items : [ 'Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'
				                                     ,'Iframe' ] },
				                                    '/',
				                            { name: 'styles', items : [ 'Styles','Format' ] },
				                            { name: 'basicstyles', items : [ 'Bold','Italic','Strike','-','RemoveFormat' ] },
				                            { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock' ] },
				                            { name: 'links', items : [ 'Link','Unlink','Anchor' ] },
				                            { name: 'tools', items : [ 'Maximize' ] }
				                        ]
								</f:facet>
							</rich:editor>
							</div>
						</a:outputPanel>
						<a:commandButton value="Сохранить" title="Сохранить" action="#{contentEdit.save()}">
							<a:param name="pageId" value="#{param.pageId}" />
							<a:param name="newsId" value="#{param.newsId}" />
							<a:param name="type" value="#{param.type}" />
							<a:param name="pageTypeId" value="#{param.pageTypeId}" />
							<a:param name="ord" value="#{param.ord}" />
						</a:commandButton>
						<a:commandButton value="Очистить" title="Очистить" action="#{contentEdit.clear()}"
							render="contentPanel">
							<a:param name="pageId" value="#{param.pageId}" />
							<a:param name="newsId" value="#{param.newsId}" />
						</a:commandButton>
					</m:panel>
					<m:panel id="imagePanel" styleClass="available_img">
						<f:facet name="header">Доступные изображения</f:facet>
						<div class="menu_desc_gr">
							<a:commandLink value=" " title="Добавить" execute="@none"
								onclick="#{rich:component('uploadPanel:popup')}.show()" />
						</div>
						<div class="all_img">
						<a:repeat value="#{webQuery.webImageIds}" var="imageId">
						<div class="img_content">
							<h:graphicImage value="webImage?id=#{imageId}"
								width="100" />
							<a:commandLink value=" " title="Удалить" render="yn:ynForm:container"
								limitRender="true" oncomplete="#{rich:component('yn:ynForm:panel')}.show()"
								action="#{yesNoBean.setMessage('Вы действительно хотите удалить это изображение?')}">
								<a:param name="renderParam" value="imagePanel" />
								<a:param name="yesMethod" value="removeImage" />
								<a:param name="argument" value="#{imageId}" />
							</a:commandLink>
							<h:outputText value="webImage?id=#{imageId}" />
						</div>
						</a:repeat>
						</div>
					</m:panel>
				</h:panelGrid>
				<script type="text/javascript">
					jQuery(document).ready(function() { renderLocale(); });
				</script>
			</h:form>
			</div>
			
			<m:uploadPanel id="uploadPanel" listenerBean="#{webImageAdaptor}" 
				render="imagePanel" acceptedTypes="jpg,gif,png" />
			<m:yesNoPanel id="yn" yesBean="#{webImageAdaptor}" />
		</ui:define>
	</ui:composition>
</html>