<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Наполнение сайта" />
		
		<ui:define name="main_body">
			<h:form id="form">
			<div class="page_links">
				<m:modeLinkMenu activeItem="pages" menuClass="#{webSettingsTabMenu}" />
			</div>	
			<div class="static_page">
				<a:repeat value="#{webQuery.singleWebPages}" var="singlePage">
					<h:link value=" " title="Локализация"
						outcome="/adm/settings/web/pageContent.jsf">
							<f:param name="pageId" value="#{singlePage.pageId}" />
					</h:link>
					<h:outputText value="#{singlePage.pageType}" class="name_pages"/>
				</a:repeat>
			<div class="desc_val">
				<a:repeat id="multi" value="#{webQuery.multipleWebPageTypes}" var="multiplePageType" rowKeyVar="ind">
					<m:panelLight id="panel" open="#{multiplePageWrapper.isSelectedPageType(multiplePageType.pageTypeId)}">
						<f:facet name="header">#{multiplePageType.pageType}</f:facet>
						<a:outputPanel id="multiContainer">
							<a:region>
								<rich:toolbar id="mpButtons">
									<ui:param name="datalist" value="#{multiplePageWrapper.getDataListByType(multiplePageType.pageTypeId)}" />
									<h:link value=" " title="Добавить"
										outcome="/adm/settings/web/pageContent.jsf">
										<f:param name="type" value="page" />
										<f:param name="pageTypeId" value="#{multiplePageType.pageTypeId}" />
										<f:param name="ord" value="#{multiplePageType.pagesCount + 1}" />
									</h:link>
									<a:commandLink value=" " title="Вверх"
										action="#{datalist.pageMoveUp()}" render="multiContainer" 
										disabled="#{param.mode ne 'tableWork' and datalist.rowIndex eq 0}">
										<a:param name="mode" value="tableWork" />
										<a:param name="index" value="#{datalist.rowIndex - 1}" />
									</a:commandLink>
									<a:commandLink value=" " title="Вниз"
										action="#{datalist.pageMoveDown()}" render="multiContainer" 
										disabled="#{param.mode ne 'tableWork' and datalist.rowIndex eq datalist.rowCount - 1}">
										<a:param name="mode" value="tableWork" />
										<a:param name="index" value="#{datalist.rowIndex + 1}" />
									</a:commandLink>
								</rich:toolbar> 
							<div class="stupid_table">
								<rich:extendedDataTable id="tbPages" value="#{datalist.wrappedData}" var="row" 
									onselectionchange="passIndex#{multiplePageType.pageTypeId}()">
									<f:facet name="footer">
										<m:indexer datalist="#{datalist}" uiTable="tbPages"	render="mpButtons"
											fnName="passIndex#{multiplePageType.pageTypeId}" />
									</f:facet>
									<rich:column width="660px">
										<f:facet name="header">
											<h:outputLabel value="Название страницы" />
										</f:facet>
										<h:outputText value="#{row.name}" title="#{row.name}" />
									</rich:column>
									<rich:column width="74px">
										<h:link value=" " title="Локализация"
											outcome="/adm/settings/web/pageContent.jsf">
											<f:param name="pageId" value="#{row.pageId}" />
										</h:link>
										<a:commandLink value=" " title="Удалить" render="yn:ynForm:container"
											limitRender="true" oncomplete="#{rich:component('yn:ynForm:panel')}.show()"
											action="#{yesNoBean.setMessage('Вы действительно хотите удалить эту страницу')}">
											<a:param name="renderParam" value="form:multi:#{ind}:panel" />
											<a:param name="yesMethod" value="removePage" />
											<a:param name="argument" value="#{row.pageId}" />
										</a:commandLink>
									</rich:column>
								</rich:extendedDataTable>
								</div>
								<script type="text/javascript">
									jQuery(document).ready(function() {
										if (#{not empty param.index})
											#{rich:component('tbPages')}.setSelectedRowOnTop(#{param.index});
										if (#{multiplePageWrapper.isSelectedPageType(multiplePageType.pageTypeId)})
											#{rich:component('tbPages')}.setSelectedRowOnTop(#{datalist.getPageIndex(param.pageId)});
									});
								</script>
							</a:region>
						</a:outputPanel>
					</m:panelLight>
					
				</a:repeat>
				</div>
			</div>
			</h:form>
			<m:yesNoPanel id="yn" yesBean="#{multiplePageWrapper}" />
		</ui:define>
	</ui:composition>
</html>