<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

  <ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Описание электронной книги" />

    <ui:define name="main_body">
      <h:outputScript name="ebook.js" library="js" />
      <h:form id="form" class="complex_tree">
        <div class="menu_desc_gr" id="menu_f" styleClass="e_b">
          <rich:toolbar id="buttons">
            <h:link value="Редактировать" title="Редактировать" outcome="/data/ebook/ebook.jsf"
                    disabled="#{empty param.unitId or not access.hasAccess('EBOOK_EDIT')}">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="edit" />
            </h:link>
            <a:commandLink value="Удалить" title="Удалить" render="yn:ynForm:container"
                           disabled="#{empty param.unitId or not access.hasAccess('EBOOK_EDIT')}" 
                           limitRender="true"
                           action="#{yesNoBean.setMessage(ebookCard.confirmRemove())}"
                           oncomplete="#{rich:component('yn:ynForm:panel')}.show()">
              <a:param name="yesMethod" value="removeDataUnit" />
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="action" value="save" />
            </a:commandLink>
            <a:outputPanel id="savePanel" styleClass="vis_pict">
              <a:commandLink value="Сохранить" title="Сохранить"
                             action="#{ebookCard.save()}" disabled="#{not ebookCard.editing}">
                <a:param name="mode" value="#{param.mode}" />
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="authorCount" value="#{authorCollection.itemCount}" />
                <a:param name="action" value="save" />
              </a:commandLink>
            </a:outputPanel>
            <h:link value="Обновить" title="Обновить" outcome="/data/ebook/ebook.jsf">
              <a:param name="unitId" value="#{param.unitId}" />
              <a:param name="mode" value="#{empty param.unitId ? 'add' : null}" />
            </h:link>
            <h:link value="Добавить" title="Добавить" outcome="/data/ebook/ebook.jsf"
                    disabled="#{not access.hasAccess('EBOOK_EDIT')}">
              <a:param name="mode" value="add" />
              <a:param name="owner" value="#{ebookCard.model.resOwnerId}" />
            </h:link>
            <h:outputLink title="Просмотр электронного издания" 
                          value="#{ebookCard.ebookModel.externalUrl}" target="_blank"
                          disabled="#{empty ebookCard.ebookModel.externalUrl}">
              <h:outputText value="Просмотр электронного издания" />
            </h:outputLink>
          </rich:toolbar>
        </div>
        <m:panel id="identityPanel" >
          <f:facet name="header">Идентификация</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Номер в реестре" />
            </f:facet>
            <h:outputText value="#{ebookCard.model.numberNumber}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="УДК" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.udc}">
              <h:inputText value="#{ebookCard.ebookModel.udc}" maxlength="100"
                           styleClass="width300" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="ББК" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.bbc}">
              <h:inputText value="#{ebookCard.ebookModel.BBC}" maxlength="100" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="ISBN" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.isbn}">
              <h:inputText value="#{ebookCard.ebookModel.isbn}" maxlength="100" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Вид издания" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.editionType}">
              <h:selectOneMenu value="#{ebookCard.ebookModel.editionTypeId}">
                <f:selectItems value="#{systemSelectItem.editionTypes}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Язык" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.languageName}">
              <h:selectOneMenu value="#{ebookCard.langModel.docLanguageId}">
                <f:selectItems value="#{systemSelectItem.docLanguages}" />
              </h:selectOneMenu>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel id="namesPanel">
          <f:facet name="header">Заголовки</f:facet>
          <m:field id="authorField" >
            <f:facet name="header">
              <h:outputLabel value="Автор" />
            </f:facet>
            <h:inputHidden value="#{authorCollection.itemCount}" />
            <a:commandLink value=" " title="Добавить"
                           disabled="#{not ebookCard.editing}" render="valueSelect:form:container"
                           oncomplete="#{rich:component('valueSelect:form:panel')}.show()">
              <a:param name="renderParam" value="form:namesPanel:authorField:selectedAuthor" />
              <a:param name="selectMethod" value="selectAuthor" />
              <a:param name="p_groupId"
                       value="#{systemEntity.getDescGroupByCode('LITERATURE_AUTHOR').descriptorGroupId}" />
              <a:param name="unitId" value="#{ebookCard.model.univDataUnitId}" />
              <a:param name="mode" value="edit" />
              <a:param name="authorCount" value="#{authorCollection.itemCount}" />
              <a:param name="function" value="addAuthor()" />
            </a:commandLink>
            <a:repeat value="#{authorCollection.items}" var="item" >
              <h:inputHidden value="#{item.authorId}" />
              <h:inputHidden value="#{item.author.fullValue}" />
              <div class="offset_f">
                <h:outputText value="#{item.author.fullValue}" />
              </div>
              <a:commandLink value=" " title="Удалить" render="authorField,savePanel"
                             action="#{authorCollection.removeItem(item)}" disabled="#{not ebookCard.editing}"
                             styleClass="offset_pict" >
                <a:param name="unitId" value="#{param.unitId}" />
                <a:param name="mode" value="edit" />
                <a:param name="authorCount" value="#{authorCollection.itemCount}" />
              </a:commandLink>
            </a:repeat>
            <a:outputPanel id="selectedAuthor">
              <h:inputHidden value="#{descValueSelectDL.rowId}" />
            </a:outputPanel>
            <a:jsFunction name="addAuthor" action="#{authorCollection.selectAuthor()}"
                          execute="@form" render="authorField,savePanel"
                          oncomplete="if (#{descValueSelectDL.valueSelected})
                          #{rich:component('valueSelect:form:panel')}.hide()">
              <a:param name="unitId" value="#{ebookCard.model.univDataUnitId}" />
              <a:param name="mode" value="edit" />
              <a:param name="authorCount" value="#{authorCollection.itemCount}" />
            </a:jsFunction>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Редактор" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.editor}">
              <h:inputText value="#{ebookCard.ebookModel.editor}" maxlength="200" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Редколлегия" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.editorialBoard}">
              <h:inputTextarea value="#{ebookCard.ebookModel.editorialBoard}" maxlength="2500" 
                               styleClass="width750 height100p">
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Составители" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.compilers}">
              <h:inputTextarea value="#{ebookCard.ebookModel.compilers}" maxlength="2500"
                               styleClass="width750 height100p" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Название издания" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.model.unitName}">
              <h:inputTextarea value="#{ebookCard.model.unitName}" maxlength="4000"
                               styleClass="width750 height100p" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Том" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.volume1Info}">
              <h:inputText value="#{ebookCard.ebookModel.volume1Info}" maxlength="100" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Книга" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.volume2Info}">
              <h:inputText value="#{ebookCard.ebookModel.volume2Info}" maxlength="100" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Надзаголовочные данные" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.atoptitleData}">
              <h:inputTextarea value="#{ebookCard.ebookModel.atoptitleData}" maxlength="2500" 
                               styleClass="width750 height100p">
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field id="cover">
            <f:facet name="header">
              <h:outputLabel value="Обложка электронной книги" />
            </f:facet>
            <a:commandLink styleClass="attach disp_in-bl"
                           onclick="insoft.ebook.attachCover();
                               return false" 
                           disabled="#{empty param.unitId or param.mode ne 'edit'}" />
            <a:commandLink styleClass="del_cross disp_in-bl" render="yn:ynForm:container"
                           disabled="#{empty ebookCard.bookCover or param.mode ne 'edit'}"
                           limitRender="true" oncomplete="#{rich:component('yn:ynForm:panel')}.show()"
                           action="#{yesNoBean.setMessage('Вы действительно хотите удалить обложку этой книги?')}">
              <a:param name="yesMethod" value="removeCover" />
              <a:param name="renderParam" value="form:namesPanel:cover" />
              <a:param name="mode" value="#{param.mode}" />
              <a:param name="unitId" value="#{param.unitId}" />
            </a:commandLink>
            <h:graphicImage id="image" width="100" value="#{ebookCard.bookCoverURL}" styleClass="disp_bl"/>
          </m:field>
          <a:jsFunction name="insoft.ebook.startUpload" action="#{attachedFilesUpload.startUploading()}"
                        oncomplete="insoft.ebook.__startUpload()" limitRender="true">
            <f:param name="unitId" value="#{param.unitId}" />
            <f:param name="category" value="BOOK_COVER" />
          </a:jsFunction>
        </m:panel>
        <m:panel id="seriesPanel">
          <f:facet name="header">Принадлежность к серии</f:facet>
          <a:region>
            <m:field id="name">
              <f:facet name="header">
                <h:outputLabel value="Название серии" />
              </f:facet>
              <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.series.seriesName}" >
                <h:selectOneMenu value="#{ebookCard.ebookModel.seriesId}" onchange="setSeriesInfo()"
                                 styleClass="width750">
                  <f:selectItems value="#{systemSelectItem.bookSeries}" />
                </h:selectOneMenu>
              </m:mode>
            </m:field>
            <a:outputPanel id="editSeries">
              <a:commandLink value=" " title="Операции с серией"
                             render="seriesForm:container" oncomplete="#{rich:component('seriesForm:panel')}.show()"
                             disabled="#{not ebookCard.editing}">
                <a:param name="seriesId" value="#{ebookCard.ebookModel.seriesId}" />
                <a:param name="mode" value="edit" />
              </a:commandLink>
            </a:outputPanel>
            <a:jsFunction name="setSeriesInfo" render="info,editSeries"
                          action="#{ebookCard.updateSeriesInfo()}" execute="@region">
              <a:param name="mode" value="edit" />
            </a:jsFunction>
          </a:region>
          <m:field id="info">
            <f:facet name="header">
              <h:outputLabel value="Другие сведения о серии" />
            </f:facet>
            <h:outputText value="#{ebookCard.ebookImmModel.series.seriesInfo}" />
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Номер выпуска" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.editionNumber}">
              <h:inputText value="#{ebookCard.ebookModel.editionNumber}" maxlength="100" 
                           styleClass="width50">
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Сведения об издании</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Сведения об издании" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.editionNote}">
              <h:inputText value="#{ebookCard.ebookModel.editionNote}" maxlength="2500" 
                           styleClass="width300">
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Место издания" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.publishingPlace}">
              <h:inputText value="#{ebookCard.ebookModel.publishingPlace}" maxlength="2500" 
                           styleClass="width300">
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Название издательства" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.publisher}">
              <h:inputText value="#{ebookCard.ebookModel.publisher}" maxlength="2500" 
                           styleClass="width300">
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Год издания" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.publishingYear}">
              <m:yearsOfMaterials value="#{ebookCard.ebookModel.publishingYear}"
                              fieldName="Год издания" maxlength="4" styleClass="width50" />
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Объём издания" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.editionSize}">
              <h:inputText value="#{ebookCard.ebookModel.editionSize}" maxlength="100" styleClass="width300">
                <f:converter converterId="trimTextConverter"/>
              </h:inputText>
            </m:mode>
          </m:field>
        </m:panel>
        <m:panel>
          <f:facet name="header">Дополнительные сведения</f:facet>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Аннотация" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.model.annotation}">
              <h:inputTextarea value="#{ebookCard.model.annotation}" styleClass="width750 height100p" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>
          <m:field>
            <f:facet name="header">
              <h:outputLabel value="Примечание" />
            </f:facet>
            <m:mode edit="#{ebookCard.editing}" value="#{ebookCard.ebookImmModel.notes}">
              <h:inputTextarea value="#{ebookCard.ebookModel.notes}" maxlength="4000"
                               styleClass="width750 height100p" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:mode>
          </m:field>   
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Ссылка на текст книги" />
              </f:facet> 
              <m:mode edit="#{ebookCard.editing}">
                <h:inputText value="#{ebookCard.ebookModel.externalUrl}" maxlength="500" styleClass="width750">
                    <f:converter converterId="trimTextConverter"/>
                </h:inputText>                
              </m:mode>
                <h:outputLink value="#{ebookCard.ebookModel.externalUrl}" target="_blank" 
                              disabled="#{ebookCard.editing}" class="link_book">
                    <h:outputText value="#{ebookCard.ebookModel.externalUrl}" />
                </h:outputLink>
            </m:field>
        </m:panel>
        <m:panel id="descPanel" styleClass="block-form t-width753">
          <f:facet name="header">Ключевые слова</f:facet>
          <rich:toolbar>
            <a:commandLink value=" " title="Добавить"
                           disabled="#{not ebookCard.editing or empty ebookCard.model.univDataUnitId}"
                           oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
                           render="valueSelect:form:container">
              <a:param name="renderParam" value="form:descPanel" />
              <a:param name="selectMethod" value="selectDescriptor" />
              <a:param name="unitId" value="#{ebookCard.model.univDataUnitId}" />
              <a:param name="mode" value="edit" />
              <a:param name="index" value="#{ebookCard.descriptorEmbDL.rowCount}" />
            </a:commandLink>
          </rich:toolbar>
          <rich:extendedDataTable id="tbDescriptors" value="#{ebookCard.descriptorEmbDL.wrappedData}"
                                  var="row" style="display:block;" rowKeyVar="idx">
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor1}" title="#{row.descriptor1}" />
            </rich:column>
            <rich:column width="210px">
              <f:facet name="header">
                <h:outputLabel value="Тип связи" />
              </f:facet>
              <h:outputText value="#{row.descRelation}" title="#{row.descRelation}" />
            </rich:column>
            <rich:column width="230px">
              <f:facet name="header">
                <h:outputLabel value="Связанное значение" />
              </f:facet>
              <h:outputText value="#{row.descriptor2}" title="#{row.descriptor2}" />
            </rich:column>
            <rich:column width="80px">
              <a:commandLink value=" " title="Связь"
                             oncomplete="#{rich:component('descRelationEdit:form:panel')}.show()"
                             render="descRelationEdit:form:container"
                             disabled="#{not ebookCard.editing}">
                <a:param name="univDescId" value="#{row.univDescriptorId}" />
                <a:param name="unitId" value="#{ebookCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
                <a:param name="renderParam" value="form:descPanel" />
                <a:param name="index" value="#{idx}" />
                <a:param name="descriptor1" value="#{row.descriptor1}"/>
              </a:commandLink>
              <a:commandLink value=" " title="Удалить" render="tbDescriptors"
                             action="#{ebookCard.descriptorEmbDL.remove(row)}"
                             disabled="#{not ebookCard.editing}">
                <a:param name="unitId" value="#{ebookCard.model.univDataUnitId}" />
                <a:param name="mode" value="edit" />
              </a:commandLink>
            </rich:column>
          </rich:extendedDataTable>
          <script type="text/javascript">
            if (#{not empty param.index} &amp;&amp;
                    #{rich:component('tbDescriptors')}.rowCount &gt; Number('#{param.index}'))
                #{rich:component('tbDescriptors')}.setSelectedRowOnTop(#{param.index});
          </script>
        </m:panel>
      </h:form>

      <h:form id="seriesForm">
        <rich:popupPanel id="panel" domElementAttachment="parent" left="280px" top="50px">
          <f:facet name="header">
            <h:outputLabel value="Серия" />
          </f:facet>
          <f:facet name="controls">
            <a:commandLink id="close" value="X" execute="@none"
                           onclick="#{rich:component('seriesForm:panel')}.hide()" />
          </f:facet>
          <a:outputPanel id="container">
            <h:inputHidden value="#{ebookSeriesCard.model.seriesId}" />
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Название серии" />
              </f:facet>
              <h:inputTextarea value="#{ebookSeriesCard.model.seriesName}" maxlength="300" 
                               styleClass="width400" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:field>
            <m:field>
              <f:facet name="header">
                <h:outputLabel value="Другие сведения о серии" />
              </f:facet>
              <h:inputTextarea value="#{ebookSeriesCard.model.seriesInfo}" maxlength="2500"
                               styleClass="width400" >
                <f:converter converterId="trimTextConverter"/>
              </h:inputTextarea>
            </m:field>
            <div class="mod_but">
              <a:commandButton value="#{empty param.seriesId ? 'Добавить' : 'Сохранить'}"
                               title="#{empty param.seriesId ? 'Добавить' : 'Сохранить'}"
                               action="#{ebookSeriesCard.save()}" 
                               render="form:seriesPanel:name,form:seriesPanel:info,form:seriesPanel:editSeries"
                               oncomplete="if (#{ebookSeriesCard.complete})
                               #{rich:component('seriesForm:panel')}.hide()">
                <a:param name="mode" value="edit" />
              </a:commandButton>
              <a:commandButton value="Удалить" title="Удалить"
                               rendered="#{not empty param.seriesId}" action="#{ebookSeriesCard.remove()}"
                               render="form:seriesPanel:name,form:seriesPanel:info,form:seriesPanel:editSeries"
                               oncomplete="if (#{ebookSeriesCard.complete})
                               #{rich:component('seriesForm:panel')}.hide()">
                <a:param name="seriesId" value="#{param.seriesId}" />
                <a:param name="mode" value="edit" />
              </a:commandButton>
              <a:commandButton value="Выйти" title="Выйти" execute="@none"
                               onclick="#{rich:component('seriesForm:panel')}.hide()" />
            </div>
          </a:outputPanel> 
        </rich:popupPanel>
      </h:form>

      <c:univDescRelEdit id="descRelationEdit" selectBean="#{ebookCard}" valueSelectPanelId="valueSelect">
        <a:param name="mode" value="edit" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="index" value="#{param.index}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="descriptor1" value="#{param.descriptor1}" />
      </c:univDescRelEdit>
      <c:descValueSelectorPanel id="valueSelect" selectBean="#{ebookCard}">
        <a:param name="mode" value="#{param.mode}" />
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="univDescId" value="#{param.univDescId}" />
        <a:param name="authorCount" value="#{param.authorCount}" />
        <a:param name="index" value="#{param.index}" />
      </c:descValueSelectorPanel>
      <m:yesNoPanel id="yn" yesBean="#{ebookCard}">
        <a:param name="unitId" value="#{param.unitId}" />
        <a:param name="action" value="#{param.action}" />
        <a:param name="mode" value="#{param.mode}" />
      </m:yesNoPanel>
      <m:uploadPanel id="uploadPanel" listenerBean="#{attachedFilesUpload}"
                     listenerMethod="uploadOnce"	render="form:namesPanel:cover" acceptedTypes="jpg,gif,png">
        <a:param name="mode" value="#{param.mode}" />
        <a:param name="unitId" value="#{param.unitId}" />
      </m:uploadPanel>
    </ui:define>
  </ui:composition>
</html>