<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Электронная библиотека" />
		
		<ui:define name="main_body">
			<h:outputScript name="librarySearch.js" library="js" />
			<h:form id="form" class="complex_tree">
				<a:region>
					<m:panel id="params">
						<f:facet name="header">Параметры поиска</f:facet>
						<div class="menu_desc_gr">
							<rich:toolbar>
								<a:commandLink value="Поиск" title="Поиск" render="tbBooks,showResult"
									action="#{ebookDL.search()}" />
								<h:link value="Очистить параметры" title="Очистить параметры"
									outcome="/data/ebook/librarySearch.jsf" />
								<h:link value="Добавить" title="Добавить" outcome="/data/ebook/ebook.jsf"
                                        disabled="#{not access.hasAccess('EBOOK_EDIT')}">
									<f:param name="mode" value="add" />
								</h:link>
							</rich:toolbar>
						</div>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Название издания" />
							</f:facet>
							<h:inputText value="#{ebookSearch.criteria.bookTitle}" styleClass="width430"/>
						</m:field>
						<m:field id="authorField">
							<f:facet name="header">
								<h:outputLabel value="Автор" />
							</f:facet>
							<c:selector panelId="valueSelect" selectMethod="selectAuthor"
								dispValue="#{systemEntity.getDescValue(ebookSearch.criteria.authorId).fullValue}"
								value="#{ebookSearch.criteria.authorId}" render="form:params:authorField">
								<a:param name="p_groupId" 
									value="#{systemEntity.getDescGroupByCode('LITERATURE_AUTHOR').descriptorGroupId}" />
							</c:selector>
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="ISBN" />
							</f:facet>
							<h:inputText value="#{ebookSearch.criteria.isbn}" />
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Вид издания" />
							</f:facet>
							<h:selectOneMenu value="#{ebookSearch.criteria.editionTypeId}">
								<f:selectItems value="#{systemSelectItem.editionTypes}" />
							</h:selectOneMenu>
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Серия" />
							</f:facet>
							<h:selectOneMenu value="#{ebookSearch.criteria.seriesId}" styleClass="width570">
								<f:selectItems value="#{systemSelectItem.bookSeries}" />
							</h:selectOneMenu>
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Издательство" />
							</f:facet>
							<h:inputText value="#{ebookSearch.criteria.publisher}" />
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Год издания" />
							</f:facet>
							<m:numericInput value="#{ebookSearch.criteria.publishingYear}"
								fieldName="Год издания" maxlength="4" styleClass="width50"/>
						</m:field>
					</m:panel>
					<m:panel id="descriptors" styleClass="block-form t-width753">
						<f:facet name="header">Ключевые слова</f:facet>
						<h:inputHidden value="#{ebookSearch.descIds}" />
						<div class="stupid_table">
						<rich:toolbar>
							<a:commandLink value=" " title="Добавить"
								oncomplete="#{rich:component('valueSelect:form:panel')}.show()"
								render="valueSelect:form:container">
								<a:param name="renderParam" value="form:descriptors" />
								<a:param name="selectMethod" value="addDescriptor" />
								<a:param name="descIds" value="#{ebookSearch.descIds}" />
							</a:commandLink>
						</rich:toolbar>
						<rich:extendedDataTable id="tbDescriptors" value="#{ebookSearch.selectedDescriptors}"
							var="row" style="display:block;" styleClass="tab_height">
							<rich:column width="230px">
								<f:facet name="header">
									<h:outputLabel value="Указатель" />
								</f:facet>
								<h:outputText value="#{row.groupName}" title="#{row.groupName}" />
							</rich:column>
							<rich:column width="465px">
								<f:facet name="header">
									<h:outputLabel value="Значение" />
								</f:facet>
								<h:outputText value="#{row.fullValue}" title="#{row.fullValue}" />
							</rich:column>
							<rich:column width="40px">
								<a:commandLink value=" " title="Удалить" render="descriptors"
									action="#{ebookSearch.removeDescriptor(row)}">
									<a:param name="descIds" value="#{ebookSearch.descIds}" />
								</a:commandLink>
							</rich:column>
						</rich:extendedDataTable>
						</div>
					</m:panel>
				</a:region>
				
				<a:outputPanel id="showResult">
					<h:inputHidden value="#{ebookDL.showResult}" />
				</a:outputPanel>
				<div class="stupid_table">
					<rich:extendedDataTable id="tbBooks" value="#{ebookDL.model}" var="row"
						style="#{ebookDL.showResult ? 'display:block;' : 'display:none;'}" styleClass="res_tabel">
						<f:facet name="header">
							<h:outputText value="В результате найдено: #{ebookDL.rowCount}" />
							<m:paginator id="pg" datalist="#{ebookDL}" pageSize="250" uiTable="tbBooks"
								paginatorBean="#{nav}" />
							<m:sortingRememberer sortingCriteria="#{ebookDL.sortingCriteria}" />
						</f:facet>
						<rich:column width="40px">
	                       <h:link value=" " title="Карточка" outcome="/data/ebook/ebook.jsf"
	                           target="_blank">
	                           <f:param name="unitId" value="#{row.univDataUnitId}" />
	                    	</h:link>
                        </rich:column>
						<rich:column headerClass="#{ebookDL.sortingCriteria.sortingMap['bookTitle']}"
							width="274px">
							<f:facet name="header">
								<m:sortingHeader dataList="#{ebookDL}" tableId="tbBooks"
									columnTitle="Название издания" columnName="bookTitle" />
							</f:facet>
							<h:outputText value="#{row.bookTitle}" title="#{row.bookTitle}" />
						</rich:column>
						<rich:column headerClass="#{ebookDL.sortingCriteria.sortingMap['authors']}"
							width="190px">
							<f:facet name="header">
								<m:sortingHeader dataList="#{ebookDL}" tableId="tbBooks"
									columnTitle="Автор" columnName="authors" />
							</f:facet>
							<h:outputText value="#{row.authors}" title="#{row.authors}" />
						</rich:column>
						<rich:column headerClass="#{ebookDL.sortingCriteria.sortingMap['publisher']}"
							width="310px">
							<f:facet name="header">
								<m:sortingHeader dataList="#{ebookDL}" tableId="tbBooks"
									columnTitle="Издательство" columnName="publisher" />
							</f:facet>
							<h:outputText value="#{row.publisher}" title="#{row.publisher}" />
						</rich:column>
						<rich:column headerClass="#{ebookDL.sortingCriteria.sortingMap['publishingYear']}"
							width="98px">
							<f:facet name="header">
								<m:sortingHeader dataList="#{ebookDL}" tableId="tbBooks"
									columnTitle="Год издания" columnName="publishingYear" />
							</f:facet>
							<h:outputText value="#{row.publishingYear}" title="#{row.publishingYear}" />
						</rich:column>
						<rich:column width="65px" styleClass="alignCntr">
							<f:facet name="header">
								<h:outputText value="Обложка" />
							</f:facet>
							<h:graphicImage height="25" value="#{ebookDL.getBookCoverURL(row.univDataUnitId)}" 
								onmouseover="insoft.library.showCover(event)" onmouseout="insoft.library.hideCover()" />
						</rich:column>
					</rich:extendedDataTable>
				</div>
			</h:form>
			<c:descValueSelectorPanel id="valueSelect" selectBean="#{ebookSearch}">
				<a:param name="action" value="#{param.action}" />
				<a:param name="descIds" value="#{param.descIds}" />
			</c:descValueSelectorPanel>
		</ui:define>
	</ui:composition>
</html>