<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Группы пользователей" />
		
		<ui:define name="main_body">
			<h:form id="groupFrm" class="groups_users">
				<div class="usr_tbl">
					<a:region>
						<a:jsFunction name="selectGroup" render="tbGroups" execute="@form"
							action="#{groupCard.selectGroup()}" limitRender="true"
							oncomplete="if (#{not empty userGroupDL.relativeRowIndex})
								#{rich:component('tbGroups')}.setSelectedRowOnTop(#{userGroupDL.relativeRowIndex})" />
						<a:jsFunction name="setCurrentGroup" render="groupPanel,usersPanel" 
							execute="@region" action="#{groupCard.setCurrentGroup()}" />
						<a:jsFunction name="removeGroup" execute="@region"
							action="#{userGroupDL.removeGroup()}" oncomplete="selectGroup()">
							<a:param name="del_groupId" />
						</a:jsFunction>
						<rich:toolbar>
							<a:commandLink value="" title="Добавить" disabled="#{not access.hasAccess('ADM_GROUP_ADD')}"
								render="groupPanel" execute="@none" />
							<h:link value="" title="Обновить"
								outcome="/adm/accessCtrl/groups.jsf" />
						</rich:toolbar>
						<rich:extendedDataTable id="tbGroups" value="#{userGroupDL.model}" var="row"
							style="height:300px;" onselectionchange="passIndex(); setCurrentGroup();"
							onrowclick="setCurrentGroup()">
							<f:facet name="header">
								<h:outputText value="Всего групп пользователей: #{userGroupDL.rowCount}" />
								<m:indexer datalist="#{userGroupDL}" uiTable="tbGroups" />
							</f:facet>
							<rich:column width="250px">
								<f:facet name="header">
									<h:outputLabel value="Наименование группы" />
								</f:facet>
								<h:outputText value="#{row.groupName}" title="#{row.groupName}" />
							</rich:column>
							<rich:column width="443px">
								<f:facet name="header">
									<h:outputLabel value="Описание группы" />
								</f:facet>
								<h:outputText value="#{row.groupNote}" title="#{row.groupNote}" />
							</rich:column>
							<rich:column width="60px">
								<a:commandButton value=" " title="Удалить"
									onclick="removeGroup(#{row.groupId})" 
									disabled="#{not access.hasAccess('ADM_GROUP_DEL')}" />
							</rich:column>
						</rich:extendedDataTable>
					</a:region>
				</div>
				<m:panel id="groupPanel">
					<f:facet name="header">Редактирование группы</f:facet>
					<h:panelGrid columns="2">
						<m:panel id="left">
							<div class="left_groups">
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Наименование группы" />
									</f:facet>
									<m:mode edit="#{access.hasAccess('ADM_GROUP_EDIT')}"
										value="#{groupCard.groupName}">
										<h:inputText value="#{groupCard.groupName}" maxlength="250" style="width:265px"/>
									</m:mode>
								</m:field>
								<m:field styleClass="desc_gr_field">
									<f:facet name="header">
										<h:outputLabel value="Описание группы" />
									</f:facet>
									<m:mode edit="#{access.hasAccess('ADM_GROUP_EDIT')}"
										value="#{groupCard.groupNote}">
										<h:inputTextarea value="#{groupCard.groupNote}" maxlength="1000" />
									</m:mode>
								</m:field>
								<h:inputHidden value="#{groupCard.groupId}" />
								<h:inputHidden value="#{groupCard.index}" />
								<div class="mod_but">
									<a:commandButton value="Сохранить" title="Сохранить" render="groupPanel"
										action="#{groupCard.saveGroup()}" oncomplete="selectGroup()"
										disabled="#{not access.hasAccess('ADM_GROUP_EDIT')}" />
								</div>
							</div>
							<h:outputScript name="textarea.resize.js" library="js" />
						</m:panel>
						<m:panel id="right">
							<div class="right_groups">
								<rich:toolbar>
									<a:commandLink value=" " title="Добавить"
										onclick="#{rich:component('ruleSelectFrm:panel')}.show()"
										disabled="#{empty groupCard.groupId or not access.hasAccess('ADM_GROUP_EDIT')}" 
										render="ruleSelectFrm:container">
										<a:param name="groupId" value="#{groupCard.groupId}" />
									</a:commandLink>
								</rich:toolbar>
								<rich:extendedDataTable id="tbRules" value="#{groupRuleEmbDL.wrappedData}"
									var="row" style="height:300px">
									<rich:column width="340px">
										<f:facet name="header">
											<h:outputLabel value="Подсистема" />
										</f:facet>
										<h:outputText value="#{row.subsystemName}" title="#{row.subsystemName}" />
									</rich:column>
									<rich:column width="350px">
										<f:facet name="header">
											<h:outputLabel value="Право доступа" />
										</f:facet>
										<h:outputText value="#{row.ruleName}" title="#{row.ruleName}" />
									</rich:column>
									<rich:column width="60px">
										<a:commandLink value=" " title="Удалить" render="tbRules"
											action="#{groupRuleEmbDL.removeValue(row)}"
											disabled="#{not access.hasAccess('ADM_GROUP_EDIT')}">
											<a:param name="groupId" value="#{groupCard.groupId}" />
										</a:commandLink>
									</rich:column>
								</rich:extendedDataTable>
							</div>
						</m:panel>
					</h:panelGrid>
				</m:panel>
				<m:panel id="usersPanel">
					<f:facet name="header">Пользователи группы</f:facet>
					<h:inputHidden value="#{userlistSearch.criteria.groupId}" />
					<rich:extendedDataTable id="tbUsers" value="#{groupUsersDL.model}" var="row"
						style="height:400px; margin-top: 20px;">
						<f:facet name="header">
							<h:outputText value="Найдено пользователей: #{groupUsersDL.rowCount}" />
							<m:paginator id="pg" datalist="#{groupUsersDL}" pageSize="250"
								uiTable="tbUsers" paginatorBean="#{nav}">
								<a:param name="mode" value="renderDep" />
							</m:paginator>
							<m:sortingRememberer sortingCriteria="#{groupUsersDL.sortingCriteria}" />
						</f:facet>
						<rich:column width="203px"
							headerClass="#{groupUsersDL.sortingCriteria.sortingMap['displayedName']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{groupUsersDL}" tableId="tbUsers"
									columnTitle="Имя пользователя" columnName="displayedName">
									<h:graphicImage value="../../resources/images/sort.png"/>
								</m:sortingHeader>
							</f:facet>
							<h:outputText value="#{row.displayedName}" title="#{row.displayedName}" />
						</rich:column>
						<rich:column width="150px"
							headerClass="#{groupUsersDL.sortingCriteria.sortingMap['login']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{groupUsersDL}" tableId="tbUsers"
									columnTitle="Логин" columnName="login" />
							</f:facet>
							<h:outputText value="#{row.login}" title="#{row.login}" />
						</rich:column>
						<rich:column width="200px"
							headerClass="#{groupUsersDL.sortingCriteria.sortingMap['userType']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{groupUsersDL}" tableId="tbUsers"
									columnTitle="Тип пользователя" columnName="userType" />
							</f:facet>
							<h:outputText value="#{row.userType}" title="#{row.userType}" />
						</rich:column>
						<rich:column width="80px"
							headerClass="#{groupUsersDL.sortingCriteria.sortingMap['userStatus']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{groupUsersDL}" tableId="tbUsers"
									columnTitle="Статус" columnName="userStatus" />
							</f:facet>
							<h:outputText value="#{row.userStatus}" title="#{row.userStatus}" />
						</rich:column>
						<rich:column width="100px"
							headerClass="#{groupUsersDL.sortingCriteria.sortingMap['userArchive']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{groupUsersDL}" tableId="tbUsers"
									columnTitle="Архив" columnName="userStatus" />
							</f:facet>
							<h:outputText value="#{row.userArchive}" title="#{row.userArchive}" />
						</rich:column>
					</rich:extendedDataTable>
				</m:panel>
			</h:form>
			
			
			<h:form id="ruleSelectFrm">
				<div id="gr_us_mod" class="desc_val">
					<rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="150px" >
						<f:facet name="header">
							<h:outputLabel value="Выбор права доступа" />
						</f:facet>
						<f:facet name="controls">
							<a:commandLink id="close" value="X" execute="@none"
								onclick="#{rich:component('ruleSelectFrm:panel')}.hide()" />
						</f:facet>
						<m:panel id="container">
							<a:jsFunction name="clearRules" render="ruleField"
								action="#{ruleSelect.setSubsystemNumber(-1)}" />
							<script type="text/javascript">clearRules();</script>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Подсистема" />
								</f:facet>
								<h:selectOneMenu value="#{ruleSelect.subsystemNumber}">
									<a:ajax event="change" render="ruleField" />
									<f:selectItems value="#{ruleSelect.subsystems}" />
								</h:selectOneMenu>
							</m:field>
							<a:outputPanel id="ruleField">
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Право доступа" />
									</f:facet>
									<h:selectOneMenu value="#{ruleSelect.accessRuleId}">
										<f:selectItems value="#{ruleSelect.accessRules}" />
									</h:selectOneMenu>
								</m:field>
							</a:outputPanel>
							<div class="mod_but">
								<a:commandButton value="Выбрать" render="groupFrm:groupPanel:right:tbRules"
									oncomplete="#{rich:component('ruleSelectFrm:panel')}.hide()"
									action="#{groupRuleEmbDL.selectRule()}">
									<a:param name="groupId" value="#{param.groupId}" />
								</a:commandButton>
								<a:commandButton value="Выйти"
									onclick="#{rich:component('ruleSelectFrm:panel')}.hide()" />
							</div>
						</m:panel>
					</rich:popupPanel>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</html>