<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Пользователь системы" />
	
		<ui:define name="main_body">
			<h:form id="userFrm" class="user_frm">
			<div class="menu_desc_gr">
				<rich:toolbar id="buttons">
					<h:link value="Редактировать" title="Редактировать"
						outcome="/adm/accessCtrl/user.jsf"
						disabled="#{empty param.userId or not access.hasAccess('ADM_USER_EDIT')}">
						<a:param name="userId" value="#{param.userId}" />
						<a:param name="mode" value="edit" />
					</h:link>
					<a:commandLink value="Сохранить" title="Сохранить"
						action="#{userCard.save()}" disabled="#{not userCard.editing}">
						<a:param name="mode" value="#{param.mode}" />
						<a:param name="submode"
							value="#{systemEntity.getDescValue(userCard.model.userTypeId).valueCode eq 'EMPLOYEE' ? 'renderEmp' : 
								(systemEntity.getDescValue(userCard.model.userTypeId).valueCode eq 'TECH_USER' ? 'renderTech' : null)}" />
						<a:param name="userId" value="#{param.userId}" />
					</a:commandLink>
					<h:link value="Обновить" title="Обновить"
						outcome="/adm/accessCtrl/user.jsf">
						<a:param name="userId" value="#{param.userId}" />
						<a:param name="mode" value="#{empty param.userId ? 'add' : null}" />
					</h:link>
					<h:link value="Добавить" title="Добавить"
						outcome="/adm/accessCtrl/user.jsf"
						disabled="#{not access.hasAccess('ADM_USER_ADD')}">
						<a:param name="mode" value="add" />
					</h:link>
					<h:link value="Вернуться" title="Вернуться"
						outcome="/adm/accessCtrl/userlist.jsf">
						<a:param name="userId" value="#{param.userId}" />
					</h:link>
				</rich:toolbar>
				</div>
				<m:panel id="accountPanel">
					<f:facet name="header">Учётные данные</f:facet>
					<h:panelGrid columns="2" class="account_data">
						<m:panel id="common">
							<div class="left_groups">
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Логин" />
									</f:facet>
									<m:mode edit="#{userCard.editing and 
										systemEntity.getDescValue(userCard.model.userTypeId).valueCode ne 'WEB_USER'}" 
										value="#{userCard.immModel.login}">
										<h:inputText value="#{userCard.model.login}" maxlength="30" autocomplete="off" />
									</m:mode>
								</m:field>
								<a:outputPanel rendered="#{userCard.editing and 
									systemEntity.getDescValue(userCard.model.userTypeId).valueCode ne 'WEB_USER'}">
									<m:field>
										<f:facet name="header">
											<h:outputLabel value="Новый пароль" />
										</f:facet>
										<h:inputText style="display:none" />
										<h:inputSecret value="#{userCard.password1}" maxlength="30" autocomplete="off" />
									</m:field>
									<m:field>
										<f:facet name="header">
											<h:outputLabel value="Подтверждение пароля" />
										</f:facet>
										<h:inputSecret value="#{userCard.password2}" maxlength="30"	autocomplete="off" />
									</m:field>
								</a:outputPanel>
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Тип пользователя" />
									</f:facet>
									<m:mode edit="#{param.mode eq 'add'}" value="#{userCard.immModel.userType}">
										<h:selectOneMenu value="#{userCard.model.userTypeId}" onchange="selectUsertype()">
											<f:selectItems value="#{systemSelectItem.creatableUserTypes}" />
										</h:selectOneMenu>
									</m:mode>
								</m:field>
								<m:field id="nameField">
									<f:facet name="header">
										<h:outputLabel value="Имя пользователя" />
									</f:facet>
									<m:mode value="#{userCard.immModel.displayedName}" 
										edit="#{param.submode eq 'renderTech' or (userCard.editing and 
											systemEntity.getDescValue(userCard.model.userTypeId).valueCode eq 'TECH_USER')}">
										<h:inputText value="#{userCard.model.displayedName}" maxlength="150" />
									</m:mode>	
								</m:field>
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Статус" />
									</f:facet>
									<h:outputText value="#{userCard.immModel.userStatus}" />
								</m:field>
							</div>
						</m:panel>
						<m:panel id="groups">
							<div class="right_groups">
								<rich:toolbar>
									<a:commandLink value=" " title="Добавить"
										onclick="#{rich:component('groupSelectFrm:panel')}.show()"
										disabled="#{not userCard.editing or empty userCard.model.userId}">
										<a:param name="userId" value="#{userCard.model.userId}" />
									</a:commandLink>
								</rich:toolbar>
								<rich:extendedDataTable id="tbGroups" value="#{userGroupEmbDL.wrappedData}" var="row"
									style="height:300px;">
									<rich:column width="430px">
										<f:facet name="header">
											<h:outputLabel value="Группа" />
										</f:facet>
										<h:outputText value="#{row.groupName}" title="#{row.groupName}" />
									</rich:column>
									<rich:column width="50px">
										<a:commandLink value=" " title="Удалить" render="tbGroups"
											action="#{userGroupEmbDL.removeGroup(row)}"	disabled="#{not userCard.editing}">
											<a:param name="mode" value="#{param.mode}" />
											<a:param name="userId" value="#{userCard.model.userId}" />
										</a:commandLink>
									</rich:column>
								</rich:extendedDataTable>
							</div>
						</m:panel>
					</h:panelGrid>
				</m:panel>
				<m:panel id="personalInfo">
					<f:facet name="header">Личные данные</f:facet>
					<a:outputPanel rendered="#{param.submode eq 'renderEmp' or
						systemEntity.getDescValue(userCard.model.userTypeId).valueCode eq 'EMPLOYEE'}">
						<h:inputHidden value="#{userCard.empModel.employeeId}" />
						<!--<div class="desc_d">-->
						<m:field id="departmentField">
							<f:facet name="header">
								<h:outputLabel value="Структурное подразделение" />
							</f:facet>
							<c:selector panelId="valueSelect" edit="#{userCard.editing}"
								value="#{userCard.empModel.departmentId}" render="userFrm:personalInfo:departmentField"
								dispValue="#{systemEntity.getValuePath(userCard.empModel.departmentId).shortPath}"
								selectMethod="selectDepartment">
								<a:param name="p_groupId" 
									value="#{systemEntity.getDescGroupByCode('ORG_STRUCTURE').descriptorGroupId}" />
								<a:param name="submode" value="renderEmp" />
							</c:selector>
						</m:field>
						
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Должность" />
							</f:facet>
							<m:mode edit="#{userCard.editing}" value="#{userCard.empImmModel.position}">
								<h:selectOneMenu value="#{userCard.empModel.positionId}">
									<f:selectItems value="#{systemSelectItem.positions}" />
								</h:selectOneMenu>
							</m:mode>
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Фамилия" />
							</f:facet>
							<m:mode edit="#{userCard.editing}" value="#{userCard.empImmModel.lastName}">
								<h:inputText value="#{userCard.empModel.lastName}" maxlength="150" style="width:250px;"/>
							</m:mode>
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Имя" />
							</f:facet>
							<m:mode edit="#{userCard.editing}" value="#{userCard.empImmModel.firstName}">
								<h:inputText value="#{userCard.empModel.firstName}" maxlength="150" style="width:250px;"/>
							</m:mode>
						</m:field>
						<m:field>
							<f:facet name="header">
								<h:outputLabel value="Отчество" />
							</f:facet>
							<m:mode edit="#{userCard.editing}" value="#{userCard.empImmModel.middleName}">
								<h:inputText value="#{userCard.empModel.middleName}" maxlength="150" style="width:250px;"/>
							</m:mode>
						</m:field>
					</a:outputPanel>
				</m:panel>
				<a:jsFunction name="selectUsertype" render="nameField,personalInfo,buttons" 
					execute="@form"	action="#{userCard.model.setDisplayedName(null)}">
					<a:param name="mode" value="add" />
				</a:jsFunction>
			</h:form>
			<div class="desc_val">
				<c:descValueSelectorPanel id="valueSelect" selectBean="#{userCard}">
					<a:param name="submode" value="renderEmp" />
				</c:descValueSelectorPanel>
			</div>
			
			<h:form id="groupSelectFrm">
				<div id="gr_us_mod" class="desc_val">
					<rich:popupPanel id="panel" domElementAttachment="parent" left="250px" top="150px" >
						<f:facet name="header">
							<h:outputLabel value="Выбор группы пользователей" />
						</f:facet>
						<f:facet name="controls">
							<a:commandLink id="close" value="X" execute="@none"
								onclick="#{rich:component('groupSelectFrm:panel')}.hide()" />
						</f:facet>
						<m:panel id="container">
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Группа пользователей" />
								</f:facet>
								<h:selectOneMenu value="#{userGroupSelect.groupId}">
									<f:selectItems value="#{systemSelectItem.userGroups}" />
								</h:selectOneMenu>
							</m:field>
							<div class="mod_but">
								<a:commandButton value="Выбрать" render="userFrm:accountPanel:groups:tbGroups"
									oncomplete="#{rich:component('groupSelectFrm:panel')}.hide()"
									action="#{userGroupEmbDL.selectGroup()}">
									<a:param name="mode" value="edit" />
									<a:param name="userId" value="#{param.userId}" />
								</a:commandButton>
								<a:commandButton value="Выйти"
									onclick="#{rich:component('groupSelectFrm:panel')}.hide()" />
							</div>
						</m:panel>
					</rich:popupPanel>
				</div>
			</h:form>
			
		</ui:define>
	</ui:composition>
</html>