<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
		<ui:param name="_title" value="Пользователи" />

		<ui:define name="main_body">

			<h:form id="form" class="users">
				<m:panel id="tablePanel">
					<f:facet name="header">Список пользователей</f:facet>
					<a:jsFunction name="selectUser" render="tbUsers" execute="@form"
								  action="#{userDL.setRowIndexByParamKey()}"
								  oncomplete="if (#{not empty userDL.relativeRowIndex})
								  #{rich:component('tbUsers')}.setSelectedRowOnTop(#{userDL.relativeRowIndex})">
						<a:param name="selectedKey" value="#{param.userId}" />
					</a:jsFunction>
					<a:jsFunction name="blockUser" action="#{userDL.blockUser()}" render="tbUsers" 
								  execute="@form" oncomplete="#{rich:component('tbUsers')}.setSelectedRowOnTop(#{userDL.relativeRowIndex})">
						<a:param name="userId" />
					</a:jsFunction>
					<a:jsFunction name="deleteUser" action="#{userDL.deleteUser()}"
								  render="pg:pgCountFld,tbUsers" execute="@form" 
								  oncomplete="if (#{not empty userDL.relativeRowIndex})
								  #{rich:component('tbUsers')}.setSelectedRowOnTop(#{userDL.relativeRowIndex})">
						<a:param name="userId" />
					</a:jsFunction>
					<rich:toolbar>
						<h:link value=" " title="Добавить" outcome="/adm/accessCtrl/user.jsf"
								disabled="#{not access.hasAccess('ADM_USER_ADD')}">
							<f:param name="mode" value="add" />
						</h:link>
					</rich:toolbar>
					<rich:extendedDataTable id="tbUsers" value="#{userDL.model}" var="row"
											style="height:400px;">
						<f:facet name="header">
							<h:outputText value="Найдено пользователей: #{userDL.rowCount}" />
							<m:paginator id="pg" datalist="#{userDL}" pageSize="250"
										 uiTable="tbUsers" paginatorBean="#{nav}">
								<a:param name="mode" value="renderDep" />
							</m:paginator>
							<m:sortingRememberer sortingCriteria="#{userDL.sortingCriteria}" />
						</f:facet>
						<rich:column width="220px"
									 headerClass="#{userDL.sortingCriteria.sortingMap['displayedName']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{userDL}" tableId="tbUsers"
												 columnTitle="Имя пользователя" columnName="displayedName">
									<!-- <h:graphicImage value="../../resources/images/sort.png"/>-->
								</m:sortingHeader>
							</f:facet>
							<h:outputText value="#{row.displayedName}" title="#{row.displayedName}" />
						</rich:column>
						<rich:column width="125px"
									 headerClass="#{userDL.sortingCriteria.sortingMap['login']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{userDL}" tableId="tbUsers"
												 columnTitle="Логин" columnName="login" />
							</f:facet>
							<h:outputText value="#{row.login}" title="#{row.login}" />
						</rich:column>
						<rich:column width="190px"
									 headerClass="#{userDL.sortingCriteria.sortingMap['userType']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{userDL}" tableId="tbUsers"
												 columnTitle="Тип пользователя" columnName="userType" />
							</f:facet>
							<h:outputText value="#{row.userType}" title="#{row.userType}" />
						</rich:column>
						<rich:column width="100px"
									 headerClass="#{userDL.sortingCriteria.sortingMap['userStatus']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{userDL}" tableId="tbUsers"
												 columnTitle="Статус" columnName="userStatus" />
							</f:facet>
							<h:outputText value="#{row.userStatus}" title="#{row.userStatus}" />
						</rich:column>
						<rich:column width="100px"
									 headerClass="#{userDL.sortingCriteria.sortingMap['userArchive']}">
							<f:facet name="header">
								<m:sortingHeader dataList="#{userDL}" tableId="tbUsers"
												 columnTitle="Архив" columnName="userArchive" />
							</f:facet>
							<h:outputText value="#{row.userArchive}" title="#{row.userArchive}" />
						</rich:column>
						<rich:column width="95px">
							<h:link value=" " title="Просмотр" disabled="#{not access.hasAccess('ADM_USER_VIEW')}"
									outcome="/adm/accessCtrl/user.jsf">
								<f:param name="userId" value="#{row.userId}" />
							</h:link>
							<a:outputPanel rendered="#{access.hasAccess('ADM_USER_DEL')}">
								<a title="Удалить" onclick="deleteUser(#{row.userId});" />
							</a:outputPanel>
							<a:outputPanel rendered="#{access.hasAccess('ADM_USER_BLOCK')}">
								<a title="Блокировать" onclick="blockUser(#{row.userId});" />
							</a:outputPanel>
						</rich:column>
					</rich:extendedDataTable>
				</m:panel>
				<div class="menu_desc_gr">
					<m:panel id="filter">
						<f:facet name="header">Фильтр</f:facet>
						<a:region>
							<rich:toolbar>
								<a:commandLink value="Поиск" title="Поиск" render="tbUsers"
											   action="#{userDL.search()}">
									<a:param name="mode" value="renderDep" />
								</a:commandLink>
								<h:link value="Очистить параметры" title="Очистить параметры"
										outcome="/adm/accessCtrl/userlist.jsf" />
							</rich:toolbar>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Имя пользователя" />
								</f:facet>
								<h:inputText value="#{userlistSearch.criteria.userName}" maxlength="150" style="width:450px" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Логин" />
								</f:facet>
								<h:inputText value="#{userlistSearch.criteria.login}" maxlength="30" />
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Тип пользователя" />
								</f:facet>
								<h:selectOneMenu value="#{userlistSearch.criteria.userTypeId}"
												 onchange="showDepartment()">
									<f:selectItems value="#{systemSelectItem.userTypes}" size="70" />
								</h:selectOneMenu>
							</m:field>
							<!--<div class="desc_d">-->
							<a:outputPanel id="departmentField" 
										   rendered="#{param.mode eq 'renderDep' or 
													   systemEntity.getDescValue(userlistSearch.criteria.userTypeId).valueCode eq 'EMPLOYEE'}">
								<m:field>
									<f:facet name="header">
										<h:outputLabel value="Структурное подразделение" size="70" />
									</f:facet>
									<c:selector panelId="valueSelect" render="form:filter:departmentField"
												dispValue="#{systemEntity.getImmDescValue(userlistSearch.criteria.departmentId).fullValue}"
												value="#{userlistSearch.criteria.departmentId}" selectMethod="selectDepartment">
										<a:param name="p_groupId" value="#{systemEntity.getDescGroupByCode('ORG_STRUCTURE').descriptorGroupId}" />
										<a:param name="mode" value="renderDep" />
									</c:selector>
								</m:field>
							</a:outputPanel>

							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Статус" />
								</f:facet>
								<h:selectOneMenu value="#{userlistSearch.criteria.status}" width="70px">
									<f:selectItems value="#{constant.userStatusTypes}" />
								</h:selectOneMenu>
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Группа" />
								</f:facet>
								<h:selectOneMenu value="#{userlistSearch.criteria.groupId}">
									<f:selectItems value="#{systemSelectItem.userGroups}" />
								</h:selectOneMenu>
							</m:field>
							<m:field>
								<f:facet name="header">
									<h:outputLabel value="Архив" />
								</f:facet>
								<h:selectOneMenu value="#{userlistSearch.criteria.archiveId}">
									<f:selectItems value="#{systemSelectItem.archives2}" />
								</h:selectOneMenu>
							</m:field>
							<a:jsFunction name="showDepartment" render="filter" execute="@region"
										  action="#{userlistSearch.clearDepartment()}" />
						</a:region>
					</m:panel>
				</div>
			</h:form>


			<div class="desc_val">
				<c:descValueSelectorPanel id="valueSelect" selectBean="#{userlistSearch}">
					<a:param name="mode" value="renderDep" />
				</c:descValueSelectorPanel>
			</div>
			<script type="text/javascript">
		jQuery(document).ready(function () {
			if (#{not empty param.userId})
				selectUser();
		});
			</script>

		</ui:define>	
	</ui:composition>
</html>