<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"> 

	<h:head>
		<title>АИС "Документы советской эпохи"</title>
		<c:styles />
	</h:head> 
	<body> 
		<h:form>
			<script type="text/javascript">
				if (#{identity.loggedIn})
					#{rmUtils.goToPage('MAIN_PAGE')};
			</script>
			<m:panel>
			<div class="main" id="login_page">
				<h:messages />
				<m:field>
					<f:facet name="header">
						<h:outputLabel value="Логин" />
					</f:facet>
					<h:inputText value="#{credentials.username}" />
				</m:field>
				<m:field>
					<f:facet name="header">
						<h:outputLabel value="Пароль" />
					</f:facet>
					<h:inputSecret value="#{credentials.password}" />
				</m:field>
				<h:commandButton value="Войти" title="Войти"
					action="#{identity.login()}" />
					</div>
			</m:panel>
		</h:form>
	</body> 
</html>
