<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/WEB-INF/templates/layout.xhtml">
	<ui:param name="_title" value="&nbsp;" />
		<ui:define name="main_body" >
			<div class="start_page">
				<div class="ver"><h:outputLabel value="ver. 1.0.0" /></div>
				<div class="name_app">
					<h:outputLabel value="Документы советской эпохи" />
				</div>
				
				<div class="inform_source">
					<p>
						<h:outputLabel value="Информационный ресурс" />
					</p>
					<div class="adm_inf">
						<div class="inf_s_pict" />
						<ui:remove>
							<h:link value="Загрузка информационного ресурса" />
						</ui:remove>
						<div class="main_page_pict" id="enter_data" />
							<h:outputLabel value="Ввод и просмотр данных" />
							<h:link value="Описание документальных комплексов" 
								outcome="/data/complex/complexTree.jsf" 
								disabled="#{not access.hasAccess('COMPLEX_MODE')}" />
							<h:link value="Электронная библиотека" 
								outcome="/data/ebook/librarySearch.jsf" 
								disabled="#{not access.hasAccess('EBOOK_MODE')}" />
						<ui:remove>
							<h:link value="Поиск по информационному ресурсу" />
						</ui:remove>
						<div class="main_page_pict" />
							<h:link value="Журнал регистрации изменений"
                                    outcome="/data/journal/journalOfChange.jsf"
                                    disabled="#{not access.hasAccess('CORRECT_JOURNAL_MODE')}" />
						
					</div>
				</div>
				<div class="inform_source">
					<p>
						<h:outputLabel value="Администрирование" />
					</p>
					<div class="adm_inf">
					<div class="adm" />
						<h:link value="Справочники и классификаторы" outcome="/adm/descriptors/descriptors.jsf" 
							disabled="#{not access.hasAccess('DESC_MODE')}" />
					<div class="main_page_pict" id="manage_access" />
						<h:outputLabel value="Управление доступом" />
						<h:link value="Пользователи" outcome="/adm/accessCtrl/userlist.jsf"
							disabled="#{not access.hasAccess('ADM_USER_MODE')}" />
						<h:link value="Группы" outcome="/adm/accessCtrl/groups.jsf"
							disabled="#{not access.hasAccess('ADM_GROUP_MODE')}" />
						<ui:remove>
							<h:link value="Журнал действий пользователей" />
						</ui:remove>
					<div class="main_page_pict" id="settings" />
						<h:outputLabel value="Настройки" />
						<h:link value="Настройки портала" outcome="/adm/settings/web/staticWebPageList.jsf" 
							disabled="#{not access.hasAccess('WEB_SETTINGS_MODE')}" />
						<ui:remove>
							<h:link value="Системные настройки" />
						</ui:remove>
						<h:link value="Выгрузка" outcome="/adm/settings/web/downloadInfo.jsf"/>
					</div>
				</div>
			</div>
		</ui:define>

	</ui:composition>

</html>
