<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/layout.xhtml">

    <ui:param name="_title" value="Просмотр протокольных записей журнала"/>

    <ui:define name="main_body">
		
        <c:journalPaginator id="cardNav1" card="#{journalCard}" render="topinf, form" />

        <div class="complex_tree" id="topinf">
            <m:panel styleClass="bord_bot">
                <m:field>
                    <f:facet name="header">
                        <h:outputLabel value="Архив"/>
                    </f:facet>
                    <h:outputText value="#{journalCard.card.archiveNameFull}"/>
                </m:field>
                <m:field>
                    <f:facet name="header">
                        <h:outputLabel value="Вид изменяемого документа"/>
                    </f:facet>
                    <h:outputText value="#{journalCard.card.changedEntityType}"/>
                </m:field>
                <m:field>
                    <f:facet name="header">
                        <h:outputLabel value="Идентификатор карточки"/>
                    </f:facet>
                    <h:outputText value="#{journalCard.card.univDataUnitId}"/>
                </m:field>
            </m:panel>
        </div>

        <h:form id="form" class="complex_tree">
            <c:panelDouble styleClass="hist">
                <f:facet name="openHeader">
                    <h2>Посмотреть историю изменений</h2>
                </f:facet>
                <f:facet name="closeHeader">
                    <h2 style="display: none;">Скрыть историю изменений</h2>
                </f:facet>

                <div>
                    <m:panel>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Дата операции"/>
                            </f:facet>
                            <h:outputText value="#{journalCard.card.operationDate}">
                                <f:convertDateTime pattern="dd.MM.yyyy"/>
                            </h:outputText>
                        </m:field>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Вид операции"/>
                            </f:facet>
                            <h:outputText value="#{journalCard.card.operationType}"/>
                        </m:field>
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Пользователь"/>
                            </f:facet>
                            <h:outputText value="#{journalCard.card.userName}"/>
                        </m:field>

                        <div class="block_changes">
                            <h:outputText escape="false" value="#{journalCard.card.dataBlock}"/>
                        </div>
                    </m:panel>
                </div>

                <div style="display: none;" class="all_changes">
                    <table>
                        <ui:repeat value="#{journalCard.allCards}" var="row" varStatus="indexOfSingle">
                            <!--Вместо 'background: #ccc;' вставить стиль. Одинарные кавычки оставить-->
                            <div style="#{indexOfSingle.index eq journalCard.indexOfSingle ? 'background: #F1DCA6;' : ''}">
                                <m:panel styleClass="bord_bot">
                                    <m:field>
                                        <f:facet name="header">
                                            <h:outputLabel value="Дата операции"/>
                                        </f:facet>
                                        <h:outputText value="#{row.operationDate}">
                                            <f:convertDateTime pattern="dd.MM.yyyy"/>
                                        </h:outputText>
                                    </m:field>
                                    <m:field>
                                        <f:facet name="header">
                                            <h:outputLabel value="Вид операции"/>
                                        </f:facet>
                                        <h:outputText value="#{row.operationType}"/>
                                    </m:field>
                                    <m:field>
                                        <f:facet name="header">
                                            <h:outputLabel value="Пользователь"/>
                                        </f:facet>
                                        <h:outputText value="#{row.userName}"/>
                                    </m:field>

                                    <div class="block_changes">
                                        <h:outputText escape="false" value="#{row.dataBlock}"/>
                                    </div>
                                </m:panel>
                            </div>
                        </ui:repeat>
                    </table>
                </div>

            </c:panelDouble>
        </h:form>

    </ui:define>
</ui:composition>
</html>