<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:m="http://java.sun.com/jsf/composite/mgoa"
      xmlns:c="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/layout.xhtml">
    <ui:param name="_title" value="Журнал регистрации изменений"/>

    <ui:define name="main_body">
        <h:form id="form" class="complex_tree">
            <a:region>
                <m:panel id="params">
                    <f:facet name="header">Журнал регистрации изменений</f:facet>

                    <div class="menu_desc_gr">
                        <rich:toolbar>
                            <a:commandLink value="Поиск" title="Поиск" render="journalTable,showResult"
                                           action="#{journalDL.search()}"/>
                            <h:link value="Очистить параметры" title="Очистить параметры"
                                    outcome="/data/journal/journalOfChange.jsf"/>
                        </rich:toolbar>
                    </div>

                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Архив"/>
                        </f:facet>
                        <h:selectOneMenu value="#{journalSearch.criteria.archiveId}">
                            <f:selectItems value="#{systemSelectItem.archives}"/>
                        </h:selectOneMenu>
                    </m:field>

                    <div class="mart5 ohidden">
                        <div class="col-1 alignRight">
                            <h:outputLabel value="Вид изменяемого элемента"/>
                        </div>
                        <div class="col-2">
                            <h:panelGroup>
                                <h:selectOneMenu value="#{journalSearch.criteria.changedEntityTypeId}">
                          <!--          <f:ajax event="change" render="pointNsa"/>   -->  <!-- так и не понял зачем эта строчка была нужна-->
                                    <f:selectItems value="#{systemSelectItem.changedEntityType}"/>
                                </h:selectOneMenu>
                            </h:panelGroup>
                        </div>
                    </div>

                    <h:panelGroup id="pointNsa" style="#{journalSearch.criteria.nsaVisible ? '' : 'display:none;'}">
                        <m:field>
                            <f:facet name="header">
                                <h:outputLabel value="Указатель НСА"/>
                            </f:facet>
                            <h:selectOneMenu value="#{journalSearch.criteria.pointNsa}">
                                <f:selectItems value="#{systemSelectItem.nsaGroupsDescriptors}"/>
                            </h:selectOneMenu>
                        </m:field>
                    </h:panelGroup>

                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Дата операции"/>
                        </f:facet>
                        <h:outputLabel value="с"/>
                        <m:date value="#{journalSearch.criteria.beginDate}" fieldName="Начальная дата"/>
                        <h:outputLabel value="по"/>
                        <m:date value="#{journalSearch.criteria.endDate}" fieldName="Конечная дата"/>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Вид операции"/>
                        </f:facet>
                        <h:selectOneMenu value="#{journalSearch.criteria.operationTypeId}">
                            <f:selectItems value="#{systemSelectItem.operationType}"/>
                        </h:selectOneMenu>
                    </m:field>
                    <m:field>
                        <f:facet name="header">
                            <h:outputLabel value="Пользователь"/>
                        </f:facet>
                        <h:selectOneMenu value="#{journalSearch.criteria.userId}">
                            <f:selectItems value="#{systemSelectItem.users}"/>
                        </h:selectOneMenu>
                    </m:field>
                </m:panel>
            </a:region>

            <a:outputPanel id="showResult">
                <h:inputHidden value="#{journalDL.showResult}"/>
            </a:outputPanel>

            <div class="stupid_table h490_table">
                <rich:extendedDataTable id="journalTable" value="#{journalDL.wrappedData}" var="row"
                                        style="#{journalDL.showResult ? 'display:block;' : 'display:none;'} "
                                        styleClass="res_tabel width95p" rowKeyVar="ind" rows="25" iterationStatusVar="it">
                    <f:facet name="header">
                        <h:outputText value="В результате найдено: #{journalDL.rowCount}"/>
                        <m:paginator id="pg" datalist="#{journalDL}" pageSize="25" uiTable="journalTable"
                                     paginatorBean="#{nav}"/>
                        <m:sortingRememberer sortingCriteria="#{journalDL.sortingCriteria}"/>
                    </f:facet>
                    <rich:column width="40px">
                        <h:link value=" " title="Карточка" outcome="/data/journal/journalRecord.jsf" target="_blank">
                            <f:param name="page" value="#{journalDL.wrappedIds}" />
                            <f:param name="index" value="#{ind}" />
                            <f:param name="pageNum" value="#{nav.pageNum}" />
                            <f:param name="totalPages" value="#{nav.getTotalPages(journalDL.rowCount)}" />
                        </h:link>
                    </rich:column>
                    <rich:column width="50px">
                        <f:facet name="header">
                            <h:outputText value="№ п/п"/>
                        </f:facet>
                        <h:outputText value="#{ind + 1}" title=""/>
                    </rich:column>
                    <rich:column headerClass="#{journalDL.sortingCriteria.sortingMap['archiveName']}"
                                 width="100px">
                        <f:facet name="header">
                            <m:sortingHeader dataList="#{journalDL}" tableId="journalTable"
                                             columnTitle="Архив" columnName="archiveName"/>
                        </f:facet>
                        <h:outputText value="#{row.archiveName}" title="#{row.archiveName}"/>
                    </rich:column>
                    <rich:column headerClass="#{journalDL.sortingCriteria.sortingMap['changedEntityType']}"
                                 width="150px">
                        <f:facet name="header">
                            <m:sortingHeader dataList="#{journalDL}" tableId="journalTable"
                                             columnTitle="Вид изм. элемента" columnName="changedEntityType"/>
                        </f:facet>
                        <h:outputText value="#{row.changedEntityType}" title="#{row.changedEntityType}"/>
                    </rich:column>
                    <rich:column headerClass="#{journalDL.sortingCriteria.sortingMap['operationDate']}" width="150px">
                        <f:facet name="header">
                            <m:sortingHeader dataList="#{journalDL}" tableId="journalTable"
                                             columnTitle="Дата операции" columnName="operationDate"/>
                        </f:facet>
                        <h:outputText value="#{row.operationDate}" title="#{row.operationDate}">
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:outputText>
                    </rich:column>
                    <rich:column headerClass="#{journalDL.sortingCriteria.sortingMap['operationType']}"
                                 width="150px">
                        <f:facet name="header">
                            <m:sortingHeader dataList="#{journalDL}" tableId="journalTable"
                                             columnTitle="Вид операции" columnName="operationType"/>
                        </f:facet>
                        <h:outputText value="#{row.operationType}" title="#{row.operationType}"/>
                    </rich:column>
                    <rich:column headerClass="#{journalDL.sortingCriteria.sortingMap['userName']}"
                                 width="200px">
                        <f:facet name="header">
                            <m:sortingHeader dataList="#{journalDL}" tableId="journalTable"
                                             columnTitle="Пользователь" columnName="userName"/>
                        </f:facet>
                        <h:outputText value="#{row.userName}" title="#{row.userName}"/>
                    </rich:column>
                    <rich:column width="350px">
                        <f:facet name="header">
                            <h:outputText value="Идентификационные данные"/>
                        </f:facet>
                        <h:outputText value="#{row.identification}" title="#{row.identification}"/>
                    </rich:column>

                </rich:extendedDataTable>
            </div>
        </h:form>

    </ui:define>
</ui:composition>
</html>